@import "_colours.scss";
@import "_measurements.scss";
@import "_conditionals.scss";
@import "_typography.scss";
@import "_shims.scss";

#global-atoz-navigation {
  max-width: 1020px;
  margin: $gutter/2 0 $gutter-half 0;
  padding: 0 0 10px 0;
  z-index: 50;
  border-bottom: 1px solid $border-colour;
  @extend %contain-floats;

  nav {
    ol {
      max-width: 960px;
      margin: 0;
      padding: 0.75em 0;

      li {
        @include core-16;
        float: left;
        list-style: none;

        margin-left: 0;
        margin-right: 5px;
        padding-right: $gutter-half;
        padding-top: 22px;

        a {
          color: $black;

          &:hover {
            color: $link-hover-colour;
          }
        }

        &.selected {
          @include core-48;
          font-weight: bold;
          padding-top: 0;
        }
      }
    }
  }
}

.supplier-profile {
  padding-top: $gutter * 1.5;
}

.supplier-description {
  @include core-19;
  margin: 0 0 $gutter 0;
}
