#global-atoz-navigation {
  margin: 0;
  padding: 0;
  z-index: 50;
  @include govuk-clearfix;

  nav {
    ol {
      margin: 0;
      padding: 0;

      li {
        @include govuk-font(16);
        float: left;
        list-style: none;
        margin-left: 0;
        margin-right: 5px;
        padding-right: govuk-spacing(3);
        padding-top: 22px;
        padding-bottom: 18px;

        @include govuk-media-query($until: tablet) {
          padding-top: 14px;
        }

        a {
          color: $govuk-text-colour;

          &:hover {
            color: $govuk-link-hover-colour;
          }
        }

        &.selected {
          @include govuk-font(48, $weight: bold);
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
