.last-edited {
    margin: 10px 0 15px 0;
}

.ready-to-publish-hint {
    color: $secondary-text-colour;
}

.tick {
  float: left;
  width: 15px;
  height: 14px;
  margin: (3 / 16) * 1em 5px 0 0;

  @include media(tablet) {
    margin-top: (5.5 / 19) * 1em;
  }

  img {
    display: block;
  }

  @include ie-lte(8) {
    background: url('/static/images/tick.png') 0 0 no-repeat;

    img {
      display: none;
    }
  }
}

ul.instruction-list-item-extra-information li,
ol.instruction-list-item-extra-information li {
  margin-bottom: 0;
}

ol.steps {
  list-style: none;
  padding-left: 0;

  .instruction-list-item-extra-information {
    margin-left: (30 / 19) * 1em; // 25px in ems
  }

  .step-number {
    min-width: (30 / 27) * 1em; // 25px in ems
    float: left;
  }

  .tick {
    margin-left: (30 / 19) * -1em; // -25px in ems
  }
}

.section-description {
   @extend %markdown-description;
   padding-bottom: 30px;
}

.secondary-action-link {
    margin-top: 30px;
}

button.button-save + .secondary-action-link,
input.button-save + .secondary-action-link {
    margin-top: 5px;
}
