.last-edited {
    margin: 10px 0 15px 0;
}

.ready-to-publish-hint {
    color: $secondary-text-colour;
}

ul.instruction-list-item-extra-information li,
ol.instruction-list-item-extra-information li {
  margin-bottom: 0;
}

.tick {
  float: left;
  width: 15px;
  height: 14px;
  margin: 0.2em 5px 0 0;

  img {
    display: block;
  }

  @include ie-lte(8) {
    background: url('/static/images/tick.png') 0 0 no-repeat;

    img {
      display: none;
    }
  }
}

.section-description {
   @include core-19;
   padding-bottom: 30px;

  p {
    padding-bottom: 10px;
  }

  p + ul {
    margin-top: -10px;
  }

  ul {
    margin-bottom: 10px;
    list-style-type: disc;
    padding-left: 25px;
  }
}

.secondary-action-link {
    margin-top: 30px;
}

button.button-save + .secondary-action-link,
input.button-save + .secondary-action-link {
    margin-top: 5px;
}
