button,
.button,
[role='button'],
[type='button'] {
  height: auto;
  margin: 0 $small-spacing $small-spacing 0;
}

.sidebar {
  button,
  .button,
  [role='button'],
  [type='button'] {
    width: 100%;
  }
}