//Buyer brief overview page
header.page-heading-smaller{
  h1{
    &:first-of-type{
      margin-top: 0.4em;
    }
  }
}

p.context{
  color: lighten($grey, 5%);
  font-size: 1.5em;
  margin-bottom: 0.25em;
  margin-top: 1em;
}

h2.instruction-list-item-body{
  padding-top: 1em;
  padding-left: 1.625em;
  font-size: 1.882rem;

  &:first-of-type {
    border: none;
    padding-top: 0;
  }

  span.step-number{
    position: absolute;
    margin-left: -1.625em;
  }
}

p.instruction-list-item-extra-information{
  padding-left: 2.95em;
}

ol.instruction-list{
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 2em;

  >li{
    list-style: none;
    font-size: 1.059rem;

    span.tick{
      position: absolute;
      margin-left: -1.35em;
      margin-top: 0.25em;
    }

    a{
      font-weight: 700;
      border-color: $non-black;
    }

    ul{
      li{
        list-style: none;
        padding-left: 0.75em;
      }
    }
  }
}


// Buyer Brief Radio Selection

#specialistRole{

  input[type='radio'] + label{
    padding-top: 5px 80px 12px 60px;
    font-weight: 400;
    font-size: 1.412em;

    >p{
      font-weight: 400;
      font-size: 0.812em;
      margin-bottom: 0.5em;
      padding-right: 20px;
    }

    &:before{
      top: 15px;
    }

    &:after{
      top:20px;
    }
  }

  input[type='radio']:checked + label{
    font-weight: 700;
    font-size: 1.412em;
    outline: 1px solid $light-grey;
  }
}

// Buyer Breif table

table.content-table{
  font-size: 0.825em;
  margin: 4em 0;

  thead{
    display: none;
  }

  tr{
    border-bottom: 1px solid $light-grey;

    &:first-child{
      border-top: 1px solid $light-grey;
    }

    td{
      vertical-align: top;
      padding-left: 0;
      font-size:1.0625rem;

      &:nth-child(1){
        font-weight: 700;
        width: 40%;
      }

      &:nth-child(3){
        color: lighten($grey, 5%);
        text-align: right;

        a{
          color: lighten($grey, 5%);
          border-bottom: 1px solid $light-grey;

          &:hover{
            color: $black;
          }
        }
      }

      a{
        border-bottom: 1px solid black;
      }
    }

    &:nth-child(even) {
      background-color:white;
    }
  }
}


// Evaluation Process

.section-description{
  h2{
    font-size: 1.882rem;
  }
}
