// styles specific to index pages

.marketplace-homepage-heading {

  background-color: $govuk-blue;
  width: 100%;
  margin: -10px 0 0;
  padding: 40px 0 40px;
  color: white;

  h1 {
    @extend %site-width-container;
    @include bold-48;
    padding-top: 7px;
    padding-bottom: 13px;
  }
}
