// styles specific to index pages

.marketplace-homepage-heading {

  background-color: $govuk-blue;
  width: 100%;
  margin: -10px 0 0;
  padding: 40px 0 40px;
  color: white;

  h1 {
    @extend %site-width-container;
    @include bold-48;
    padding-top: 7px;
    padding-bottom: 13px;
  }

  .phase-banner {
    border-bottom: 0px;

    .phase-tag {
      margin-left: 3px;
    }
  }

  .phase-banner p {
    margin: -6px 0 10px;
    color: white;

    .phase-tag {
      color: $govuk-blue;
      background-color: white;
    }

    a, a:visited {
        color: $white;
    }

    a:hover, a:active {
      color: $light-blue-50;
    }
  }
}
