// styles specific to index pages

.index-page {

  .browse-list {
    .browse-list-item {
      margin-bottom: 20px;
    }

    .browse-list-item-subtext {
      padding: 0;
    }

    .browse-list-item-link {
      @include bold-19;
      padding: 0;
      border: none;

      &,
      & span {
        position: static;
        top: auto;
      }
    }

    .browse-list-item-body {
      margin-top: 0;
    }
  }

  .lead {
    @include core-19;
  }

  .search-box {
    @include media(tablet) {
      margin-bottom: $gutter-half;
    }

    position: relative;

    input {
      width: 100%;
      height: 50px;

      @include media(tablet) {
        margin-right: 7.6em;
      }
    }

    button {
      height: 48px;
      width: 100%;

      @include media(tablet) {
        width: 7.6em;
        position: absolute;
        top: 0;
        right: -7.6em;
        margin-right: $gutter-half;
      }
      padding-top: 5px;
      padding-bottom: 5px;
    }

  }

  .supplier-messages {
    h2 {
      @include bold-27;
      margin-bottom: $gutter;
    }

    h3 {
      @include bold-24;
    }

    p {
      margin: 0;

      &.hint {
        color: $grey-1;
        margin-bottom: 5px;
      }

      &.supplier-info {
        margin-top: $gutter-half;
        border-bottom: 1px solid $border-colour;
        padding-bottom: $gutter-half;
      }

      a.top-level-link {
        @include bold-19;
        text-decoration: none;
      }
    }

    nav {
      padding-top: $gutter-half;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 5px;
        }

      }
    }
  }

  /* `.supplier-message p` overwrites the `margin-bottom` of paragraphs in the temporary message */
  .supplier-messages .temporary-message-message {
    margin-bottom: 5px;
  }

}
