@import "_typography.scss";

.legal-content {
  h2 {
    @include heading-27;
    font-weight: bold;
  }

  h3 {
    @include heading-24;
    font-weight: bold;
  }

  h4 {
    @include copy-19;
    font-weight: bold;
  }

  p, li {
    @include copy-19;
  }
}
