// styles specific to index pages

.app-masthead {

  background-color: govuk-colour("blue");
  width: 100%;
  margin: -10px 0 0;
  padding: 40px 0 40px;
  color: govuk-colour("white");

  h1 {
    @include govuk-width-container;
    @include govuk-font(48, $weight: bold);
    padding-top: 7px;
    padding-bottom: 13px;
  }
}
