/**
 * The masthead is the "hero" panel we can display on index pages.
 */
.app-masthead {

  background-color: govuk-colour("blue");
  width: 100%;
  margin: -10px 0 0;
  padding: 20px 0 20px;
  color: govuk-colour("white");

  h1 {
    @include govuk-width-container;
    @include govuk-font(48, $weight: bold);
    padding-top: 7px;
    padding-bottom: 13px;
  }
}
