
.global-nav-toggle {
  font-size: rem(17);
  font-weight: $base-font-weight;
  margin: 0;

  .marketplace--header & {
    border: 0;
    border-bottom: 1px solid;
  }

  &::before {
    @extend %icon-bars;
    content: '';
    position: absolute;
    top: .25em;
    bottom: .25em;
    left: ($base-spacing * -1);
    width: $medium-spacing;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  &[aria-expanded='true'] {
    &::before {
      @extend %icon-close;
    }
  }

  &:focus,
  &:hover {
    background-color: $white;
    border-color: transparent;
    color: $non-black;
  }
}

.global-nav {
  li {
    padding-left: 0;

    a {
      padding-left: .2rem;

      &:focus,
      &:hover {
        background-color: $white;
        border-color: transparent;
        color: $non-black;
        outline: $body-inverted-text-colour;
      }
    }

  }
}

.marketplace--header {

  [class^='inline-links'] {
    padding: $tiny-spacing*.25 0;

    li {
      display: inline-block;
      margin: 0;

      &:not(:last-child) {
        margin-right: $base-spacing*.8125;
      }

      a {
        padding-bottom: $tiny-spacing*.15;
      }
    }
  }

  small {
    font-size: rem(14);
  }

}

.global-breadcrumb {
  background: $aqua;

  [class^='breadcrumbs'] {
    ul {
      font-size: rem(14);
      padding-bottom: $medium-spacing;

      li {
        &:not(:last-child) {
          background-size: auto rem(11);
          padding-right: 1.7em;
        }
      }
    }
  }
}

.scroll-to-top {
  float:right;
  margin-bottom: 12px;
  @include media($mobile) {
    margin-top: -3.5em;
  }
  @include media($tablet) {
    margin-right: -8.5em;
  }
  @include media($desktop) {
    margin-right: -16.5em;
  }
}
.tou-section {
  max-width: 600px;
}
.tou-section p {
  clear: both
}

.step-navigation {
  a {
    &.active,
    &.is-active {
      font-weight: $bold-font-weight;
    }

    &.is-current {
      background-color: $focus-colour;
      border-color: $border-contrast-colour;
    }
  }
}
