.application-notice {
  padding: 0.1em 0 0.1em 1em;
}

.info-notice {
  background: none;
  border-left: 10px solid $border-colour;
  margin-bottom: 1em;
  @extend %contain-floats;

  p {
    padding: 0 1em 0 0;
  }

  a[rel="external"] {
    display: inline;
  }
}

p + .info-notice {
  margin-top: 2em;
}
