// styles specific to requirements pages

#requirements-meta {

  padding-top: 25px;

  %meta-item {
    margin-bottom: $gutter;
  }

  .framework-name {
    @extend %meta-item;
  }

  .sidebar-content {
    @extend %meta-item;
  }

  .sidebar-heading {
    @include bold-19;
    margin-bottom: 5px;
  }

}
