.save-search-page {
    .search-summary-panel {
        margin-bottom: 30px;

        .search-summary {
            padding: 0;
        }
    }
    
    
    
    .question {
        margin-bottom: 0;
    }

    .button-save {
        margin-top: 0;
        font-size: 1.2em;
    }
}
