@import "search/_search-summary.scss";

.search-summary {
  padding: 0 0 $gutter-half;
  margin: 0 0 $gutter-half;
  border-bottom: 1px solid $border-colour;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

@import "search/_search-result.scss";

em.search-result-highlighted-text {
  font-style: normal;
}

.search-page-filters {

  $lot-filters__gutter: 24px;

  .lot-filters {

    @include core-16;
    margin-bottom: $gutter;

    h2 {
      @include bold-19;
    }

    .lot-filters--last-list {
      margin-left: $lot-filters__gutter / 2;

      li[aria-current] strong {
        margin: 0;
      }
    }

    /* if there's no <strong> tag before the deepest list, we need some top spacing */
    a ~ .lot-filters--last-list {
      margin-top: $lot-filters__gutter / 2;
    }

    li {
      margin-top: $lot-filters__gutter / 8;

      &[aria-current] strong {
        display: inline-block;
        margin: ($lot-filters__gutter / 3) 0;
      }
    }

    a {
      text-decoration: none;
    }

    .lot-filters__top-level-link {
      padding-left: $lot-filters__gutter / 2;
      display: inline-block;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        line-height: .85;
        content: "\2039"; /* left-pointing chevron */
        font-size: 22px;
      }
    }
  }

  .govuk-option-select {
    margin-bottom: $gutter;
  }

  .option-select-label {
    display: block;
  }
}

.search-result-important-metadata {
  li {
    @include bold-19;
  }
}
