.direct-award-project-overview-page {
  .instruction-list {
    @include bold-27;
  }
  .instruction-list-item {
    h2 {
      @include bold-27;
    }
    .instruction-list-item-top {
      @include core-19;
      display: block;
    }

    .app-search-summary {
      padding-left: 15px;
      padding-top: 3px;
      padding-bottom: 2px;
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 1.25;
      .app-search-summary-count {
        font-weight: bold;
        font-size: 19px;
        padding-right: 1px;
      }
    }
  }
}
