.app-search-summary {
  @include govuk-font(14);
  padding-bottom: govuk-spacing(6);

  em {
    font-style: normal;
    font-weight: bold;
  }

  @include media(tablet) {
    @include govuk-font(16);
  }
}

.app-app-search-summary-count {
  @include govuk-font(48, $weight: bold);
  padding-right: 5px;
}
