@import "search/_search-summary.scss";

.search-summary {
  padding: 0 0 $gutter-half;
  margin: 0 0 $gutter-half;
  border-bottom: 1px solid $border-colour;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

@import "search/_search-result.scss";

em.search-result-highlighted-text {
  font-style: normal;
}

.search-page-filters {
  .lot-filters {
    h2 {
      @include bold-19;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 5px 0 $gutter;
    }
  }

  .govuk-option-select {
    margin-bottom: $gutter;
  }

  .option-select-label {
    display: block;
  }

  .filter-field-text {
    padding: 5px;

    input {
      @include core-16;
      @include box-sizing(border-box);
      width: 100%;
      padding: 5px;
      border: 1px solid $border-colour;
    }
  }
}

.search-result-important-metadata {
  li {
    @include bold-19;
  }
}
