.secondary-action-link {
  margin-top: 30px;
}

.question + .secondary-action-link {
  margin-top: -36px;
  margin-bottom: 40px;
}

.button-save + .secondary-action-link,
.button-save + .secondary-action-link-bigger {
  margin-top: 5px;
}
