// styles specific to service pages

%sub-heading {
  @include core-24;
  font-weight: bold;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  @include box-sizing(border-box);
}

.service-summary-lede,
.service-summary-features-and-benefits {
  @include core-19;
}

.service-summary-lede {
  margin: 0;
}

.service-summary-heading {
  @extend %sub-heading;
}

.service-summary-features-and-benefits {
  margin: 0;
  padding-left: 0;

  li {
    list-style-type: disc;
    margin-bottom: 10px;
  }
}

.price {
  @extend %sub-heading;
}

.price-caveats {
  @include core-19;
  color: $grey-1;
  padding-left: 0;
  list-style-type: none;

  li {
    margin-bottom: 5px;
  }
}

.service-id-heading {
  @include core-19;
  margin-bottom: 5px;
}

.service-id {
  @include core-16;
  @include inline-block;
  background: $highlight-colour;
  padding: 2px 6px;
  border: 1px dotted $grey-3;
  margin: 0 4px 0 0;
}

