// styles specific to service pages

%sub-heading {
  @include core-24;
  font-weight: bold;
  padding: 0;
  margin: 0 0 10px 0;
  @include box-sizing(border-box);
}

%plain-list {
  list-style-type: none;
  padding-left: 0;
}

.service-attributes {
  padding-bottom: (3 * $gutter);
}

.service-summary-lede,
.service-summary-features-and-benefits {
  @include core-19;
}

.service-summary-lede {
  margin: 0;
}

.service-summary-preamble {
  @include copy-19;
  margin-bottom: 10px;
}

.service-summary-heading {
  @extend %sub-heading;
  margin-top: 35px;
}

.service-summary-features-and-benefits {
  margin: 0;
  padding-left: 20px;

  @include media(tablet) {
    padding-left: 0;
  }

  li {
    list-style-type: disc;
    margin-bottom: 10px;
  }
}

#meta {
  .document-link-with-icon {
    font-size: 16px;
  }

  .contact-details-organisation {
    display: none;
  }

  .service-id {
    margin-bottom: $gutter;
  }

  .external-link-default {
    margin-bottom: $gutter;
  }
}

.price {
  @extend %sub-heading;
  margin-top: 35px;

  @include media(tablet) {
    margin-top: 0;
  }
}

.price-caveats {
  @include core-16;
  color: $text-colour;
  @extend %plain-list;
  margin: 0 0 20px;

  li {
    margin-bottom: 5px;
  }
}

.sidebar-heading {
  @include bold-16;
  margin-bottom: 5px;
}
