table.content-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0 2em;
  width: 100%;

  ul {
    padding-left: 0.75em;
    margin: 0;
  }

  ul li:last-child {
    margin-bottom: 0;
  }

  caption {
    @include bold-24;
    margin: 0.4em 0.5em 0.4em 0.7em;
    text-align: left;
  }

  th, td {
    @include core-16($tabular-numbers: true);
    vertical-align: top;
    padding: .75em .5em .75em 0;

    a[rel="external"] {
      @include external-link-16;
    }
  }

  td {
    border-bottom: solid 1px $border-colour;

    small {
      @include core-16;
    }
  }

  th {
    line-height: 1.25em;
    text-align: left;
    font-weight: 700;
    border-bottom: solid 1px $border-colour;
  }

}
