// Path to assets for use with file-url()
$path: "/static/images/";

// GOV.AU UI Kit
@import 'gov-au-ui-kit/ui-kit';

@import 'grid-settings';
@import 'variables';
@import 'icons';
@import 'colours';
@import 'typography';
@import 'links';
@import 'tables';
@import 'block-elements';
@import 'forms';
@import 'buyerpages';
@import 'cards';

button,
.button,
[role='button'],
[type='button'],
header[role="banner"],
.global-breadcrumb,
.skip-to,
.visually-hidden,
.visuallyhidden,
.summary-item-body tbody tr td:last-of-type a,
footer,
.m-t-1 a {
  display: none;
}

.content-main {
  .signatures-section {
    p {
      &::before {
        width: 90%;
      }
    }
  }
}