{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Request authorisation for a buyer account – Digital Marketplace{% endblock %}

{% block body_classes %} registration-pages form-page{% endblock %}
{% block main_content %}

{% if form.email_address.flags.non_gov %}
<div>
  <h2>You need a government email address</h2>
  <p>
    Email addresses must end with <strong>.gov.au</strong>.
  </p>
  <p>
    If you believe your email address should be recognised email
    <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
  </p>
<div>
{% endif %}

{%
  with
    smaller = true,
    heading = "Create a Buyer Account"
%}
{% include "toolkit/page-heading.html" %}
{% endwith %}

<p>Digital Marketplace buyer account holders can view seller pricing, seller contact details and place orders.</p>

<p>To create a buyer account you need to be a government employee or be authorised by a government employee. Choose the option below that matches your situation.</p>

{% include "_form_errors.html" %}

<form method="POST" action="{{ url_for('.submit_buyer_signup') }}">
  {{ form.csrf_token }}

  {%
    with
      question = "Your employment status",
      name = form.employment_status.name,
      hint = "",
      options = form.employment_status,
      error = form.employment_status.errors[0]
  %}
    {% include "toolkit/forms/radio-list.html" %}
  {% endwith %}


  {%
    with
      question = "Your full name",
      name = "name",
      hint = "",
      value = form.name.data,
      error = form.name.errors[0]
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}

  {%
    with
      question = "Your government email address",
      name = "email_address",
      hint = "",
      value = form.email_address.data,
      error = form.email_address.errors[0]
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}

  <div class="m-t-1">
    {%
      with
        type = "save",
        role = "button",
        label = "Continue"
    %}
    {% include "toolkit/button.html" %}
  </div>
  {% endwith %}
  <p><small>By requesting an account invitation, you agree to the <a href="{{ url_for('main.terms_of_use') }}">Terms of Use</a>.</small></p>
</form>
{% endblock %}
