{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Request Authorisation for a Buyer Account – Digital Marketplace{% endblock %}

{% block body_classes %} registration-pages form-page{% endblock %}
{% block main_content %}

{% include "_form_errors.html" %}

{% if form.email_address.flags.non_gov or form.manager_email.flags.non_gov %}
<div>
  <h2>You and your manager need a government email address</h2>
  <p>
    If you believe your email address should be recognised email
    <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
  </p>
<div>
{% endif %}

{%
  with
    smaller = true,
    heading = "Account Authorisation"
%}
{% include "toolkit/page-heading.html" %}
{% endwith %}

<div>
<p>To create your account we will also need approval from a line manager who:</p>
<ul>
    <li>Is an employee under the Commonwealth Public Service Act (1999) or under equivalent State or Territory legislation, and</li>
    <li>is satisfied you need to access the Digital Marketplace.</li>
</ul>
</div>

<form method="POST" action="{{ url_for('.submit_buyer_invite_request') }}">
  {{ form.csrf_token }}
  <input type="hidden" id="{{ form.employment_status.id }}" name="{{ form.employment_status.name }}" value="{{ form.employment_status.data }}">
  <input type="hidden" id="{{ form.name.id }}" name="{{ form.name.name }}" value="{{ form.name.data }}">
  <input type="hidden" id="{{ form.email_address.id }}" name="{{ form.email_address.name }}" value="{{ form.email_address.data }}">
<div>
  {%
    with
      question = "Line manager's name",
      hint = 'We may contact your line manager for verification purposes.',
      name = "manager_name",
      value = form.manager_name.data,
      error = form.manager_name.errors[0]
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}</div>
<div>
  {%
    with
      question = "Line manager's email address",
      hint = 'Your line manager\'s email address must be a government email address.',
      name = "manager_email",
      value = form.manager_email.data,
      error = form.manager_email.errors[0]
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
</div>
  <p>Remember to let this person know we’ll be sending them an email requesting their authorisation.</p>

  {%
    with
      type = "save",
      role = "button",
      label = "Request invitation"
  %}
  {% include "toolkit/button.html" %}
  {% endwith %}
  <p><small>By requesting an account invitation, you agree to the <a href="{{ url_for('main.terms_of_use') }}">Terms of Use</a>.</small></p>
</form>
{% endblock %}
