{% extends "_base_page.html" %}

{% block page_title %}Create account – Digital Marketplace{% endblock %}

{% block phase_banner %}{% endblock %}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}

{% if form.errors %}
  <div class="callout--warning">
    <p>There was a problem with the details you gave:</p>
    <ul>
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
      <li><a href="#{{ form[field_name].name }}" class="validation-masthead-link">{{ error }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{%
  with
  smaller = true,
  heading = "Add your name and password",
  context = email_address
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}

<p>
  To finish creating your account please provide the following details.
</p>

<form autocomplete="off" action="{{ url_for('.submit_create_user', encoded_token=token) }}" method="POST" id="createUserForm">
  {{ form.hidden_tag() }}

  <p id="{{ form.name.name }}">
    {{ form.name.label() }}
    {% if form.name.errors %}
    <span class="hint-with-error" id="name-hint">
      Please add your full name
    </span>
    {% else %}
    <span class="hint" id="name-hint">
      This name will be used throughout the Marketplace
    </span>
    {% endif %}
    {% if form.name.errors %}
      {{ form.name(class="invalid",extra_aria_describedby="name-hint") }}
    {% else %}
      {{ form.name(extra_aria_describedby="name-hint") }}
    {% endif %}
  </p>

  <p id="{{ form.password.name }}">
    {{ form.password.label() }}
    {% if form.password.errors %}
    <span class="hint-with-error" id="password-hint">
      Your password must be at least 10 characters
    </span>
    {% else %}
    <span class="hint" id="password-hint">
      At least 10 characters
    </span>
    {% endif %}
    {% if form.password.errors %}
      {{ form.password(class="invalid",extra_aria_describedby="password-hint") }}
    {% else %}
      {{ form.password(extra_aria_describedby="password-hint") }}
    {% endif %}
  </p>

  {%
    with
    type = "save",
    role = "button",
    label = "Join the Marketplace"
  %}
    {% include "au-ui-toolkit/button.html" %}
  {% endwith %}
</form>
{% endblock %}
