{% extends "_base_page.html" %}

{% block page_title %}Create account – Digital Marketplace{% endblock %}

{% block main_content %}

{% if form.errors|length > 1 %}
    <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
        <h3 class="validation-masthead-heading" id="validation-masthead-heading">
            There was a problem with the details you gave for:
        </h3>
        <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li><a href="#{{ form[field_name].name }}" class="validation-masthead-link">{{ form[field_name].label.text }}</a></li>
        {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endif %}

{%
  with
  smaller = true,
  heading = "Create a new Digital Marketplace account",
  context = email_address
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}


    <form autocomplete="off" action="{{ url_for('.submit_create_user', encoded_token=token) }}" method="POST" id="createUserForm">

        <div class="grid-row">
            <div class="column-two-thirds">
                {{ form.hidden_tag() }}

                {% if form.name.errors %}
                <div class="validation-wrapper">
                    {% endif %}
                    <div class="question" id="{{ form.name.name }}">
                        {{ form.name.label(class="question-heading-with-hint") }}
                        <p class="hint">
                            Enter the name to be referred to on the Digital Marketplace
                        </p>
                        {% if form.name.errors %}
                        <p class="validation-message" id="error-name-textbox">
                            {% for error in form.name.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.name(class="text-box", autocomplete="off") }}
                    </div>
                    {% if form.name.errors %}
                </div>
                {% endif %}

                {% if form.phone_number.errors %}
                    <div class="validation-wrapper">
                {% endif %}
                    <div class="question" id="{{ form.phone_number.name }}">
                        {{ form.phone_number.label(class="question-heading-with-hint") }}
                        <p class="hint">
                          If there are any urgent problems with your requirements, we need your phone number so the support team can help you fix them quickly.
                        </p>
                        {% if form.phone_number.errors %}
                        <p class="validation-message" id="error-password-textbox">
                            {% for error in form.phone_number.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.phone_number(class="text-box", autocomplete="off") }}
                    </div>
                {% if form.phone_number.errors %}
                    </div>
                {% endif %}

                {% if form.password.errors %}
                    <div class="validation-wrapper">
                {% endif %}
                    <div class="question" id="{{ form.password.name }}">
                        {{ form.password.label(class="question-heading-with-hint") }}
                        <p class="hint">
                          Must be between 10 and 50 characters
                        </p>
                        {% if form.password.errors %}
                        <p class="validation-message" id="error-password-textbox">
                            {% for error in form.password.errors %}{{ error }}{% endfor %}
                        </p>
                        {% endif %}
                        {{ form.password(class="text-box", autocomplete="off") }}
                    </div>
                {% if form.password.errors %}
                    </div>
                {% endif %}

            {%
              with
              type = "save",
              label = "Create account"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}
            </div>
        </div>
    </form>

{% endblock %}
