{% extends "_base_page.html" %}

{% block page_title %}Create account error – Digital Marketplace{% endblock %}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}

{% if not token %}

  <header>
    <h1>Expired link</h1>
  </header>
  <p>
    The link you used to create an account may have expired.<br/>
    Check you’ve entered the correct link or <a href="{{ url_for('.buyer_signup') }}">request a new link</a>.<br/>
    If you still can’t create an account, email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>
  </p>

{% elif user %}

  {% if not user.active %}

    <header>
      <h1>Your account has been deactivated.</h1>
    </header>
    <p>
      Email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a> to reactivate your account.
    </p>

  {% elif user.locked %}

    <header>
      <h1>Your account is locked.</h1>
    </header>
    <p>
      To unlock your account email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
    </p>

  {% elif user.role == 'supplier' %}

    <header>
      <h1>The details you provided are registered with a seller.</h1>
    </header>
    <p>Your email address is already registered as an account with ‘{{ user.supplier_name }}’.</p>
    <p>You can <a href="{{ url_for('.buyer_signup') }}">create a buyer account using a different email address</a>, or email
      <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a> to have your account
      converted to a buyer account.</p>
    <p>
      Alternatively, <a href="{{ url_for('.render_login') }}">Sign in</a> to your {{ user.supplier_name }} account.
    </p>

  {% else %}

    <header>
      <h1>Account already exists</h1>
    </header>

    <p>
      <a href="{{ url_for('.render_login') }}">Sign in</a> to your account.
    </p>

  {% endif %}
{% endif %}

{% endblock %}
