{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Create buyer account – Digital Marketplace{% endblock %}

{% block breadcrumb %}
{%
  with items = [
    {
    "link": "/",
    "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

{% if form.errors %}
    <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
        <h3 class="validation-masthead-heading" id="validation-masthead-heading">
            There was a problem with the details you gave for:
        </h3>
        <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li><a href="#{{ form[field_name].name }}" class="validation-masthead-link">{{ form[field_name].label.text }}</a></li>
        {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endif %}

{%
  with
    smaller = true,
    heading = "Create a buyer account"
%}
{% include "toolkit/page-heading.html" %}
{% endwith %}

<p class="lede">
  You must be employed by, or represent, a public sector organisation.
</p>

<div class="grid-row">
  <div class="column-two-thirds">

    <form method="POST" action="{{ url_for('.submit_create_buyer_account') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {%
        with
          question = "Your email address",
          name = "email_address",
          value = email_address,
          error = form.email_address.errors[0]
      %}
        {% include "toolkit/forms/textbox.html" %}
      {% endwith %}
      <p>We will send an account activation email to this address. You will then be able to set your password.</p>
      {%
        with
          type = "save",
          label = "Create account"
      %}
      {% include "toolkit/button.html" %}
      {% endwith %}
    </form>
  </div>
</div>

{% endblock %}
