{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Activate your account - Digital Marketplace{% endblock %}

{% block phase_banner %}{% endblock %}

{% block breadcrumb %}
{%
  with items = [
    {
    "link": "/",
    "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

<div class="single-question-page">
  {%
    with
      heading = "Activate your account"
  %}
  {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        Please go to your email inbox for {{ email_address }} and click on the link to activate your account.
      </p>
    </div>
  </div>
</div>

{% endblock %}
