{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Activate your account - Digital Marketplace{% endblock %}

{% block phase_banner %}{% endblock %}

{#
{% block breadcrumb %}
{%
  with items = [
    {
    "link": "/",
    "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}
#}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}
{%
  with
    heading = "Activate your account"
%}
{% include "toolkit/page-heading.html" %}
{% endwith %}

<p>
  We've sent a message to your email <strong>{{ email_address }}</strong>. Click the link in the email to activate your account.
</p>
{% endblock %}
