{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}Create buyer account – Digital Marketplace{% endblock %}

{% block phase_banner %}{% endblock %}

{#
{% block breadcrumb %}
{%
  with items = [
    {
    "link": "/",
    "label": "Digital Marketplace"
    }
  ]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}
#}

{% block body_classes %} registration-pages form-page{% endblock %}
{% block main_content %}

{% if form.errors %}
  <div class="callout--warning">
    <p>There was a problem with the details you gave:</p>
    <ul>
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
      <li><a href="#{{ form[field_name].name }}" class="validation-masthead-link">{{ error }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{%
  with
    smaller = true,
    heading = "Create a buyer account"
%}
{% include "toolkit/page-heading.html" %}
{% endwith %}

<p>
  To create an account you must be part of an Australian local, state or federal government organisation.
</p>

<form method="POST" action="{{ url_for('.submit_create_buyer_account') }}">
  {{ form.csrf_token }}

  {%
    with
      question = "Your email address",
      hint = "Must be an Australian Government email address ending in .gov.au",
      name = "email_address",
      value = email_address,
      error = form.email_address.errors[0]
  %}
    {% include "au-ui-toolkit/forms/textbox.html" %}
  {% endwith %}
  {%
    with
      type = "save",
      role = "button",
      label = "Create account"
  %}
  {% include "au-ui-toolkit/button.html" %}
  {% endwith %}
  <p><small>By signing up, you agree to the <a href="{{ url_for('main.terms_of_use') }}">Terms of Use</a> and <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>.</small></p>
</form>
{% endblock %}
