{% extends "_base_page.html" %}

{% block page_title %}Create account – Digital Marketplace{% endblock %}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}

{% include "_form_errors.html" %}

{%
  with
  smaller = true,
  heading = "Add your name and password",
  context = email_address
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}

<p>
  To finish creating your account please provide the following details.
</p>

<form autocomplete="off" action="{{ url_for('.submit_create_buyer_account', token=token) }}" method="POST" id="createUserForm">
  {{ form.csrf_token }}

  <p id="{{ form.name.name }}">
    {{ form.name.label() }}
    {% if form.name.errors %}
    <span class="hint-with-error" id="name-hint">
      Please add your full name
    </span>
    {% else %}
    <span class="hint" id="name-hint">
      This name will be used throughout the Marketplace
    </span>
    {% endif %}
    {% if form.name.errors %}
      {{ form.name(class="invalid",extra_aria_describedby="name-hint") }}
    {% else %}
      {{ form.name(extra_aria_describedby="name-hint") }}
    {% endif %}
  </p>

  <p id="{{ form.password.name }}">
    {{ form.password.label() }}
    {% if form.password.errors %}
    <span class="hint-with-error" id="password-hint">
      Your password must be at least 10 characters
    </span>
    {% else %}
    <span class="hint" id="password-hint">
      At least 10 characters
    </span>
    {% endif %}
    {% if form.password.errors %}
      {{ form.password(class="invalid",extra_aria_describedby="password-hint") }}
    {% else %}
      {{ form.password(extra_aria_describedby="password-hint") }}
    {% endif %}
  </p>

  <p>
  {% set accept_label %}I accept the <a href="{{ url_for('.terms_of_use') }}">Terms of Use</a>.{% endset %}
    {% if form.accept.errors %}
      {{ form.accept(class="invalid") }}
    {% else %}
      {{ form.accept }}
    {% endif %}
    {{ form.accept.label(text=accept_label) }}
  </p>

  {%
    with
    type = "save",
    role = "button",
    label = "Join the Marketplace"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
</form>
{% endblock %}
