{% extends "_base_page.html" %}

{% block page_title %}Log in – Digital Marketplace{% endblock %}

{% block phase_banner %}{% endblock %}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
  {% if category == 'error' %}
    <div class="banner-destructive-without-action">
  {% elif category != 'must_login' %}
    <div class="banner-success-without-action">
  {% endif %}
    {% if message == 'no_account' %}
      <p class="callout">
        Make sure you've entered the right email address and password.
        Accounts are locked after 5 failed attempts.
      </p>
    {% elif message == 'password_updated' %}
      <p class="callout">
        You have successfully changed your password.
      </p>
    {% elif message == 'password_not_updated' %}
      <p class="callout">
        Could not update password due to an error.
      </p>
    {% elif message == 'supplier-role-required' %}
      <p class="callout">
        You must log in with a seller account to see this page.
      </p>
    {% elif message == 'buyer-role-required' %}
      <p class="callout">
          You must log in with a buyer account to see this page.
      </p>
    {% elif category != 'must_login' %}
      {{ message }}
    {% endif %}
  {% if category != 'must_login' %}
    </div>
  {% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% if form.errors %}
  <div class="callout--warning">
    <p>There was a problem with the details you gave:</p>
    <ul>
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
      <li><a href="#{{ form[field_name].name }}" class="validation-masthead-link">{{ error }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{% with
  heading = "Log in to the Marketplace"
%}
  {% include "au-ui-toolkit/page-heading.html" %}
{% endwith %}

<p>
  Don't have a buyer account? <a href="{{ url_for('.buyer_signup') }}">Create one now</a>.<br>
  Seller account invites coming soon.
</p>

<form action="{{ url_for('.process_login', next=next) }}" method="POST">

  {{ form.csrf_token }}

  <p id="{{ form.email_address.name }}">
    {{ form.email_address.label() }}
    {% if form.email_address.errors %}
      {{ form.email_address(class="invalid") }}
    {% else %}
      {{ form.email_address() }}
    {% endif %}
  </p>

  <p id="{{ form.password.name }}">
    {{ form.password.label() }}
    {% if form.password.errors %}
      {{ form.password(class="invalid",autocomplete="off") }}
    {% else %}
      {{ form.password(autocomplete="off") }}
    {% endif %}
  </p>

  <p>
  {%
    with
    url = url_for('.request_password_reset'),
    text = "Forgot your password?"
  %}
    {% include "au-ui-toolkit/secondary-action-link.html" %}
  {% endwith %}
  </p>

  <p>
  {%
    with
    type = "save",
    role = "button",
    label = "Log in"
  %}
    {% include "au-ui-toolkit/button.html" %}
  {% endwith %}
  </p>

            
</form>
{% endblock %}
