{% extends "_base_page.html" %}

{% block page_title %}Sign in – Digital Marketplace{% endblock %}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
  {% if category == 'error' %}
    <div class="banner-destructive-without-action">
  {% elif category != 'must_login' %}
    <div class="banner-success-without-action">
  {% endif %}
    {% if message == 'no_account' %}
      <p class="callout">
        Make sure you've entered the right email address and password.
        Accounts are locked after 5 failed attempts.
      </p>
    {% elif message == 'password_updated' %}
      <p class="callout">
        You have successfully changed your password.
      </p>
    {% elif message == 'password_not_updated' %}
      <p class="callout">
        Could not update password due to an error.
      </p>
    {% elif message == 'supplier-role-required' %}
      <p class="callout">
        You must sign in with a seller account to see this page.
      </p>
    {% elif message == 'buyer-role-required' %}
      <p class="callout">
          You must sign in with a buyer account to see this page.
      </p>
    {% elif message == 'applicant-role-required' %}
      <p class="callout">
        You must sign in with an applicant account to see this page.
      </p>
    {% elif category != 'must_login' %}
      {{ message }}
    {% endif %}
  {% if category != 'must_login' %}
    </div>
  {% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% include "_form_errors.html" %}

{% with
  heading = "Sign in to the Marketplace"
%}
  {% include "toolkit/page-heading.html" %}
{% endwith %}

<p>
  New to the Marketplace? <a href="/2/signup">Create your account</a>.
</p>

<form action="{{ url_for('.process_login', next=next) }}" method="POST">

  {{ form.csrf_token }}

  <p id="{{ form.email_address.name }}">
    {{ form.email_address.label() }}
    {% if form.email_address.errors %}
      {{ form.email_address(class="invalid") }}
    {% else %}
      {{ form.email_address() }}
    {% endif %}
  </p>

  <p id="{{ form.password.name }}">
    {{ form.password.label() }}
    {% if form.password.errors %}
      {{ form.password(class="invalid",autocomplete="off") }}
    {% else %}
      {{ form.password(autocomplete="off") }}
    {% endif %}
  </p>

  <p>
  {%
    with
    url = "/2/reset-password",
    text = "Forgot your password?"
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}
  </p>

  <p>
  {%
    with
    type = "save",
    role = "button",
    label = "Sign in"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
  </p>


</form>
{% endblock %}
