{% extends "_base_page.html" %}

{% block page_title %}Reset password – Digital Marketplace{% endblock %}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="callout{% if category == 'error' %}--warning{% endif %}">
        {% if message == 'email_sent' %}
        If the email address you've entered belongs to a Marketplace account,
        we'll send a link to reset the password.

        {% elif message == 'token_expired' %}
        This password reset link has expired. Enter your email address and we’ll send you a new one.

        {% elif message == 'token_invalid' %}
        This password reset link is invalid. Enter your email address and we’ll send you a new one.

        {% else %}
        {{ message }}
        {% endif %}
      </p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if form.email_address.errors %}
  <p class="callout--warning">
    Please enter a valid email address.
  </p>
{% endif %}
<header>
  <h1>Reset password</h1>
</header>

<p>
  Enter your email address and we'll send you a link to reset your password. Password reset links are valid for 24 hours.
</p>

<form action="{{ url_for('.request_password_reset') }}" method="POST" id="resetPasswordForm">
  {{ form.csrf_token }}

  <p>
    {{ form.email_address.label() }}
    <span class="hint" id="email-hint">
      Enter the email address you used to register with the Marketplace
    </span>

    {% if form.email_address.errors %}
      {{ form.email_address(class="invalid",extra_aria_describedby="email-hint") }}
    {% else %}
      {{ form.email_address(extra_aria_describedby="email-hint") }}
    {% endif %}
  </p>

  <p>
  {%
    with
    type = "save",
    role = "button",
    label = "Send reset email"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
  </p>
</form>
{% endblock %}
