{% extends "_base_page.html" %}

{% block page_title %}Reset password – Digital Marketplace{% endblock %}

{% block phase_banner %}{% endblock %}

{% block main_content %}

<article id="content" class="content-main">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="banner-destructive-without-action">
        {% else %}
          <div class="banner-success-without-action">
        {% endif %}
              {% if message == 'email_sent' %}
            <p class="callout">
              If the email address you've entered belongs to a Digital Marketplace account,
              we'll send a link to reset the password.
            </p>
              {% elif message == 'token_expired' %}
            <p class="callout--warning">
              This password reset link has expired. Enter your email address and we’ll send you a new one.
              Password reset links are only valid for 24 hours.
            </p>
              {% elif message == 'token_invalid' %}
            <p class="callout--warning">
              This password reset link is invalid. Enter your email address and we’ll send you a new one.
              Password reset links are only valid for 24 hours.
            </p>
              {% else %}
            <p class="callout">
              {{ message }}
            </p>
              {% endif %}
          </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <header class="page-heading">
    <h1>Reset password</h1>
  </header>

  {% if form.errors %}
    <p class="callout--warning">
      There was a problem with the details you gave for:<br>
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        - <a href="#{{ form[field_name].name }}">{{ form[field_name].label.text }}</a><br>
        {% endfor %}
      {% endfor %}
    </p>
  {% endif %}
  <p>
      Enter the email address associated with your account, and we'll email you a link to reset your password.
  </p>

  <form autocomplete="off" action="{{ url_for('.request_password_reset') }}" method="POST" id="resetPasswordForm">
    {{ form.hidden_tag() }}

    <p>
      {{ form.email_address.label() }}
      {% if form.email_address.errors %}
        {{ form.email_address(class="invalid") }}
      {% else %}
        {{ form.email_address() }}
      {% endif %}
    </p>

    {%
      with
      type = "save",
      role = "button",
      label = "Send reset link"
    %}
      {% include "au-ui-toolkit/button.html" %}
    {% endwith %}
  </form>
</article>
{% endblock %}
