{% extends "_base_page.html" %}

{% block page_title %}Reset password – Digital Marketplace{% endblock %}

{% block body_classes %} registration-pages form-page {% endblock %}
{% block main_content %}

{% include "_form_errors.html" %}

<header>
    <h1>Reset password</h1>
</header>
<p>
    Reset password for {{ email_address }}
</p>

<form autocomplete="off" action="{{ url_for('.update_password', token=token) }}" method="POST">
  {{ form.csrf_token }}

  <p id="{{ form.password.name }}">
    {{ form.password.label() }}
    <span class="hint" id="password-hint">
      Must be between 10 and 50 characters
    </span>
    {% if form.password.errors %}
      {{ form.password(class="invalid") }}
    {% else %}
      {{ form.password() }}
    {% endif %}
  </p>

  <p id="{{ form.confirm_password.name }}">
    {{ form.confirm_password.label() }}
    <span class="hint" id="confirm-password-hint">
      Repeat password used above
    </span>
    {% if form.confirm_password.errors %}
      {{ form.confirm_password(class="invalid") }}
    {% else %}
      {{ form.confirm_password() }}
    {% endif %}
  </p>

  <p>
  {%
    with
    type = "save",
    role = "button",
    label = "Reset password"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}
  </p>
</form>
{% endblock %}
