{% if not project.lockedAt and banner_message_status %}
    {% if banner_message_status == NOT_LOCKED_STANDSTILL %}
      {% set banner_heading =  '{}'.format(following_framework.name)|nbsp + ' services will replace existing services on {}'.format(following_framework.frameworkLiveAtUTC|dateformat) %}
      {% set banner_messages =  [
          'Your search results will update automatically.',
          'If you export your results before {} they will only include '.format(following_framework.frameworkLiveAtUTC|shortdateformat) + '{}'.format(framework.name)|nbsp + ' services.'
        ]
      %}
    {% elif banner_message_status == NOT_LOCKED_POST_LIVE %}
      {% set banner_heading = '{}'.format(following_framework.name)|nbsp + ' services replaced ' + '{}'.format(framework.name)|nbsp + ' services on {}'.format(following_framework.frameworkLiveAtUTC|dateformat) %}
      {% set banner_messages = ['Your search results may have changed.'] %}
    {% endif %}
    {{ dmBanner({
      "title": banner_heading,
      "headingLevel": 2,
      "html": "\n".join(banner_messages)
    }) }}
{% endif %}
