{% if not project.lockedAt and temporary_message_status %}
  <div class="govuk-grid-column-one-third">
    {% if temporary_message_status == NOT_LOCKED_STANDSTILL %}
      {% set temp_heading =  '{}'.format(following_framework.name)|nbsp + ' services will replace existing services on {}'.format(following_framework.frameworkLiveAtUTC|dateformat) %}
      {% set temp_messages =  [
          'Your search results will update automatically.',
          'If you export your results before {} they will only include '.format(following_framework.frameworkLiveAtUTC|shortdateformat) + '{}'.format(framework.name)|nbsp + ' services.'
        ]
      %}
    {% elif temporary_message_status == NOT_LOCKED_POST_LIVE %}
      {% set temp_heading = '{}'.format(following_framework.name)|nbsp + ' services replaced ' + '{}'.format(framework.name)|nbsp + ' services on {}'.format(following_framework.frameworkLiveAtUTC|dateformat) %}
      {% set temp_messages = ['Your search results may have changed.'] %}
    {% endif %}
    {%
      with
      heading = temp_heading,
      messages = temp_messages
    %}
      {% include "toolkit/temporary-message.html" %}
    {% endwith %}
  </div>
{% endif %}
