{% extends "_base_page.html" %}

{% block pageTitle %}
  Did you award a contract? - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('external.buyer_dashboard'),
      "text": "Your account"
    },
    {
      "href": url_for('direct_award.saved_search_overview', framework_family=framework.framework),
      "text": "Your saved searches"
    },
    {
      "href": url_for('direct_award.view_project', framework_family=framework.framework, project_id=project.id),
      "text": project.name
    },
    {
      "text": "Did you award a contract?"
    }
  ]
}) }}
{% endblock breadcrumb %}


{% block mainContent %}

<div class="did-you-award-contract-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Did you award a contract for ‘{{ project.name }}’?</h1>

      <form method="POST" action="{{ url_for('direct_award.did_you_award_contract', framework_family=framework.family, project_id=project.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ form.did_you_award_a_contract }}

        {{ govukButton({
          "text": "Save and continue",
          "attributes": {
            "data-analytics": "trackEvent",
            "data-analytics-category": "did-you-award-a-contract",
            "data-analytics-action": "Save and continue",
            "data-analytics-target-selector": "input[name=did_you_award_a_contract]:checked",
          },
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link" href="{{ url_for('direct_award.view_project', framework_family=framework.family, project_id=project.id) }}">Return to your task list</a></p>
    </div>
  </div>

</div>
{% endblock %}
