{% extends "_base_page.html" %}

{% block page_title %}Export your results - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
        "link": url_for('main.index'),
        "label": "Digital Marketplace"
      },
      {
        "link": url_for('external.buyer_dashboard'),
        "label": "Your account"
      },
      {
        "link": url_for('direct_award.saved_search_overview', framework_family=framework.family),
        "label": "Your saved searches"
      },
      {
        "link": url_for('direct_award.view_project', framework_family=framework.family, project_id=project.id),
        "label": project.name
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
{% if errors %}
  <div class="validation-masthead" aria-labelledby="validation-masthead-heading" aria-role="group" tabindex="-1">
    <p>
      You need to <a href="#{{ form.user_understands.id }}">confirm that you’ve finished editing your search</a> before you
      export your results.
    </p>
  </div>
{% endif %}


<div class="end-search-page">
  <div class="grid-row">
    <div class="column-two-thirds dmspeak">
      <header class="page-heading">
        <h1>
          Before you export your results
        </h1>
      </header>

      <p>Export your search results to keep a record of the services you’ve found.</p>

      <p>
        You can download exported results as a spreadsheet or comma-separated values (CSV). Both file types include
        suppliers’ service descriptions and contact details.
      </p>

      <p>Do not export your results if you still need to edit your search.</p>

      <form
        action="{{ url_for('direct_award.end_search', framework_family=framework.family, project_id=project.id) }}"
        method="POST"
        >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ form.user_understands }}

        {{ govukButton({
          "text": "Export results and continue",
          "value": "Export results and continue",
          "classes": "end-your-search-button",
          "disabled": disable_end_search_btn,
          "attributes": {
            "data-analytics": "trackEvent",
            "data-analytics-category": "Direct Award",
            "data-analytics-action": "End search",
            "data-analytics-label": "{{ search_count }}",
          },
        }) }}
      </form>

      <p><a href="{{ url_for('direct_award.view_project', framework_family=framework.family, project_id=project.id) }}">Return to your task list</a></p>
    </div>
  </div>

</div>
{% endblock %}

{% block page_scripts %}

  {% if disable_end_search_btn %}
    <script>
      GOVUK.GDM.analytics.virtualPageViews.sendVirtualPageView(
        window.location.pathname + '/error',
        'End search error',
        [
          { id: 9, label: "{{ search_count }}" }
        ]
      );
    </script>
  {% endif %}

{% endblock %}
