{% extends "_base_page.html" %}

{% block page_title %}Saved searches - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('main.index'),
          "label": "Digital Marketplace"
      },
      {
          "link": "/buyers",
          "label": "Account Overview"
      },
      {
          "label": "Saved searches"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class="direct-award-saved-searches">
  <header class="page-heading">
    <h1>
      Saved searches
    </h1>
    <p class="context">Find, compare and buy cloud services through the G-Cloud framework.</p>
  </header>

  <div class="grid">
    <h2 class="summary-heading">
        Searching
    </h2>

    {% if open_searches|length == 0 %}
    
    <p class="summary-item-no-content">
        You have no saved searches
    </p>

    {% else %}
    <table class="summary-item-body">
      <caption class="visually-hidden">
        Searching
      </caption>
      <thead class="summary-item-field-headings-visible">
        <tr>
          <th class="summary-item-field-heading-first" scope="col">Name</th>
          <th class="summary-last-narrow" scope="col">Saved</th>
        </tr>
      </thead>
      <tbody>
        {% for search in open_searches %}
        <tr class="summary-item-row">
            <td class="summary-item-field-first-half"><span><a href="/buyers/direct-award/{{ search.id }}">{{ search.name }}</a></span></td>
            <td class="summary-item-field"><span>{{ search.createdAt | datetimeformat }}</span></td>          
        </tr>
        {% else %}
        <tr class="summary-item-row">
            <td colspan="2">You have no saved searches</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    <h2 class="summary-heading">
        Search Ended
    </h2>

    {% if closed_searches|length == 0 %}

    <p class="summary-item-no-content">
        You have no saved searches
    </p>

    {% else %}

    <table class="summary-item-body">
      <caption class="visually-hidden">
        Search Ended
      </caption>
      <thead class="summary-item-field-headings-visible">
        <tr>
          <th class="summary-item-field-heading-first" scope="col">Name</th>
          <th class="summary-last-narrow" scope="col">Shortlist created</th>
        </tr>
      </thead>
      <tbody>
          {% for search in closed_searches %}
          <tr class="summary-item-row">
              <td class="summary-item-field-first-half"><span><a href="/buyers/direct-award/{{ search.id }}">{{ search.name }}</a></span></td>
              <td class="summary-item-field"><span>{{ search.createdAt | datetimeformat }}</span></td>          
          </tr>
          {% endfor %}
      </tbody>
    </table>

    {% endif %}

  </div>
  
</div>
{% endblock %}
