{% extends "_base_page.html" %}

{% set page_name = "Save your search" %}

{% block pageTitle %}
  {{ page_name }} - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": search_url,
      "text": "Search"
    },
    {
      "text": page_name
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}

<div class="single-question-page save-search-page">
  <div class="grid-row">
    <div class="column-one-whole">
        {#
          we cannot use the toolkit/forms/validation.html template here,
          as this page was designed with a govuk style error summary banner
        #}
        {% if errors %}
        <div class="error-summary" role="alert" aria-labelledby="saving-search-error" tabindex="-1">

          <div class="dmspeak">
            <h2 class="heading-xmedium">There was a problem saving your search</h2>
          </div>

          <ul class="error-summary-list">
            {% for error in errors.values() %}
              <li>
                <a href="#{{ error.input_name }}-error">{{ error.message }}</a>
              </li>
            {% endfor %}
          </ul>

        </div>
        {% endif %}
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ page_name }}
      </h1>
    </div>
  </div>
  <form method="post" action="" id="createProjectForm">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="search-summary-panel panel panel-border-wide">
          {% with content = search_summary_sentence %}
            {% include "toolkit/search-summary.html" %}
          {% endwith %}
        </div>

        {%
          with
          type = "radio",
          name = form.save_search_selection.name,
          finally = "or",
          value = form.save_search_selection.data,
          options = form.save_search_selection.options,
          error = form.save_search_selection.errors[0]
        %}
          {% include "toolkit/forms/selection-buttons.html" %}
        {% endwith %}

        <br>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="search_query" value="{{ search_query }}"/>
        {{ govukButton({
          "text": "Save and continue",
          "name": "return_to_overview",
          "value": "Save and continue",
        }) }}

      </div>
    </div>
  </form>
</div>
{% endblock %}
