{% extends "_base_page.html" %}

{% block page_title %}Save your search - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('main.index'),
          "label": "Digital Marketplace"
      },
      {
          "link": search_url,
          "label": "Search"
      },
      {
          "label": "Save your search"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class="single-question-page save-search-page">
  <div class="grid-row">
    <div class="column-one-whole">
        {% if form.name.errors or save_search_selection_error %}
        <div class="error-summary" role="alert" aria-labelledby="saving-search-error" tabindex="-1">

          <div class="dmspeak">
            <h2 class="heading-xmedium">There was a problem saving your search</h2>
          </div>

          <ul class="error-summary-list">
              {% if save_search_selection_error %}
                <li><a href="#select-where-to-save-error">{{ save_search_selection_error }}</a></li>
              {% elif form.name.errors and not save_search_selection_error %}
                {% for error in form.name.errors %}<li><a href="#name-your-search-error">{{ error }}</a></li>{% endfor %}
              {% endif %}
          </ul>
    
        </div>
        {% endif %}
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading-smaller page-heading-without-breadcrumb">
        <h1>
          Choose where to save your search
        </h1>
      </header>
    </div>
  </div>
  <form method="post" action="" id="createProjectForm">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="panel panel-border-wide">
          {% with content = search_summary_sentence %}
            {% include "toolkit/search-summary.html" %}
          {% endwith %}
        </div>

       
        
        <fieldset>
          
          

          <div{% if save_search_selection_error %} class="validation-wrapper"{% endif %}>
          
              {% if save_search_selection_error %}
              <p class="validation-message" id="select-where-to-save-error">
                {{ save_search_selection_error }}
              </p>
              {% endif %}

              {% if projects %}

              

              {% for project in projects %}

              <div class="multiple-choice">
                <input type="radio" name="save_search_selection" value="{{ project.id }}" id="project-{{ project.id }}"{% if request.form.save_search_selection == project.id %}checked="checked"{% endif %}>
                <label for="project-{{ project.id }}">{{ project.name or "Untitled project {}".format(project.id) }}</label>
              </div>

              {% endfor %}

              <p class="form-block">or</p>

              {% endif %}

              <div class="multiple-choice" data-target="new-search">
                <input type="radio" name="save_search_selection" value="new_search" id="project-new" aria-required="true" 
                  {% if request.form.save_search_selection == 'new_search' or not projects %}checked="checked"{% endif %}>
                <label for="project-new">Create a new saved search</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="new-search">
                
                <div{% if form.name.errors and not save_search_selection_error %} class="validation-wrapper"{% endif %}>
                  <div class="question" id="{{ form.name.name }}">
                    {{ form.name.label(class="question-heading") }}
                    <p>Name your saved search. A reference number or short description of what you want to buy makes a good name.</p>
                    <p class="hint">
                      100 characters maximum
                    </p>
                    {% if form.name.errors and not save_search_selection_error %}
                    <p class="validation-message" id="name-your-search-error">
                      {% for error in form.name.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.name(class="text-box") }}
                  </div>
                </div>
              </div>


          </div>
        </fieldset>

        <br>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="search_query" value="{{ search_query }}"/>
        <input type="submit" class="button-save" name="return_to_overview" value="Save and continue">

      </div>
    </div>
  </form>
</div>
{% endblock %}
