{% extends "_base_page.html" %}

{% block pageTitle %}
  Tell us about your contract - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('external.buyer_dashboard'),
      "text": "Your account"
    },
    {
      "href": url_for('direct_award.saved_search_overview', framework_family=framework.family),
      "text": "Your saved searches"
    },
    {
      "href": url_for('direct_award.view_project', framework_family=framework.family, project_id=project.id),
      "text": project.name
    },
    {
      "text": "Tell us about your contract"
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}

<div class="tell-us-about-contract-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Tell us about your contract</h1>

      <form method="POST" action="{{ url_for('direct_award.tell_us_about_contract', framework_family=framework.family, project_id=project.id, outcome_id=outcome_id) }}" class="tell-us-about-contract-form" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ govukDateInput ({
          "id": "input-start_date",
          "namePrefix": "start_date",
          "fieldset": {
            "legend": {
              "text": form.start_date.question,
              "classes": "govuk-fieldset__legend--m"
            }
          },
          "hint": {
            "text": form.start_date.hint
          } if form.start_date.hint,
          "errorMessage": errors.start_date.errorMessage if errors.start_date.errorMessage,
          "items": [
            {
              "classes": "govuk-input--width-2",
              "name": "day",
              "value": form.start_date.value['start_date-day'] if form.start_date.value['start_date-day']
            },
            {
              "classes": "govuk-input--width-2",
              "name": "month",
              "value": form.start_date.value['start_date-month'] if form.start_date.value['start_date-month']
            },
            {
              "classes": "govuk-input--width-4",
              "name": "year",
              "value": form.start_date.value['start_date-year'] if form.start_date.value['start_date-year']
            }
          ]
        })}}

        {{ govukDateInput ({
          "id": "input-end_date",
          "namePrefix": "end_date",
          "fieldset": {
            "legend": {
              "text": form.end_date.question,
              "classes": "govuk-fieldset__legend--m"
            }
          },
          "hint": {
            "text": form.end_date.hint
          } if form.end_date.hint,
          "errorMessage": errors.end_date.errorMessage if errors.end_date.errorMessage,
          "items": [
            {
              "classes": "govuk-input--width-2",
              "name": "day",
              "value": form.end_date.value['end_date-day'] if form.end_date.value['end_date-day']
            },
            {
              "classes": "govuk-input--width-2",
              "name": "month",
              "value": form.end_date.value['end_date-month'] if form.end_date.value['end_date-month']
            },
            {
              "classes": "govuk-input--width-4",
              "name": "year",
              "value": form.end_date.value['end_date-year'] if form.end_date.value['end_date-year']
            }
          ]
        })}}

        {{ form.value_in_pounds }}

        {{ govukInput ({
          "classes": "app-text-input--height-compatible",
          "errorMessage": errors.buying_organisation.errorMessage,
          "hint": {
            "text": form.buying_organisation.hint,
          },
          "id": "input-buying_organisation",
          "label": {
            "text": form.buying_organisation.label.text,
            "classes": 'govuk-label--m'
          },
          "name": "buying_organisation",
          "type": "text",
          "value": form.buying_organisation.data
        }) }}

        {{ govukButton({
          "text": "Submit",
          "attributes": {
            "data-analytics": "trackEvent",
            "data-analytics-category": "tell-us-about-your-contract",
            "data-analytics-action": "Submit",
            "data-analytics-label": "awarded",
          },
        }) }}

      </form>

      <p class="govuk-body"><a class="govuk-link" href="{{ url_for('direct_award.which_service_won_contract', framework_family=framework.family, project_id=project.id) }}">Previous page</a></p>

    </div>
  </div>
</div>
{% endblock %}
