{% extends "_base_page.html" %}

{% block page_title %}Tell us about your contract - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
        "link": url_for('main.index'),
        "label": "Digital Marketplace"
      },
      {
        "link": url_for('external.buyer_dashboard'),
        "label": "Your account"
      },
      {
        "link": url_for('direct_award.saved_search_overview', framework_family=framework.family),
        "label": "Your saved searches"
      },
      {
        "link": url_for('direct_award.view_project', framework_family=framework.family, project_id=project.id),
        "label": project.name
      },
      {
        "link": url_for('direct_award.did_you_award_contract', framework_family=framework.family, project_id=project.id),
        "label": "Did you award a contract?"
      },
      {
        "link": url_for('direct_award.which_service_won_contract', framework_family=framework.family, project_id=project.id),
        "label": "Which service won the contract?"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

{% include "toolkit/forms/validation.html" %}

<div class="tell-us-about-contract-page">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with heading="Tell us about your contract" %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}

      <form method="POST" action="{{ url_for('direct_award.tell_us_about_contract', framework_family=framework.family, project_id=project.id, outcome_id=outcome_id) }}" class="tell-us-about-contract-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ form.start_date}}

        {{ form.end_date }}

        {{ form.value_in_pounds }}

        {{ form.buying_organisation }}

        {{ govukButton({
          "text": "Submit",
          "attributes": {
            "data-analytics": "trackEvent",
            "data-analytics-category": "tell-us-about-your-contract",
            "data-analytics-action": "Submit",
            "data-analytics-label": "awarded",
          },
        }) }}

      </form>

      <p><a href="{{ url_for('direct_award.which_service_won_contract', framework_family=framework.family, project_id=project.id) }}">Previous page</a></p>

    </div>
  </div>
</div>
{% endblock %}
