{% extends "_base_page.html" %}

{% set page_title = project.name|default("Find cloud hosting, software and support") %}

{% block pageTitle %}
  {{ page_title }} - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('main.index'),
          "label": "Digital Marketplace"
      }
    ] + ([
      {
          "link": url_for('external.buyer_dashboard'),
          "label": "Your account"
      },
      {
          "link": url_for('direct_award.saved_search_overview', framework_family=framework.family),
          "label": "Your saved searches"
      }
    ] if project else [
      {
          "label": page_title
      }
    ])
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% include "direct-award/_saved-search-locked-project-temp-message.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with
        heading = page_title
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
    </div>
  </div>
  {% if not project %}
    <p class="lede">
      Before you start you should
      <a href="https://www.gov.uk/guidance/g-cloud-buyers-guide#requirements"
         target="_blank" rel="external noopener noreferrer"
         data-analytics="trackEvent"
         data-analytics-category="Direct Award"
         data-analytics-action="External Link">
        write a list of requirements
      </a>
      and
      <a href="https://www.gov.uk/service-manual/agile-delivery/spend-controls-check-if-you-need-approval-to-spend-money-on-a-service"
         target="_blank" rel="external noopener noreferrer"
         data-analytics="trackEvent"
         data-analytics-category="Direct Award"
         data-analytics-action="External Link">
        check if you need approval
      </a>
      to spend money on a service.
    </p>
  {% endif %}
  <div class="grid-row direct-award-project-overview-page">
    <div class="column-two-thirds">
      {% if project %}<form action="{{url_for('direct_award.update_project', framework_family=framework.family, project_id=project.id)}}" method="post">{% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% block before_sections %}{% endblock %}
        {% with items = [
          {
            "body": "Save a search",
            "custom_body_list": [
              {"type": "text", "text": "Save your search so you can export your results later. You must <a href=\"https://www.gov.uk/guidance/g-cloud-buyers-guide#fairness\" target=\"_blank\" rel=\"external noopener noreferrer\"
                data-analytics=\"trackEvent\"
                data-analytics-category=\"Direct Award\"
                data-analytics-action=\"External Link\"
                >buy fairly</a> and assess all the services that you find. Do not combine the results of more than one search."|safe}
            ] + ([
              {"type": "action", "label": "Start a new search", "href": url_for('direct_award_public.choose_lot', framework_family=framework.family), "analytics": "trackEvent", "analytics_category": "Direct Award", "analytics_action": "Internal Link"},
              {"type": "text", "text": ''.join(["<a href=\"", url_for('direct_award.saved_search_overview', framework_family=framework.family)|e, "\">See a list of your saved searches</a>"])|safe}
            ] if not search_summary_sentence else [
              {"type": "text", "class": ["search-summary", "application-notice", "info-notice"], "text": search_summary_sentence},
              {"type": "text", "text": ''.join(["<a href=\"", buyer_search_page_url|e, "\">Edit your search and view results</a>"])|safe} if not search.searchedAt else {},
              {"type": "box", "style": "complete", "label": "Completed"} if search.searchedAt or can_end_search else {}
            ])
          },
          {
            "body": "Export your results",
            "custom_body_list": [
              {"type": "text", "text": '
Export a list of the services you’ve found. Download suppliers’ service descriptions and contact details to help you
assess services. Keep a copy for your records.'},
              {"type": "text", "text": '<p class="browse-list-item-status-angry"><strong>You have too many services to
assess. Refine your search until you have no more than 30 results.</strong></p>'} if project and not can_end_search else {},
              {"type": "box", "style": "inactive", "label": "Can’t start yet"} if project and not (search.searchedAt
              or can_end_search)
                else
              {"type": "action", "label": "Export your results",
               "href": url_for('direct_award.end_search', framework_family=framework.family, project_id=project.id),
               "analytics": "trackEvent", "analytics_category": "Direct Award",
               "analytics_action": "Internal Link"} if project and not search.searchedAt and can_end_search
                else
              {"type": "text", "text": ''.join(['
<a href="', url_for('direct_award.search_results', framework_family=framework.family, project_id=project.id)|e, '"
   data-analytics="trackEvent"
   data-analytics-category="Direct Award"
   data-analytics-action="Internal Link"
>Download your results</a>'])|safe} if project and search.searchedAt else {},
              {"type": "box", "style": "complete", "label": "Completed"} if project and search.searchedAt else {}
            ]
          },
          {
            "body": "Start assessing services",
            "custom_body_list": [
              {"type": "text", "text": '
Follow the <a href="https://www.gov.uk/guidance/g-cloud-buyers-guide#review-and-compare-services"
              target="_blank" rel="external noopener noreferrer"
              data-analytics="trackEvent"
              data-analytics-category="Direct Award"
              data-analytics-action="External Link">guidance for assessing services</a>. Choose the one that best meets
your budget and requirements.Do not hold a competition to decide the winner. You can
<a href="https://www.gov.uk/guidance/g-cloud-buyers-guide#what-to-do-if-you-have-a-question-for-the-suppliers
   data-analytics="trackEvent"
   data-analytics-category="Direct Award"
   data-analytics-action="External Link">contact suppliers to ask clarification questions</a>, but you must not
negotiate with them.'|safe},
              {"type": "box", "style": "inactive", "label": "Can’t start yet"} if project and not search.searchedAt
                else
              {"type": "text", "text": govukButton({
                  "text": "Confirm you have read and understood how to assess services",
                  "name": "readyToAssess",
                  "classes": "instruction-list-item-action",
                  "value": "true",
                  "attributes": {
                    "id": "ready-to-assess-button",
                    "data-analytics": "trackEvent",
                    "data-analytics-category": "Direct Award",
                    "data-analytics-action": "Internal Link",
                  },
                }),
              } if project and not project.readyToAssessAt and not project.outcome else {},
              {"type": "box", "style": "complete", "label": "Completed"} if project and project.readyToAssessAt else {}
            ]
          },
          {
            "body": "Award a contract",
            "custom_body_list": [
              {"type": "text", "text":
                "Follow the guidance for <a href=\"https://www.gov.uk/guidance/g-cloud-buyers-guide#contract\"
                                            target=\"_blank\"
                                            rel=\"external noopener noreferrer\"
                                            data-analytics=\"trackEvent\"
                                            data-analytics-category=\"Direct Award\"
                                            data-analytics-action=\"External Link\"
                                           >awarding a contract</a>.
                 Check if you need to <a href=\"https://www.gov.uk/guidance/g-cloud-buyers-guide#contracts-finder\"
                                         target=\"_blank\"
                                         rel=\"external noopener noreferrer\"
                                         data-analytics=\"trackEvent\"
                                         data-analytics-category=\"Direct Award\"
                                         data-analytics-action=\"External Link\"
                                        >publish the details on Contracts Finder</a>.
                 Whether or not you award a contract, tell us the outcome. This information helps us improve the Digital Marketplace."|safe},
            ] + ([
              {"type": "box", "style": "complete", "label": project_outcome_label } if project.outcome
              else {"type": "box", "style": "inactive", "label": "Can’t start yet"} if not project.readyToAssessAt
              else {"type": "action", "label": "Tell us the outcome", "href": url_for('direct_award.did_you_award_contract', framework_family=framework.family, project_id=project.id), "analytics": "trackEvent", "analytics_category": "Direct Award", "analytics_action": "Internal Link"}
            ] if project else [])
          },
          {
            "body": "Complete the Customer Benefits Record form",
            "custom_body_list": [
              {"type": "text", "text":
                ''.join(["You must fill in the <a href=\"", framework_urls.customer_benefits_record_form_url|e, "\"
                                                 target=\"_blank\" rel=\"external noopener noreferrer\"
                                                 data-analytics=\"trackEvent\"
                                                 data-analytics-category=\"Direct Award\"
                                                 data-analytics-action=\"External Link\"
                                                >Customer Benefits Record form</a>
                and email it to the Crown Commercial Service at <a href=\"mailto:", framework_urls.customer_benefits_record_form_email|e, "\"
                                                                   target=\"_top\"
                                                                   data-analytics=\"trackEvent\"
                                                                   data-analytics-category=\"Direct Award\"
                                                                   data-analytics-action=\"External Link\"
                                                                  >", framework_urls.customer_benefits_record_form_email|replace("-", "&#8209;"|safe), "</a>.",
                                                                  "<!-- use non-breaking dash TODO: do this in a better way -->",
                 " They will contact you if they find any issues with the supplier."]
                )
              }
            ] + ([
              {"type": "box", "style": "inactive", "label": "Can’t start yet"} if not project.outcome else {}
            ] if project else [])
          }

        ],
         verbose = True
        %}
          {% include "toolkit/instruction-list.html" %}
        {% endwith %}
      {% if project %}</form>{% endif %}
    </div>
    {% include "direct-award/_saved-search-not-locked-project-temp-message.html" %}
  </div>
  {% if not delete_requested %}
     <div class="grid-row">
       <div class="column-two-thirds">
         {% if framework.status == 'live' and project.status == 'draft' %}
         <a href="http://localhost">Delete</a>
         {% endif %}
       </div>
     </div>
   {% endif %}
{% endblock %}
