{% extends "toolkit/layouts/_base_page.html" %}

{% block page_title %}{{ project.name }} - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('main.index'),
          "label": "Digital Marketplace"
      },
      {
          "link": url_for('external.buyer_dashboard'),
          "label": "Your account"
      },
      {
          "link": url_for('direct_award.saved_search_overview', framework_family=framework.framework),
          "label": "Your saved searches"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% with
        heading = project.name
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="grid-row direct-award-project-overview-page">
    <div class="column-two-thirds">
      {% block before_sections %}{% endblock %}
        {% with items = [
          {
            "body": "Save a search",
            "custom_body_list": [
              {"type": "text", "text": "Save your search so you can export your results later. You must <a href=\"https://www.gov.uk/guidance/how-to-buy-digital-marketplace-services-fairly\" target=\"_blank\" rel=\"external noopener noreferrer\"
                data-analytics=\"trackEvent\"
                data-analytics-category=\"Direct Award\"
                data-analytics-action=\"External Link\"
                >buy fairly</a> and assess all the services that you find. Do not combine the results of more than one search."|safe}
            ] + ([
              {"type": "action", "label": "Start a new search", "href": url_for('main.search_services'), "analytics": "trackEvent", "analytics_category": "Direct Award", "analytics_action": "Internal Link"}
            ] if not search_summary_sentence else [
              {"type": "text", "class": ["search-summary"], "text": search_summary_sentence},
              {"type": "text", "text": ''.join(["<a href=\"", buyer_search_page_url|e, "\">Edit your search and view results</a>"])|safe} if not search.searchedAt else {}
            ])
          },
          {
            "body": "Export your results",
            "custom_body_list": [
              {"type": "text", "text": "Export your results to keep a record of the services you've found."},
              {"type": "text", "text": "You cannot edit your search once it has ended."},
              {"type": "box", "style": "inactive", "label": "Can't start yet"} if not search.createdAt else {"type": "action", "label": "Export your results", "href": url_for('direct_award.end_search', framework_family=framework.framework, project_id=project.id), "analytics": "trackEvent", "analytics_category": "Direct Award", "analytics_action": "Internal Link"} if not search.searchedAt else {"type": "box", "style": "complete", "label": ''.join(["Search ended on ", search.searchedAt|datetimeformat()])}
            ]
          },
          {
            "body": "Download your search results",
            "custom_body_list": [
              {"type": "text", "text": ''.join(["Download a spreadsheet of your search results.<br>You can use the spreadsheet to help you review or <a href=\"", framework_urls.buyers_guide_compare_services_url|e, "\" target=\"_blank\" rel=\"external noopener noreferrer\"
                data-analytics=\"trackEvent\"
                data-analytics-category=\"Direct Award\"
                data-analytics-action=\"External Link\"
                >compare services</a>."])|safe},
              {"type": "box", "style": "inactive", "label": "Can't start yet"} if not search.searchedAt else {"type": "action", "label": "Download search results", "href": url_for('direct_award.search_results', framework_family=framework.framework, project_id=project.id), "analytics": "trackEvent", "analytics_category": "Direct Award", "analytics_action": "Internal Link"} if not project.downloadedAt else {"type": "box", "style": "complete", "label": "Search results downloaded"},
              {"type": "text", "text": ''.join(["<a href=\"", url_for('direct_award.search_results', framework_family=framework.framework, project_id=project.id)|e, "\"
                data-analytics=\"trackEvent\"
                data-analytics-category=\"Direct Award\"
                data-analytics-action=\"Internal Link\"
              >Download your results again.</a>"])|safe} if project.downloadedAt else {}
            ]
          },
          {
            "body": "Award a contract",
            "custom_body_list": [
              {"type": "text", "text":
                "Follow the guidance for <a href=\"https://www.gov.uk/guidance/g-cloud-buyers-guide#contract\"
                                            target=\"_blank\"
                                            rel=\"external noopener noreferrer\"
                                            data-analytics=\"trackEvent\"
                                            data-analytics-category=\"Direct Award\"
                                            data-analytics-action=\"External Link\"
                                           >awarding a contract</a>.
                 Check if you need to <a href=\"https://www.gov.uk/guidance/g-cloud-buyers-guide#contracts-finder\"
                                         target=\"_blank\"
                                         rel=\"external noopener noreferrer\"
                                         data-analytics=\"trackEvent\"
                                         data-analytics-category=\"Direct Award\"
                                         data-analytics-action=\"External Link\"
                                        >publish the details on Contracts Finder</a>.
                 Whether or not you award a contract, tell us the outcome. This information helps us improve the Digital Marketplace."|safe},
              {"type": "box", "style": "inactive", "label": "Can't start yet"} if not project.downloadedAt
              else {"type": "box", "style": "complete", "label": project_outcome_label } if project.outcome
              else {"type": "action", "label": "Tell us the outcome", "href": url_for('direct_award.did_you_award_contract', framework_family=framework.framework, project_id=project.id), "analytics": "trackEvent", "analytics_category": "Direct Award", "analytics_action": "Internal Link"}
            ]
          },
          {
            "body": "Complete the Customer Benefits Record form",
            "custom_body_list": [
              {"type": "text", "text":
                ''.join(["You must fill in the <a href=\"", framework_urls.customer_benefits_record_form_url|e, "\"
                                                 target=\"_blank\" rel=\"external noopener noreferrer\"
                                                 data-analytics=\"trackEvent\"
                                                 data-analytics-category=\"Direct Award\"
                                                 data-analytics-action=\"External Link\"
                                                >Customer Benefits Record form</a>
                and email it to the Crown Commercial Service at <a href=\"mailto:", framework_urls.customer_benefits_record_form_email|e, "\"
                                                                   target=\"_top\"
                                                                   data-analytics=\"trackEvent\"
                                                                   data-analytics-category=\"Direct Award\"
                                                                   data-analytics-action=\"External Link\"
                                                                  >", customer_benefits_record_form_email|replace("-", "&#8209;"|safe), "</a>"]
                )
              },
              {"type": "box", "style": "inactive", "label": "Can't start yet"} if not project.outcome else {}
            ]
          }

        ],
         verbose = True
        %}
          {% include "toolkit/instruction-list.html" %}
        {% endwith %}
    </div>
  </div>
  {% if not delete_requested %}
     <div class="grid-row">
       <div class="column-two-thirds">
         {% if framework.status == 'live' and project.status == 'draft' %}
         <a href="http://localhost">Delete</a>
         {% endif %}
       </div>
     </div>
   {% endif %}
{% endblock %}
