{% extends "_base_page.html" %}

{% block pageTitle %}
  Which service won the contract? - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('external.buyer_dashboard'),
      "text": "Your account"
    },
    {
      "href": url_for('direct_award.saved_search_overview', framework_family=framework.family),
      "text": "Your saved searches"
    },
    {
      "href": url_for('direct_award.view_project', framework_family=framework.family, project_id=project.id),
      "text": project.name
    },
    {
      "text": "Which service won the contract?"
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}
{% include "toolkit/forms/validation.html" %}

<div class="which-service-won-contract-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Which service won the contract?</h1>

        {% if form.which_service_won_the_contract.options %}

        <form method="POST" action="{{ url_for('direct_award.which_service_won_contract', framework_family=framework.family, project_id=project.id) }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          {{ form.which_service_won_the_contract }}

          {{ govukButton({
            "text": "Save and continue",
          }) }}
        </form>

        {% else %}
          <p class="govuk-body">You cannot award this contract as there were no services matching your requirements.</p>
        {% endif %}

        <p class="govuk-body"><a class="govuk-link" href="{{ url_for('direct_award.did_you_award_contract', framework_family=framework.family, project_id=project.id) }}">Previous page</a></p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
