{% extends "_base_page.html" %}

{% block pageTitle %}
  Why didn’t you award a contract? - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('external.buyer_dashboard'),
      "text": "Your account"
    },
    {
      "href": url_for('direct_award.saved_search_overview', framework_family=framework.family),
      "text": "Your saved searches"
    },
    {
      "href": url_for('direct_award.view_project', framework_family=framework.family, project_id=project.id),
      "text": project.name
    },
    {
      "text": "Why didn’t you award a contract?"
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}

<div class="why-didnt-you-award-contract-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Why didn’t you award a contract?</h1>

      <form method="POST" action="{{ url_for('direct_award.why_did_you_not_award_the_contract', framework_family=framework.family, project_id=project.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ form.why_did_you_not_award_the_contract }}

        {{ govukButton({
          "text": "Save and continue",
          "attributes": {
            "data-analytics": "trackEvent",
            "data-analytics-category": "why-didnt-you-award",
            "data-analytics-action": "Save and continue",
            "data-analytics-target-selector": "input[name={}]:checked".format(form.why_did_you_not_award_the_contract.name),
          },
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link" href="{{ url_for('direct_award.did_you_award_contract', framework_family=framework.family, project_id=project.id) }}">Previous page</a></p>
    </div>
  </div>

</div>
{% endblock %}
