-c requirements.txt

pip-tools>5.0.0

coverage
coveralls
cssselect
flake8
mock<4.0.0
pytest
pytest-cov
python-dotenv  # used to load .flaskenv
watchdog

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.8.2#egg=digitalmarketplace-test-utils==2.8.2
