Flask==0.11.1
Flask-Login==0.3.2
inflection==0.2.1
unicodecsv==0.14.1
Werkzeug==0.11.10

git+https://github.com/AusDTO/dto-digitalmarketplace-utils.git@25.18.8#egg=dto-digitalmarketplace-utils==25.18.8
git+https://github.com/AusDTO/dto-digitalmarketplace-content-loader.git@1.5.1#egg=dto-digitalmarketplace-content-loader==1.5.1
git+https://github.com/AusDTO/dto-digitalmarketplace-apiclient.git@6.9.0#egg=dto-digitalmarketplace-apiclient==6.9.0

newrelic==2.68.0.50
cffi==1.5.2
Flask-WeasyPrint==0.5

pendulum==0.6.2
