Flask==0.11.1
Flask-Login==0.3.2
inflection==0.2.1
unicodecsv==0.14.1
Werkzeug==0.11.10

git+https://github.com/AusDTO/dto-digitalmarketplace-utils.git@24.0.0#egg=dto-digitalmarketplace-utils==24.0.0
git+https://github.com/alphagov/digitalmarketplace-content-loader.git@1.1.0#egg=digitalmarketplace-content-loader==1.1.0
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@3.7.0#egg=digitalmarketplace-apiclient==3.7.0

# For Cloud Foundry
# cffi==1.5.2
gunicorn==19.4.5
