appdirs==1.4.3
argh==0.26.2
backoff==1.4.0
blessings==1.6
blinker==1.4
boto==2.46.1
boto3==1.4.4
botocore==1.5.21
browsermob-proxy==0.8.0
cairocffi==0.8.0
CairoSVG==1.0.22
cffi==1.9.1
click==6.7
contextlib2==0.5.4
coverage==4.3.4
cryptography==1.7.2
cssselect==1.0.1
csvx==0.1.1459403998
docutils==0.13.1
git+https://github.com/AusDTO/dto-digitalmarketplace-apiclient.git@64eda8f45e051c9b1681d73adb1ab8b460156ec5#egg=dto_digitalmarketplace_apiclient==whatever
git+https://github.com/AusDTO/dto-digitalmarketplace-content-loader.git@3145d4f0e9d39d411f26643f663cf574afcab1b5#egg=dto_digitalmarketplace_content_loader==whatever
git+https://github.com/AusDTO/dto-digitalmarketplace-utils.git@87fdd369c3bd7e95b65c6fb5abe3c513730befb8#egg=dto_digitalmarketplace_utils==whatever
enum34==1.1.6
et-xmlfile==1.0.1
Flask==0.12
Flask-Cache==0.13.1
Flask-FeatureFlags==0.6
Flask-Login==0.4.0
Flask-Script==2.0.5
Flask-WeasyPrint==0.5
funcsigs==1.0.2
futures==3.0.5
glob2==0.5
html5lib==0.999999999
idna==2.5
inflection==0.3.1
ipaddress==1.0.18
itsdangerous==0.24
jdcal==1.3
Jinja2==2.9.5
jmespath==0.9.1
lxml==3.7.3
Mako==1.0.6
manifestparser==1.1
marionette-driver==2.2.0
marionette-harness==4.0.0
Markdown==2.6.8
MarkupSafe==1.0
mock==2.0.0
monotonic==1.2
mozcrash==1.0
mozdevice==0.48
mozfile==1.2
mozinfo==0.9
mozlog==3.4
moznetwork==0.27
mozprocess==0.25
mozprofile==0.28
mozrunner==6.13
moztest==0.8
mozversion==1.4
newrelic==2.80.1.61
nose==1.3.7
openpyxl==2.4.5
packaging==16.8
parse==1.8.0
parse-type==0.3.4
pathtools==0.1.2
pbr==2.0.0
pendulum==1.1.0
pep8==1.7.0
py==1.4.32
pyasn1==0.2.3
pycparser==2.17
pyparsing==2.2.0
Pyphen==0.9.4
pytest==3.0.6
pytest-bdd==2.18.1
pytest-cov==2.4.0
python-coveralls==2.9.0
python-dateutil==2.6.0
python-json-logger==0.1.6
pytz==2016.10
pytzdata==2017.1
PyYAML==3.12
requests==2.13.0
rollbar==0.13.11
s3transfer==0.1.10
six==1.10.0
tinycss==0.4
tzlocal==1.3
waitress==1.0.2
watchdog==0.8.3
WeasyPrint==0.35
webencodings==0.5
Werkzeug==0.11.15
workdays==1.4
wptserve==1.4.0
WTForms==2.1
XlsxWriter==0.9.6
