-e git+https://github.com/AusDTO/dto-digitalmarketplace-utils.git@master#egg=dto-digitalmarketplace-utils
-e git+https://github.com/AusDTO/dto-digitalmarketplace-content-loader.git@master#egg=dto-digitalmarketplace-content-loader
-e git+https://github.com/AusDTO/dto-digitalmarketplace-apiclient.git@master#egg=dto-digitalmarketplace-apiclient

-e .

pytest
pytest_bdd
pep8
nose
mock
lxml
cssselect
watchdog

coverage
pytest-cov
python-coveralls

marionette-harness
openpyxl
