-r requirements.txt

#Required for testing
pytest==4.2.1
flake8==3.5.0
flake8-per-file-ignores==0.4.0
mock==2.0.0
cssselect==0.9.1
watchdog==0.8.3

coverage==3.7.1
pytest-cov==2.5.1
python-coveralls==2.5.0
hypothesis==3.6.1

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.1.2#egg=digitalmarketplace-test-utils==2.1.2
