<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<title>{{ config['BUYER_INVITE_MANAGER_CONFIRMATION_SUBJECT'] }}</title>
</head>
<body>
	<p>
		Dear {{ form.manager_name.data }},
	</p>

	<p>
		{{ form.name.data }} is requesting your authorisation to create a buyer account on the Digital Marketplace.
	</p>

	<p>
		Your authorisation is needed because a buyer account gives the account holder access to suppliers' commercial in confidence information, including pricing. In future account holders will also be able to request quotes and place orders on behalf of your agency.
	</p>

	<p>
		To authorise use of the Digital Marketplace you must be an employee under the Commonwealth Public Service Act (1999) or equivalent State or Territory legislation. 
	</p>

	<p>
		If you are, and you wish to authorise {{ form.name.data }} to use the Digital Marketplace, please reply to this email with the comment '<strong>approved</strong>'.
	</p>

	<p>
		To find out more about the Digital Marketplace visit <a href="https://www.gov.au/marketplace">gov.au/marketplace</a>. Or, if you have any questions, you can also reply to this email to request additional information.
	</p>

	<p>
		Sincerely,<br>
		<strong>The Digital Marketplace team</strong>
	</p>
</body>
</html>
