<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Welcome to the Digital Marketplace</title>
	<style type="text/css">
		body {margin: 0; padding: 0;}
		a {color: #4f4f4f;}
		h1 {font-family: Helvetica; font-size: 36px; font-weight: bold; text-align: center; color: #17788d;padding: 48px 0 48px 0;}
		h2 {font-size: 24px; font-weight: bold;}
		table {padding: 0; width: 100%; font-family: Helvetica; font-size: 17px; text-align: left; color: #4f4f4f; background-color: #ffffff;}
		li {padding-top: 15px}
		li:first-child {padding-top: 0}
		.button {background-color: #17788d; border: solid 1px #244a61;font-weight: bold; line-height: 1.41; text-align: left; color: #ffffff;padding:9px 20px 9px 20px; text-decoration: none}
	</style>
</head>
<body>
	<table>
		<tr>
			<td>
				<table style="width: 600px; margin: 0 auto;">
					<tr>
						<td>
							<h1>Welcome to the Digital Marketplace</h1>
						</td>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<td>
										Hi {{ name }}
										<p>You’re all set to start using the Digital Marketplace. Here’s some useful information to help you get started.</p>
										<p>
											<a href="https://marketplace.service.gov.au/buyers-guide"><b>Buyers Guide</b></a><br> An overview of what you can do on the Digital Marketplace and how our procurement process works.
										</p>
										<p>
											<a href="https://marketplace.service.gov.au/static/media/documents/digital-marketplace-master-agreement.pdf"><b>Download Master Agreement PDF</b></a><br> This document details the terms under which sellers are contracted through the Digital Marketplace.
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>Publish your first brief</h2>
										<p>Download the draft requirements template to develop a brief with your team before creating and publishing a brief in the Marketplace.</p>
									</td>
								</tr>
								<tr>
									<td style="padding: 13px 0px">
										<a class="button" style="width: 238px; height: 42px;" href="https://marketplace.service.gov.au/static/media/documents/Requirements_Brief_Template.xlsx">
											Download brief template
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<p>Here are some examples of briefs we see on the Digital Marketplace:</p>
										<ul>
											<li>
												<a href="https://marketplace.service.gov.au/digital-marketplace/opportunities/436"><b>User Researchers</b></a><br>Department of Health
											</li>
											<li>
												<a href="https://marketplace.service.gov.au/digital-marketplace/opportunities/381"><b>Gamification of HR processes to increase employee engagement </b></a><br>
												Department of Industry, Innovation & Science
											</li>
											<li>
												<a href="https://marketplace.service.gov.au/digital-marketplace/opportunities/419"><b>Content analysis and new website prototype </b></a><br>
												Bayside Council (NSW)
											</li>
										</ul>
										<p>Need help writing or reviewing your brief? Ask us for help at <a href="mailto:marketplace@digital.gov.au?subject=Writing a brief">marketplace@digital.gov.au</a></p>
									</td>
								</tr>
								<tr>
									<td>
										<h2>We’re here to help</h2>
										<p>Did you know we can come and show you how it all works? Let us know if you would like to book a demo.</p>
									</td>
								</tr>
								<tr>
									<td style="padding: 13px 0px 38px 0px">
										<a class="button" style="width: 147px; height: 42px;" href="mailto:marketplace@digital.gov.au?subject=I would like to arrange a demo of the Marketplace">
											Book a demo
										</a>
									</td>
								</tr>
								<tr>
								<td style="padding-bottom: 38px">
										<p>
											Thanks for being part of the Digital Marketplace. <br><span style="color: #6e6e6e;">The Marketplace team</span>
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="border-radius: 3px; background-color: #def4f9; padding:26px">
							The Digital Marketplace is an agile development. This means it will evolve over time in response to user needs. If you have any questions, feedback or would like to shape the Marketplace by taking part in user research, please <a href="https://marketplace.service.gov.au/contact-us">contact us</a>.
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
