<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<title>{{ config['BUYER_INVITE_MANAGER_CONFIRMATION_SUBJECT'] }}</title>
</head>
<body>
	<p>
		Hi {{ form.manager_name.data }},
	</p>

	<p>
		{{ form.name.data }} has requested your authorisation to create a buyer account on the Digital Marketplace.
	</p>

	<p>
		Your authorisation is needed because a buyer account gives the account holder access to sellers' commercial in confidence information. Account holders can also request quotes and place orders on behalf of your agency.
	</p>

	<p>
		To authorise use of the Digital Marketplace you must be an employee under the Commonwealth Public Service Act (1999) or equivalent state or territory legislation. 
	</p>

	<p>
		If you are, and you wish to authorise {{ form.name.data }} to use the Digital Marketplace, please forward this email to <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a> with the comment '<strong>approved</strong>'.
	</p>

	<p>
		To find out more about the Digital Marketplace, or to create your own buyer account, visit <a href="https://marketplace.service.gov.au/">https://marketplace.service.gov.au/</a>.
	</p>
	<p>
		The Marketplace team
	</p>
	<p><strong>Your feedback shapes the Marketplace</strong><br> 
	The Digital Marketplace is an agile development. This means it evolves over time in response to user needs. If you have any questions, feedback or would like to take part in user research, please email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>
</body>
</html>
