<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Activating your Marketplace account</title>
</head>
<body>
Welcome to the Marketplace.
<br /><br />
To activate your account and set a password, please click the link below:
<br /><br />
{{ url }}
<br /><br />
This link expires in 7 days.
<br /><br />
Please do not reply to this email. If you need any help, email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
<br /><br />
<strong>The Marketplace team</strong>
</body>
</html>
