<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Reset your Marketplace password</title>
</head>
<body>
Hello,
<br /><br />
You recently asked to reset your Marketplace password.
<br /><br />
{% if locked %}
It looks like you failed to log in 5 times so your account has now been locked.
Email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a> to unlock it.
<br /><br />
{% else %}
You can create a new password now using the link below:
<br /><br />
{{ url }}
<br /><br />
This link is only valid for 24 hours.
<br /><br />
{% endif %}
Thanks,
<br /><br />
The Marketplace team
</body>
</html>
