<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Reset your Marketplace password</title>
</head>
<body>
Hello,
<br /><br />
You recently asked to reset your Marketplace password.
<br /><br />
{% if locked %}
It looks like you failed to sign in 5 times so your account has now been locked.
Email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a> to unlock it.
<br /><br />
{% else %}
You can create a new password now using the link below:
<br /><br />
{{ url }}
<br /><br />
This link is only valid for 24 hours.
<br /><br />
{% endif %}
Thanks,
<br /><br />
The Marketplace team
<p><strong>Your feedback shapes the Marketplace</strong><br> 
The Digital Marketplace is an agile development. This means it evolves over time in response to user needs. If you have any questions, feedback or would like to take part in user research, please email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>
</body>
</html>
