{% extends 'emails/base_email.html' %}

{% block email_subject %}{{ config['SELLER_NEW_OPPORTUNITY_EMAIL_SUBJECT'] }}{% endblock %}

{% block email_body %}

  <p>
    Good news! A government buyer has just directly invited you to apply for a new opportunity in the Digital Marketplace.
  </p>
  <p>
    <a href="{{ brief_url }}">Click here to view the opportunity</a>
  </p>

  <p> Please confirm you have received this invitation and whether this opportunity interests you by emailing marketplace@digital.gov.au</p>

  <p> Good luck and remember the closing date for applications is {{ brief['dates']['hypothetical']['closing_date'] }}.</p>

  <p><strong>The Marketplace team</strong></p>
  <p><strong>Your feedback shapes the Marketplace</strong><br> 
  The Digital Marketplace is an agile development. This means it evolves over time in response to user needs. If you have any questions, feedback or would like to take part in user research, please email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>
{% endblock %}
