{% extends "_base_page.html" %}

{% block page_title %}Service no longer available - Digital Marketplace{% endblock %}

{% block main_content %}

<div class="error-page">
    <div class="index-page grid-row">
        <div class="column-two-thirds">
            <header class="page-heading-smaller">
                <h1>Service no longer available</h1>
            </header>
            <p>
                The requested service was on a framework that is no longer live and so it is no longer available through the Digital Marketplace.
            </p>
            <p>
                If you need to see the details of this service for some reason, contact us at <a href="mailto:enquiries@digitalmarketplace.service.gov.uk?subject=Details%20of%20expired%20service" title="Please send feedback to enquiries@digitalmarketplace.service.gov.uk">enquiries@digitalmarketplace.service.gov.uk</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
