// Home page temporary message
.temporary-framework-message {
  @include govuk-responsive-padding(3);
  @include govuk-responsive-margin(4, "bottom");
  margin-bottom: 30px;
  background: govuk-colour("light-blue");
  @include govuk-font(19);
  color: $govuk-text-colour;
}

.temporary-framework-message-heading {
  @include govuk-font(19, $weight: bold);
  @include govuk-responsive-margin(2, "bottom");
}
