// Home page temporary message
.app-temporary-framework-message {
  @include govuk-responsive-padding(3);
  @include govuk-responsive-margin(4, "bottom");
  margin-bottom: 30px;
  background: govuk-tint(govuk-colour("light-blue"), 80%);
  @include govuk-font(19);
  color: $govuk-text-colour;
}
