{% extends "_base_page.html" %}

{% block page_title %}Agency Details – Digital Marketplace{% endblock %}
{% block body_classes %}form-page{% endblock %}

{% block main_content %}

  {% with
    heading = 'Agency Details',
    smaller = true
  %}
    {% include 'toolkit/page-heading.html' %}
  {% endwith %}

  <form method="post" enctype="multipart/form-data" action="#">
    <div class="question" id="contact-officer">
      <p>
        Lorem ipsum dolor sit amet.
      </p>
      <label for="input-contact-officer" class="question-heading-with-hint">
        Contact Officer
      </label>
      <input type="text" name="contact-officer" id="input-contact-officer" aria-describedby="input-contact-officer-question-advice input-contact-officer-answer-advice">
      <span class="hint word-count-counter" id="input-contact-officer-answer-advice">
        <p>100 characters maximum</p>
      </span>
    </div>
    <div class="question" id="email">
      <label for="input-email" class="question-heading-with-hint">
        Email
      </label>
      <input type="text" name="email" id="input-email" aria-describedby="input-email-question-advice">
    </div>
    <div class="question" id="abn">
      <label for="input-abn" class="question-heading-with-hint">
        ABN
      </label>
      <input type="text" name="abn" id="input-abn" aria-describedby="input-abn-question-advice">
    </div>
    <br>
    {% with
      type = "save-and-continue",
      label = "Save and continue",
      role = "button"
    %}
      {% include 'toolkit/button.html' %}
    {% endwith %}
  </form>
{% endblock %}
