{% extends "buyers/_base_edit_question_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% block page_title %}Select seller - Digital Marketplace{% endblock %}

{% block body_classes %}brief-builder{% endblock %}


{% block breadcrumb %}
{%
  with
  items = [
  {
  "link": url_for('main.index'),
  "label": "Home"
},
{
  "label": "Work Order"
}
]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}
    {% include "_form_errors.html" %}

    {% with
      heading = "Award which seller?",
      smaller = true
    %}
      {% include 'toolkit/page-heading.html' %}
    {% endwith %}

    <div class="column-two-thirds">
      <form method="post" action="{{ url_for('.create_new_work_order',framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}">
       {{ form.csrf_token }}
       {{ form.seller(class="form-control") }}

        {% with
          type = "create-work-order",
          label = "Create work order",
          role = "button"
        %}
          {% include 'toolkit/button.html' %}
        {% endwith %}
        
      </form>
    </div>
{% endblock %}
