{% extends "_base_page.html" %}

{% block page_title %}Work Order – Digital Marketplace{% endblock %}

{% block body_classes %}form-page form-section{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for("main.index"),
        "label": "Home"
      },
      {
        "link": url_for("buyers.buyer_dashboard"),
        "label": "Dashboard"
      },
      {
        "label": "Work Order Overview"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

  {% with
    heading = "Work Order " + work_order.get("number", "")
  %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <p>
    This is a contract offer between the Agency and You under the <a href="{{ asset_path }}media/documents/DSPP_Deed_of_Standing_Offer.pdf" target="_blank">Deed of Standing Offer</a>:
  </p>

  <table class="content-table summary-item-body">
    <caption class="visuallyhidden"></caption>
    <thead>
      <tr>
        <th scope="col">
          <span class="visuallyhidden">Requirements attribute name</span>
        </th>
        <th scope="col">
          <span class="visuallyhidden">Requirements attribute</span>
        </th>
        <th scope="col">
          <span class="visuallyhidden">Action</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% include "macros/work_order_link.html" %}
    </tbody>
  </table>

  <section class="signatures-section">
    <p class="intro">
      Signing this Order means a contract is created between You and the Agency as described in the <a href="{{ asset_path }}media/documents/DSPP_Deed_of_Standing_Offer.pdf" target="_blank">Deed of Standing Offer</a>.
    </p>
    <p class="section-title">Agency signatures</p>
    <p>
      Signed for and on behalf of the Agency (Buyer) by:
    </p>
    <p>
      Name and title of the Agency's authorised officer in the presence of
    </p>
    <p>
      Signature of witness
    </p>
    <p>
      Full name of witness
    </p>
    <p>
      Signature of Agency's authorised officer
    </p>
    <p class="section-title">Service Provider signatures</p>
    <p>
      Signed for and on behalf of Service Provider (Seller) by:
    </p>
    <p>
      Name and title of the authorised representative of the Service Provider in the presence of
    </p>
    <p>
      Signature of witness
    </p>
    <p>
      Full name of witness
    </p>
    <p>
      Signature of authorised representative of the Service Provider
    </p>
  </section>

  {% with
    type = "save-work-order",
    label = "Save work order",
    role = "button"
  %}
    {% include 'toolkit/button.html' %}
  {% endwith %}

  <div class="m-t-1">
    <a href="#">Download as PDF</a>
  </div>
{% endblock %}
