{% extends "_base_page.html" %}

{% block page_title %}How to answer seller questions about your Digital Service and Professionals requirements{% endblock %}

{% block body_classes %}secondary-page{% endblock %}

{% block content_summary %}
<div>
  <h1>Answering seller questions</h1>
</div>
{% endblock %}

{% block sidebar %}
<aside class="sidebar" id="nav">
  <div class="block-2">
    <div class="inner-block">
      <nav class="contextual-info" id="page-navigation">
        <h1>Contents</h1>
        <nav class="detailed_guide_parts" role="navigation">
          <ol id="document_sections">
            <li>
              <a href="#supplier-questions-what-theyre-for-and-when-suppliers-can-ask-them">Seller questions: what they’re for and when suppliers can ask them</a>
            </li>
            <li>
              <a href="#how-youll-know-if-a-supplier-has-asked-a-question">How you’ll know if a seller has asked a question</a>
            </li>
            <li>
              <a href="#answering-questions-in-an-open-and-transparent-way">Answering questions in an open and transparent way</a>
            </li>
            <li>
              <a href="#giving-useful-answers">Giving useful answers</a>
            </li>
            <li>
              <a href="#difficult-confusing-or-commercially-sensitive-supplier-questions">Difficult, confusing or commercially sensitive seller questions</a>
            </li>
            <li>
              <a href="#holding-a-session-to-answer-supplier-questions">Holding a session to answer seller questions</a>
            </li>
            <li>
              <a href="#types-of-question-and-answer-session">Types of question and answer session</a>
            </li>
            <li>
              <a href="#how-a-question-and-answer-session-works">How a question and answer session works</a>
            </li>
            <li>
              <a href="#after-a-question-and-answer-session">After a question and answer session</a>
            </li>
            <li>
              <a href="#software-for-a-webinar">Software for a webinar</a>
            </li>
          </ol>
        </nav>
      </nav>
    </div>
  </div>
</aside>
{% endblock %}

{% block main_content %}
<div class="block-3">
  <div class="inner-block">
    <article class="document">
      <div class="body">
        <div class="govspeak">
        <h2 id="supplier-questions-what-theyre-for-and-when-suppliers-can-ask-them">Seller questions: what they're for and when they can be asked</h2>

          <p>When you post your brief on the Digital Marketplace, if a seller needs to clarify something they can ask you a question through the Digital Marketplace. You must respond so the seller can decide whether a piece of work is right for them and whether to offer their services.</p>

          <p>When you publish your brief, sellers will be given a final date for asking questions. This should give you enough time to answer them before applications close.</p>

          <h2 id="how-youll-know-if-a-supplier-has-asked-a-question">How you'll know if a seller has asked a question</h2>

          <p>
            When a seller asks a question, you'll be sent an email to the address you gave when you created your Digital Marketplace account. Ensure this email address will be monitored. If you're away during the time when sellers can ask questions, you should make sure your emails are forwarded to a colleague.
          </p>

          <h2 id="answering-questions-in-an-open-and-transparent-way">Answering questions in an open and transparent way</h2>

          <p>You must make sure that sellers have access to the same information about the work. This means all sellers will have an equal opportunity to win the contract. All questions and answers will be published on the Digital Marketplace so anyone can see them.</p>

          <p>You must:</p>

          <ul>
            <li>post all questions and answers on the Digital Marketplace</li>
            <li>remove any reference to the seller's name or any confidential information about the seller
            </li>
            <li>give an individual response to each question even when questions are similar</li>
            <li>answer all questions at least one working day before the deadline to give sellers time to decide if the work is right for them
            </li>
            <li>get commercial or legal advice if you don't think you'll be able to answer, or haven't answered, all the questions at least one working day before the deadline.
            </li>
          </ul>

          <p>You should answer questions:</p>

          <ul>
            <li>within 2 to 3 working days</li>
            <li>more frequently when the deadline is approaching.</li>
          </ul>

          <h2 id="giving-useful-answers">Giving useful answers</h2>

          <p>You should make sure you answer every part of a seller question as they often include several queries. Providing links to supporting information can be helpful.</p>

          <h2 id="difficult-confusing-or-commercially-sensitive-supplier-questions">Difficult, confusing or commercially sensitive seller questions</h2>

          <p>If you receive a question that you don't understand, you can ask the seller to explain what they mean in your answer. All sellers will see your response, and the seller can then rephrase their question and ask it again.</p>

          <p>You must not reveal commercially sensitive information when you answer a seller question, for example the seller's price for the work or how they plan to solve your problem.</p>

          <h2 id="holding-a-session-to-answer-supplier-questions">Holding a session to answer seller questions</h2>

          <p>You can hold a question and answer session to answer a lot of seller questions at the same time. This should mean that sellers don't ask duplicate questions.</p>

          <p>If you give sellers 1 week to apply to a specialists requirement, your question and answer session must be in the first 2 working days after you publish. This will give sellers time to review the additional information provided before applying.</p>

          <p>If sellers have 2 weeks to apply, it’s best to hold a session 3 or 4 days after you publish your requirements so sellers have a chance to think of questions to ask.</p>

          <h2 id="types-of-question-and-answer-session">Types of question and answer session</h2>

          <p>You can hold a:</p>

          <ul>
            <li>webinar</li>
            <li>conference call</li>
            <li>meeting</li>
          </ul>

          <h2 id="how-a-question-and-answer-session-works">How a question and answer session works</h2>

          <p>Sellers who attend a question and answer session can ask questions through a chat feature in the webinar software or over the phone during a conference call. You should appoint someone to run the session. They should:</p>

          <ul>
            <li>make each question visible to everyone in the session</li>
            <li>not disclose the name of the seller</li>
          </ul>

          <p>You should make sure the right people are available to answer questions, for example a technical person should be present to answer technical questions. If you need to ask for information from a team member who isn't present, you should tell the seller you'll publish an answer on the Digital Marketplace later.</p>

          <h2 id="after-a-question-and-answer-session">After a question and answer session</h2>

          <p>You must post all questions and answers from each session on the Digital Marketplace so sellers who didn't attend aren't at a disadvantage.</p>

          <h2 id="software-for-a-webinar">Software for a webinar</h2>

          <p>Your software should include these features:</p>

          <ul>
            <li>dial-in: so the buyer and sellers can join the webinar</li>
            <li>chat: so sellers can ask questions</li>
            <li>recording: so questions and answers can be transcribed and shared with other sellers through the Digital Marketplace
            </li>
            <li>screen-sharing: so the buyer can share a presentation</li>
          </ul>

          <p>
            Read more about <a href="{{ url_for('main.buyers_guide') }}">buying services in the Digital Marketplace</a>.
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
