{% extends "_base_page.html" %}

{% block page_title %}How to award a contract when you buy services{% endblock %}

{% block body_classes %}secondary-page{% endblock %}

{% block content_summary %}
    <div>
        <h1>How to award a contract when you buy services</h1>

        <p>How to award a contract when you buy services through the Digital Marketplace.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar" id="nav">
        <div class="block-2">
            <div class="inner-block">
                <nav class="contextual-info" id="page-navigation">
                    <h1>Contents</h1>
                    <nav class="detailed_guide_parts" role="navigation">
                        <ol id="document_sections">
                            <li>
                                <a href="#before-you-enter-into-a-contract">Before you enter into a contract</a>
                            </li>
                            <li>
                                <a href="#whats-an-order-form-and-when-to-use-it">What’s an order form and when to use
                                    it</a>
                            </li>
                            <li>
                                <a href="#filling-in-an-order-form">Filling in an order form</a>
                            </li>
                            <li>
                                <a href="#the-g-cloud-framework-contract">The G-Cloud framework contract</a>
                            </li>
                            <li>
                                <a href="#the-digital-outcomes-and-specialists-framework-contract">The Digital Outcomes
                                    and Specialists framework contract</a>
                            </li>
                        </ol>
                    </nav>
                </nav>


            </div>
        </div>
    </aside>
{% endblock %}

{% block main_content %}
    <div class="block-3">
        <div class="inner-block">
            <article class="document">
                <div class="body">
                    <div class="govspeak">
                        <p>You can only enter into a contract (or ‘call-off’) with a supplier who’s been accepted onto
                            either the G-Cloud or Digital Service and Professionals framework (an agreement between
                            government and suppliers) on the <a rel="external"
                                                                href="https://www.digitalmarketplace.service.gov.uk">Digital
                                Marketplace</a>.</p>

                        <h2 id="before-you-enter-into-a-contract">Before you enter into a contract</h2>

                        <p>If you have concerns about the supplier’s financial position, you can choose to do financial
                            checks on the supplier before you award the contract, eg run an Experian credit check.
                            Discuss the results with the supplier if you have any concerns.</p>

                        <h2 id="whats-an-order-form-and-when-to-use-it">What’s an order form and when to use it</h2>

                        <p>The order form is part of the contract. This is the part that you and the supplier fill in
                            when you’ve agreed certain details. It includes:</p>

                        <ul>
                            <li>whether the supplier will provide a cloud or digital specialist service (depending on
                                the framework)
                            </li>
                            <li>the terms under which the supplier will provide a service</li>
                        </ul>

                        <p>This can help you highlight things like invoicing arrangements or additional terms and
                            conditions to potential suppliers.</p>

                        <h2 id="filling-in-an-order-form">Filling in an order form</h2>

                        <p>You have to generate a purchase order (PO) number from your internal payment or ordering
                            system. Once you have this, you and the supplier should complete the order form.</p>

                        <p>Order forms vary between frameworks. They can ask for details of:</p>

                        <ul>
                            <li>the buyer and the supplier contact details</li>
                            <li>the agreed service start and expiry date (maximum 24 months)</li>
                            <li>the service description</li>
                            <li>the quantity of the service required</li>
                            <li>the total contract value (including a breakdown of smaller costs) and how to pay</li>
                            <li>service deliverables, eg what needs to be done, and by when</li>
                            <li>things that must be completed before the service can go live</li>
                            <li>the supplier’s liability and insurance</li>
                            <li>the terms and conditions under which the supplier will provide their service</li>
                            <li>notice period for ending a contract</li>
                            <li>commercially sensitive information</li>
                            <li>third parties</li>
                            <li>staff vetting procedures</li>
                            <li>where the services will be delivered</li>
                        </ul>

                        <p>Both you and the supplier need to sign the contract before the supplier can start work.</p>

                        <p>When you’ve both signed the contract, you must publish the contract details on <a
                                rel="external" href="https://www.contractsfinder.service.gov.uk">Contracts Finder</a>.
                            You’ll need to <a rel="external" href="https://sid4gov.cabinetoffice.gov.uk/buyer/register">register</a>
                            first.</p>

                        <h2 id="the-g-cloud-framework-contract">The G-Cloud framework contract</h2>

                        <h3 id="whats-included">What’s included</h3>

                        <p>The G-Cloud contract includes the order form and terms and conditions.</p>

                        <h3 id="when-to-start-work-after-signing-a-contract">When to start work after signing a
                            contract</h3>

                        <p>Suppliers should start the agreed work within 3 months of you and the supplier signing the
                            contract. This is because:</p>

                        <ul>
                            <li>other suppliers might lower their prices or new services may become available</li>
                            <li>your requirements might change</li>
                            <li>services might be removed from the Digital Marketplace</li>
                        </ul>

                        <h3 id="changing-requirements">Changing requirements</h3>

                        <p>If your requirements change, you can:</p>

                        <ul>
                            <li>change the quantity of what you’re buying through G-Cloud 7 by up to 20% without
                                re-evaluating potential suppliers
                            </li>
                            <li>cancel a contract and start the buying process again to ensure you find the service that
                                best meets your requirements, at the best price
                            </li>
                        </ul>

                        <h2 id="the-digital-outcomes-and-specialists-framework-contract">The Digital Outcomes and
                            Specialists framework contract</h2>

                        <h3 id="whats-included-1">What’s included</h3>

                        <p>The <a
                                href="https://www.gov.uk/government/publications/digital-outcomes-and-specialists-call-off-contract">Digital
                            Outcomes and Specialists contract</a> includes the order form, terms and conditions and 8
                            parts called ‘schedules’ which are:</p>

                        <ul>
                            <li>your requirements</li>
                            <li>the supplier’s response to your requirements</li>
                            <li>statement of work</li>
                            <li>contract change note (<abbr title="contract change note">CCN</abbr>) template</li>
                            <li>balanced scorecard</li>
                            <li>your optional terms and conditions</li>
                            <li>bidding process</li>
                            <li>a guarantee</li>
                        </ul>

                        <p>If you’re using a fixed price contract, you’ll need to know how much any extra work will
                            cost. You should ask for day rates for each role in case the supplier has to do any
                            unplanned work outside the contract. These rates should be included in the contract.</p>

                        <h3 id="when-to-start-work-after-signing-a-contract-1">When to start work after signing a
                            contract</h3>

                        <p>For Digital Service and Professionals, the contract expires a month after the buyer and
                            supplier sign the contract if:</p>

                        <ul>
                            <li>the supplier hasn’t started the work</li>
                            <li>a statement of work hasn’t been signed</li>
                        </ul>

                        <h3 id="changing-requirements-1">Changing requirements</h3>

                        <p>If your requirements stay the same but the way you need to deliver them changes, you can
                            increase the total value of what you’re buying through Digital Service and Professionals by
                            up to 20%. For any changes above 20%, you must fill in a <abbr title="contract change note">CCN</abbr>.
                        </p>

                        <p>If your requirements change, you must cancel the contract and start the buying process again.
                            This is so you can find a service that meets your requirements at the best price.</p>

                        <p>A supplier can’t charge you more than the maximum price they’ve agreed. If you want the
                            supplier to continue to deliver services but you’ve already paid the maximum amount agreed,
                            the contract will be invalid unless you fill in a new <abbr
                                    title="contract change note">CCN</abbr>.</p>

                        <h3 id="paying-for-services">Paying for services</h3>

                        <p>Payment for services is determined by ‘statements of work’, which outline:</p>

                        <ul>
                            <li>what you’ll get</li>
                            <li>the main people involved</li>
                            <li>a breakdown of costs</li>
                            <li>contract expiry dates</li>
                        </ul>

                        <h3 id="optional-deed-of-guarantee">Optional deed of guarantee</h3>

                        <p>The contract includes a template for a deed of guarantee. You can use this form if you:</p>

                        <ul>
                            <li>have concerns about the financial standing of a supplier</li>
                            <li>want reassurance that another organisation can fulfil the supplier’s obligations if the
                                original supplier can’t
                            </li>
                        </ul>

                        <p>Read more about:</p>

                        <ul>
                            <li>
                                <a href="https://www.gov.uk/guidance/how-to-manage-your-digital-outcomes-and-specialists-contract">how
                                    to manage a contract</a> once it’s in place.
                            </li>
                            <li>
                                <a href="https://www.gov.uk/guidance/how-to-pay-for-digital-outcomes-and-specialists-services">how
                                    to pay for Digital Service and Professionals services</a></li>
                        </ul>

                    </div>
                </div>
            </article>

        </div>
    </div>
{% endblock %}
