{% extends "_base_page.html" %}

{% block page_title %}How to evaluate Digital Service Professionals suppliers{% endblock %}

{% block body_classes %}secondary-page{% endblock %}

{% block main_content %}

  <h1>How to evaluate Digital Service Professionals</h1>

  <p>How to evaluate applications your briefs for outcomes and specialists.</p>
  <nav class="index-links">
    <h2>On this page</h2>
    <ul>
      <li>
        <a href="#what-happens-at-the-evaluation-stage">What happens at the evaluation stage</a>
      </li>
      <li>
        <a href="#make-the-evaluation-process-fair">Make the evaluation process fair</a>
      </li>
      <li>
        <a href="#what-you-can-evaluate-on">What you can evaluate on</a>
      </li>
      <li>
        <a href="#the-evaluation-process">The evaluation process</a>
      </li>
      <li>
        <a href="#what-to-keep-a-record-of">What to keep a record of</a>
      </li>
      <li>
        <a href="#where-to-get-help">Where to get help</a>
      </li>
    </ul>
  </nav>

  <a id="what-happens-at-the-evaluation-stage"></a><h2>What happens at the evaluation stage</h2>
  <p>
    After your brief closes, evaluate shortlisted sellers to find the one that best meets your requirements.
  </p>
  <p>
    You need to use the methods and criteria you published with your brief to:
  </p>
  <ul>
    <li>assess sellers, for example in an interview or with a written proposal</li>
    <li>score sellers</li>
  </ul>
  <p>You can then award a contract to the seller with the highest score.</p>

  <a id="make-the-evaluation-process-fair"></a><h2>Make the evaluation process fair</h2>
  <p>The evaluation process needs to be fair, open and transparent. You should:</p>
  <ul>
    <li>
      ask sellers to provide information in the same format, whichever method you choose — for example, give sellers a template to fill in so it’s easier for you to assess them
    </li>
    <li>
      not look at any seller’s written responses until after the deadline
    </li>
    <li>
      consider the logistics for each method — for example where the interview will happen or what equipment might be needed
    </li>
    <li>keep a record of how you’ve scored each seller</li>
    <li>score all sellers against the same criteria using a scoring template</li>
    <li>use the same evaluation team for each assessment method</li>
    <li>give feedback to each seller after you’ve made a decision</li>
  </ul>

  <a id="what-you-can-evaluate-on"></a><h2>What you can evaluate on</h2>
  <p>You need to evaluate:</p>
  <p>You must evaluate outcomes and specialists applicants on:</p>
  <ul>
    <li>technical competence — how well the seller’s skills or proposal meet your needs</li>
    <li>cultural fit — how the seller will work in your organisation</li>
    <li>price of the proposal</li>
  </ul>

  <a id="the-evaluation-process"></a><h2>The evaluation process</h2>
  <ol>
    <li>Plan the methods and people you’ll use to assess seller.</li>
    <li>
      Invite shortlisted seller to be assessed, for example in an interview or by providing a written proposal.
    </li>
    <li>
      Assess sellers using the assessment methods you published with your requirements, taking notes as you go.
    </li>
    <li>
      Score sellers using a <a href="{{ asset_path }}media/documents/Scoring_Template.xlsx" target="_blank">scoring template</a> and the evidence from your notes.
    </li>
    <li>Meet with the other people who are evaluating sellers to agree an overall score for each seller.</li>
    <li>Award a contract to the seller with the highest score and give feedback to unsuccessful sellers.</li>
  </ol>

  <a id="plan-the-evaluation-stage"></a><h3>1. Plan the evaluation stage</h3>
  <a id="who-should-be-on-your-evaluation-team"></a><h4>Who should be on your evaluation team</h4>
  <p>
    You need an evaluation team with the right skills and expertise to find the seller who best meets your needs.
  </p>
  <p>
    Your evaluation team should be made up of people who understand what you’re buying. This may include people with digital expertise in your organisation or another public sector organisation. You could also ask digital experts outside the public sector to help you evaluate.
  </p>
  <p>
    Consider who needs to be involved in each assessment. You may use different people to assess seller work histories than to assess a proposal.
  </p>
  <p>You must ensure no one on your evaluation team has a conflict of interest.</p>
  <p>Your evaluation team should have a minimum of:</p>
  <ul>
    <li>3 people for digital outcomes</li>
    <li>2 people for digital specialists</li>
  </ul>

  <a id="what-your-evaluation-team-needs-to-do"></a><h4>What your evaluation team needs to do</h4>
  <p>The people on your evaluation team will need to:</p>
  <ul>
    <li>
      plan the order of the assessment methods and if you’ll do any at the same time, for example ask sellers to provide both written case study and a proposal
    </li>
    <li>prepare for assessments</li>
    <li>assess seller responses, for example evaluate case studies or go to interviews</li>
    <li>write up their individual evaluations and give a score to each seller</li>
    <li>agree an overall score for each seller</li>
  </ul>
  <p>Use the same team for each assessment method.</p>

  <a id="how-your-evaluation-team-will-manage-the-process"></a><h4>How your evaluation team will manage the process</h4>
  <p>
    Write a timetable for the evaluation process as early as possible and ensure everyone is available when they're needed.
  </p>
  <p>
    You need to plan how written responses from sellers will be received. Make sure that:
  </p>
  <ul>
    <li>you give sellers an email address to send their written responses to</li>
    <li>no-one in your evaluation team sees any seller responses before the deadline</li>
  </ul>
  <p>
    If a seller wants to change their written response before the deadline, ask them to resend it. You must use the latest version received before the deadline.
  </p>

  <a id="prepare-your-assessment-templates"></a><h4>Prepare your assessment templates</h4>
  <p>
    Add your evaluation criteria and how the seller responded to your essential and nice-to-have skills and experience to the <a href="{{ asset_path }}media/documents/Scoring_Template.xlsx" target="_blank">templates</a> you’re using for each assessment method.
  </p>
  <p>
    If you asked sellers to provide written evidence of their essential and nice-to-have skills and experience to help you shortlist, you can’t use this evidence in the evaluation stage unless the sellers says you can. Get this agreement in writing for your audit trail.
  </p>
  
  <a id="invite-shortlisted-suppliers-to-be-assessed"></a><h3>2. Invite shortlisted suppliers to be assessed</h3>
  <p>
    When you email shortlisted sellers, provide all the information they’ll need to participate in the assessment stage.
  </p>
  <p>You can only give sellers additional information to write a proposal if:</p>
  <ul>
    <li>it expands on your published requirements</li>
    <li>it wouldn’t have affected a seller’s decision to apply for the work</li>
    <li>you send the information to all shortlisted sellers</li>
  </ul>
  <p>If sellers have any questions, you must:</p>
  <ul>
    <li>only answer them if sellers need the information to write their proposals</li>
    <li>send their questions and your answers to all shortlisted sellers</li>
    <li>remove any reference to the supplier’s name or any confidential information about the seller</li>
  </ul>
  <p>You must invite all the shortlisted sellers to all the assessments you run.</p>
  <p>Tell sellers how the assessment process will work, including:</p>
  <ul>
    <li>what the timetable for the assessment process is</li>
    <li>how long each assessment will be</li>
    <li>the location for the assessment</li>
    <li>who will be at the assessment</li>
    <li>who they should bring (if in person) to the assessment</li>
    <li>what equipment will be available for the assessment</li>
    <li>what templates and formats you need them to use</li>
    <li>how you want them to break down their price</li>
    <li>where they should send any written response</li>
  </ul>
  <p>
    If your assessment timetable changes, give sellers new dates as soon as you know them and make sure sellers still have enough time to respond.
  </p>

  <a id="assess-suppliers"></a><h3>3. Assess sellers</h3>
  <p>
    Use as many of the assessment methods you published with your brief as you need to. You don’t have to use them all if you find a seller that meets your needs after the first assessment stage.
  </p>
  <p>You can only open sellers’ written proposals after the response deadline.</p>
  <p>
    In each assessment, sellers will give you evidence of how they meet your evaluation criteria. Your evaluation team should take notes as it goes so you can measure how well the evidence they provide meets your requirements.
  </p>
  <p>You can ask sellers questions to clarify things they’ve said.</p>

  <a id="score-suppliers"></a><h3>4. Score sellers</h3>
  <p>
    You must score shortlisted sellers against your criteria after each assessment. Use the <a href="{{ asset_path }}media/documents/Scoring_Template.xlsx" target="_blank">scoring template</a> and the evidence from your notes. Your evaluation team shouldn’t share scores until all sellers have been scored on every assessment method.
  </p>

  <a id="agree-an-overall-score"></a><h3>5. Agree an overall score</h3>
  <p>
    When your evaluation team has finished scoring all sellers, you need to agree a score for each criteria. You can’t take an average of the evaluation team’s scores.
  </p>
  <p>You must:</p>
  <ul>
    <li>discuss why each evaluator gave each seller the score they did for each criteria</li>
    <li>reach a consensus on each seller’s score for each criteria</li>
  </ul>
  <p>
    Use these agreed scores and the weightings you published with your requirements to calculate each seller’s overall score.
  </p>

  <a id="award-a-contract-and-give-feedback-to-unsuccessful-suppliers"></a><h3>6. Award a contract and give feedback to unsuccessful sellers</h3>
  <p>
    The winning seller is the one with the highest overall score. When you’ve identified the winning seller, you must notify the remaining sellers of your decision at the same time. You can notify sellers by email.
  </p>

  <a id="notify-the-successful-supplier"></a><h4>Notify the successful seller</h4>
  <p>Tell the winning seller you’ll award them a contract.</p>

  <a id="notify-unsuccessful-suppliers"></a><h4>Notify unsuccessful sellers</h4>
  <p>
    Sellers need to know if and why they weren’t successful so they can plan for other work and improve future applications.
  </p>
  <p>You must:</p>
  <ul>
    <li>tell unsuccessful sellers that you won’t be awarding them a contract and why</li>
    <li>only comment on that seller’s scores — don’t share details of other unsuccessful sellers scores</li>
    <li>give positive feedback where appropriate</li>
    <li>give only the final agreed scores, not individual evaluator scores</li>
    <li>give the scores of the winning seller</li>
  </ul>

  <a id="what-happens-if-you-dont-find-the-right-supplier"></a><h4>What happens if you don’t find the right seller</h4>
  <p>
    You don’t have to award a contract if you can’t find a suitable seller. You should tell all remaining seller that:
  </p>
  <ul>
    <li>you haven’t found one that meets your needs</li>
    <li>you’re not going to award a contract</li>
  </ul>
  <p>You may choose to review what you need and publish a new brief.</p>

  <a id="what-to-keep-a-record-of"></a><h2>What to keep a record of</h2>
  <p>You must keep a record of how you’ve made your decisions and any communication you have with sellers.</p>

  <a id="where-to-get-help"></a><h2>Where to get help</h2>
  <p>You can get help assessing technical competence from:</p>
  <ul>
    <li>digital experts in your agency</li>
    <li>government digital communities of practice</li>
    <li>experts outside your organisation</li>
  </ul>

  <p>You can also get help with the evaluation process from your agency's procurement team.</p> 
  <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
