{% extends "_base_page.html" %}

{% block page_title %}How to evaluate Digital Outcomes and Specialists suppliers{% endblock %}

{% block body_classes %}secondary-page{% endblock %}

{% block content_summary %}
    <div>
        <h1>How to evaluate Digital Outcomes and Specialists suppliers</h1>

        <p>How to evaluate digital outcomes, digital specialists and user research participants suppliers.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar" id="nav">
        <div class="block-2">
            <div class="inner-block">
                <nav class="contextual-info" id="page-navigation">
                    <h1>Contents</h1>
                    <nav class="detailed_guide_parts" role="navigation">
                        <ol id="document_sections">
                            <li>
                                <a href="#supplier-questions-what-theyre-for-and-when-suppliers-can-ask-them">Supplier
                                    questions: what they’re for and when suppliers can ask them</a>
                            </li>
                            <li>
                                <a href="#how-youll-know-if-a-supplier-has-asked-a-question">How you’ll know if a
                                    supplier
                                    has asked a question</a>
                            </li>
                            <li>
                                <a href="#answering-questions-in-an-open-and-transparent-way">Answering questions in an
                                    open
                                    and transparent way</a>
                            </li>
                            <li>
                                <a href="#giving-useful-answers">Giving useful answers</a>
                            </li>
                            <li>
                                <a href="#difficult-confusing-or-commercially-sensitive-supplier-questions">Difficult,
                                    confusing or commercially sensitive supplier questions</a>
                            </li>
                            <li>
                                <a href="#holding-a-session-to-answer-supplier-questions">Holding a session to answer
                                    supplier questions</a>
                            </li>
                            <li>
                                <a href="#types-of-question-and-answer-session">Types of question and answer session</a>
                            </li>
                            <li>
                                <a href="#how-a-question-and-answer-session-works">How a question and answer session
                                    works</a>
                            </li>
                            <li>
                                <a href="#after-a-question-and-answer-session">After a question and answer session</a>
                            </li>
                            <li>
                                <a href="#software-for-a-webinar">Software for a webinar</a>
                            </li>
                        </ol>
                    </nav>
                </nav>


            </div>
        </div>
    </aside>
{% endblock %}

{% block main_content %}
    <div class="block-3">
    <div class="inner-block">
      <article class="document">
  <div class="body">
    <div class="govspeak">
<p>This guide is for evaluating digital outcomes, digital specialists and user research participants suppliers. If you’re evaluating user research lab suppliers, you should read the <a href="https://www.gov.uk/guidance/how-to-hire-user-research-labs-on-the-digital-marketplace">how to hire user research labs guide</a>.</p>

<h2 id="what-happens-at-the-evaluation-stage">What happens at the evaluation stage</h2>

<p>You must evaluate shortlisted suppliers to find the one that best meets your requirements.</p>

<p>You need to use the methods and criteria you published with your requirements to:</p>

<ul>
  <li>assess suppliers, eg in an interview or with a written proposal</li>
  <li>score suppliers</li>
</ul>

<p>You can then award a contract to the supplier with the highest score.</p>

<h2 id="make-the-evaluation-process-fair">Make the evaluation process fair</h2>

<p>The evaluation process needs to be fair, open and transparent. You should:</p>

<ul>
  <li>ask suppliers to provide information in the same format, whichever method you choose, eg give suppliers a template to fill in so that it’s easier for you to assess them</li>
  <li>not look at any suppliers’ written responses until after the deadline</li>
  <li>consider the logistics for each method, eg where the interview will happen or what equipment might be needed</li>
  <li>keep a record of how you’ve scored each supplier</li>
  <li>score all suppliers against the same criteria using a scoring template</li>
  <li>use the same evaluation team for each assessment method</li>
  <li>give feedback to each supplier after you’ve made a decision</li>
</ul>

<p>Read about <a href="https://www.gov.uk/guidance/how-to-buy-digital-marketplace-services-fairly">how to buy services fairly</a>.</p>

<h2 id="what-you-can-evaluate-on">What you can evaluate on</h2>

<p>You need to evaluate:</p>

<p>You must evaluate outcomes and specialists suppliers on:</p>

<ul>
  <li>technical competence, eg how well the supplier’s skills or proposal meet your needs</li>
  <li>cultural fit, eg how the supplier will work in your organisation</li>
  <li>price of the proposal</li>
</ul>

<p>You must evaluate user research participants suppliers on:</p>

<ul>
  <li>technical competence, eg how well the supplier’s skills or proposal meet your needs</li>
  <li>availability</li>
  <li>price of the proposal</li>
</ul>

<p>Read about:</p>

<ul>
  <li><a href="https://www.gov.uk/guidance/how-to-set-your-evaluation-criteria-when-buying-digital-outcomes-and-specialists-services">evaluation criteria you can use</a></li>
  <li><a href="https://www.gov.uk/guidance/how-to-score-digital-outcomes-and-specialists-suppliers">how to score against your criteria</a></li>
</ul>

<h2 id="the-evaluation-process">The evaluation process</h2>

<ol>
  <li>Plan the evaluation stage, eg <a href="https://www.gov.uk/guidance/ways-to-assess-digital-outcomes-and-specialists-suppliers">methods</a> you’ll use to assess suppliers and who needs to be involved.</li>
  <li>Invite shortlisted suppliers to be assessed, eg in an interview or by providing a written proposal.</li>
  <li>Assess suppliers using the assessment methods you published with your requirements, taking notes as you go.</li>
  <li>Score suppliers using a <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-templates-and-legal-documents#evaluation-templates">scoring template</a> and the evidence from your notes.</li>
  <li>Meet with the other people who are evaluating suppliers to agree an overall score for each supplier.</li>
  <li>Award a contract to the supplier with the highest score and give feedback to unsuccessful suppliers.</li>
</ol>

<h3 id="plan-the-evaluation-stage">1. Plan the evaluation stage</h3>

<h4 id="who-should-be-on-your-evaluation-team">Who should be on your evaluation team</h4>

<p>You need an evaluation team with the right skills and expertise to find the supplier who best meets your needs.</p>

<p>Your evaluation team should be made up of people who understand what you’re buying. This may include people with digital expertise in your organisation or another public sector organisation. You could also ask digital experts outside the public sector to help you evaluate.</p>

<p>Consider who needs to be involved in each assessment, eg you may use different people to assess supplier work histories than to assess a proposal.</p>

<p>You must ensure that no one on your evaluation team has a conflict of interest, eg doesn’t have shares in a supplier who has been shortlisted.</p>

<p>Your evaluation team should have a minimum of:</p>

<ul>
  <li>3 people for digital outcomes</li>
  <li>2 people for digital specialists and user research participants</li>
</ul>

<h4 id="what-your-evaluation-team-needs-to-do">What your evaluation team needs to do</h4>

<p>The people on your evaluation team will need to:</p>

<ul>
  <li>plan the order of the assessment methods and if you’ll do any at the same time, eg ask suppliers to provide both written case study and a proposal</li>
  <li>prepare for assessments</li>
  <li>assess supplier responses, eg evaluate case studies or go to interviews</li>
  <li>write up their individual evaluations and give a score to each supplier</li>
  <li>agree an overall score for each supplier</li>
</ul>

<p>Use the same team for each assessment method.</p>

<h4 id="how-your-evaluation-team-will-manage-the-process">How your evaluation team will manage the process</h4>

<p>Write a timetable for the evaluation process as early as possible and ensure that everyone in the team is available when they are needed.</p>

<p>You need to plan how written responses from suppliers will be received. Make sure that:</p>

<ul>
  <li>you give suppliers an email address to send their written responses to</li>
  <li>no-one in your evaluation team has access to the email account that written responses are sent to</li>
  <li>no-one in your evaluation team sees any supplier responses before the deadline</li>
  <li>you keep an audit trail of who has access to the email account that written responses are sent to</li>
</ul>

<p>If a supplier wants to change their written response before the deadline, ask them to resend it. You must use the latest version received before the deadline.</p>

<h4 id="prepare-your-assessment-templates">Prepare your assessment templates</h4>

<p>Add your evaluation criteria and how the supplier responded to your essential and nice-to-have skills and experience to the <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-templates-and-legal-documents#evaluation-templates">templates</a> you’re using for each assessment method.</p>

<p>If you asked suppliers to provide written evidence of their essential and nice-to-have skills and experience to help you shortlist, you can’t use this evidence in the evaluation stage unless the supplier says you can. You must get this agreement in writing for your <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-audit-trail-guidance">audit trail</a>.</p>

<h3 id="invite-shortlisted-suppliers-to-be-assessed">2. Invite shortlisted suppliers to be assessed</h3>

<p>When you email shortlisted suppliers, provide all the information they’ll need to participate in the assessment stage.</p>

<p>You can only give suppliers additional information to write a proposal if:</p>

<ul>
  <li>it expands on your published requirements</li>
  <li>it wouldn’t have affected a supplier’s decision to apply for the work</li>
  <li>you send the information to all shortlisted suppliers</li>
</ul>

<p>If suppliers have any questions, you must:</p>

<ul>
  <li>only answer them if suppliers need the information to write their proposals</li>
  <li>send their questions and your answers to all shortlisted suppliers</li>
  <li>remove any reference to the supplier’s name or any confidential information about the supplier</li>
</ul>

<p>You must invite all the shortlisted suppliers to all the assessments you run.</p>

<p>Tell suppliers how the assessment process will work, including:</p>

<ul>
  <li>what the timetable for the assessment process is, eg any deadlines and dates for meetings</li>
  <li>how long each assessment will be, eg how much time is allocated for a presentation</li>
  <li>where each assessment will be, eg the address of your office</li>
  <li>who will be at the assessment, eg interview panel members</li>
  <li>who they should bring (if in person) to the assessment, eg they should bring everyone who will working on the project</li>
  <li>what equipment will be available for the assessment, eg wifi or projector</li>
  <li>what templates and formats you need them to use, eg for a case study or a work profile</li>
  <li>how you want them to break down their price, eg the price should show how many roles they are proposing, for how many days and what the day rates are for each role</li>
  <li>where they should send any written response, eg case study, work history or proposal</li>
</ul>

<p>If your assessment timetable changes, give suppliers new dates as soon as you know them and make sure suppliers still have enough time to respond.</p>

<h3 id="assess-suppliers">3. Assess suppliers</h3>

<p>Use as many of the assessment methods you published with your requirements as you need to. You don’t have to use them all if you find a supplier that meets your needs after the first assessment stage.</p>

<p>You can only open suppliers’ written proposals after the response deadline.</p>

<p>In each assessment, suppliers will give you evidence of how they meet your evaluation criteria. Your evaluation team should take notes as it goes so you can measure how well the evidence they provide meets your requirements.</p>

<p>You can ask suppliers questions to clarify things they’ve said.</p>

<p>Read about the <a href="https://www.gov.uk/guidance/ways-to-assess-digital-outcomes-and-specialists-suppliers">ways to assess suppliers</a>.</p>

<h3 id="score-suppliers">4. Score suppliers</h3>

<p>You must score shortlisted suppliers against your criteria after each assessment. Use the <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-templates-and-legal-documents#evaluation-templates">scoring template</a> and the evidence from your notes. Your evaluation team shouldn’t share scores until all suppliers have been scored on every assessment method.</p>

<p>Read <a href="https://www.gov.uk/guidance/how-to-score-digital-outcomes-and-specialists-suppliers">how to score suppliers</a>.</p>

<h3 id="agree-an-overall-score">5. Agree an overall score</h3>

<p>When your evaluation team has finished scoring all suppliers, you need to agree a score for each criteria. You can’t take an average of the evaluation team’s scores.</p>

<p>You must:</p>

<ul>
  <li>discuss why each evaluator gave each supplier the score they did for each criteria</li>
  <li>reach a consensus on each supplier’s score for each criteria</li>
</ul>

<p>Use these agreed scores and the weightings you published with your requirements to calculate each supplier’s overall score.</p>

<p>Read more about <a href="https://www.gov.uk/guidance/how-to-score-digital-outcomes-and-specialists-suppliers">how to score suppliers</a>.</p>

<h3 id="award-a-contract-and-give-feedback-to-unsuccessful-suppliers">6. Award a contract and give feedback to unsuccessful suppliers</h3>

<p>The winning supplier is the one with the highest overall score. When you’ve identified the winning supplier, you must notify the remaining suppliers of your decision at the same time. You can notify suppliers by email.</p>

<h4 id="notify-the-successful-supplier">Notify the successful supplier</h4>

<p>Tell the winning supplier you’ll award them a contract.</p>

<p>Read about <a href="https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services">how to award a contract</a>.</p>

<h4 id="notify-unsuccessful-suppliers">Notify unsuccessful suppliers</h4>

<p>Suppliers need to know if and why they weren’t successful so they can plan for other work and improve any future applications they make.</p>

<p>You must:</p>

<ul>
  <li>tell unsuccessful suppliers that you won’t be awarding them a contract and why</li>
  <li>only comment on that supplier’s scores, ie don’t share specific details of other unsuccessful supplier’s scores</li>
  <li>give positive feedback where appropriate</li>
  <li>give only the final agreed scores, not individual evaluator scores</li>
  <li>give the scores of the winning supplier</li>
</ul>

<h4 id="what-happens-if-you-dont-find-the-right-supplier">What happens if you don’t find the right supplier</h4>

<p>You don’t have to award a contract if you can’t find a suitable supplier. You should tell all remaining suppliers that:</p>

<ul>
  <li>you haven’t found one that meets your needs</li>
  <li>you’re not going to award a contract</li>
</ul>

<p>You may choose to review what you need and then publish new requirements.</p>

<h2 id="what-to-keep-a-record-of">What to keep a record of</h2>

<p>You must <a href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-audit-trail-guidance">keep a record of how you’ve made your decisions</a> and any communication you have with suppliers.</p>

<h2 id="where-to-get-help">Where to get help</h2>

<p>You can get help assessing technical competence from:</p>

<ul>
  <li>digital experts in your organisation</li>
  <li>government digital communities of practice</li>
  <li>experts outside your organisation</li>
</ul>

<p>You can get help with the evaluation process from:</p>

<ul>
  <li>your commercial team</li>
  <li>the Crown Commercial Service (CCS)</li>
</ul>

<p>Read about:</p>

<ul>
  <li><a href="https://www.gov.uk/guidance/how-to-set-your-evaluation-criteria-when-buying-digital-outcomes-and-specialists-services">how to set your evaluation criteria and weightings</a></li>
  <li><a href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">how to shortlist</a></li>
  <li><a href="https://www.gov.uk/guidance/how-to-score-digital-outcomes-and-specialists-suppliers">how to score</a></li>
  <li><a href="https://www.gov.uk/guidance/ways-to-assess-digital-outcomes-and-specialists-suppliers">assessment methods</a></li>
  <li><a href="https://www.gov.uk/guidance/how-to-buy-digital-marketplace-services-fairly">how to buy fairly</a></li>
  <li><a href="https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services">how to award a contract</a></li>
</ul>
</div>
  </div>
</article>

    </div>
  </div>
{% endblock %}
