{% extends "_base_page.html" %}

{% block page_title %}How to evaluate Digital Service Professionals suppliers{% endblock %}

{% block body_classes %}secondary-page{% endblock %}

{% block main_content %}

  <h1>How to evaluate applications</h1>

  <nav class="index-links">
    <h2>On this page</h2>
    <ul>
      <li>
        <a href="#what-happens-at-the-evaluation-stage">What happens at the evaluation stage</a>
      </li>
      <li>
        <a href="#make-the-evaluation-process-fair-open-transparent">Make the evaluation process fair, open and transparent</a>
      </li>
      <li>
        <a href="#what-you-can-evaluate-on">What you can evaluate on</a>
      </li>
      <li>
        <a href="#the-evaluation-process">The evaluation process</a>
      </li>
      <li>
        <a href="#what-to-keep-a-record-of">What to keep a record of</a>
      </li>
      <li>
        <a href="#where-to-get-help">Where to get help</a>
      </li>
    </ul>
  </nav>

  <a id="what-happens-at-the-evaluation-stage"></a><h2>What happens at the evaluation stage</h2>
  <p>
    After your brief closes find the seller that best meets your needs by:
  </p>
  <ol>
    <li>Evaluating sellers using the criteria you specified in your brief.</li>
    <li>Scoring sellers using the <a href="{{ asset_path }}media/documents/Scoring_Template.xlsx" target="_blank">scoring template</a>.</li>
  </ol>
  <p>You can then award a contract to the applicant who meets your needs and has the highest score.</p>

  <a id="make-the-evaluation-process-fair-open-transparent"></a><h2>Make the evaluation process fair, open and transparent</h2>
  <ul>
    <li>
      Ask sellers to provide information in the same format.
    </li>
    <li>
      Wait until the brief closes to look at seller responses.
    </li>
    <li>
      Score all sellers against the same criteria and the same scoring template.
    </li>
    <li>Record all sellers scores.</li>
    <li>Use the same evaluation team for each assessment method.</li>
    <li>Give feedback to each seller after you’ve made a decision.</li>
  </ul>

  <a id="what-you-can-evaluate-on"></a><h2>What you can evaluate on</h2>
  <ul>
    <li><strong>Technical competence</strong> — how well the seller’s skills or proposal meet your needs</li>
    <li><strong>Cultural fit</strong> — how the seller will work in your organisation</li>
    <li><strong>Price</strong> - whether the proposal or individual represents value for money.</li>
  </ul>

  <a id="the-evaluation-process"></a><h2>The evaluation process</h2>
  <ol>
    <li>Plan the methods and the team of people you’ll use to assess sellers.</li>
    <li>
      Invite shortlisted seller to be assessed. For example, ask for a resume from individual specialist or a proposal for providing an outcome.
    </li>
    <li>
      Evaluate sellers using the methods you published with your brief, taking notes as you go.
    </li>
    <li>
      Score sellers using a <a href="{{ asset_path }}media/documents/Scoring_Template.xlsx" target="_blank">scoring template</a> and evidence from your notes.
    </li>
    <li>Meet with team members who are evaluating sellers to agree an overall score for each seller.</li>
    <li>Award a contract to the seller with the highest score and give feedback to unsuccessful sellers.</li>
  </ol>

  <a id="what-to-keep-a-record-of"></a><h2>What to keep a record of</h2>
  <p>Keep a record of how you’ve made your decisions and all communication with sellers.</p>

  <a id="where-to-get-help"></a><h2>Where to get help</h2>
  <p>You can get help assessing technical competence from:</p>
  <ul>
    <li>digital experts in your agency</li>
    <li>the procurement team in your agency</li>
    <li>government digital communities of practice</li>
    <li>experts outside your organisation</li>
  </ul>

  <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
