{% extends "_base_page.html" %}

{% block page_title %}How Digital Marketplace suppliers have been evaluated{% endblock %}

{% block body_classes %}secondary-page{% endblock %}

{% block content_summary %}
    <div>
        <h1>How Digital Marketplace suppliers have been evaluated</h1>

        <p>How suppliers apply to get on the Digital Marketplace.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar" id="nav">
        <div class="block-2">
            <div class="inner-block">
                <nav class="contextual-info" id="page-navigation">
                    <h1>Contents</h1>
                    <nav class="detailed_guide_parts" role="navigation">
                        <ol id="document_sections">
                            <li>
                                <a href="#the-application-process">The application process</a>
                            </li>
                            <li>
                                <a href="#the-supplier-declaration">The supplier declaration</a>
                            </li>
                            <li>
                                <a href="#service-details">Service details</a>
                            </li>
                            <li>
                                <a href="#ccs-checks">CCS checks</a>
                            </li>
                        </ol>
                    </nav>
                </nav>


            </div>
        </div>
    </aside>
{% endblock %}

{% block main_content %}
    <div class="block-3">
        <div class="inner-block">
            <article class="document">
                <div class="body">
                    <div class="govspeak">
                        <p>The Digital Marketplace team and the Crown Commercial Service (<abbr
                                title="Crown Commercial Service">CCS</abbr>) don’t evaluate suppliers or their
                            individual services.</p>

                        <p>When you buy a service through the Digital Marketplace, you must check that both the supplier
                            and the service can meet your needs. This means that you must write clear requirements and
                            evaluate suppliers against them.</p>

                        <h2 id="the-application-process">The application process</h2>

                        <p>There are 2 parts to the supplier application process on the Digital Marketplace. Suppliers
                            have to:</p>

                        <ol>
                            <li>Confirm information about their company history and the way they work through a series
                                of questions. This is called the ‘supplier declaration’.
                            </li>
                            <li>Add information about the services that they want to offer.</li>
                        </ol>

                        <h2 id="the-supplier-declaration">The supplier declaration</h2>

                        <p>Suppliers are legally required to meet a set of minimum standards. Only those suppliers who
                            state that they meet these minimum standards in the supplier declaration are considered for
                            a place on a framework (agreement between government and suppliers).</p>

                        <p>All G-Cloud and Digital Outcomes and Specialists suppliers on the Digital Marketplace have to
                            confirm that they:</p>

                        <ul>
                            <li>agree to the G-Cloud or <a
                                    href="https://www.gov.uk/government/publications/digital-outcomes-and-specialists-framework-agreement">Digital
                                Outcomes and Specialists framework terms and conditions</a>
                            </li>
                            <li>will take full responsibility for the work they do</li>
                            <li>haven’t broken any laws in the last 5 years</li>
                        </ul>

                        <p>Digital Outcomes and Specialists suppliers also have to confirm that they’ll work according
                            to:</p>

                        <ul>
                            <li><a href="https://www.gov.uk/government/publications/civil-service-code">Civil Service
                                values</a></li>
                            <li>the government’s <a href="https://www.gov.uk/service-manual/digital-by-default">digital-by-default
                                service standard</a>
                            </li>
                            <li>the government <a
                                    href="https://www.gov.uk/service-manual/technology/code-of-practice.html">technology
                                code of practice</a>
                            </li>
                        </ul>

                        <h2 id="service-details">Service details</h2>

                        <p>As well as completing the supplier declaration, all suppliers have to provide information on
                            their services. The details suppliers are asked to give depends on the category they apply
                            to.</p>

                        <h3 id="digital-outcomes-and-specialists-service-details">Digital Outcomes and Specialists
                            service details</h3>

                        <p>Digital Outcomes and Specialists services have to fit into 1 of 4 categories, or ‘lots’:</p>

                        <ul>
                            <li>digital outcomes, eg a team to provide a booking system beta or an accessibility audit
                            </li>
                            <li>digital specialists, eg an individual developer or user researcher to work on a specific
                                project
                            </li>
                            <li>user research studios</li>
                            <li>user research participants</li>
                        </ul>

                        <p>Digital Outcomes and Specialists suppliers must include information like:</p>

                        <ul>
                            <li>where they can work</li>
                            <li>how much their services cost</li>
                            <li>details of their experience</li>
                        </ul>

                        <h3 id="g-cloud-service-details">G-Cloud service details</h3>

                        <p>For G-Cloud, each service has to fit into 1 of 4 different categories:</p>

                        <ul>
                            <li>Software as a Service, eg accounting tools or email software</li>
                            <li>Platform as a Service, eg platforms that provide a basis for building other services and
                                applications
                            </li>
                            <li>Infrastructure as a Service, eg content delivery networks or hosting platforms</li>
                            <li>Specialist cloud services, eg data migrations or IT health checks</li>
                        </ul>

                        <p>G-Cloud suppliers must include information like:</p>

                        <ul>
                            <li>how secure their services are</li>
                            <li>how much their services cost</li>
                            <li>where they store their data</li>
                            <li>whether their services are based on open standards</li>
                        </ul>

                        <p>Read the <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide">G-Cloud suppliers’
                            guide</a> or the <a
                                href="https://www.gov.uk/guidance/digital-outcomes-and-specialists-suppliers-guide">Digital
                            Outcomes and Specialists suppliers’ guide</a> to learn more.</p>

                        <h2 id="ccs-checks">
                            <abbr title="Crown Commercial Service">CCS</abbr> checks</h2>

                        <p>After suppliers have been accepted on to a framework, <abbr title="Crown Commercial Service">CCS</abbr>:
                        </p>

                        <ul>
                            <li>monitors supplier credit scores, eg Experian credit scores and Dun &amp; Bradstreet
                                financial stress scores
                            </li>
                            <li>investigates specific queries raised about suppliers</li>
                            <li>performs random spot checks on services to ensure they match the information provided in
                                supplier applications
                            </li>
                        </ul>

                        <p>It’s your responsibility to check whether the supplier can offer a service that meets your
                            needs.</p>

                    </div>
                </div>
            </article>

        </div>
    </div>
{% endblock %}
