{% extends "_base_page.html" %}

{% block page_title %}How to shortlist Digital Service and Professionals suppliers{% endblock %}

{% block body_classes %}secondary-page{% endblock %}

{% block content_summary %}
    <div>
        <h1>How to shortlist Digital Service and Professionals</h1>

        <p>How to reduce the number of sellers you need to evaluate by shortlisting or 'sifting'.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <aside class="sidebar" id="nav">
        <div class="block-2">
            <div class="inner-block">
                <nav class="contextual-info" id="page-navigation">
                    <h1>Contents</h1>
                    <nav class="detailed_guide_parts" role="navigation">
                        <ol id="document_sections">
                            <li>
                                <a href="#before-you-can-shortlist">Before you can shortlist</a>
                            </li>
                            <li>
                                <a href="#why-you-need-to-shortlist">Why you need to shortlist</a>
                            </li>
                            <li>
                                <a href="#how-many-suppliers-to-evaluate">How many sellers to evaluate</a>
                            </li>
                            <li>
                                <a href="#how-to-shortlist-interested-suppliers">How to shortlist interested
                                    sellers</a>
                            </li>
                            <li>
                                <a href="#how-to-notify-shortlisted-suppliers">How to notify shortlisted sellers</a>
                            </li>
                            <li>
                                <a href="#what-happens-next">What happens next</a>
                            </li>
                        </ol>
                    </nav>
                </nav>


            </div>
        </div>
    </aside>
{% endblock %}

{% block main_content %}
    <div class="block-3">
    <div class="inner-block">
    <article class="document">
    <div class="body">
    <div class="govspeak">
    <h2 id="before-you-can-shortlist">Before you can shortlist</h2>

    <p>After you publish your requirements and evaluation criteria, interested sellers say:</p>

    <ul>
        <li>if they can meet your essential skills and experience requirements</li>
        <li>if they can meet your nice-to-have skills and experience requirements</li>
        <li>when they can start work</li>
        <li>their day rate (specialists only)</li>
    </ul>

    <p>Sellers who can’t meet your essential skills and experience requirements are notified when
        they apply that they’re not eligible.</p>

    <p>Sellers haven’t provided any proof of their skills and experience yet.</p>

    <h2 id="why-you-need-to-shortlist">Why you need to shortlist</h2>

    <p>You need to shortlist or ‘sift’ interested suppliers to:</p>

    <ul>
        <li>ensure the sellers that best meet your needs progress to the evaluation stage</li>
        <li>avoid having too many sellers to evaluate</li>
    </ul>

    <p>You can use some or all of the shortlist criteria. Any criteria you choose, for example when the
        seller can start work, must be used to filter all sellers. You don’t have to shortlist
        sellers if you want to take them all through to the evaluation stage.</p>

    <h2 id="how-many-suppliers-to-evaluate">How many sellers to evaluate</h2>

    <p>You have to state the maximum number of sellers you’ll evaluate when you publish your
        requirements.</p>

    <p>You can only exceed this number if:</p>

    <ul>
        <li>there’s a tie</li>
        <li>you only take a few more sellers through to the evaluation stage than you said you
            would
        </li>
    </ul>

    <p>Most buyers find evaluating up to 10 sellers is manageable. We recommend that you evaluate
        at least 3 sellers. If only 1 or 2 sellers meet your requirements, you can evaluate just
        those sellers.</p>

    <h2 id="how-to-shortlist-interested-suppliers">How to shortlist interested sellers</h2>

    <h3 id="when-the-supplier-can-start-work">When the seller can start work</h3>

    <p>You can exclude a seller if they can’t start work by the latest start date you gave in your
        brief.</p>

    <h3 id="nice-to-have-skills-and-experience">Nice-to-have skills and experience</h3>

    <p>Order the list of sellers by those that meet the most of your nice-to-have skills and
        experience requirements. You can exclude sellers with the fewest nice-to-have skills and
        experience to get to the number of sellers you said you’d evaluate when you published your
        requirements.</p>

    <h3 id="day-rate-specialists-only">Day rate (specialists only)</h3>

    <p>You can exclude a specialist if their day rate exceeds the maximum budget you published with
        your requirements.</p>

    <p>If you don’t provide a day rate in your requirements, you won’t be able to exclude
        specialists that exceed your budget.</p>

    <h3 id="what-to-do-if-your-shortlist-is-too-long">What to do if your shortlist is too long</h3>

    <p>The number of sellers on your shortlist might exceed the number you said you’d
        evaluate when you published your brief.</p>

    <p>You can either:</p>

    <ul>
        <li>choose to take all the top-scoring sellers through to the evaluation stage</li>
        <li>reduce the number of sellers by asking them to provide proof of their essential and
            nice-to-have skills and experience
        </li>
    </ul>

    <h4 id="ask-suppliers-to-give-proof-of-their-skills-and-experience">Ask sellers to give proof
        of their skills and experience</h4>

    <p>You must give sellers the deadline for their responses. Give them at least 5 working days
        to provide written evidence of their essential and nice-to-have skills and experience. Only view seller responses after the deadline.</p>

    <p>Score the evidence sellers provide using the scoring scheme. You can’t use half scores.
        Exclude sellers who get less than 2 for any essential skill or experience.</p>

    <p>If you said you would weight individual criteria by adding ‘points’ to each criteria, then
        you can’t use these points to weight evidence of essential and nice-to-have skills and
        experience at the shortlist stage.</p>

    <table>
        <thead>
        <tr>
            <th>Score</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>Not met or no evidence</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Partially met</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Met</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Exceeded</td>
        </tr>
        </tbody>
    </table>

    </ul>

    <h2 id="how-to-notify-shortlisted-suppliers">How to notify shortlisted sellers</h2>

    <h3 id="unsuccessful-suppliers">Unsuccessful sellers</h3>

    <p>After you’ve filtered seller responses, you must notify the unsuccessful sellers by
        email. You can send the same email to all sellers you’re excluding because:</p>

    <ul>
        <li>they can’t start when you need them to</li>
        <li>their day rate is above your budget (specialists only)</li>
        <li>they had the fewest nice-to-have skills and experience</li>
    </ul>

    <p>If you send the same email to all the unsuccessful sellers, make sure you hide their names
        and email addresses from view.</p>

    <p>If you’ve asked sellers to provide evidence of their essential and nice-to-have skills and
        experience, give them feedback on why they’ve been excluded.</p>

    <h3 id="successful-suppliers">Successful sellers</h3>

    <p>You must email all the shortlisted sellers with the same information, making sure you hide
        names and email addresses from view.</p>

    <p>Provide sellers with all the information they need to take part in the assessment. </p>
        
    <p>Remember to keep a record of how you shortlisted sellers, along with any emails you send, for
        your audit trail.</p>

    <h2 id="what-happens-next">What happens next</h2>

    <p>Evaluate the remaining sellers using the assessment methods and evaluation
        criteria you published with your brief.</p>

    </div>
    </div>
    </article>
    </div>
    </div>
{% endblock %}
