<div class="dm-filters">
  {% include "search/_filter_title.html" %}
  <div>
    {% for filter in filters %}
      {%
        with
        label = filter.label,
        options_container_id = filter.slug,
        options = filter.filters,
        aria_controls="search-summary-accessible-hint-wrapper"
      %}
        {% include "toolkit/forms/option-select.html" %}
      {% endwith %}
    {% endfor %}
  </div>
  {{ govukButton({
    "text": "Filter",
    "classes": "js-hidden js-dm-live-search",
    "attributes": {
      "aria-controls": "search-summary-accessible-hint-wrapper",
    },
  }) }}
</div>
