{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<div class="dm-filters">
  {% include "search/_filter_title.html" %}
  <div>
    {% for filter in filters %}
      {{ govukCheckboxes({
        "idPrefix": filter.slug,
        "name": filter.slug,
        "fieldset": {
          "legend": {
            "text": filter.label
          }
        },
        "items": filter.filters
      })}}
    {% endfor %}
  </div>
  {{ govukButton({
    "text": "Filter",
    "classes": "js-hidden js-dm-live-search",
    "attributes": {
      "aria-controls": "search-summary-accessible-hint-wrapper",
    },
  }) }}
</div>
