{% from "digitalmarketplace/components/option-select/macro.njk" import dmOptionSelect %}
<div class="dm-filters">
  {% include "search/_filter_title.html" %}
  {% for filter in filters %}
    {{ dmOptionSelect({
      "name": filter.slug,
      "title": filter.label,
      "options_container_id": filter.slug,
      "items": filter.filters,
      "closed_on_load": true
    })}}
  {% endfor %}
  {{ govukButton({
    "text": "Filter",
    "classes": "js-hidden js-dm-live-search",
    "attributes": {
      "aria-controls": "search-summary-accessible-hint-wrapper",
    },
  }) }}
</div>
