{% if not dmPreviousNextPagination %}
  {% from "digitalmarketplace/components/previous-next-pagination/macro.njk" import dmPreviousNextPagination %}
{% endif %}

{% if framework_family == 'g-cloud' %}
  {% set previousUrl = url_for('.{}'.format(view_name), page=pagination['prev_page'], **search_query) %}
  {% set nextUrl = url_for('.{}'.format(view_name), page=pagination['next_page'], **search_query) %}
{% elif framework_family == 'digital-outcomes-and-specialists' %}
  {% set previousUrl = url_for('.{}'.format(view_name), framework_family=framework_family, page=pagination['prev_page'], **search_query) %}
  {% set nextUrl = url_for('.{}'.format(view_name), framework_family=framework_family, page=pagination['next_page'], **search_query) %}
{% endif %}
  
{{ dmPreviousNextPagination({
  "previousPage": {
    "url": previousUrl,
    "title": "Previous page",
    "label": pagination['prev_page'] ~ ' of ' ~ pagination['total_pages']
  } if pagination['show_prev'],
  "nextPage": {
    "url": nextUrl,
    "title": "Next page",
    "label": pagination['next_page'] ~ ' of ' ~ pagination['total_pages']
  } if pagination['show_next']
})}}
