{% extends "_base_page.html" %}

{% block head %}
  <meta name="robots" content="noindex">
  {{ super() }}
{% endblock %}

{% block mainContent %}

<section id="search-page-heading">
{% block page_heading %}{% endblock %}
</section>

<div id="js-dm-live-search-wrapper" class="grid-row search-results-page">
  {% block post_heading %}{% endblock %}

  <form action="{{ form_action }}" method="get" id="js-dm-live-search-form">
    <section class="column-one-third search-page-filters" aria-label="Search filters">
          {% include 'search/_filters_and_categories_wrapper.html' %}
          {% block post_filters %}{% endblock %}
    </section>
  </form>

  <section class="column-two-thirds" aria-label="Search results">
    {#
      the element referenced by an `aria-controls=` seems to need to be persistent -
      at least I wasn't able to get it to work by just re-using a fragment of the
      existing search summary text, as it gets removed and replaced wholesale by
      the javascript when a new set of results is fetched.

      instead, we have this dedicated (and more importantly, persistent) wrapper
      element, which itself can be the target of `aria-controls=`
    #}
    <div id="search-summary-accessible-hint-wrapper" class="search-summary-accessible-hint-wrapper" aria-atomic="true" aria-live="polite" aria-relevant="additions text">
      {% include 'search/_summary_accessible_hint.html' %}
    </div>
    {% block pre_results %}
      {% include 'search/_summary.html' %}
    {% endblock %}
    {% include 'search/_results_wrapper.html' %}
  </section>

</div>
{% endblock %}
