{%
  with
  id = "keywords",
  name = "q",
  label = "Keywords",
  value = search_keywords
%}
  {% include "toolkit/forms/keyword-search.html" %}
{% endwith %}

<style>
  .lot-filters li[aria-current] {
    /* except we don't want this to happen in the very last row */
    margin-top: 10px;
  }
  .lot-filters a {
    text-decoration: none;
  }
  .lot-filters__top-level-link {
    padding-left: 15px; /* gutter */
    display: inline-block;
    margin-top: 5px;
    position: relative;
  }
  .lot-filters__top-level-link:before {
    position: absolute;
    left: 0;
    top: 0;
    line-height: .85;
    content: "\2039";
    font-size: 22px;
  }
  .lot-filters li:first-child .lot-filters__top-level-link {
    margin-top: 0;
  }
</style>

<div class="lot-filters">
  <h2>Choose a category</h2>
  {% from 'search/_categories.html' import top_level_link, category_list %}
  {% set lots = lots|selectattr("selected")|list or lots %}
  <ul>
    {% if current_lot %}
      <li>{{ top_level_link( text='All categories', url=url_for('.search_services', q=search_keywords)) }}</li>
    {% else %}
      <li>All categories</li>
    {% endif %}
    {{ category_list(lots, keys={'text': 'name', 'nested_items': 'categories'}) }}
  </ul>
</div>

{% if current_lot %}
<input type="hidden" name="lot" value="{{ current_lot.slug }}" />
{% endif %}

{% if current_category_filter %}
<input type="hidden" name="{{ current_category_filter.name }}" value="{{ current_category_filter.value }}" />
{% endif %}

{% include 'search/_filters.html' %}
