<div class="lot-filters">
  <h2>Choose a category</h2>
  {% from 'macros/_filters.html' import checkbox, lot_filters %}
  <ul>

  <li>
        {% if current_lot %}
        <a href="{{ url_for('.search_services', q=search_keywords) }}">All categories</a>
        {% else %}
        All categories
        {% endif %}
  </li>
  {% for lot in lots %}
    {% if current_lot == lot.lot %}
      <li>{{ lot.label }}</li>
    {% else %}
      <li>
        <a href="{{ url_for('.search_services', q=search_keywords, lot=lot.lot) }}">{{ lot.label }}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div class="govuk-option-select filter-field-text">
  <div class="container-head">
    <label class="option-select-label" for="keywords">
      Keywords
    </label>
  </div>
  <input type="text" name="q" id="keywords" value="{{ search_keywords }}" maxlength="200">
</div>
{% if current_lot %}
<input type="hidden" name="lot" value="{{ current_lot }}" />
{% endif %}
{% for filter in filters %}
  {%
    with
    label = filter.label,
    options = filter.filters
  %}
    {% include "toolkit/forms/option-select.html" %}
  {% endwith %}
{% endfor %}
<button class="button-save" type="submit">Filter</button>
