<div class="lot-filters">
  <h2>Choose a category</h2>
  {% from 'macros/_filters.html' import checkbox, lot_filters %}
  <ul>

  <li>
        {% if current_lot %}
        <a href="{{ url_for('.search_services', q=search_keywords) }}">All categories</a>
        {% else %}
        All categories
        {% endif %}
  </li>
  {% for lot in lots %}
    <li>
      {% if not lot.selected %}<a href="{{ url_for('.search_services', q=search_keywords, lot=lot.slug) }}">{% endif %}
        {{ lot.name }}
      {% if not lot.selected %}</a>{% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
<div class="govuk-option-select filter-field-text">
  <div class="container-head">
    <label class="option-select-label" for="keywords">
      Keywords
    </label>
  </div>
  <input type="text" name="q" id="keywords" value="{{ search_keywords }}" maxlength="200">
</div>
{% if current_lot %}
<input type="hidden" name="lot" value="{{ current_lot }}" />
{% endif %}
{% include 'search/_filters.html' %}
