{# this file can be used from contexts that don't inherit from _base_page.html, so we must ensure we have all imports we need #}
<div id="js-dm-live-save-search-form">
  <a 
    class="govuk-button"
    href="{{ url_for('direct_award.save_search', framework_family=framework_family) }}?search_query={{ search_query_url | urlencode }}"
    data-analytics="trackEvent"
    data-analytics-category="Direct Award"
    data-analytics-action="Save search"
    data-analytics-label="{{ search_count | string() }}"
  >Save your search</a>
</div>
