<div id="js-dm-live-search-summary" class="js-dm-live-search-fade">
  <p class="search-summary">
    {{ summary }}
  </p>

  {% if total == 0 %}

  <div class="search-suggestion">
    <p>Suggestions:</p>
    <ul class="list list-bullet">
        <li>try removing filters</li>
        <li>choose a different category</li>
        {% if framework_family == 'g-cloud' %}
          <li>double-check your spelling</li>
          <li>use fewer keywords</li>
          <li>search for something less specific, you can refine your results later</li>
        {% endif %}
    </ul>
  </div>

  {% endif %}

</div>
