{% extends "search/_search_layout.html" %}

{% block pageTitle %}
  Supplier opportunities – {{ framework_family_name }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
  ] + (
    [
      {
        "href": url_for('.{}'.format(view_name), framework_family=framework_family),
        "text": "Supplier opportunities"
      },
      {
        "text": current_lot.name
      },
    ] if current_lot else [
      {
        "text": "Supplier opportunities"
      },
    ]
  )
}) }}
{% endblock breadcrumb %}

{% block page_heading %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="govuk-heading-xl">{{ framework_family_name }} opportunities</h1>
    <div class="marketplace-paragraph">
      <p>View buyer requirements for {{ lot_names | map('lower') | smartjoin }}.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block post_filters %}
  {% include 'search/_opportunity_data.html' %}
{% endblock %}
