{% extends "search/_search_layout.html" %}

{% block pageTitle %}
  Supplier opportunities – {{ framework_family_name }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {% with %}
    {% if current_lot %}
      {% set items = [
        {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
        },
        {
          "link": url_for('.{}'.format(view_name), framework_family=framework_family),
          "label": "Supplier opportunities"
        },
        {
          "label": current_lot.name
        }
      ] %}
    {% else %}
      {% set items = [
        {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
        },
        {
          "link": url_for('.{}'.format(view_name), framework_family=framework_family),
          "label": "Supplier opportunities"
        }
      ] %}
    {% endif %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block page_heading %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="govuk-heading-xl">{{ framework_family_name }} opportunities</h1>
    <div class="marketplace-paragraph">
      <p>View buyer requirements for {{ lot_names | map('lower') | smartjoin }}.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block post_filters %}
  {% include 'search/_opportunity_data.html' %}
{% endblock %}
