{% extends "toolkit/layouts/_base_page.html" %}

{% block page_title %}Search - Digital Marketplace{% endblock %}

{% block head %}
  <meta name="robots" content="noindex">
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {% with %}
    {% if current_lot %}
      {% set items = [
        {
            "link": url_for('.index'),
            "label": "Digital Marketplace"
        },
        {
            "link": url_for('.index_g_cloud'),
            "label": gcloud_framework_description|capitalize
        },
        {
          "label": current_lot.name
        }
      ] %}
    {% else %}
      {% set items = [
        {
            "link": url_for('.index'),
            "label": "Digital Marketplace"
        },
        {
            "link": url_for('.index_g_cloud'),
            "label": gcloud_framework_description|capitalize
        }
      ] %}
    {% endif %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
<header class="page-heading">
        <h1>Search results</h1>
</header>
<div id="js-dm-live-search-wrapper" class="grid-row search-results-page">
  <form action="{{ url_for('.search_services') }}" method="get" id="js-dm-live-search-form">
    <section class="column-one-third search-page-filters" aria-label="Search filters">
          {% include 'search/_filters_and_categories_wrapper.html' %}
    </section>
  </form>
  <section class="column-two-thirds" aria-label="Search results">
    {#
      the element referenced by an `aria-controls=` seems to need to be persistent -
      at least I wasn't able to get it to work by just re-using a fragment of the
      existing search summary text, as it gets removed and replaced wholesale by
      the javascript when a new set of results is fetched.

      instead, we have this dedicated (and more importantly, persistent) wrapper
      element, which itself can be the target of `aria-controls=`
    #}
    <div id="search-summary-accessible-hint-wrapper" class="search-summary-accessible-hint-wrapper" aria-atomic="true" aria-live="polite" aria-relevant="additions text">
      {% include 'search/_summary_accessible_hint.html' %}
    </div>
    {% include 'search/_summary.html' %}
    {% include 'search/_services_save_search.html' %}
    {% include 'search/_results_wrapper.html' %}
  </section>

</div>
{% endblock %}
