{% extends "_base_page.html" %}

{% block page_title %}Search - Digital Marketplace{% endblock %}

{% block head %}
  <meta name="robots" content="noindex">
  {{ super() }}
{% endblock %}

{% block breadcrumb %}
  {% with %}
    {% if current_lot %}
      {% set items = [
        {
            "link": url_for('.index'),
            "label": "Digital Marketplace"
        },
        {
            "link": url_for('.index_g_cloud'),
            "label": "Cloud technology and support"
        },
        {
          "label": current_lot.name
        }
      ] %}
    {% else %}
      {% set items = [
        {
            "link": url_for('.index'),
            "label": "Digital Marketplace"
        },
        {
            "link": url_for('.index_g_cloud'),
            "label": "Cloud technology and support"
        }
      ] %}
    {% endif %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
<header class="page-heading">
        <h1>Search results</h1>
</header>
    <div class="grid-row">
        <section class="column-one-third search-page-filters" aria-label="Search filters">
            <form action="{{ url_for('.search_services') }}" method="get">
                {% include 'search/_services_filters.html' %}
            </form>
        </section>
        <section class="column-two-thirds" aria-label="Services found">
            {% include 'search/_services_summary.html' %}
            {% include 'search/_services_results.html' %}
            {% include 'search/_services_pagination.html' %}
        </section>
    </div>
{% endblock %}
