{% extends "search/_search_layout.html" %}

{% block pageTitle %}
  Search - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
  ] + (
    [
      {
        "href": url_for('.index_g_cloud'),
        "text": gcloud_framework_description|capitalize
      },
      {
        "text": current_lot.name
      },
    ] if current_lot else [
      {
        "text": gcloud_framework_description|capitalize
      },
    ]
  )
}) }}
{% endblock breadcrumb %}

{% block page_heading %}
  <h1 class="govuk-heading-xl">
    Search results
  </h1>
{% endblock %}

{% block post_heading %}
{% endblock %}

{% block pre_results %}
  <section aria-label="Search summary">
    {% include 'search/_summary.html' %}
    {% include 'search/_services_save_search.html' %}
  </section>
{% endblock %}
