{% extends "_base_page.html" %}
{% import "macros/toolkit_forms.html" as forms %}

{% block page_title %}{{ question.question or question.name }} – Digital Marketplace{% endblock %}
{% block body_classes %}brief-builder{% endblock %}

{% block main_content %}
  {% if brief and brief.lot == 'digital-professionals' and brief.status == 'draft' %}
    <div class="au-page-alerts au-page-alerts--warning">
        <h2>
            This page has been retired.
        </h2>
        <p class="banner-message">
              Use the <a href="/2/buyer-specialist/create">new specialist approach</a> to publish this opportunity.
        </p>
    </div>
    <br />
  {% endif%}
  {% if question.type != 'multiquestion' %}
    <div class="single-question-page">
  {% endif %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% with
        heading = question.name or question.question,
        smaller = true
      %}
        {% include 'toolkit/page-heading.html' %}
      {% endwith %}

    </div>
  </div>

  {% if errors %}
    {% with errors = errors.values() %}
      {% include 'toolkit/forms/validation.html' %}
    {% endwith %}
  {% endif %}

  <form method="post" enctype="multipart/form-data" action="{{ request.path }}">

    <div class="grid-row">
      <div class="column-two-thirds">
          {% if question.type != 'multiquestion' %}
            {% if errors and errors[question.id] %}
              {{ forms[question.type](question, brief, errors) }}
            {% else %}
              {{ forms[question.type](question, brief, {}) }}
            {% endif %}
          {% else %}
            {% if question.question_advice %}
              <span class="question-advice">
                {{ question.question_advice|markdown }}
              </span>
            {% endif %}
            {% for question in question.questions %}
              {% if question.type != 'list' %}
                <h3>{{question.name}}</h3>
              {% endif %}
              {% if errors and errors[question.id] %}
                {{ forms[question.type](question, brief, errors) }}
              {% else %}
                {{ forms[question.type](question, brief, {}) }}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% block save_button %}{% endblock %}

      </div>
    </div>

    {{ form.csrf_token }}

  </form>

  {% if question.type != 'multiquestion' %}
    </div>
  {% endif %}
{% endblock %}
