{% extends "_base_page.html" %}
{% import "macros/toolkit_forms.html" as forms %}

{% block page_title %}Answer a Clarification Question{% endblock %}

{% block breadcrumb %}
  {% with
      items = [
        {
          "link": "/",
          "label": "Digital Marketplace"
        },
        {
          "link": url_for(".buyer_dashboard"),
          "label": "Your account"
        },
        {
          "link": url_for(".view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
          "label": brief.title
        }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-one-whole">
    {% with
        context = brief.title,
        heading = "Publish questions and answers"
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="dmspeak">
        <p>
          You must make sure that suppliers have access to the same information about the work.
          This means all suppliers will have an equal opportunity to win the contract.
        </p>
        <p>
          You must publish all questions and answers.
        </p>
        <p>
          All published questions and answers will be public.
          They'll appear at the bottom of your published requirements page.
        </p>
        <p>
          Read more about <a href="https://www.gov.uk/guidance/how-to-answer-supplier-questions-on-the-digital-marketplace">how to manage supplier questions</a>.
        </p>
      </div>

      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {% for question in section.questions %}
          {{ forms[question.type](question, data, errors or {}) }}
        {% endfor %}

        {% with
            type = "save",
            label = "Publish clarification question"
        %}
          {% include "toolkit/button.html" %}
        {% endwith %}
      </form>
    </div>
  </div>
{% endblock %}
