{% extends "_base_page.html" %}

{% block page_title %}Responses to {{ brief.title or brief.lotName }} – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
        {
          "link": "/",
          "label": "Digital Marketplace"
        },
        {
          "link": url_for(".buyer_dashboard"),
          "label": "Your account"
        },
        {
        "link": url_for("buyers.view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
        "label": brief.title
        }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
<div class="grid-row">
    <div class="column-two-thirds">
        {% with
        heading = "Shortlist suppliers",
        smaller = true
        %}
        {% include "toolkit/page-heading.html" %}
        {% endwith %}
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
      {% if response_counts['eligible'] > 0 %}
        {% if brief_responses_require_evidence %}
          <div class="dmspeak">
              <p>
                <span class='visual-emphasis'>{{ response_counts['eligible'] }} {{ pluralize(response_counts['eligible'], "supplier", "suppliers") }}</span>
                responded to your requirements and {{ pluralize(response_counts['eligible'], "meets", "meet") }} all your essential skills and experience.
                Any suppliers that did not meet all your essential requirements have already been told they were unsuccessful.
              </p>
              <p>
                You said you’d take <span class='visual-emphasis'>{{ brief.numberOfSuppliers }} {{ pluralize(brief.numberOfSuppliers, "supplier", "suppliers") }}</span> through to the evaluation stage. To do this, you need to:
              </p>
          </div>
          {% with items = [
              {
                  "body": 'Read the <a href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">guidance on how to shortlist.</a>'|safe,
              },
              {
                  "body": 'Review and score the evidence suppliers have given.',
              },
              {
                  "body": 'Tell the highest scoring suppliers that they’re through to the next stage.',
              },
              {
                  "body": 'Tell any unsuccessful suppliers who don\'t make it through to the next stage.',
              }
          ]
          %}
              {% include "toolkit/instruction-list.html" %}
          {% endwith %}

          {%
          with
          items = [
              {
                  "title": "Download supplier responses to this requirement",
                  "link": url_for('buyers.download_brief_responses', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  "file_type": "ODS",
                  "download": "True"
              }
          ]
          %}
              {% include "toolkit/documents.html" %}
          {% endwith %}

        {% else %}
          <div class="dmspeak">
            <p>
                <span class='visual-emphasis'>{{ response_counts['eligible'] }} {{ pluralize(response_counts['eligible'], "supplier", "suppliers") }}</span>
                responded to your requirements and {{ pluralize(response_counts['eligible'], "meets", "meet") }} all your essential skills and experience.
                Any suppliers that did not meet all your essential requirements have already been told they were unsuccessful.
            </p>
            <p>
              Download the list of supplier responses and follow the guidance on <a href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">how to shortlist</a>.
            </p>
          </div>

          {%
          with
          items = [
              {
                  "title": "Download supplier responses to \u2018" + brief.get('title', brief['lotName']) + "\u2019",
                  "link": url_for('buyers.download_brief_responses', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  "file_type": "CSV",
                  "download": "True"
              }
          ]
          %}
              {% include "toolkit/documents.html" %}
          {% endwith %}

        {% endif %}
      {% else %}
        <div class="dmspeak">
          <p>
              No suppliers met your essential skills and experience requirements.
          </p>
          {% if not brief_responses_require_evidence %}
            <p>
                All the suppliers who applied have already been told they were unsuccessful.
            </p>
          {% endif %}
        </div>
        <div class='explanation-list'>
            <p class='lead'>
                If you still need this service, you should start the buying process again. Consider:
            </p>
            <ul class='list-bullet'>
                <li>talking to suppliers before you start</li>
                <li>rewriting your requirements</li>
            </ul>
        </div>
      {% endif %}

      {%
          with
          url = url_for('buyers.view_brief_overview', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
          text = "Back to overview"
      %}
          {% include "toolkit/secondary-action-link.html" %}
      {% endwith %}
    </div>
</div>
{% endblock %}
