{% extends "_base_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% block page_title %}{{ brief.title or brief.lotName }} – Digital Marketplace{% endblock %}

{% block body_classes %}brief-builder brief-section{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for("main.index"),
        "label": "Home"
      },
      {
        "link": "/2/buyer-dashboard",
        "label": "Dashboard"
      },
      {
        "label": "Overview"
      }
    ]
  %}
    {% include "_light_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row content-details">

    {% block before_heading %}
      {% if delete_requested %}
        <div class="column-one-whole">
          <form action="{{ url_for('buyers.delete_a_brief', framework_slug=framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id) }}" method="POST">
            {{ form.csrf_token }}
            <input type="hidden" name="delete_confirmed" value="true" />
            <div class="banner-destructive-with-action callout--info">
              <p class="banner-message">
               Are you sure you want to delete these requirements?
              </p>
              <button type="submit" class="button-destructive banner-action">Yes, delete</button>
            </div>
          </form>
        </div>
      {% endif %}

    {% endblock %}
    <div>
      {% with
        heading = brief.get('title', brief['lotName']),
        context = 'Overview'
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}

      {% block before_sections %}{% if brief.status == 'live' %}
          <div class="banner-success-without-action">
              <h2>
                  Brief published
              </h2>
              <p class="banner-message">
                  Your brief has been successfully published. It will be open until {{ brief.applicationsClosedAt | dateformat }} at 6PM (in Canberra)
              </p>
              <a href="{{ url_for("main.get_brief_by_id", framework_slug=framework.slug, brief_id=brief.id) }}" class="button">View Live Brief</a>
          </div>
      {% endif %}{% endblock %}

      <ol class="instruction-list steps">

        {% with
          steps = [
            {
              'title': 'Write your brief',
              'description': {
                'draft': 'It’s quick and easy to publish a brief. You just need to add the following:',
                'live': 'Done',
                'closed': 'Done',
              },
            },
            {
              'title': 'Set how you’ll evaluate specialists',
              'description': {
                'draft': '',
                'live': 'Done',
                'closed': 'Done',
              },
            },
            {
              'title': 'Publish your brief',
              'description': {
                'draft': '',
                'live': 'Done',
                'closed': 'Done',
              },
              'links': [
                {
                  'href': url_for(".publish_brief",framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'Review and publish your requirements',
                  'allowed_statuses': ['draft']
                },
                {
                  'href': url_for("main.get_brief_by_id", framework_slug=brief.frameworkSlug, brief_id=brief.id),
                  'text': 'View your published requirements',
                  'allowed_statuses': ['closed']
                }
              ]
            },
            {
              'title': 'Answer seller questions',
              'description': {
                'draft': '',
                'live': '',
                'closed': 'Done'
              },
              'links': [
                {
                  'href': url_for(".add_supplier_question", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'Answer seller questions',
                  'allowed_statuses': ['live']
                }
              ]
            },
            {
              'title': 'Download responses',
              'description': {
                'draft': '',
                'live': '',
                'closed': ''
              },
              'links': [
                {
                  'href': '/2/brief/' + brief.id|string + '/download-responses',
                  'text': 'Download responses',
                  'allowed_statuses': ['closed']
                }
              ]
            },
            {
              'title': 'Create work order',
              'description': {
                'draft': '',
                'live': '',
                'closed': ''
              },
              'links': [
                {
                  'href': url_for(".select_seller_for_work_order", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'Create work order',
                  'allowed_statuses': ['closed']
                }
              ]
            }
          ]
        %}
        {#
            {
              'title': 'Answer seller questions',
              'description': {
                'draft': 'When you’ve published your requirements, you must answer all seller questions.',
                'live': 'You must answer all questions by {}. Suppliers will send you questions by email.'.format(brief.clarificationQuestionsPublishedBy | dateformat),
                'closed': 'Done',
              },
              'links': [
                {
                  'href': url_for(".supplier_questions",framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'Publish questions and answers',
                  'allowed_statuses': ['live']
                },
                {
                  'href': 'https://marketplace1.zendesk.com/hc/en-gb/articles/115011257447-Answer-questions',
                  'text': 'How to answer seller questions',
                  'allowed_statuses': ['draft', 'live']
                }
              ]
            },
            {
              'title': 'Shortlist',
              'description': {
                'draft': 'After the application deadline, shortlist the sellers who applied.',
                'live': 'After the application deadline, shortlist the sellers who applied.',
                'closed': 'You can view and shortlist sellers who best meet your needs.',
              },
              'links': [
                {
                  'href': url_for(".view_brief_responses", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'View and shortlist sellers',
                  'allowed_statuses': ['closed']
                },
                {
                  'href': 'https://marketplace1.zendesk.com/hc/en-gb/articles/115011257487-Shortlist-responses',
                  'text': 'How to shortlist sellers',
                }
              ]
            },
            {
              'title': 'Evaluate',
              'description': {
                'draft': 'Evaluate your shortlist using the criteria and methods you published with your requirements.',
                'live': 'Evaluate your shortlist using the criteria and methods you published with your requirements.',
                'closed': 'Evaluate your shortlist using the criteria and methods you published with your requirements.',
              },
              'links': [
                {
                  'href': 'https://marketplace1.zendesk.com/hc/en-gb/articles/115011406768-Evaluate-proposals',
                  'text': 'How to evaluate sellers',
                }
              ]
            },
            {
              'title': 'Award a contract',
              'description': {
                'draft': 'You must give your chosen seller a contract before they start work.',
                'live': 'You must give your chosen seller a contract before they start work.',
                'closed': 'You must give your chosen seller a contract before they start work.',
              },
              'links': [
                {
                  'href': 'https://marketplace1.zendesk.com/hc/en-gb/articles/115011257587-Award-a-contract',
                  'text': 'How to award a contract',
                },
                {
                  'href': '/buyers-guide'),
                  'text': 'View the Digital Marketplace Master Agreement',
                },
              ]
            }
          ]
        #}

        {% for step in steps %}
          {% set step_number = loop.index %}
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">
              <span class="step-number" role="presentation">{{ step_number }}. </span>
              {{ step.title }}</h2>
            {% if step.description %}
              <p class="instruction-list-item-top">{{ step.description[brief.status] }}</p>
            {% endif %}
            {% if step_number in step_sections and brief.status == 'draft' %}

                <ul class="instruction-list-item-top">
                  {% for section in sections %}
                    {% if section.step == step_number %}
                    <li>
                      {% if completed_sections[section.slug]  %}
                        <span class="tick">
                          <img src="{{ asset_path }}svg/green-tick.svg" alt="done" width="15" height="14" />
                        </span>
                      {% endif %}
                      <a href="{{ brief_links.brief_link_url('grandparent', section, brief) }}">{{ section.name }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
            {% endif %}
            {% if step.links %}
              <ul class="instruction-list-item-top">
                {% for link in step.links %}
                  {% if not link.allowed_statuses or brief.status in link.allowed_statuses %}
                    <li>
                      <a href="{{ link.href }}">{{ link.text }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        {% endwith %}
      </ol>
    </div>
  </div>
  {% if not delete_requested %}
    <div class="m-t-4">
      {% if framework.status == 'live' and brief.status == 'draft' %}
      <a href="{{ url_for('buyers.view_brief_overview', framework_slug=framework.slug, lot_slug=brief.lotSlug, brief_id=brief.id, delete_requested=True) }}" class="button">Delete</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
