{% extends "buyers/_base_brief_overview_page.html" %}

{% block page_title %}{{ brief_data.lotName }} requirements summary – Digital Marketplace{% endblock %}

{% import "macros/submission.html" as submission %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block after_sections %}

  {% if brief_data.status == "live" %}
  <a href="{{ url_for(".add_clarification_question", framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief_data.id) }}">Answer a clarification question</a>
  {% endif %}
{% endblock %}
