{% extends "_base_page.html" %}

{% block page_title %}Your account - Digital Marketplace{% endblock %}

{% block body_classes %}brief-builder{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for("main.index"),
        "label": "Home"
      },
      {
        "link": "/2/buyer-dashboard",
        "label": "Dashboard"
      },
      {
        "link": '/2/brief/%s/overview' % brief.id if brief.lot == 'digital-professionals' else url_for(".view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
        "label": "Brief Overview"
      },
      {
        "label": brief.title
      }
    ]
  %}
    {% include "_light_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class='grid-row'>
  <div class='column-two-thirds large-paragraph'>

    {% with
        heading = "Publish your requirements and evaluation criteria" if not published else "Question and answer dates",
        smaller = True,
        with_breadcrumb = True
    %}
        {% include "toolkit/page-heading.html" %}
    {% endwith %}

    {% if not published %}
      <div class="dmspeak">
        <p>All requirements are published on the Digital Marketplace where anyone can see them.</p>
      </div>
        {% if brief.lotSlug == 'digital-specialists' and not brief.requirementsLength %}
          <p><a href="{{ url_for('.edit_brief_question', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug='set-how-long-your-requirements-will-be-live-for', question_id='requirementsLength') }}">Set how long your requirements will be open for</a></p>
          <div class="dmspeak">
            <p>This will show you what the supplier application deadline will be if you publish your requirements today.</p>
          </div>
        {% else %}
          <p>Your requirements will be open for {{ brief.dates.hypothetical.application_open_weeks }}.</p>
          <div class="dmspeak">
            <p>If you publish your requirements today ({{ current_date|dateformat }}), suppliers will be able to apply until {{ brief.dates.hypothetical.closing_time | datetimeformat }}.</p>
          </div>
        {% endif %}
    {% endif %}

    <p>Supplier questions will be sent to:</p>
    <div class="dmspeak">
      <p>{{ email_address }}</p>
    </div>
    <div class="dmspeak">
      <p>Make sure this email address {% if not published %}will be{% else %}is{% endif %} monitored. If you’re away while suppliers can still ask questions, you should make sure your emails are forwarded to a colleague.</p>
    </div>

    {% if not published and unanswered_required > 0 %}
      <div class="dmspeak">
        <p><strong>You still need to complete the following questions before your requirements can be published:</strong></p>
      </div>
      {% for section in sections %}
        {% for question in section.questions %}
          {% if question.answer_required %}
            <ul>
              <li>
                <a href="{{ url_for('.edit_brief_question', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug, question_id=question.id) }}">{{ question.question or question.name }}</a>
              </li>
            </ul>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% elif brief.lotSlug != 'digital-specialists' or brief.requirementsLength %}
      {% set dates = brief.dates if published else brief.dates.hypothetical %}
      {% import "toolkit/summary-table.html" as summary %}
        {% call summary.mapping_table(
        row_bold_borders=True,
        text_large = True,
        no_bottom_border=True,
        caption="If you publish today, you must be aware of the following dates:" if not published,
        caption_visible=not published,
        field_headings=[
          "Date",
          "Notice",
        ],
        field_headings_visible=False
      ) %}
        {% call summary.row(no_border=True) %}
          {{ summary.field_heading_date("Today" if not published else (brief.publishedAt | dateformat), scope='row') }}
          {{ summary.text("Suppliers can apply and ask questions about your requirements.") }}
        {% endcall %}
        {% if brief.questionAndAnswerSessionDetails %}
          {% call summary.row(bold_border=True) %}
            {{ summary.field_heading_date("Before {}".format(dates.questions_close | dateformat), rowspan='3', scope='row') }}
            {{ summary.text_bold("Details of your question and answer session") }}
            {% if not published %}
              {{ summary.edit_link("Edit", url_for('.edit_brief_question', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=question_and_answers.slug, question_id=question_and_answers.id)) }}
            {% endif %}
          {% endcall %}
          {% call summary.row(no_border=True) %}
            {{ summary.text(brief.questionAndAnswerSessionDetails) }}
          {% endcall %}
          {% call summary.row(no_border=True) %}
            {{ summary.text_bold("You must hold your question and answer session before {}.".format(dates.questions_close | dateformat), border=True) }}
          {% endcall %}
        {% endif %}
        {% call summary.row(bold_border=True) %}
          {{ summary.field_heading_date(dates.questions_close | dateformat, scope='row') }}
          {{ summary.text("The last day suppliers can ask questions.") }}
        {% endcall %}
        {% call summary.row(bold_border=True) %}
          {{ summary.field_heading_date(dates.answers_close | dateformat, scope='row') }}
          {{ summary.text("You must have published answers to all suppliers’ questions.") }}
        {% endcall %}
        {% call summary.row(bold_border=True) %}
          {{ summary.field_heading_date(dates.closing_date | dateformat, scope='row') }}
          {{ summary.text("The last day suppliers can apply.") }}
        {% endcall %}
      {% endcall %}
      {% if not published %}
        <div>
            <p>
                <a href="{{ url_for('main.get_brief_by_id', framework_slug=brief.frameworkSlug, brief_id=brief.id) }}">Preview this brief</a>
            </p>
          <p>
            {% if brief.lot == 'training' %}
              <a href="/static/media/documents/Training_opportunities_questions_for_sellers.docx">
                Preview the questions sellers will be asked (DOCX)
              </a>
            {% else %}
              <a href="{{ url_for('main.get_brief_response_preview_by_id', framework_slug=brief.frameworkSlug, brief_id=brief.id) }}">
                Preview the questions sellers will be asked (XLSX)
              </a>
            {% endif %}
          </p>
        </div>
        <form action="{{ url_for('.publish_brief', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}" method="POST">
          {{ form.csrf_token }}
          {%
          with
          type = "save",
          role = "button",
          label = "Publish brief"
          %}
          {% include "toolkit/button.html" %}
          {% endwith %}
        </form>
      {% endif %}
    {% endif %}
    <br>

    {%
      with
      url = '/2/brief/%s/overview' % brief.id if brief.lot == 'digital-professionals' else url_for(".view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
      text = "Return to overview"
    %}
      {% include "toolkit/secondary-action-link.html" %}
    {% endwith %}
  </div>
</div>

{% endblock %}
