{% extends "_base_page.html" %}

{% block page_title %}Responses to {{ brief.title or brief.lotName }} – Digital Marketplace{% endblock %}

{% block breadcrumb %}
    {%
        with items = [
        {
            "link": "/",
            "label": "Digital Marketplace"
        },
        {
            "link": "/buyers",
            "label": "Your Requirements"
        },
        {
            "link": url_for('buyers.view_brief_summary', framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief_data.id),
            "label": brief_data.title
        }
        ]
    %}
        {% include "toolkit/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}
<div class="grid-row">
    <div class="column-two-thirds">
        {% with
        heading = "Shortlist suppliers",
        smaller = true
        %}
        {% include "toolkit/page-heading.html" %}
        {% endwith %}
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="dmspeak">
          {% if response_counts['eligible'] > 0 %}
            <p>
                <span class='visual-emphasis'>{{ response_counts['eligible'] }} {{ pluralize(response_counts['eligible'], "supplier", "suppliers") }}</span>
                responded to your requirements and {{ pluralize(response_counts['eligible'], "meets", "meet") }} all your essential skills and experience.
            </p>
            <p>
                Suppliers that did not meet all your essential requirements have already been told they were unsuccessful.
            </p>

            <p>
              Download the list of supplier responses and follow the guidance on <a href="https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers">how to shortlist</a>.
            </p>

            {% if brief_data.get("status") == "closed" %}
                {%
                with
                items = [
                    {
                        "title": ("Download supplier responses to &lsquo;" + brief_data.get('title', brief_data['lotName']) + "&rsquo;")|safe,
                        "link": url_for('buyers.download_brief_responses', framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief_data.id),
                        "file_type": "CSV",
                        "download": "True"
                    }
                ]
                %}
                    {% include "toolkit/documents.html" %}
                {% endwith %}
            {% else %}
            <p>
                The file will be available here once applications have closed.
            </p>
            {% endif %}

          {% else %}
            <p>
                No suppliers met your essential skills and experience requirements.
            </p>
            <p>
                All the suppliers who applied have already been told they were unsuccessful.
            </p>
            <div class='explanation-list'>
                <p class='lead'>
                    If you still need this service, you should start the buying process again. Consider: 
                </p>
                <ul class='list-bullet'>
                    <li>talking to suppliers before you start</li>
                    <li>rewriting your requirements</li>
                </ul>
            </div>
        </div>
        {% endif %}
        
        {%
            with
            url = url_for('buyers.view_brief_summary', framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief_data.id),
            text = "Back to overview"
        %}
            {% include "toolkit/secondary-action-link.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}
