{% extends "_base_page.html" %}

{% block page_title %}Responses to {{ brief.title or brief.lotName }} – Digital Marketplace{% endblock %}

{% block body_classes %}brief-builder{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for("main.index"),
        "label": "Home"
      },
      {
        "link": url_for(".buyer_dashboard"),
        "label": "Dashboard"
      },
      {
      "link": url_for("buyers.view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
      "label": "Brief Overview"
      },
      {
      "label": brief.title
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1>You've had {{ response_counts['eligible'] or 'no' }} response{{ pluralize(response_counts['eligible'], "", "s") }} to your brief{% if brief.get("status") != "closed" %} so far{% endif %}.</h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="dmspeak">
      {% if response_counts['eligible'] > 0 %}
        <p>This spreadsheet contains the response and any uploaded documents from each seller to the brief’s essential and nice-to-have criteria. You can contact sellers for more information if you wish.</p>

        {%
          with
          items = [
            {
              "title": ("Download seller responses to '" + brief.get('title', brief['lotName']) + "'"),
              "link": url_for('buyers.download_brief_responses', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
              "file_type": "CSV",
              "download": "True"
            },
            {
              "title": ("Download seller responses to '" + brief.get('title', brief['lotName']) + "'"),
              "link": url_for('buyers.download_brief_responses_xlsx', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
              "file_type": "XLSX",
              "download": "True"
            }
          ]
        %}
        <ul class='document-list' style="list-style: none;">
          {% for item in items %}
          {% if 'XLSX_EXPORT' is active_feature or item.file_type != 'XLSX' %}
            <li class='document-list-item'>
                <a href="{{ item.link }}" class="document-link-with-icon download">
                  ⇩ {{ item.title }}: {{ item.file_type }}</span>
                </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endwith %}

        <p>Once you have reviewed the responses in the spreadsheet, select  sellers to take through to the evaluation stage. As a courtesy, please inform the other sellers who were unsuccessful.</p>
        <p>For more information, read our guide on <a href="{{ url_for('main.how_to_shortlist_suppliers') }}">how to shortlist</a>.
        </p>
      {% else %}
        <p>
          No sellers responded to your brief. If you still need this service, you should start the buying process again.
        </p>
        <p>
            If you still need this service, you should start the buying process again. Consider talking to sellers before you start, or rewriting your requirements.
        </p>
      {% endif %}
    </div>
    {%
      with
      url = url_for('buyers.buyer_dashboard'),
      text = "Back to your dashboard"
    %}
      {% include "toolkit/secondary-action-link.html" %}
    {% endwith %}
  </div>
</div>
{% endblock %}
