{% extends "_base_page.html" %}

{% block page_title %}Your account - Digital Marketplace{% endblock %}

{% block breadcrumb %}
    {%
        with items = [
        {
            "link": "/",
            "label": "Digital Marketplace"
        }
        ]
    %}
    {% include "toolkit/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}

<div class='grid-row'>
  <div class='column-two-thirds large-paragraph'>
    {% with
        heading = "Publish your requirements and evaluation criteria",
        smaller = True,
        with_breadcrumb = True
    %}
        {% include "toolkit/page-heading.html" %}
    {% endwith %}
    <p class="padding-bottom-small">All requirements are published on the Digital Marketplace where anyone can see them.</p>

    <p><strong>Suppliers will be able to apply for:</strong></p>
    <p class="padding-bottom-small">2 weeks ending at midnight.</p>

    <p><strong>Supplier questions will be sent to:</strong></p>
    <p class="padding-bottom-small">{{ email_address }}</p>
    <p class="padding-bottom-small">Ensure this email address will be monitored. If you’re away while suppliers can still ask questions, you should make sure your emails are forwarded to a colleague.</p>

    {% if unanswered_required > 0 %}
      <p class="padding-bottom-small"><strong>You still need to complete the following questions before the brief can be published:</strong></p>
      {% for section in sections %}
        {% for question in section.questions %}
          {% if question.answer_required %}
            <ol>
              <li>
                <a href="{{ url_for('.edit_brief_question', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug, question_id=question.id) }}">{{ question.question }}</a>
              </li>
            </ol>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% else %}
      <form action="{{ url_for('.publish_brief', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {%
        with
        type = "save",
        label = "Publish Requirements"
        %}
        {% include "toolkit/button.html" %}
        {% endwith %}
      </form>
    {% endif %}
  </div>
</div>

{% endblock %}
