{% extends "_base_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% block page_title %}{{ brief.title or brief.lotName }} – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">

    {% block before_heading %}{% endblock %}
    <div class="column-two-thirds">
      {% with
        heading = brief.get('title', brief['lotName']),
        context = 'Overview'
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}

    {% block before_sections %}{% endblock %}

      <ol class="instruction-list">

        {% with
          steps = [
            {
              'title': 'Write requirements',
              'description': 'Before you can publish your requirements, you must complete:'
            },
            {
              'title': 'Set how you’ll evaluate suppliers',
              'description': 'Before you can publish your requirements, you must complete:'
            },
            {
              'title': 'Publish requirements',
              'links': [
                {
                  'href': url_for(".publish_brief",framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'Review and publish your requirements',
                }
              ]
            },
            {
              'title': 'Answer supplier questions',
              'description': 'When you’ve published your requirements, you must answer all supplier questions.',
              'links': [
                {
                  'href': url_for(".clarification_questions",framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
                  'text': 'Publish questions and answers'
                },
                {
                  'href': 'https://www.gov.uk/guidance/how-to-answer-supplier-questions-on-the-digital-marketplace',
                  'text': 'How to answer supplier questions'
                }
              ]
            },
            {
              'title': 'Shortlist',
              'description': 'After the application deadline, shortlist the suppliers who applied.',
              'links': [
                {
                  'href': 'https://www.gov.uk/guidance/how-to-shortlist-digital-outcomes-and-specialists-suppliers',
                  'text': 'How to shortlist suppliers',
                }
              ]
            },
            {
              'title': 'Evaluate',
              'description': 'Evaluate your shortlist using the criteria and methods you published with your requirements.',
              'links': [
                {
                  'href': 'https://www.gov.uk/guidance/how-to-evaluate-digital-outcomes-and-specialists-suppliers',
                  'text': 'How to evaluate suppliers'
                }
              ]
            },
            {
              'title': 'Award a contract',
              'links': [
                {
                  'href': 'https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services',
                  'text': 'How to award a contract'
                }
              ]
            }
          ]
        %}

        {% for step in steps %}
          {% set step_number = loop.index %}
          <li class="instruction-list-item divider">
            <h2 class="instruction-list-item-body">{{ step.title }}</h2>
            {% if step.description %}
              <p class="instruction-list-item-extra-information">{{ step.description }}</p>
            {% endif %}
            {% if step_number in step_sections %}
              {% if step_sections.count(step_number) == 1 %}
                {% set section = sections.sections[step_sections.index(step_number)] %}
                <a class="instruction-list-item-extra-information" href="{{ brief_links.brief_link_url('grandparent', section, brief) }}">
                  {{ section.name }}
                </a>
              {% else %}
                <ul class="instruction-list-item-extra-information">
                  {% for section in sections %}
                    {% if section.step == step_number %}
                    <li>
                      {% if completed_sections[section.slug]  %}
                        <span class="tick">
                          <img src="{{ asset_path }}svg/tick.svg" alt="done" width="15" height="14" />
                        </span>
                      {% endif %}
                      <a href="{{ brief_links.brief_link_url('grandparent', section, brief) }}">{{ section.name|lower }}</a>
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
            {% if step.links %}
              {% if step.links|length == 1 %}
                <a class="instruction-list-item-extra-information" href="{{ step.links[0].href }}">{{ step.links[0].text }}</a>
              {% else %}
                <ul class="instruction-list-item-extra-information">
                  {% for link in step.links %}
                    <li>
                      <a href="{{ link.href }}">{{ link.text }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
        {% endwith %}
      </ol>
    </div>

  </div>
{% endblock %}
