{% extends "buyers/_base_edit_question_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% block breadcrumb %}
  {# TODO: this is the wrong label, probably #}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".info_page_for_starting_a_brief", framework_slug=framework.slug, lot_slug=lot.slug),
        "label": lot.name
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}

  {%
    with
    label="Save and continue",
    type="save",
    name = "return_to_overview"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}

{% endblock %}
