{% extends "buyers/_base_edit_question_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% set previous_title_text =
    {
        "digital-outcomes": "Find a team to provide an outcome",
        "digital-specialists": "Find an individual specialist",
        "user-research-participants": "Find user research participants",
    }[lot.slug]
%}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for("main.info_page_for_starting_a_brief", framework_slug=framework.slug, lot_slug=lot.slug),
        "label": previous_title_text
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}

  {%
    with
    label="Save and continue",
    type="save",
    name = "return_to_overview"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}

{% endblock %}
