{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% block page_title %}Your account - Digital Marketplace{% endblock %}

{% block body_classes %}brief-builder brief-content{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
    {
        "link": url_for("main.index"),
        "label": "Home"
    }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="banner-destructive-without-action">
            {% else %}
                <div class="banner-success-without-action">
            {% endif %}
                    <p class="banner-message">
            {% if 'requirements_deleted' in message %}
                    Your requirements &lsquo;{{ message.get('requirements_deleted') }}&rsquo; were deleted
            {% else %}
                {{ message }}
            {% endif %}
                    </p>
                </div>
        {% endfor %}
    {% endif %}
{% endwith %}
        
{% with
    context = current_user.email_address,
    heading = current_user.name
%}
{% include 'toolkit/page-heading.html' %}
{% endwith %}


{{ summary.heading("Drafts", id="unpublished_requirements") }}
{% call(item) summary.list_table(
    draft_briefs,
    caption="Unpublished requirements caption",
    empty_message="You have not started any opportunities yet.",
    field_headings=[
    "Brief name",
    "Created",
    "Unanswered questions",
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {{ summary.service_link(item.title, url_for(".view_brief_overview", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
        
        {{ summary.text(item.createdAt|dateformat) }}
        
        {% if item.unanswered_required > 0 and item.unanswered_optional > 0 %}
            {{ summary.text("{} required \n{} optional".format(item.unanswered_required, item.unanswered_optional)) }}
        {% elif item.unanswered_required > 0 %}
            {{ summary.text("{} required".format(item.unanswered_required)) }}
        {% elif item.unanswered_optional > 0 %}
            {{ summary.text("{} optional".format(item.unanswered_optional)) }}
        {% else %}
            {{ summary.text() }}
        {% endif %}
        
    {% endcall %}
{% endcall %}

<p><a href="{{url_for('main.info_page_for_starting_a_brief', framework_slug='digital-service-professionals', lot_slug='digital-professionals')}}">Create a new opportunity for a digital specialist</a></p>
<p><a href="{{url_for('main.info_page_for_starting_a_brief', framework_slug='digital-service-professionals', lot_slug='digital-outcome')}}">Create a new opportunity for an outcome </a></p>

{{ summary.heading("Live briefs", id="published_requirements") }}
{% call(item) summary.list_table(
    live_briefs,
    caption="Published requirements caption",
    empty_message="You don’t have any live briefs.",
    field_headings=[
    "Brief name",
    "Published",
    "Closing",
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {{ summary.service_link(item.title, url_for(".view_brief_overview", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
        {{ summary.text(item.publishedAt|dateformat) }}
        {{ summary.text(item.applicationsClosedAt|dateformat) if item.applicationsClosedAt is defined }}
    {% endcall %}
{% endcall %}
        
{{ summary.heading("Closed briefs", id="closed_requirements") }}
{% call(item) summary.list_table(
    closed_briefs,
    caption="Closed requirements caption",
    empty_message="You don’t have any briefs that are closed.",
    field_headings=[
    "Brief name",
    "Closed",
    "Responses",
    "Work order",
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {{ summary.service_link(item.title, url_for(".view_brief_overview", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
        {{ summary.text(item.applicationsClosedAt|dateformat) }}
        {{ summary.link("View responses", url_for(".view_brief_responses", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
        {% if 'work_order_id' not in item %}
            {{ summary.link("Create work order", url_for("buyers.select_seller_for_work_order", framework_slug=item.frameworkSlug, lot_slug=item.lot, brief_id=item.id)) }}
        {% else %}
            {{ summary.link("Edit work order", url_for("buyers.get_work_order", work_order_id=item.work_order_id)) }}
        {% endif %}
    {% endcall %}
{% endcall %}

{{ summary.heading("Need a hand?", id="need_a_hand") }}
<p><a href="/buyers-guide">Read the buyers guide</a> or <a href="mailto:marketplace@digital.gov.au">send us an email</a> — we can help you write your brief.</p>

{% endblock %}
