{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}
{% block page_title %}Your account - Digital Marketplace{% endblock %}

{% block breadcrumb %}
    {%
        with items = [
        {
            "link": "/",
            "label": "Digital Marketplace"
        }
        ]
    %}
    {% include "toolkit/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}

    <div class="grid-row">
        <div class="column-two-thirds">
            {% with
                context = current_user.email_address,
                heading = current_user.name
            %}
            {% include 'toolkit/page-heading.html' %}
            {% endwith %}
        </div>
    </div>


{{ summary.heading("Unpublished requirements", id="unpublished_requirements") }}
{% call(item) summary.list_table(
    draft_briefs,
    caption="Unpublished requirements caption",
    empty_message="You don’t have any unpublished requirements",
    field_headings=[
    "Brief name",
    "Created",
    "Unanswered questions",
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {{ summary.service_link(item.title, '#') }}
        {{ summary.text(item.createdAt|dateformat) }}
        {{ summary.text("Unanswered queston count?") }}
    {% endcall %}
{% endcall %}

{{ summary.heading("Published requirements", id="published_requirements") }}
{% call(item) summary.list_table(
    live_briefs,
    caption="Published requirements caption",
    empty_message="You don’t have any published requirements",
    field_headings=[
    "Brief name",
    "Published",
    "Unanswered questions",
    ],
    field_headings_visible=True
) %}

    {% call summary.row() %}
        {{ summary.service_link(item.title, '#') }}
        {{ summary.text(item.publishedAt|dateformat) }}
        {{ summary.text("Unanswered queston count?") }}
    {% endcall %}
{% endcall %}

{% endblock %}
