{% extends "buyers/_base_edit_question_page.html" %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": url_for(".view_brief_summary", framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief_data.id),
        "label": brief_data.title
      },
      {
        "link": url_for(".view_brief_section_summary", framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief_data.id, section_slug=section.slug),
        "label": section.name
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}

  {%
    with
    label="Save and continue",
    type="save",
    name = "return_to_overview"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}

  {%
    with
    url =  url_for(".view_brief_section_summary", framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief_data.id, section_slug=section.slug),
    text = "Return to {}".format(section.name|lower)
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}

{% endblock %}
