{% extends "buyers/_base_edit_question_page.html" %}

{% import "macros/brief_links.html" as brief_links %}

{% block breadcrumb %}
  {% set base_breadcrumbs = [
      {
        "link": url_for("main.index"),
        "label": "Home"
      },
      {
        "link": "/2/buyer-dashboard",
        "label": "Dashboard"
      },
      {
        "link": '/2/brief/%s/overview' % brief.id if brief.lot == 'digital-professionals' else url_for(".view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
        "label": "Brief Overview"
      },
      {
        "label": brief.title
      }
    ]
  %}
  {% set section_breadcrumb = [{
        "link": url_for(".view_brief_section_summary", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug),
        "label": section.name
      }] if section.has_summary_page else []
  %}
  {%
    with items = base_breadcrumbs
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block save_button %}
  <br>
  {%
    with
    label= button_label or "Save and continue",
    type="save",
    class="button",
    name = "return_to_overview"
  %}
    {% include "toolkit/button.html" %}
  {% endwith %}

  {%
    with
    url = brief_links.brief_link_url('child', section, brief) ,
    text = "Return to {}".format(section.name|lower if section.has_summary_page else 'overview')
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}

{% endblock %}
