{% extends "_base_page.html" %}

{% block page_title %}{{ section.name }} – Digital Marketplace{% endblock %}

{% block body_classes %}brief-builder brief-section{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for("main.index"),
        "label": "Home"
      },
      {
        "link": "/2/buyer-dashboard",
        "label": "Dashboard"
      },
      {
        "link": '/2/brief/%s/overview' % brief.id if brief.lot == 'digital-professionals' or brief.lot == 'training' else url_for(".view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
        "label": "Brief Overview"
      },
      {
        "label": brief.title
      }
    ]
  %}
    {% include "_light_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">

    {% block before_heading %}{% endblock %}
    <div class="column-two-thirds"> 
      {% if brief and brief.lot == 'digital-professionals' and brief.status == 'draft' %}
        <div class="au-page-alerts au-page-alerts--warning">
            <h2>
                This page has been retired.
            </h2>
            <p class="banner-message">
                  Use the <a href="/2/buyer-specialist/create">new specialist approach</a> to publish this opportunity.
            </p>
        </div>
        <br />
      {% endif%}
      {% with
        heading = section.name,
        smaller = true,
        context = brief.get('title', brief['lotName'])
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}

    </div>

    {% if section.description %}
      <div class="column-two-thirds">
        <div class="section-description">
          {{ section.description|markdown }}
        </div>
      </div>
    {% endif %}

    <div class="column-one-whole">
      {% import "toolkit/summary-table.html" as summary %}

      {% call(question) summary.list_table(
        section.questions,
        field_headings_visible=False
      ) %}

        {% call summary.row() %}
          {{ summary.field_name(question.label) }}

          {% if question.answer_required or question.is_empty %}
            {% if brief.get('status') == 'draft' %}
              {% call summary.field() %}
                <a href="{{ url_for('buyers.edit_brief_question', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug, question_id=question.id) }}">{{ question.empty_message or "Not answered" }}</a>
              {% endcall %}
            {% else %}
              {{ summary.text("Not answered") }}
            {% endif %}
          {% else %}
            {{ summary[question.type](question.display_value or question.value) }}
          {% endif %}

          {% if brief.get('status') == 'draft' %}
            {% if question.is_empty and not question.answer_required %}
              {% call summary.field(action=True) %}
                Optional
              {% endcall %}
            {% elif not question.answer_required %}
              {{ summary.edit_link("Edit", url_for("buyers.edit_brief_question", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id, section_slug=section.slug, question_id=question.id)) }}
            {% else %}
              {% call summary.field() %}{% endcall %}
            {% endif %}
          {% endif %}

        {% endcall %}
      {% endcall %}
    </div>

  </div>

  {%
    with
    url = '/2/brief/%s/overview' % brief.id if brief.lot == 'digital-professionals' or brief.lot == 'training' else url_for(".view_brief_overview", framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id),
    text = "Return to overview"
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}

{% endblock %}
