{% extends "_base_page.html" %}

{% set title_text =
  {
    "digital-outcome": "Finding a team to provide an outcome",
    "digital-professionals": "Finding an individual specialist",
    "user-research-participants": "Find user research participants",
  }[lot.slug]
  %}

  {% block page_title %}
  {{ title_text }} - Digital Marketplace
  {% endblock %}

{% block body_classes %}brief-builder brief-content contrast-headings{% endblock %}

  {% block breadcrumb %}
  {%
    with items = [
    {
      "link": url_for("main.index"),
      "label": "Home"
    }
    ]
    %}
    {% include "toolkit/breadcrumb.html" %}
    {% endwith %}
  {% endblock %}

    {% block main_content %}

    {% with
      smaller = true,
      heading = title_text
      %}
      {% include 'toolkit/page-heading.html' %}
      {% endwith %}

      <p>
        {{
          {
            "digital-outcome": "To find a digital outcome, eg a booking system or an accessibility audit, you need to tell sellers about the situation or problem. They’ll then propose a solution to meet your needs.",
            "digital-professionals": "",
            "user-research-participants": "To find user research participants, you need to tell sellers about the types of participants you want to test your service with. They’ll then tell you what they can do and how much it will cost.",
          }[lot.slug]
        }}
      </p>

      <h2>Step 1. Research, write and publish your brief</h2>
      {% if lot.slug == "digital-professionals" %}
      <p>
        Check the Marketplace can provide the specialist type you need, make sure you have budget approval, then write and publish your brief. When you’re ready to start, click the button below.
      </p>
      {% elif lot.slug == "digital-outcome" %}
      <p>
        As part of your research remember you can <a href="{{ url_for('.supplier_search') }}">contact sellers</a> for their input. Then, once you have budget approval, write and publish your brief. When you’re ready to start, click the button below.
      </p>
      {% endif %}

      <h2>Step 2. Respond to seller questions</h2>
      {% if lot.slug == "digital-professionals" %}
      <p>
        After publishing your brief, sellers may ask questions via email. <a href="{{ url_for('main.how_to_answer_supplier_questions') }}">You must respond to their questions</a> by posting the question and your answer at the bottom of your brief, so all potential applicants can see the information.
      </p>
      {% elif lot.slug == "digital-outcome" %}
      <p>
        After publishing your brief, sellers may ask questions via email. <a href="{{ url_for('main.how_to_answer_supplier_questions') }}">You must respond to their questions</a> by posting the question and your answer at the bottom of your brief, so all potential applicants can see the information.
      </p>
      {% endif %}

      <h2>Step 3. Evaluate applicants and award a contract</h2>
      {% if lot.slug == "digital-professionals" %}
      <p>
        After your brief closes, evaluate the applicants using the criteria you set when creating the brief and <a href="/buyers-guide">award the contract</a> to the applicant who best meets your needs and represents value for money.
      </p>
      {% elif lot.slug == "digital-outcome" %}
      <p>
        After your brief closes, evaluate the applicants using the criteria you set when creating the brief and <a href="/buyers-guide">award the contract</a> to the applicant who best meets your needs and represents value for money.
      </p>
      {% endif %}

      <br>
      
      <form action="{{ url_for('buyers.start_new_brief', framework_slug=framework.slug, lot_slug=lot.slug) }}" method="get">

        {%
          with
          label="Create brief",
          type="save",
          role="button"
          %}
          {% include "toolkit/button.html" %}
        {% endwith %}

      </form>


        {% endblock %}
