{% extends "_base_page.html" %}

{% set title_text =
  {
    "digital-outcome": "Finding a team to provide an outcome",
    "digital-professionals": "Hire a digital specialist",
    "training": "Get training to build digital skills",
  }[lot.slug]
  %}

  {% block page_title %}
  {{ title_text }} - Digital Marketplace
  {% endblock %}

{% block body_classes %}brief-builder brief-content contrast-headings{% endblock %}

  {% block breadcrumb %}
  {%
    with items = [
    {
      "link": url_for("main.index"),
      "label": "Home"
    }
    ]
    %}
    {% include "_light_breadcrumb.html" %}
    {% endwith %}
  {% endblock %}

    {% block main_content %}

    {% with
      smaller = true,
      heading = title_text
      %}
      {% include 'toolkit/page-heading.html' %}
      {% endwith %}

      {% if lot.slug == "digital-outcome" %}
        <p>
          To find a digital outcome, you’ll need to tell sellers about the situation, 
          problem or opportunity.
        </p>
        <p>
          For example, a booking system or an accessibility audit. They’ll then propose 
          a solution to meet your needs.
        </p>
        <h2 class="au-display-lg">Before you start:</h2>
        <ul>
          <li>
            To help prepare your brief offline, 
            <a href="/static/media/documents/outcome_brief_draft_questions.xlsx">
              download the draft questions (XLSX 27KB)
            </a>.
          </li>
          <li>As part of your research remember you can 
            <a href="/search/sellers">
              contact sellers
            </a> for their input.
          </li>
          <li>Make sure you have budget approval.</li>
        </ul>
        <h2 class="au-display-lg">While your brief is live:</h2>
        <ul>
          <li>
            If sellers ask questions, the person who published the brief will receive them via email. 
            Make sure they are available and can respond within the required timeframes.
          </li>
        </ul>
        <h2 class="au-display-lg">After your brief closes:</h2>
        <ul>
          <li>You will receive seller responses after 1 to 2 weeks. This includes your ‘essential and nice-to-have skills and experience’. You won’t receive proposals at this stage.</li>
          <li>Use the seller responses to shortlist a group of sellers, then approach them to provide detailed proposals.</li>
          <li>Evaluate the proposals using the criteria you set when creating the brief.</li>
          <li>
            Award the contract to the applicant who best meets your needs and represents value for money.
          </li>
        </ul>
      {% elif lot.slug == "digital-professionals" %}
        <p>Use this service to:</p>
        <ul>
          <li>Hire a person in one of the <a href="https://marketplace1.zendesk.com/hc/en-gb/articles/360000556476" rel="external">Digital Marketplace panel categories</a>.</li>
          <li>Answer seller questions while your opportunity is live.</li>
          <li>Download responses, including résumés once your opportunity has closed.</li>
          <li>Draft a work order.</li>
        </ul>
        <p>
          <a href="/static/media/documents/specialist_brief_draft_questions.xlsx">
            Download the draft questions (XLSX 68KB)
          </a>
        </p>
        <p>
          <a href="https://marketplace1.zendesk.com/hc/en-gb/articles/360000583195-Hire-a-digital-specialist" rel="external">
            View the support article
          </a>
        </p>
      {% elif lot.slug == "training" %}
        <p>Use this service to:</p>
        <ul>
          <li>Request proposals from <a href="/search/sellers/?role=Training,%20Learning%20and%20Development&sort_by=a-z&view=sellers&user_role=buyer">approved sellers</a> to build digital skills and expertise.</li>
          <li>Answer seller questions while your opportunity is live.</li>
          <li>Download responses once your opportunity has closed.</li>
          <li>Draft a work order.</li>
        </ul>
        <p>
          You can use the <a href="https://govau.github.io/learning-design-standards/" rel="external">learning design standards</a> to help structure your approach.
        </p>
        <p>
          <a href="/static/media/documents/training_brief_draft_questions.docx">
            Download the draft questions (DOCX 391KB)
          </a>
        </p>
        <p>
          <a href="https://marketplace1.zendesk.com/hc/en-gb/articles/360000299476-Get-training-to-build-digital-capability" rel="external">
            View the support article
          </a>
        </p>
      {% endif %}

      <br/>
      
      <form action="{{ url_for('buyers.start_new_brief', framework_slug=framework.slug, lot_slug=lot.slug) }}" method="get">

        {%
          with
          label="Create opportunity",
          type="save",
          class="button"
          %}
          {% include "toolkit/button.html" %}
        {% endwith %}

      </form>


        {% endblock %}
