{% macro brief_link_url(from, section, framework, lot, brief) %}
  {% if section.has_summary_page %}
    {{ url_for('.view_brief_section_summary', framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief.id, section_slug=section.slug) }}
  {% else %}
    {% if from == 'grandparent' %}
      {{ url_for('.edit_brief_question', framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief.id, section_slug=section.slug, question_id=section.questions[0].id) }}
    {% else %}
      {{ url_for('.view_brief_overview', framework_slug=framework.slug, lot_slug=lot.slug, brief_id=brief.id) }}
    {% endif %}
  {% endif %}
{% endmacro %}
