{%- for slug in questions.keys() -%}
  {% set question = questions.get(slug) %}
  {% set value = work_order.get(slug) %}
  {% set url = url_for('buyers.get_work_order_question', work_order_id=work_order.id, question_slug=slug) %}

  {% if question.type == 'address' %}
    <tr>
      <td>
        <span>{{ question.get("description") }}</span><br>
        <span>{{ question.get("nameLabel") }}</span><br>
        <span>{{ question.get("contactLabel") }}</span><br>
        <span>{{ question.get("abnLabel") }}</span><br>
      </td>
      <td>
        <span>
          {% if value is not iterable %}
            <a  class="work-order__add" href="{{ url }}">{{ question.get("infoToAdd") }}</a>
          {% else %}
            <br>
            <span>{{ value.get("name") }}</span><br>
            <span>{{ value.get("contact") }}</span><br>
            <span>{{ value.get("abn") }}</span><br>
          {% endif %}
        </span>
      </td>
      <td>
        {% if value is iterable %}
          <a href="{{ url }}">Edit</a>
        {% endif %}
      </td>
    </tr>
  {% else %}
    <tr>
      <td>
        <span>{{ question.get("description") }}</span>
      </td>
      {% if value is not string %}
        <td>
          <a class="work-order__add" href="{{ url }}">{{ question.get("infoToAdd") }}</a>
        </td>
      {% else -%}
        <td class="summary-item-free-text">
          <span>{{ value }}</span>
        </td>
      {%- endif %}
      <td>
        {% if value is string %}
          <a href="{{ url }}">Edit</a>
        {% endif %}
      </td>
    </tr>
  {% endif %}
{% endfor %}
