<h2>Filter by <span><a href="{{ url_for('main.supplier_search') }}" class="clear-all">Clear all</a></span></h2>
{% for filter in filters %}
<form action="{{ search_url }}" method="get">
  <details open data-label="accordion-example" aria-expanded="true">
    <summary>{{ filter.name }}</summary>
    <div class="accordion-panel">

      <fieldset>
        <legend></legend>
        {% for option in filter.options|sort() %}
        <input id="{{ option.label|replace(" ", "-")|lower }}" type="checkbox" name="{{ option.name }}" value="{{ option.value }}" {% if option.checked %}checked{% endif %}>
        <label for="{{ option.label|replace(" ", "-")|lower }}">{{ option.label }}</label>
        {% endfor %}
      </fieldset>

      <div class="marketplace-sidebar-filter-btn-box">
        <button>Update filter results</button>
      </div>
    </div>
  </details>

  <p>
    <strong>Don't see what you need?</strong><br>
    To request an update to the Marketplace, email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
  </p>

</form>
{% endfor %}
