{% extends "_base_page.html" %}

{% block page_title %}About the Marketplace{% endblock %}

{% block body_classes %}about-us secondary-page{% endblock %}

{% block main_content %}
  
  <h1>About the Marketplace</h1>
  <p>We're transforming how government buys digital and technology services.</p>


  <a id="how-the-marketplace-started"></a><h2>Our purpose</h2>
    <p>The Marketplace is an initiative under the National Innovation and Science Agenda.  Our purpose is to make it
        easier for smaller businesses to compete for the government’s $5 billion a year spend on information and
        communications technology (ICT) products and services.</p>

    <p>Based on a successful UK model, the Marketplace is an online directory of digital and technological services for
        government agencies to procure ICT solutions from businesses of all sizes. It’s also a place for
        government buyers to discover new ideas and challenge ICT suppliers to develop more innovative government services.</p>


  <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
