{% extends "_base_page.html" %}

{% block page_title %}Case study evaluation criteria{% endblock %}

{% block body_classes %}secondary-page{% endblock %}

{% block main_content %}
  <h1>Assessment criteria</h1>
  <h2>Criteria for all services</h2>
  <ul>
    <li>Work in a multidisciplinary team in an agile delivery environment.</li>
    <li>Communicate with a wide range of disciplines both internally and externally.</li>
    <li>Present findings, insights and recommendations to justify decisions.</li>
    <li>Establish relationships to support delivery of services.</li>
  </ul>
  <h2>Criteria for each service</h2>
  <nav class="index-links">
    <ul>
      <li><a href="#user-research-design">User research and design</a></li>
      <li><a href="#content-publishing">Content and publishing</a></li>
      <li><a href="#marketing-communications">Marketing, communications and community engagement</a></li>
      <li><a href="#engineering-development">Software engineering and Development</a></li>
      <li><a href="#data-science">Data science</a></li>
      <li><a href="#recruitment">Recruitment</a></li>
      <li><a href="#cyber-security">Cyber security</a></li>
      <li><a href="#delivery-governance">Delivery and governance</a></li>
      <li><a href="#operations">Operations</a></li>
      <li><a href="#change-transformation">Change, training and transformation</a></li>
      <li><a href="#Strategy-policy">Strategy and policy</a></li>
      <li><a href="#digital-products">Digital products</a></li>
      <li><a href="#emerging-technology">Emerging technology prototyping</a></li>
    </ul>
  </nav>
  <a id="user-research-design"></a><h2>User research and design</h2>
  <p>Case studies must demonstrate <strong>3 or more</strong> of the following:</p>
  <ul>
    <li>
      Plan, design, conduct and analyse user research in an agile delivery environment.
    </li>
    <li>
      Recruit participants from diverse audiences, including people with disability, CALD audiences and other minority
      groups. Provide facilities for usability testing.
    </li>
    <li>
      Visually communicate user research through presentations, journey maps, videos etc. to clarify key outcomes and
      generate empathy for end users
    </li>
    <li>
      Map existing user experiences and identify user needs. Find opportunities for reducing failure, reducing the cost
      of a service and better meet the user need.
    </li>
    <li>
      Develop concepts based on research insights. Iteratively test concepts with end users, from paper sketches to HTML
      prototypes.
    </li>
    <li>
      Design for different screen sizes and input methods (for example, touch, mouse and keystroke) following style
      guides and WCAG 2.0 AA guidelines.
    </li>
    <li>
      Develop concepts based on research insights. Iteratively test concepts with end users, from paper sketches to HTML
      prototypes.
    </li>
    <li>
      Perform accessibility audits to uncover accessibility issues and get recommended fixes.
    </li>
  </ul>

  <a id="content-publishing"></a><h2>Content and publishing</h2>
  <p>Case studies must demonstrate <strong>2 or more</strong> of the following:</p>
  <ul>
    <li>
      Providing content that meets the needs of the user as clearly, simply and quickly as possible. Formats include
      plain language copy, photography, illustration, interactive media and video.
    </li>
    <li>
      Creating content for different platforms and devices, following style guides and accessibility and cultural
      diversity best practice.
    </li>
    <li>
      Experience with content platforms (for example Sitecore, GovCMS), content governance frameworks and detailed
      editorial calendars.
    </li>
    <li>
      Defining and maintaining taxonomies, tagging systems and metadata.
    </li>
    <li>
      A/B testing to improve and share insights on content performance.
    </li>
  </ul>
  <a id="marketing-communications"></a><h2>Marketing, communications and community engagement</h2>
  <p>Case studies must demonstrate <strong>1 or more</strong> of the following:</p>
  <ul>
    <li>
      Creating targeted digital marketing campaigns that have delivered user engagement and significant product or
      service usage.
    </li>
    <li>
      Experience in quantifying marketing impact and SEO performance and strong understanding of technical SEO -
      sitemaps, crawl budget, canonicalization, etc.
    </li>
    <li>
      Develop press strategies and provide communications guidance.
    </li>
    <li>
      Create strategies to increase engagement within communities.
    </li>
    <li>
      Plan, produce, and execute events.
    </li>
    <li>
      Experience with public sector account and relationship management
    </li>
  </ul>


  <a id="engineering-development"></a><h2>Software engineering and development</h2>

  <p>Case studies must demonstrate <strong>3 or more</strong> of the following:
  </p>
  <ul>
    <li>
      Research and weigh up competing technology choices and make informed decisions based on user needs, with a
      preference for open source technology.
    </li>
    <li>
      Experience using and deploying on cloud-based platforms.
    </li>
    <li>
      Use and implementation of modern front end web programming techniques, such as HTML5, CSS3, AJAX, REST and JSON.
    </li>
    <li>
      Good development skills in one or more of Ruby, Python, JavaScript, with familiarity with one or more open source
      web frameworks such as Rails, Django.
    </li>
    <li>
      Proven capability in managing technology implementation projects
      Track record of successfully taking an evolutionary architecture approach to software architecture.
    </li>
    <li>
      Experience building and scaling high-traffic websites and/or high volume transaction processing and analysis
      platforms.
    </li>
    <li>
      Experience designing and implementing scalable and robust approaches to caching, security and databases (including
      relational, for example, MySQL and PostgreSQL; and NoSQL, for example, Cassandra and MongoDB).
    </li>
    <li>
      Deep and wide experience with infrastructure and platform technologies like AWS, Google Cloud, Cloud Foundry,
      Deis, or Tsuru.
    </li>
    <li>
      Deep and wide knowledge of the plumbing of the internet (TCP/IP, routing, bridging, HTTP, SSL, DNS, mail).
    </li>
    <li>
      Experience designing and implementing scalable and robust approaches to caching, security and databases (including
      relational, for example, MySQL and PostgreSQL; and NoSQL, for example, Cassandra and MongoDB).
    </li>
    <li>
      Experience with automated configuration management, deployment and testing solutions.
    </li>
    <li>
      Experience configuring and managing Linux servers for serving a dynamic website.
    </li>
    <li>
      Experience debugging a complex multi-server service.
      Familiarity with configuration management tools like Puppet and Chef.
    </li>
  </ul>
  <a id="data-science"></a><h2>Data science</h2>
  <p>Data science case studies must demonstrate:</p>
  <ul>
    <li>
      Solving difficult, non-routine analysis problems, working with large, complex data sets.
    </li>
    <li>
      Experience with statistical methods such as parametric and nonparametric significance testing.
    </li>
    <li>
      Experience with statistical software (e.g., R, Julia, MATLAB, pandas) and database languages (e.g. SQL).
    </li>
    <li>
      Providing insight or recommendations (e.g. cost-benefit, forecasting, experiment analysis) through visual displays
      of quantitative information.
    </li>
  </ul>
  <a id="recruitment"></a><h2>Recruitment</h2>
  <p>Recruitment case studies must demonstrate:</p>
  <ul>
    <li>
      Assessing applications against specified employment criteria
    </li>
    <li>
      Create shortlists of preferred candidates
    </li>
    <li>
      Deliver assessment tools and activities, such as scripting behavioural interview questions and conducting
      interviews.
    </li>
    <li>
      Coordinate pre-employment screening, where required
    </li>
  </ul>
  <a id="cyber-security"></a><h2>Cyber security</h2>
  <p>Case studies must demonstrate <strong>1 or more </strong>of the following:</p>
  <ul>
    <li>
      Research and development to better detect, deter and respond to emerging cyber security issues.
    </li>
    <li>
      Discover, communicate and explain security vulnerabilities to development teams to ensure secure coding In a
      multi-product, continuous delivery environment.
    </li>
    <li>
      Automated testing to align with continuous integration.
    </li>
    <li>
      Carry out assessments (penetration testing, Web Application security testing, vulnerability scanning, threat
      modelling, etc).
    </li>
    <li>
      Experience with Security testing tools, (eg Nessus, RKHunter, Fail2Ban, BURP, Cucumber, Netsparker).
    </li>
    <li>
      Recommend improvements to fix vulnerabilities in products, infrastructures, and processes.
    </li>
    <li>
      Security architecture reviews, IRAP assessments, Risk assessments, and writing of security related documentation.
    </li>
    <li>
      Experience with Data Loss Prevention and Data Protection.
      Security incident or emergency response.
    </li>
    <li>
      Monitoring of IT equipment, facility access or infrastructure access.
    </li>
    <li>
      Recovery of information from computers and storage devices.
    </li>
  </ul>


  <a id="delivery-governance"></a><h2>Delivery and governance</h2>
  <p>
    Content goes here.
  </p>
  <ul>
    <li>
      Governing delivery and continuous improvement of a digital service, aligned to the <a
        href="//www.dta.gov.au/standard/" target="_blank" rel="external">Digital Service Standard</a>
    </li>
  </ul>
  <a id="operations"></a><h2>Operations</h2>
  <p>
    Content goes here
  </p>
  <a id="change-transformation"></a><h2>Change, training and transformation</h2>
  <p>Case studies must demonstrate <strong>2 or more</strong> of the following:</p>
  <ul>
    <li>
      Work at the team, portfolio or program level, to help organisations establish the right processes for managing a
      portfolio of work in an agile way.
    </li>
    <li>
      Experience delivering change activities, leading stakeholder engagement, identifying learning and development
      opportunities, and driving organisation-wide cultural change.
    </li>
    <li>
      Automated testing to align with continuous integration.
    </li>
    <li>
      Carry out assessments (penetration testing, Web Application security testing, vulnerability scanning, threat
      modelling, etc).
    </li>
    <li>
      Assess business readiness, design and implement target operating models, performance management and organisational
      learning.
    </li>
    <li>
      Design and delivery of training programs.
    </li>
  </ul>
  <a id="digital-products"></a><h2>Digital products</h2>
  <p>
    Content tbd
  </p>
  <a id="emerging-technology"></a><h2>Emerging technology prototyping</h2>
  <p>Case studies must demonstrate research and development of proof of concepts using emerging technologies such as:
  </p>
  <ul>
    <li>
      Artificial intelligence
    </li>
    <li>
      Robotics
    </li>
    <li>
      Wearables
    </li>
    <li>
      Beacons, BLE, accessory port, ADK
    </li>
    <li>
      VR, AR, Kinect, NUI, or machine vision technologies.
    </li>
  </ul>

{% endblock %}