{% extends "_base_page.html" %}

{% block page_title %}About the Digital Marketplace{% endblock %}

{% block body_classes %}about-us secondary-page{% endblock %}

{% block main_content %}


<div>
    <h1>Joining the Digital Marketplace</h1>
    <p>
        To become a registered seller and offer your services or software products to government you need to
        tell us about your business. </p>
    <p>By completing this application you are automatically responding to an open approach to market, whose terms and conditions, like other government tenders, are <a href="https://www.tenders.gov.au/?event=public.atm.show&ATMUUID=DFB1DEA6-9358-50DF-39F6B7FF9918A8F9" target="_blank" rel="external"> publicly available</a>.</p>
    <p> The information you share will be used to create your seller profile. If you offer services it will also be
      used to confirm you meet the <a href="/assessment-criteria" target="_blank" rel="external">assessment criteria</a>
      when you express interest in opportunities.</p>
    <p> It may take more than one visit to complete this application. But don’t worry, your information will
        be saved automatically if
        you need to come back later.
    </p>
    <h2>You'll need</h2>
    <ul>
        <li>Your basic business information</li>
        <li>Recent financial records or a viability statement from your accountant</li>
        <li>Proof of relevant insurance cover</li>
    </ul>
    <h2>You'll be asked to</h2>
    <ul>
        <li>Share details about services or products you wish to provide</li>
        <li>Provide case studies and referees to support your application</li>
        <li>Accept the Digital Marketplace Master Agreement</li>
    </ul>

    <p><a href="/static/media/documents/digital-marketplace-master-agreement.pdf">Download Digital Marketplace Master Agreement (PDF 229kb)</a></p>

      <p>
        <a role="button" href="/2/signup">Start now </a>
    </p>
</div>
{% endblock %}
