{% extends "_base_page.html" %}

{% block page_title %}G-Cloud buyers' guide - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'), 
          "label": "Digital Marketplace"
      },
      {
          "link": url_for('.index_g_cloud'), 
          "label": "Cloud technology and support"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
<div id="publication" class="html-publications-show">

<header class="publication-header" id="contents"><div class="inner-block floated-children">
<div class="headings">
<p class="document-type">Guidance</p>
<h1>G-Cloud buyers' guide</h1>
<p>Updated <abbr class="published-at date" title="2014-09-30T12:35:08+00:00">30 September 2014</abbr></p>
</div>
<nav class="in-page-navigation"><h2>Contents</h2>
<ol>
<li><a href="#buying-services-on-digital-marketplace">Buying cloud services on the Digital Marketplace</a></li>
<li><a href="#g-cloud-order-form">Choosing the right G-Cloud framework agreement</a></li>
<li><a href="#continuing-or-ending-g-cloud-services">Continuing or ending G-Cloud services</a></li>
<li><a href="#after-your-contract-expires">After your contract expires</a></li>
</ol></nav>
</div>
</header>
<div class="block publication-content">
<div class="inner-block floated-children">
<div class="govspeak">

<h2 id="buying-services-on-digital-marketplace">
<span class="number">1. </span>Buying cloud services on the Digital Marketplace</h2>
<p>
  You can use the Digital Marketplace to find and compare cloud technology and support (eg web hosting or site analytics).
</p><p>
  All public sector organisations, including agencies and arm’s length bodies, can use the Digital Marketplace.
  <a href='https://www.gov.uk/government/publications/public-sector-organisations-eligible-to-use-cloudstore' rel='external'>Check the list of approved organisations</a> to see if you’re eligible.
</p><p>
  All the cloud services included on the Digital Marketplace are listed on the G-Cloud framework, and all suppliers have successfully been through the Official Journal of the European Union (OJEU) process. That means you can save on the time and cost traditionally associated with entering into individual procurement contracts.
</p><p>
  There are over 19,000 services on the Digital Marketplace, split into 4 categories:
</p>
<ul>
  <li>
    Infrastructure as a Service (IaaS)
  </li><li>
    Platform as a Service (PaaS)
  </li><li>
    Software as a Service (SaaS)
  </li><li>
    Specialist Cloud Services (SCS)
  </li>
</ul>
<p>
  When using the Digital Marketplace, you're still running your own procurement as usual and must still follow best practice.
</p>
<p>You should follow the buying process below:</p>

<ol>
<li>Prepare your requirements – a list of ‘must-haves’ and ‘wants’ – and get approval to buy what you need.</li>
<li>Search for services on the Digital Marketplace using keywords.</li>
<li>Review services and apply the filters to create your shortlist.</li>
<li>Evaluate your options to find the cheapest or best value for money.</li>
<li>Select your service, award and sign the call-off agreement.</li>
<li>Complete the <a rel="external" href="http://ccs-agreements.cabinetoffice.gov.uk/sites/default/files/contracts/G-Cloud%20Customer%20Benefits%20Record.docx">Crown Commercial Service (CCS) benefits form</a>.</li>
</ol>

<div class="image-embedded"><img alt="" src="/static/images/buying-process.png"></div>
<p>If you award a contract through G-Cloud, make sure you keep a record of all the selection process stages. You must be able to demonstrate a clear, accountable audit trail, including searches you’ve carried out, filters you’ve applied and any evaluation you’ve made.	 </p>

<h3 id="understand-what-you-need">
<span class="number">1.1 </span>Prepare your requirements and get approval</h3>
<p>We recommend working with both procurement and technical professionals to establish the high-level requirements and timescales of your project.</p>
<p>You should consider:</p>
<ul>
<li>
the funds you have available to buy the service
</li><li>
the technical and procurement requirements of the project
</li><li>
the selection criteria on which your choice will be based
</li>
</ul>
<p>
Identify what the ‘must-have’ requirements are and what the ‘wants’ are to help you define the search terms to use. A very broad search (eg “hosting”) will return a list of several services. Use this first stage to understand:
</p>
<ul>
<li>
the technologies that are available
</li><li>
the technologies that are a good fit for your project
</li>
</ul>
<p>
Read the government service manual guidance on <a href='https://www.gov.uk/service-manual/making-software/choosing-technology.html' rel='external'>choosing technology</a> for what points to consider.
</p>
<p>
You’ll need to check that you have approval to buy what you need.
</p>


<h3>
<span class="number">1.2 </span>Search for services
</h3>
<p>
Next, use the Digital Marketplace to search for services that meet your needs. You can add keywords to create a list of services that meet your ‘must-have’ requirements (eg content management system and open standards) and those that could also support your ‘would-like’ needs (eg Firefox support, content rating and link management).
</p><p>
To see all the services that meet your requirements, try using different search terms to make sure you get the most complete set of results possible (eg “document management system” and “content management system”).
</p>
<p>
Read the
<a href='https://digitalmarketplace.blog.gov.uk/2014/10/01/how-to-find-the-services-that-meet-your-requirements/'>blog post on search tips</a>
for more guidance on finding the service you need.
</p>

<h3 id="create-your-longlist">
<span class="number">1.3 </span>Review services to create your shortlist</h3>
<p>
Create a shortlist by using the filters, and by reading the short descriptions provided by suppliers. You can find more service details in the additional documents.
</p>
<p>
Each service listing includes:
</p>
<ul>
<li>
a detailed service definition document
</li>
<li>
a terms and conditions document
</li>
<li>
a pricing document
</li>
</ul>
<p>
The price shown on the service listing page is the cost of the most common configuration of the service. Pricing is generally volume-based, so you should always look at the supplier’s pricing document to work out the actual price of what you're going to buy.
</p>

<h3>
<span class="number">1.4 </span>Evaluate your options
</h3>
<p>
There are 2 ways to review your shortlist: lowest cost or most economically advantageous tender (MEAT).
</p><p>
Spend some time going through the service descriptions to find the services that best meet your needs based on both requirements and budget. You can contact the suppliers and request more information about what their service offers.
</p><p>
Your assessment of suppliers throughout the process should always be as fair and as transparent as possible. You shouldn’t unfairly exclude any services without the justification of project requirements.
</p><p>
For a <abbr title="Most Economically Advantageous Tender">MEAT</abbr>-based assessment of suppliers, you must use the criteria in the table below, but you can decide what detailed characteristics you use and how you weight them.
</p>

<table>
<caption class="visuallyhidden">
  Specialties and Roles in the Digital Services Framework
</caption>
<thead><tr>
<th>Criteria number</th>
<th>Direct award criteria</th>
</tr></thead>
<tbody>
<tr>
<td>1</td>
<td>Whole life cost: cost effectiveness; price and running costs</td>
</tr>
<tr>
<td>2</td>
<td>Technical merit and functional fit: coverage, network capacity and performance as specified in relevant service levels</td>
</tr>
<tr>
<td>3</td>
<td>After-sales service management: help desk, account management function and assurance of supply of a range of services</td>
</tr>
<tr>
<td>4</td>
<td>Non-functional characteristics</td>
</tr>
</tbody>
</table>

<h3 id="">
<span class="number">1.5 </span>Select your service, award and call-off contract
</h3>

<h4 id="single-supplier">Single supplier</h4>
<p>
If only one supplier meets your requirements, you can award the contract to them without doing anything else.
</p>

<h4 id="multiple-suppliers">Multiple suppliers</h4>
<p>
There will usually be a number of services on your shortlist. If all these services meet your requirements and are very similar, you can select one on the basis of lowest cost alone.
</p>

<p>Often the cheapest option will be obvious, but you might need to:</p>

<ul>
<li>look at combinations of different suppliers       	 </li>
<li>get specific information about volumes</li>
</ul>
<p>The final selection should be based on best fit rather than ruling out suppliers that don’t meet either your current contract or an ideal set of terms.</p>

<p>If you need any clarification to help you make your final decisions, you can request this directly from the suppliers. </p>

<h4>Call-off contract</h4>
<p>
In a call-off contract, the terms and conditions and prices are all agreed when you sign the framework agreement. A copy of the call-off contract must be signed by all interested parties (the buyer and supplier) before the service can be used.
</p><p>
The G-Cloud framework is unlike most other frameworks because it includes the suppliers’ terms and conditions. In the case of any contradiction between the supplier's service terms and conditions in the call-off contract and the framework terms and conditions, the framework terms will take precedence.
</p>

<h3 id="">
<span class="number">1.6 </span>Complete the Crown Commercial Service (CCS) savings form
</h3>
<p>
CCS works with departments and organisations across the public sector to improve service delivery quality and ensure every commercial relationship provides value for money. That means it has to record savings and monitor the ongoing performance of the G-Cloud framework(s).
</p><p>
You must fill in the CCS
<a  rel="external" href='http://ccs-agreements.cabinetoffice.gov.uk/sites/default/files/contracts/G-Cloud%20Customer%20Benefits%20Record.docx'>G-Cloud Customer Benefits Record</a> form every time you enter into a call-off agreement. Email a copy of your G-Cloud Customer Savings Record form to <a href='mailto:gcloud-savings@ccs.gsi.gov.uk'>gcloud-savings@ccs.gsi.gov.uk</a>.
</p><p>
Your contract details won't be published.
</p>


<h2 id="g-cloud-order-form">
<span class="number">2. </span>Choosing the right G-Cloud call-off contract document</h2>
<p>
Two iterations of the G-Cloud framework are currently available on the Digital Marketplace: <a rel="external" href="http://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1557v">G-Cloud 5</a> and <a rel="external" href="http://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1557vi">G-Cloud 6</a>. You can buy services from either framework.
</p>

<h3>G-Cloud 5 framework</h3>
<p>If you’re buying a G-Cloud 5 service, you need to use a G-Cloud 5 call-off contract document. You can find the G-Cloud 5 call-off contract under the documents tab of the <a rel="external" href="http://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1557v">G-Cloud 5</a> page on the CCS website.</p>

<h3>G-Cloud 6 framework</h3>
<p>If you’re buying a G-Cloud 6 service, you need to use a G-Cloud 6 call-off contract document. You can find the G-Cloud 6 call-off contract under the documents tab of the <a rel="external" href="http://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1557vi">G-Cloud 6</a> page on the CCS website.</p>

<h2 id="continuing-or-ending-g-cloud-services">
<span class="number">3. </span>Continuing or ending G-Cloud services</h2>
<p>Services bought via the G-Cloud framework can't be extended. Contract awards on G-Cloud can last for up to 24 months. After this period, you’ll need to re-evaluate your needs and the services on offer on the Digital Marketplace. If your requirements haven't changed, you can repeat your search and check that no other services are available.</p>

<h2 id="after-your-contract-expires">
<span class="number">4. </span>After your contract expires</h2>
<p>If your project scope and needs remain exactly the same, you can re-enter the Digital Marketplace and re-use the same searches. That way, you can check that no new services are offered that may be better value for money. You can then enter into a new call-off contract but must keep records to prove that your assessment has been fair.</p>

<p>
If you have any questions relating to the G-Cloud framework or the buying process, please get in touch at
<a href='mailto:enquiries@digitalmarketplace.service.gov.uk'>enquiries@digitalmarketplace.service.gov.uk</a>.
</p>



</div>
</div>
</div>
</div>

{% endblock %}
