{% extends "_base_page.html" %}

{% block page_title %}Buyer's guide{% endblock %}

{% block body_classes %}buyers-guide secondary-page{% endblock %}

{% block main_content %}
  <h1>Buyer's guide</h1>
    <p>
    Every business listed in our <a href="{{ url_for('main.supplier_search') }}">seller catalogue</a> is on the Digital Service Professionals Panel (SON3364729) established through a Request for Tender by the <a href="https://dto.gov.au/">Digital Transformation Office</a>.
  </p>
    
  <p>
    By 31 August 2016, you will be able to build your documentation online, for now these are the documents you’ll need to engage a seller.
  </p>
    <p>
      <strong>Note: When raising purchase orders use category 80101507 - Information Technology Consultation Services.</strong>
    </p>
  <ul>
    <li>
      <a href="{{ asset_path }}media/documents/DSPP_Order_Template.docx">Work Order template
      <img src="{{ asset_path }}svg/icon_download.svg" style="height: 1em"></a>
    </li>
      <li>
      <a href="{{ asset_path }}media/documents/DSPP_RFQ_Template.docx">RFQ template
      <img src="{{ asset_path }}svg/icon_download.svg" style="height: 1em"></a>
    </li>
    <li>
      <a href="{{ asset_path }}media/documents/DSPP_Deed_of_Standing_Offer.pdf">Deed of Standing Offer
      <img src="{{ asset_path }}svg/icon_download.svg" style="height: 1em"></a>
    </li>
  </ul>
  
{% endblock %}
