{% extends "_base_page.html" %}

{% block page_title %}Buyer's guide{% endblock %}

{% block body_classes %}buyers-guide secondary-page{% endblock %}

{% block main_content %}
  <h1>Buyer's guide</h1>

  <nav class="index-links">
    <h2>In this section</h2>
    <ul>
        <li><a href="#what-is-the-digital-marketplace">What is the Digital Marketplace?</a></li>
        <li><a href="#why-use-the-digital-marketplace">Why use the Digital Marketplace?</a></li>
        <li><a href="#who-can-be-a-buyer">Who can be a buyer?</a></li>
        <li><a href="#what-can-you-buy">What can you buy?</a></li>
        <li><a href="#the-buying-process">The buying process</a></li>
        <li><a href="#how-we-meet-procurement-rules">How we meet procurement rules</a></li>
        <li><a href="#useful-documents">Useful documents</a></li>
        <li><a href="#do-i-need-to-use-austender">Do I need to use AusTender as well?</a></li>
        <li><a href="#help-us-build-a-better-marketplace">Help us build a better Marketplace</a></li>
    </ul>
  </nav>


  <h2 id="what-is-the-digital-marketplace">What is the Digital Marketplace?</h2>
  <p>
    As part of the <a rel="external" href="http://www.innovation.gov.au/page/agenda">National Science and Innovation Agenda</a> the Marketplace is making it easier for digital businesses and government to work together.
  </p>

  <p>
    Now in Beta, the Marketplace is about more than bringing a government panel online. We’re building an end-to-end digital environment that makes all digital procurement easier — whether it’s straightforward, more complex or requiring a higher degree of collaboration and creativity.
  </p>

  <h2 id="why-use-the-digital-marketplace">Why use the Digital Marketplace?</h2>
  <p>The Marketplace can help you reach a better procurement outcome faster.</p>
  <p>It gives government buyers access to a large pool of approved digital businesses and it makes the procurement process simpler. First time buyers have reported they can create and publish a brief within 30 minutes. Briefs can remain open for 1 or 2 weeks. So, if what you need is straightforward, you can have a proposal or resumes on your desk in a little over a week.</p>


  <h2 id="who-can-be-a-buyer">Who can be a buyer?</h2>
  <p>
    If you work in government and you need digital services you can become a buyer in the Marketplace. Our buyers are from across local, state, territory and federal government, including entities such as the ABC, the National Museum of Australia and some universities.
  </p>

  <p>
    If you have an email address ending in <strong>.gov.au</strong> you can create a buyer account now. If you work in government but your email is different, email your account request to <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>
  </p>

  <p>
    <a href="{{ url_for('main.buyer_signup') }}" role="button">Create a buyer account</a>
  </p>

  <h2 id="what-can-you-buy">What can you buy?</h2>
  <h3>Outcomes</h3>
  <p>
     Agencies are using the Marketplace for a variety of projects large and small. From a <a href="{{ url_for('main.get_brief_by_id', framework_slug='digital-service-professionals', brief_id=163) }}">short assessment of a team’s capabilities</a>, to <a href="{{ url_for('main.get_brief_by_id', framework_slug='digital-service-professionals', brief_id=155) }}">software reviews for next-generation submarines</a> or <a href="{{ url_for('main.get_brief_by_id', framework_slug='digital-service-professionals', brief_id=93) }}">multi-million dollar website projects</a> and everything in between.
  </p>

  <p>
    <a role="button" href="{{url_for('main.info_page_for_starting_a_brief', framework_slug='digital-service-professionals', lot_slug='digital-outcome')}}">Create a brief for an outcome</a>
  </p>
  <p>Need a hand with your brief? <a href="mailto:marketplace@digital.gov.au">Contact us</a>.</p>

  <h3>Specialists</h3>
  <p>
    Engage individual digital specialists with the essential skills to deliver today’s digital projects through the Marketplace.
  </p>

  <p>
    <a role="button" href="{{url_for('main.info_page_for_starting_a_brief', framework_slug='digital-service-professionals', lot_slug='digital-professionals')}}">Create a brief for a specialist</a>
  </p>
  <p>Need a hand with your brief? <a href="mailto:marketplace@digital.gov.au">Contact us</a>.</p>

  <h2 id="the-buying-process">The buying process</h2>
  <p>
    Until now, successful procurement involved a lot of pre-research. Before you could go to market you had to carefully define your requirements and find a small group of potential sellers who could meet them. The Digital Marketplace turns this around. By posting what you need ‘Open to all’ buyers in the Digital Marketplace it’s easy to find sellers who are available and have the expertise you need. And it makes the process easier, instead of going to Market you simply let the Market come to you.
  </p>
  
  <img src="{{ asset_path }}images/How-to-buy@2x.jpg" alt="Follow these 6 steps to buy in the Marketplace; Prepare, Publish, Respond, Shortlist, Evaluate, Award." />

  <ol class="bold-numbers">
    <li>
      <b>Prepare</b>
      <ul>
        <li>Decide on what you need, or the problem you want to solve</li>
        <li>Check you have budget approval</li>
        <li><a href="{{ url_for('main.buyer_signup') }}">Create a buyer account</a>, if you don’t have one already</li>
        <li>If you wish, collaborate on your brief using this <a href="{{ asset_path }}media/documents/Requirements_Brief_Template.xlsx">spreadsheet brief template</a></li>
        <li>If you’re unsure of what you need you can speak to sellers directly</li>
      </ul>
    </li>
    <li>
      <b>Publish</b>
      <ul>
        <li>Choose whether you’re looking for an outcome or an individual</li>
        <li>Follow the steps in the brief builder to create your brief</li>
        <li>Choose whether you want to go ‘Open to 1’, ‘Open to selected’, or ‘Open to all’ (recommended)</li>
        <li>Choose whether you want your brief to be open for 1 or 2 weeks</li>
        <li>Preview your brief and get final approval, if required</li>
        <li>Publish your brief on the Marketplace</li>
      </ul>
    </li>
    <li>
      <b>Respond</b>
      <ul>
        <li>During the first half of the time your brief is live you need to answer questions from sellers</li>
        <li>These questions will arrive via email with a link you can use to respond</li>
        <li>You must paste the question and your answer at the bottom of your live brief</li>
      </ul>
    </li>
    <li>
      <b>Shortlist</b>
      <ul>
        <li>After your brief closes you can download and review seller applications</li>
        <li>Sign in to the Marketplace</li>
        <li>Go to your Dashboard (link at the top right)</li>
        <li>Click the link beside the closed brief ‘View seller responses’, this downloads a spreadsheet of seller responses</li>
        <li>Use the sellers’ responses to your Essential and Nice-to-have criteria to decide on your shortlist for evaluation</li>
        <li>If you wish you can also contact sellers for more information, this may be useful for more complex briefs</li>
        <li> As a courtesy, email sellers who were not shortlisted to let them know they were not successful</li>
      </ul>
    </li>
    <li>
      <b>Evaluate</b>
      <ul>
        <li>The evaluation is currently performed outside the Marketplace</li>
        <li>Use the methods you choose when creating your brief to evaluate your shortlisted sellers</li>
        <li>For an individual specialist you must review seller resumes, other methods are optional</li>
        <li>For an outcome brief you must review the seller proposals, other methods are optional</li>
        <li>To standardise your evaluation you can use this <a href="{{ asset_path }}media/documents/Scoring_Template.xlsx">evaluation template</a></li>
      </ul>
    </li>
    <li>
      <b>Award</b>
      <ul>
        <li>A Work Order, once signed, is a contract under the Marketplace <a href="{{ asset_path }}media/documents/DSPP_Deed_of_Standing_Offer.pdf" target="_blank">Deed of Standing Offer</a></li>
        <li>To create a Work Order sign in and go to the buyer dashboard (link on top right)</li>
        <li>Then select ‘Create Work Order’ beside your closed brief</li>
        <li>The Work Order will be pre-filled with some information from your account and your brief</li>
        <li>Complete the Work Order, print, sign and countersign to create a contract with your chosen seller</li>
        <li>As a courtesy, email the shortlisted sellers who were not successful</li>
      </ul>
    </li>
  </ol>


  <h2 id="how-we-meet-procurement-rules">How we meet procurement rules</h2>

  <h3>Does the Digital Marketplace meet Commonwealth Procurement Rules?</h3>
  <p>
    Yes, all sellers listed in the Marketplace are on the Digital Service Professionals Panel (SON3364729). This panel was established through an open approach to market by the Digital Transformation Office and meets the requirements of an open tender as set out in the Commonwealth Procurement Rules.
  </p>
  <p>
    Although the Marketplace makes it easy to comply with the Commonwealth Procurement Rules, you’re still responsible for complying with these rules and any Accountable Authority Instructions related to procurement in your agency or issued by the Department of Finance. If you’re not sure of these requirements, please check with the procurement team in your own agency.
  </p>

  <h3>Does the Digital Marketplace meet local, state and territory procurement policies?</h3>
  <p>
    The NSW Government has already made it clear it’s embracing the Marketplace and that it meets policy requirements.
  </p>

  <blockquote>
    <p>The use of the Digital Marketplace is fully compliant with the NSW Government’s procurement policies.</p>
    <footer><cite><a rel="external" href="https://www.finance.nsw.gov.au/about-us/media-releases/nsw-government-first-collaborate-dto%E2%80%99s-new-digital-marketplace">NSW Government media release</a>, 14 September 2016</cite></footer>
  </blockquote>

  <p>
    Other local, state and territory government buyers are also welcome to use the Marketplace but should ensure that they comply with any additional procurement rules that apply in their state or territory. 
  </p>

  <h2 id="useful-documents">Useful documents</h2>
  <p>
    <a href="{{ asset_path }}media/documents/Requirements_Brief_Template.xlsx" target="_blank">Download Draft requirements template</a><br>
    Use this template if you want to develop a brief with your team before creating and publishing a brief in the Marketplace.
  </p>
  <p>

    <a href="{{ asset_path }}media/documents/Scoring_Template.xlsx" target="_blank">Download Evaluation template</a><br>
    Use this template when evaluating which seller best meets your needs after you’ve shortlisted the responses to your brief.
  </p>
  <p>
    <a href="{{ asset_path }}media/documents/DSPP_Deed_of_Standing_Offer.pdf" target="_blank">View Deed of Standing Offer</a><br>
    This document details the terms under which sellers are contracted through the Digital Marketplace.
  </p>

  <h2 id="do-i-need-to-use-austender">Do I need to use AusTender as well?</h2>
  <p>
    You still need to meet the Department of Finance <a rel="external" href="https://www.finance.gov.au/procurement/procurement-policy-and-guidance/buying/reporting-requirements/contracts-agency/principles.html">reporting requirements</a>, which include notifying AusTender of contracts (and contract amendments) that are valued at or above the reporting threshold within 42 days. 
  </p>

  <h2 id="help-us-build-a-better-marketplace">Help us build a better Marketplace</h2>
  <p>
    The Marketplace is being shaped by the needs of buyers and sellers. To help us make your procurements as fast and simple as they can be, share your feedback or take part in user research. Whether your office is in Canberra or Kalgoorlie we’re happy to hear from you. Email your thoughts or interest to <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>
  </p>
{% endblock %}
