{% extends "_base_page.html" %}

{% block page_title %}Buyer's guide{% endblock %}

{% block body_classes %}buyers-guide secondary-page{% endblock %}

{% block main_content %}
  <h1>Buyer's guide</h1>
  <h2>What is the Digital Marketplace?</h2>
  <p>
    As part of the <a rel="external" href="http://www.innovation.gov.au/page/agenda">National Science an Innovation Agenda</a>, the Digital Marketplace is making it easier for digital businesses to work with government.
  </p>

  <p>
    Now in Beta, the Digital Marketplace is about more than bringing a government panel available online. We’re building an end-to-end digital environment that makes all digital procurement easier — whether it’s straightforward, more complex or requiring a higher degree of collaboration and creativity.
  </p>


  <h2>Who can be a buyer?</h2>
  <p>
    If you work in government and you need digital services you can become a buyer in the Digital Marketplace. Our buyers are from across all levels of government — local, state and federal — and from corporate government entities such as the ABC, the National Museum of Australia and Melbourne Water.
  </p>

  <img src="{{ asset_path }}images/buyer-logos@2x.jpg" alt="Some of our current buyers from across local, state and federal government" />
  <p>
    <small><em>Some of our current buyers from across local, state and federal government.</em></small>  
  </p>
  

  <p>
    If you have an email address ending in <strong>.gov.au</strong> you can create a buyer account now. If you work in government but your email is different, email your request to create a buyer account to <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>
  </p>

  <p>
    <a href="{{ url_for('main.buyer_signup') }}" role="button">Create a buyer account</a>
  </p>

  <h2>What can you buy?</h2>
  <h3>Outcomes</h3>
  <p>
    If you need a team of digital specialists with the expertise to deliver an outcome, such as a new responsive website or an accessibility audit, you can find them in the Marketplace. So far the our buyers have asked for new strategies, cultural change
  </p>

  <p>
    <a role="button" href="{{url_for('main.info_page_for_starting_a_brief', framework_slug='digital-service-professionals', lot_slug='digital-outcome')}}">Create a brief for an outcome</a>
  </p>

  <h3>Specialists</h3>
  <p>
    Engage individual digital specialists with the essential skills to deliver today’s digital projects through the Marketplace.
  </p>

  <p>
    <a role="button" href="{{url_for('main.info_page_for_starting_a_brief', framework_slug='digital-service-professionals', lot_slug='digital-professionals')}}">Create a brief for a specialist</a>
  </p>

  <h3>The buying process</h3>
  <p>
    Until now, successful procurement involved a lot of pre-research. Before you could go to market you had to carefully define your requirements and find a small group of potential sellers who could meet them. The Digital Marketplace turns this around. By posting what you need ‘Open to all’ buyers in the Digital Marketplace it’s easy to find sellers who are available and have the expertise you need. And it make the process easier, instead of going to Market you simply let the Market come to you.
  </p>
  
  <img src="{{ asset_path }}images/How-to-buy@2x.jpg" alt="Follow these 6 steps to buy in the Digital Marketplace; Prepare, Publish, Respond, Shortlist, Evaluate, Award." />
  <p>
    <small><em>Some of our current buyers from across local, state and federal government.</em></small>
  </p>

  <ol class="bold-numbers">
    <li>
      <b>Prepare</b>
      <ul>
        <li>Decide on what you need, or the problem you want to solve</li>
        <li>Check you have budget approval</li>
        <li><a href="{{ url_for('main.buyer_signup') }}">Create a buyer account</a>, if you don’t have one already</li>
        <li>If you wish, collaborate on your brief using this <a href="{{ asset_path }}media/documents/Requirements_Brief_Template.xlsx">spreadsheet brief template</a></li>
        <li>If you’re unsure of what you need you can speak to sellers directly</li>
      </ul>
    </li>
    <li>
      <b>Publish</b>
      <ul>
        <li>Choose whether you’re looking for an outcome or an individual</li>
        <li>Follow the steps in the brief builder to create your brief</li>
        <li>Choose whether you want to go ‘Open to 1’, ‘Open to selected’, or ‘Open to all’ (recommended)</li>
        <li>Choose whether you want your brief to be open for 1 or 2 weeks</li>
        <li>Publish your brief on the Digital Marketplace</li>
      </ul>
    </li>
    <li>
      <b>Respond</b>
      <ul>
        <li>During the first half of the time your brief is live you need to answer questions from sellers</li>
        <li>These questions will arrive via email with a link you can use to respond</li>
        <li>You must paste the question and your answer at the bottom of your live brief</li>
      </ul>
    </li>
    <li>
      <b>Shortlist</b>
      <ul>
        <li>After your brief closes you can download and review seller applications</li>
        <li>Sign in to the Digital Marketplace</li>
        <li>Go to your Dashboard (link at the top right)</li>
        <li>Click the link beside the closed brief ‘View seller responses’, this downloads a spreadsheet of seller responses</li>
        <li>Use the sellers’ responses to your Essential and Nice-to-have criteria to decide on your shortlist for evaluation</li>
        <li>If you wish you can also contact sellers for more information, this may be useful for more complex briefs</li>
        <li> As a courtesy, email sellers who were not shortlisted to let them know they were not successful</li>
      </ul>
    </li>
    <li>
      <b>Evaluate</b>
      <ul>
        <li>The evaluation is currently performed outside the Digital Marketplace</li>
        <li>Use the methods you choose when creating your brief to evaluate your shortlisted sellers</li>
        <li>For an individual specialist you must review seller resumes, other methods are optional</li>
        <li>For an outcome brief you must review the seller proposals, other methods are optional</li>
        <li>To standardise your evaluation you can use this <a href="{{ asset_path }}media/documents/Scoring_Template.xlsx">evaluation template</a></li>
      </ul>
    </li>
    <li>
      <b>Award</b>
      <ul>
        <li>A Work Order, once signed, is a contract under the Marketplace Deed of Standing Offer</li>
        <li>To create a Work Order sign in and go to the buyer dashboard (link on top right)</li>
        <li>Then select ‘Create Work Order’ beside your closed brief</li>
        <li>The Work Order will be pre-filled with some information from your account and your brief</li>
        <li>Complete the Work Order, print, sign and countersign to create a contract with your chosen seller</li>
        <li>As a courtesy, email the shortlisted sellers who were not successful</li>
      </ul>
    </li>
  </ol>


  <h2>How we meet procurement rules</h2>

  <h3>Does the Digital Marketplace meet Commonwealth Procurement Rules?</h3>
  <p>
    Yes, all sellers listed in the Marketplace are on the Digital Service Professionals Panel (SON3364729). This panel was established through an open approach to market by the Digital Transformation Office and meets the requirements of an open tender as set out in the Commonwealth Procurement Rules.
  </p>
  <p>
    Although the Marketplace makes it easy to comply with the Commonwealth Procurement Rules, you’re still responsible for complying with these rules and any Accountable Authority Instructions related to procurement in your agency or issued by the Department of Finance. If you’re not sure of these requirements, please check with the procurement team in your own agency.
  </p>

  <h3>Does the Digital Marketplace meet local, state and territory procurement policies?</h3>
  <p>
    The NSW Government has already made it clear it’s embracing the Digital Marketplace and that it meets policy requirements.
  </p>

  <blockquote>
    <p>The use of the Digital Marketplace is fully compliant with the NSW Government’s procurement policies.</p>
    <footer><cite><a rel="external" href="https://www.finance.nsw.gov.au/about-us/media-releases/nsw-government-first-collaborate-dto%E2%80%99s-new-digital-marketplace">NSW Government media release</a>, 14 September 2016</cite></footer>
  </blockquote>

  <p>
    Other local, state and territory government buyers are also welcome to use the Marketplace but should ensure that they comply with any additional procurement rules that apply in their state or territory. 
  </p>

  <h2>Do I need to use AusTender as well?</h2>
  <p>
    You still need to meet the Department of Finance <a rel="external" href="https://www.finance.gov.au/procurement/procurement-policy-and-guidance/buying/reporting-requirements/contracts-agency/principles.html">reporting requirements</a>, which include notifying AusTender of contracts (and contract amendments) that are above the reporting threshold within 42 days. 
  </p>

  <h2>Help us build a better Marketplace</h2>
  <p>
    The Marketplace is being shaped by the needs of buyers and sellers. To help us make your procurements as fast and simple as they can be, share your feedback or take part in user research. Whether your office is in Canberra or Kalgoorlie we’re happy to hear from you. Email your thoughts or interest to <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>
  </p>
{% endblock %}
