{% extends "_base_page.html" %}

{% block page_title %}Services and rates{% endblock %}

{% block body_classes %}roles-and-rates secondary-page{% endblock %}

{% block main_content %}

  <h1>Services and rates</h1>
  <p>
    These are the services we have identified as essential for today's digital projects. This list will change over time. If there's a type of digital expertise you need but don't see listed, request an update by emailing us on <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
  </p>

  <nav class="index-links">
    <h2>On this page</h2>
    <ul>
      <li><a href="#agile-coaching">Agile coaching</a></li>
      <li><a href="#business-analysis">Business analysis</a></li>
      <li><a href="#delivery-management">Delivery management</a></li>
      <li><a href="#web-development">Web development</a></li>
      <li><a href="#digital-transformation">Digital transformation</a></li>
      <li><a href="#ethical-hacking">Ethical hacking</a></li>
      <li><a href="#inclusive-design">Inclusive design</a></li>
      <li><a href="#interaction-design">Interaction design</a></li>
      <li><a href="#digital-performance-analysis">Digital performance analysis</a></li>
      <li><a href="#product-management">Product management</a></li>
      <li><a href="#service-design">Service design</a></li>
      <li><a href="#technical-leadership">Technical leadership</a></li>
      <li><a href="#user-research">User research</a></li>
      <li><a href="#web-operations-engineering">Web operations engineering</a></li>
      <li><a href="#about-the-rates">About the rates and definitions</a></li>
    </ul>
  </nav>

  <a id="agile-coaching"></a><h2>Agile coaching</h2>
  <p>
    An Agile Coach works directly with government departments and agencies to help organisations, portfolios, programmes and
    teams be as effective as possible by embedding an agile culture.
  </p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="business-analysis"></a><h2>Business analysis</h2>
  <p>
    A Business Analyst helps in the understanding and documentation of the constraints and opportunities presented by the
    organisation's processes and systems. They work closely with the Service Designer to ensure the design approach can be implemented in the business.
  </p>
  <p>
    Involvement: Varies from project to project but can offer significant value during Discovery stage.
  </p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $600 - $1700
        </td>
        <td>
          $1000
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="delivery-management"></a><h2>Delivery management</h2>
  <p>
    The Delivery Manager delivers products and services using <a href="https://www.dta.gov.au/standard/design-guides/agile/" target="_blank" rel="external">agile methodologies</a>, learning and iterating the product and processes frequently to meet users’ needs. They work with Product Managers to define the roadmap for products and services. They run the daily stand up and weekly team meetings, and make sure that the backlog and team spaces are up to date.
  </p>
  <p>
    Involvement: Across the entire project.
  </p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $800 - $1700
        </td>
        <td>
          $1200
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="web-development"></a><h2>Web development</h2>
  <p>
    Web Developers build software in a team with a relentless focus on how it will be used. They write quality well-tested code and try to find the simplest solution to a given problem. Some will specialise in being a Front-End or a Back-End Developer but most will have solid skills in both. A good team has a mix of front and back end skills. As they work, they’re expected to keep security, accessibility and open standards in mind, and improve the technical implementation as they go along.
  </p>
  <p>
    Involvement: Across the Alpha and Beta stages.
  </p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $500 - $2000
        </td>
        <td>
          $1100
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="digital-transformation"></a><h2>Digital transformation</h2>
  <p>
    A Digital Transformation Adviser provides leadership in delivering new programs of work—either across the DTA, with state/territory and federal government agencies, or across multiple functions.
  </p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="ethical-hacking"></a><h2>Ethical hacking</h2>
  <p>
    An Ethical Hacker helps ensure system <a href="https://www.dta.gov.au/standard/design-guides/secure-services/" target="_blank" rel="external">security</a>, identifies cyber security risks, applies risk treatments, detects and manages cyber security incidents. The Ethical Hacker is not a full time allocated role to the team. They should be consulted during the Alpha stage to ensure best practice is followed when build begins in Beta, and during Beta the Ethical Hacker needs to be involved part time across the duration of the stage to help the team analyse and resolve security risks, and build secure code.
  </p>
  <p>Involvement: Across the Beta, with some consultation in Alpha.</p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $700 - $1400
        </td>
        <td>
          $1100
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="inclusive-design"></a><h2>Inclusive design</h2>
  <p>
    An Inclusive Designer supports the team with an in-depth knowledge of best practice in accessible development.
  </p>
  <p>Involvement: Across all stages - not at 100%.</p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $700 - $1500
        </td>
        <td>
          $1100
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="interaction-designer"></a><h2>Interaction design</h2>
  <p>
    An Interaction Designer creates the user interface for the service, ensuring it's designed to work across devices and browsers, meets web standards, is accessible and able to be used by people regardless of their digital literacy. They make use of agreed design patterns and contribute to the design community to improve and add to design patterns. They work closely with the content designer to improve the usability of the service, with the user researcher to conduct usability testing and design experiments, and with the technical team members to develop and iterate prototypes with a view to continuously improving the service. The Interaction Designer either makes prototypes in HTML or has enough familiarity with code to work closely with developers to make the HTML prototypes.
  </p>
  <p>
    Involvement: Across the entire project ideally, but with particular focus during the Alpha and Beta stages.
  </p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $600 - $1500
        </td>
        <td>
          $1100
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="digital-performance-analysis"></a><h2>Digital performance analysis</h2>
  <p>
    Digital Performance Analysts — sometimes called Performance and Web Analysts — sit at the heart of a team, working to specify, collect and present the key
    performance data and analysis for their service. They are essential to how the government continuously measures, assesses, and improves performance in transacting with the public. Analysts support Service Managers by generating new and useful information and translating it into actions that will allow them to iteratively improve their service for users.
  </p>
  <p>Involvement: Across the Beta, with some consultation in Alpha - not at 100%.</p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $700 - $1400
        </td>
        <td>
          $1000
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="product-management"></a><h2>Product management</h2>
  <p>
    A Product Manager owns the product backlog and is responsible for prioritising user stories, attending daily stand ups and accepting stories when they’re delivered. They’re on hand to answer product questions from the delivery team and work closely with User Researchers to make sure the product is meeting user needs.
  </p>
  <p>Involvement: Across the entire project.</p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $700 - $1600
        </td>
        <td>
          $1200
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="service-design"></a><h2>Service design</h2>
  <p>
    The Service Designer uses design practices to take the intuitive leap from research to identifying ways that the service could be delivered so that it better meets user needs, across all users, delivery channels and touchpoints. Creates a blueprint or map of the proposed service, ensuring that key elements are built in from the outset. Contributes to the development and continual enhancement of products, partnering with colleagues to facilitate a consistent user experience.
  </p>
  <p>Involvement: Across the entire project ideally, but with particular focus during the Discovery stage.</p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $700 - $1600
        </td>
        <td>
          $1200
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="technical-leadership"></a><h2>Technical leadership</h2>
  <p>
    Tech Leads have an equal balance of technical expertise gained through current, hands-on involvement in developing real-world systems, and excellent interpersonal skills allied with the ability to quickly develop strong working relationships in high pressure environments.
  </p>
  <p>
    The Technical Lead role is to ensure the product is technically aligned, and provide coaching and feedback to other technical team members. They lead the rapid development of user-driven prototypes to identify technical options and inform architectural approaches, working with colleagues and seller team members to write tests, code and documentation for new and existing systems.
  </p>
  <p>Involvement: Across the entire project.</p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $600 - $1300
        </td>
        <td>
          $1100
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="user-research"></a><h2>User research</h2>
  <p>
    A User Researcher works closely with the Product Manager and the Designers in the team to ensure prioritisation of the work that benefits the users. They are responsible for building understanding of the service’s users and their behaviour, and providing insight to the team about how users interact with the service. They take the lead on running sessions with real users, and communicating findings back to the whole team, creating actionable insights to guide design.
  </p>
  <p>Involvement: Across the entire project.</p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $800 - $1300
        </td>
        <td>
          $1000
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
  <a id="web-operations-engineering"></a><h2> Web operations engineering </h2>
  <p>
    A Web Operations Engineer — also known as a Web Devops — runs the production systems, helps the team deploy quickly and reliably and ensures the smooth running of the service. Because they are responsible for keeping the service online, they are critical to any digital service. They work closely with Developers to make sure that all technology is built with consideration to how it will be operated, and put the foundations in place for the service to be hosted and deployed to preview and live environments. This involves expertise in areas such as infrastructure, configuration management, monitoring, deployment and operating systems. Along with other Developers in the team, they’re expected to share the out-of-hours support responsibility for the service.
  </p>
  <p>Involvement: Across the Alpha and Beta stages - not at 100%.</p>
  <p><strong>Day rates</strong></p>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
          Level
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Junior
        </th>
        <td>
          $600 - $1600
        </td>
        <td>
          $1000
        </td>
      </tr>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
      </tbody>
  </table>
  <a id="about-the-rates"></a><h2>About the rates and definitions</h2>
  <p>
    The day rates shown above include GST and are given as a guide only. Each individual seller has their own rates on their seller page which can be accessed through the <a href="{{ url_for('.supplier_search') }}">Seller catalogue</a>.
  </p>
  <p>
    Senior roles will need to have a minimum of 5 years experience and are expected to:
  </p>
  <ul>
    <li>
      build and manage relations with board level stakeholders
    </li>
    <li>
      coach, develop and lead others within the delivery team and stakeholders supporting the team
    </li>
    <li>
      have considerable, demonstrable experience in agile development and leading teams within structured programme and project environments
    </li>
    <li>
      have experience in delivering a range of transactional services through digital/web channels.
    </li>
  </ul>
  <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
