{% extends "_base_page.html" %}

{% block page_title %}Contact us{% endblock %}

{% block body_classes %}contact-us secondary-page{% endblock %}

{% block main_content %}
  <script>
    zE(function() {
      zE.activate();
    });
  </script>
  <h1>Contact us</h1>
  <h2>Our mailing address</h2>
  <p>
    Marketplace<br>
    c/o Digital Transformation Office<br>
    PO Box 457<br>
    Canberra City ACT 2601
  </p>
  <h2>Our locations</h2>
  <p>
    Canberra Office<br>
    50 Marcus Clarke Street, Canberra ACT 2601
  </p>
  <p>
    Sydney Office<br>
    241 Commonwealth Street, Surry Hills NSW 2010
  </p>
{% endblock %}
