{% extends "_base_page.html" %}

{% block page_title %}Contact us{% endblock %}

{% block body_classes %}contact-us secondary-page{% endblock %}

{% block main_content %}
  <script>
    zE(function() {
      zE.activate();
    });
  </script>
  <h1>Contact us</h1>
  <h2>Our mailing address</h2>
  <p>
    Marketplace<br>
    c/o Digital Transformation Agency<br>
    PO Box 457<br>
    Canberra City ACT 2601
  </p>
  <p>The Digital Marketplace telephone number is 0447 024 113.
    You're welcome to call and leave a message for the team.
    However, we’re able to respond more quickly by email, so this is the preferred method for contacting us.
    Please use the contact form on this page to let us know how we can assist you,
    and we’ll respond as soon as possible. During business hours turnaround times for
    emails received using the contact form is generally within the hour.</p>
  <h2>Our locations</h2>
  <p>
    Canberra Offices<br>
    16 Marcus Clarke Street, Canberra ACT 2601<br>
    50 Marcus Clarke Street, Canberra ACT 2601
  </p>
  <p>
    Sydney Office<br>
    241 Commonwealth Street, Surry Hills NSW 2010
  </p>
{% endblock %}
