{% extends "_base_page.html" %}

{% block page_title %}Contact us - Digital Marketplace{% endblock %}

{% block body_classes %}contact-us secondary-page{% endblock %}

{% block main_content %}
    <script>
      zE(function () {
        zE.activate()
      })
    </script>
    <h1 class="au-display-xl">Contact us</h1>
    <h2 class="au-display-lg"><strong>How to guides</strong></h2>
    <p>Guides for <a href="https://marketplace1.zendesk.com/hc/en-gb/categories/115001542047-Buyer-guide-and-FAQs">buyers</a>,
        <a href="https://marketplace1.zendesk.com/hc/en-gb/categories/115001540368-Seller-guide-and-FAQs">sellers</a>
        and frequently asked questions can be found in our <a
                href="https://marketplace1.zendesk.com/hc/en-gb">Support</a> section.</p>
    <h2 class="au-display-lg"><strong>Online and email</strong></h2>
    <p><a href="https://marketplace1.zendesk.com/hc/en-gb/requests/new">Send us a message</a> and we’ll respond as soon as possible.</p>
    <h2 class="au-display-lg"><strong>Telephone</strong></h2>
    <p>Email is the preferred method for contacting us. If you need to speak to us, the Digital Marketplace telephone
        number is 0447 024 113. Please leave a message and we&rsquo;ll call you back.</p>
    <h2 class="au-display-lg">Our mailing address</h2>
    <p>
        Marketplace<br>
        c/o Digital Transformation Agency<br>
        PO Box 457<br>
        Canberra City ACT 2601
    </p>
    <h2 class="au-display-lg">Our locations</h2>
    <p>
        Canberra Offices<br>
        16 Marcus Clarke Street, Canberra ACT 2601<br>
        50 Marcus Clarke Street, Canberra ACT 2601
    </p>
    <p>
        Sydney Office<br>
        241 Commonwealth Street, Surry Hills NSW 2010
    </p>
{% endblock %}
