{% extends "_base_page.html" %}

{% block pageTitle %}
  Cookies - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "text": "Cookies"
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Cookies on Digital Marketplace
        </h1>

        <p class="govuk-body">
            Cookies are files saved on your phone, tablet or computer when you visit a website.
        </p>

        <p class="govuk-body">
            Digital Marketplace uses cookies that are essential for the site to work.
        </p>
      
        <h2 class="govuk-heading-m">How cookies are used on Digital Marketplace</h2>

        <h3>Session cookie</h3>

        <p class="govuk-body">
            We store a session cookie on your device to help keep your information secure while you use the service.
        </p>
        <table class="content-table">
            <tbody>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Purpose</th>
                <th scope="col">Expires</th>
              </tr>
            <tr>
                <td>dm_session</td>
                <td>Stores encrypted session data</td>
                <td>1 hour</td>
            </tr>
            </tbody>
        </table>

        <h3>Testing if cookies are accepted</h3>

        <p class="govuk-body">
            We test whether your browser is accepting cookies from Digital Marketplace, by setting a cookie.
            This cookie allows us to give useful error messages when things go wrong.
        </p>
        <table class="content-table">
            <tbody>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Purpose</th>
                <th scope="col">Expires</th>
            </tr>
            <tr>
                <td>dm_cookie_probe</td>
                <td>Tells us if your browser is accepting cookies</td>
                <td>1 year</td>
            </tr>
            </tbody>
        </table>

        <h3>Measuring website usage</h3>

        <p class="govuk-body">
            We use Google Analytics to measure how you use the Digital Marketplace so we can improve it based on user needs.
        </p>

        <p class="govuk-body">Google Analytics sets cookies that store anonymised information about:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>how you got to Digital Marketplace</li>
            <li>the pages you visit on Digital Marketplace and government digital services, and how long you spend on each page</li>
            <li>what you click on while you&rsquo;re using the service</li>
        </ul>

        <p class="govuk-body">
            We do not allow Google to use or share the data about how you use this site.
        </p>

        <table class="content-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>_ga</td>
                <td>Helps us count how many people visit Digital Marketplace by tracking if you’ve visited the service before
                </td>
                <td>2 years</td>
            </tr>
            <tr>
                <td>_gid</td>
                <td>Helps us count how many people visit Digital Marketplace by tracking if you’ve visited the service before
                </td>
                <td>24 hours</td>
            </tr>
            <tr>
                <td>_gat_govuk_shared</td>
                <td>Helps us count how many users visit <a class="govuk-link" href="http://www.gov.uk" rel=external>GOV.UK</a> after visiting Digital Marketplace
                </td>
                <td>10 minutes</td>
            </tr>
            </tbody>
        </table>

        <h3>Analytics settings cookie</h3>

        <p class="govuk-body">
            If you choose to accept or reject analytics cookies, we store this setting in a separate cookie.
        </p>
        <p class="govuk-body">
            Setting this cookie also stops the cookie banner appearing on later visits.
        </p>
        <p class="govuk-body">
            You can <a href="{{ url_for('external.cookie_settings')}}" class="govuk-link">change your analytics
            settings</a> at any time.
        </p>
        <table class="content-table">
            <tbody>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Purpose</th>
                <th scope="col">Expires</th>
            </tr>
            <tr>
                <td>dm_cookie_policy</td>
                <td>Tells us that you have seen our cookie message</td>
                <td>1 year</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
