{% extends "_base_page.html" %}

{% block page_title %}Copyright{% endblock %}

{% block body_classes %}copyright has-intro secondary-page{% endblock %}

{% block main_content %}

  <h1>Copyright</h1>
  <p>
    With the exception of the Commonwealth Coat of Arms and where otherwise noted, all material presented on this site is provided under the latest Creative Commons Attribution licence.
  </p>
  <p>
    The details of the <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">relevant licence conditions</a> and the <a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">full legal code</a> for the licence are available on the Creative Commons website.
  </p>
  <h2>
    Use of the Coat of Arms
  </h2>
  <p>
    <a href="http://www.dpmc.gov.au/resource-centre/government/commonwealth-coat-arms-information-and-guidelines" target="_blank">Guidelines for use of the Coat of Arms</a> are published by the Department of the Prime Minister and Cabinet.
  </p>
  <h2>
    Attribution  
  </h2>
  <p>
    The DTO acknowledges the UK Government Digital Service for the materials that have been adapted from the <a href="https://www.gov.uk/service-manual" target="_blank">UK Government Service Design Manual</a> and UK Digital Marketplace. Anyone using this material should note that it includes public sector information licenced under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">UK Open Government Licence v2.0 and v3.0</a>.
  </p>
{% endblock %}
