{% extends "_base_page.html" %}

{% block page_title %}Frequently asked questions{% endblock %}

{% block body_classes %}buyers-guide secondary-page{% endblock %}

{% block main_content %}

<h1>Frequently asked questions</h1>
<nav class="index-links">
  <h2>In this section</h2>
  <ul>
    <li><a href="#seller-apps">Questions about seller applications and profile updates</a></li>
    <li><a href="#seller-assessments">Questions about seller assessments</a></li>
    <li><a href="#transition">Questions about the transition to the Digital Marketplace Panel</a></li>
    <li><a href="#ask">Ask another question</a></li>
  </ul>
</nav>

<h2 id="seller-apps">Seller applications and profile updates</h2>
<p><em>When do applications to the Digital Marketplace close?</em></p>
<p>The Digital Marketplace is now open to new applications permanently. New sellers can join the Digital Marketplace at
  any time.</p>
<p><em>Will my financial documentation be visible on the Digital Marketplace?</em></p>
<p>No, this will be used for DTA assessment purposes only. Buyers may contact you directly in future to ask for this
  information.</p>
<p><em>Do you have a template for the letter confirming financial viability from my accountant?</em></p>
<p>The purpose of this letter is to give DTA assessors and government buyers confidence in the financial stability of
  your business. There&rsquo;s no set format, but it should be relevant to your business size and stage of
  development.</p>
<p><em>Can we add other services and case studies later? </em></p>
<p>Yes, soon after you become a registered seller you&rsquo;ll have the ability to update and curate your seller
  profile, including uploading new documents and adding new products, services and supporting case studies.</p>
<p><em>Can you help me with my case studies?</em></p>
<p>We do have some <a href="/sellers-guide#case-studies">advice on case studies</a> we&rsquo;ve
  recently added to our <a href="/sellers-guide">Seller Guide</a>. And, if you&rsquo;re
  collaborating with your team you may find it useful to use our Google sheets <a
      href="https://docs.google.com/spreadsheets/d/1sSesxeaHy5s5Kp7IIRPB4Q2WifXSdAPZOot_P5s8J6k/edit">case studies
    template</a>, then cut and paste your responses into the application when you&rsquo;re ready.</p>
  <p><em>  Can I add a contributor to my team?</em></p>
  <p>
    Yes, you can add contributors once your profile is published to the Digital Marketplace.</p><p>
  To add a contributor navigate to your <a href="/sellers">seller dashboard</a> and select ‘invite or remove’.
  It’s located next to a list of your team. Then, select <a href="/sellers/invite-user">invite a contributor</a>
  and enter the email address of the person you would like to add. An email will be sent asking the recipient to register as a contributor.</p><p>
  Once a contributor has registered they’ll appear in your team list on your dashboard and will be able to make profile edits, add case studies and respond to briefs.
  </p>


<h2 id="seller-assessments">Seller assessments</h2>
<p><em>What is the Digital Marketplace assessment process?</em></p>
<ol>
  <li>The initial assessment is to check you are a legitimate business and that your information is correct. If you pass
    the initial assessment you will become a <strong>registered seller</strong>. This means your business will be listed
    in the Digital Marketplace seller catalogue.
  </li>
</ol>
<ol>
  <li>The next step is the assessment to become an <strong>active seller</strong>. If you see an opportunity that
    matches your expertise &mdash; for example if a user research opportunity comes up and you offer &lsquo;user
    research and design&rsquo; &mdash; you can request to be assessed by clicking the button at the bottom of the
    opportunity page. If approved you become an <strong>active seller</strong> for this area of expertise.
  </li>
</ol>
<p>Once you&rsquo;re an <strong>active seller</strong> for an area of expertise, you can apply for related opportunities
  and you won&rsquo;t need to be reassessed.</p>
<p>The assessment to become an active seller needs to be carried out for each area of expertise you offer, before you
  can apply for an opportunity.</p>
<p><em>How long will the registered seller assessment take?</em></p>
<p>We welcome new sellers in the Digital Marketplace and aim to complete the initial assessment quickly, usually within
  a week of submission. The timing may vary if large numbers of applications are received at the same time.</p>
<p><em>How long will the active seller assessment take?</em></p>
<p>Active seller assessments are conducted in relation to a live opportunity. We will use reasonable endeavours to
  complete the assessment quickly so that, if you pass the assessment, you can apply for the opportunity before it
  closes.</p>
<p>If you are still being assessed when the opportunity closes you won&rsquo;t be able to apply. However, your
  assessment will continue to completion.</p>
<p>If you pass the assessment you can apply for future opportunities in that area of expertise, without needing to be
  reassessed.</p>
<p>If you offer multiple areas of expertise you will need to be assessed for each one separately.</p>
<p><em>Why do I need to be assessed for each area of expertise I offer?</em></p>
<p>Often the assessment process to join a government panel can take many months. By breaking down assessments into
  smaller stages, we make the assessment process more relevant to opportunities in the Digital Marketplace and much
  faster.</p>

<h2 id="transition">Transition to the Digital Marketplace Panel</h2>
<p><em>Why do you need a new panel for the Digital Marketplace?</em></p>
<p>To open the Digital Marketplace to new sellers permanently and expand the services that sellers can offer we need to
  create a new panel. Republishing the invitation to join the old Digital Service Professionals Panel simply wouldn&rsquo;t
  have worked.</p>
<p><br/><em>I&rsquo;m one of the original sellers in the Digital Marketplace,</em> <em>how do I move from the Digital
  Service Professionals Panel to the new Digital Marketplace Panel?</em></p>
<p>You need to sign into your existing seller account, update your business details and accept the new Master Agreement.
  By accepting the new Master Agreement you will become part of the new Digital Marketplace Panel.</p>
<p><em>What services will I be pre-approved to offer in the expanded Digital Marketplace?</em></p>
<p>If you check your seller profile in the catalogue you&rsquo;ll be preapproved to offer capabilities
  that relate to roles. By updating your profile and accepting the Master Agreement you&rsquo;ll be approved to offer
  some or all of the following services that correspond to your approved roles, as follows:</p>
<p><u>Change, training and transformation</u><strong><br/></strong>Includes previous capabilities <strong>agile
  coaching</strong> and <strong>digital transformation advice</strong></p>
<p><u>User research and design</u><strong><br/></strong>Includes previous capabilities <strong>user
  research</strong>,<strong> interaction design</strong>, <strong>inclusive design</strong> and <strong>service
  design</strong></p>
<p><u>Agile delivery and governance</u><strong><br/></strong>Includes previous capabilities <strong>business
  analysis</strong>, <strong>performance and web analysis</strong>, <strong>product management</strong>, <strong>delivery
  management</strong></p>
<p><u>Software engineering and development</u><strong><br/></strong>Includes previous capabilities<strong>
  technical leadership</strong>, <strong>web devops</strong> and <strong>web development</strong></p>
<p><u>Cyber security</u><br/>Includes previous capability <strong>ethical hacking</strong></p>
<p><em>When will the Digital Service Professionals Panel close?</em></p>
<p>We are planning to close this panel in the coming months. We will give appropriate notice as per procurement rules.</p>
<p><em>Why can&rsquo;t I apply for some opportunities in the Digital Marketplace?</em></p>
<p>There are several reasons why you may not be able to apply for an opportunity.</p>
<ol>
  <li><strong>Panel transition </strong>&mdash; Briefs published before 12 April 2017 are for members of the Digital
    Service Professionals Panel only, the original sellers who were in the Digital Marketplace in 2016.
  </li>
  <li><strong>&lsquo;Open to selected&rsquo;</strong> or <strong>&lsquo;Open to 1&rsquo;</strong>&mdash; Sellers have
    the option of choosing which sellers can respond to their brief. If the brief is not &lsquo;Open to all&rsquo; or
    you&rsquo;re not selected you cannot apply.
  </li>
  <li><strong>Area of expertise</strong> &mdash; You cannot apply if you&rsquo;re not approved to offer the required
    area of expertise. However, if this is the case, you will be prompted to add a case study and reference. If you can
    be assessed in time, you may still be able to apply.
  </li>
</ol>

<h2 id="ask">Do you have another question? </h2>
  <p>Email us at <A href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</A></p>

  <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
