{% extends "_base_page.html" %}

{% block page_title %}Physical datacentre space - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      },
      {
          "link": url_for('.index_crown_hosting'),
          "label": "Physical datacentre space"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <header class="page-heading">
          <h1>
            Physical datacentre space
          </h1>
        </header>
      </div>
      <div class="column-two-thirds">
        <p class="service-summary-lede">
          The Crown Hosting Data Centres framework is available to all central
          government departments, arm’s length bodies and the wider public sector.
        </p>
        <p class="service-summary-lede">

          Email <a href="mailto:crownhosting@crowncommercial.gov.uk">crownhosting@crowncommercial.gov.uk</a>
          to talk about your datacentre hosting needs.

        </p>
        <h2 class='summary-item-heading'>
          Features
        </h2>
        <p class="service-summary-preamble">
          The Crown Hosting service offers:
        </p>
        <ul class='service-summary-features-and-benefits'>
          <li>
            mission-critical datacentres 
          </li>
          <li>
            a secure environment for transition to the cloud
          </li>
          <li>
            a flexible, pay-for-what-you-use model
          </li>
          <li>
            power uptime availability that exceeds Tier III
          </li>
          <li>
            leading environmental performance
          </li>
        </ul>
        <h2 class='summary-item-heading'>
          Benefits
        </h2>
        <p class="service-summary-preamble">
          The framework benefits the government by offering:
        </p>
        <ul class='service-summary-features-and-benefits'>
          <li>
            easy access to colocated, secure datacentres with no minimum volume commitment
          </li>
          <li>
            cost savings (because government demand for datacentre space is aggregated)
          </li>
          <li>
            time savings (because there’s no need to manage multiple supplier tenders)
          </li>
          <li>
            simple, transparent ‘pay-for-what-you-use’ pricing so usage  can be scaled as required
          </li>
          <li>
            choice of duration commitments that can be ended early without charge
          </li>
          <li>
            volume rebates as volumes rise
          </li>
          <li>
            robust performance service-level agreements, including power uptime
          </li>
          <li>
            strong step-in rights for government to ensure continuity of service if needed
          </li>
        </ul>
      </div>
      <div class="column-one-third">
        <h2>
          Crown Hosting contact
        </h2>
        <p>
          <strong>Crown Commercial Service</strong>
        </p>
        <p>
          <a href="mailto:crownhosting@crowncommercial.gov.uk">crownhosting@crowncommercial.gov.uk</a>
        </p>
      </div>
      <div class="column-two-thirds">
        <p class="service-summary-lede">
          Read more about the <a href="/crown-hosting/framework">Crown Hosting Data Centres framework</a>.
        </p>
      </div>

{% endblock %}
