{% extends "_base_page.html" %}

{% block pageTitle %}
  Physical datacentre space - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "text": "Physical datacentre space"
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Physical datacentre space
        </h1>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          The Crown Hosting Data Centres framework is available to all central
          government departments, arm’s length bodies and the wider public sector.
        </p>

        <h2 class='govuk-heading-m'>
          Features
        </h2>
        <p class="govuk-body">
          The Crown Hosting service offers:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            mission-critical datacentres
          </li>
          <li>
            a secure environment for transition to the cloud
          </li>
          <li>
            a flexible, pay-for-what-you-use model
          </li>
          <li>
            power uptime availability that exceeds Tier III
          </li>
          <li>
            leading environmental performance
          </li>
        </ul>
        <h2 class='govuk-heading-m'>
          Benefits
        </h2>
        <p class="govuk-body">
          The framework benefits the government by offering:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            easy access to colocated, secure datacentres with no minimum volume commitment
          </li>
          <li>
            cost savings (because government demand for datacentre space is aggregated)
          </li>
          <li>
            time savings (because there’s no need to manage multiple supplier tenders)
          </li>
          <li>
            simple, transparent ‘pay-for-what-you-use’ pricing so usage  can be scaled as required
          </li>
          <li>
            choice of duration commitments that can be ended early without charge
          </li>
          <li>
            volume rebates as volumes rise
          </li>
          <li>
            robust performance service-level agreements, including power uptime
          </li>
          <li>
            strong step-in rights for government to ensure continuity of service if needed
          </li>
        </ul>
        <p class="govuk-body">
          Read more about the <a class="govuk-link" href="/crown-hosting/framework">Crown Hosting Data Centres framework</a>.
        </p>

        <h2 class="govuk-heading-m">
          Crown Hosting contact
        </h2>
        <p class="govuk-body">
          Email <a class="govuk-link" href="mailto:crownhosting@crowncommercial.gov.uk">crownhosting@crowncommercial.gov.uk</a>
          if you need support buying or selling on the Crown Hosting Data Centres framework.
        </p>
      </div>

{% endblock %}
