{% extends "_base_page.html" %}

{% block page_title %}New Seller - Digital Marketplace{% endblock %}

{% block body_classes %}new-seller secondary-page{% endblock %}

{% block main_content %}
  <h1>Add your expertise to the Marketplace</h1>
  <p>
    We're always looking for expert digital service professionals to provide ICT products and services to government. If you think your business has what it takes, register your interest in being part of the Digital Marketplace by emailing <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
  </p>
{% endblock %}
