{% extends "_base_page.html" %}

{% block page_title %}New Seller{% endblock %}

{% block body_classes %}new-seller{% endblock %}

{% block main_content %}
  <h1>Add your expertise to the Marketplace</h1>
  <p>
    If you are interested listing your business within the Marketplace, or would like more information, please email <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
  </p>
  <p>
    Soon, you will be able to add your busines details on your own.
  </p>
{% endblock %}
