{% extends "_base_page.html" %}

{% block page_title %}Privacy Statement{% endblock %}

{% block body_classes %}privacy-policy secondary-page{% endblock %}

{% block main_content %}

    <h1>Privacy Statement</h1>

    <h2>Scope</h2>
    <p>
      This statement applies to the Digital Marketplace <a href="https://marketplace.service.gov.au">https://marketplace.service.gov.au</a> managed by the Digital Transformation Agency (DTA).
    </p>
    <p>
      The DTA is an Australian Government entity. Information about contacting the DTA can be found at <a href="https://www.dta.gov.au/contact/" rel="external">https://www.dta.gov.au/contact/</a>.
    </p>
    <p>
      This privacy statement tells you how we collect and use personal information in the Digital Marketplace.
    </p>
    <p>
      We respect and protect the privacy of our users and comply with the Australian Privacy Principles in the Privacy Act 1988 (Cth). This privacy statement applies to all the publicly accessible pages on the Digital Marketplace. Responsibility for the privacy policies or practices of third party sites, linked to the Digital Marketplace, is beyond the control of the Commonwealth.
    </p>

    <h2>Personal information</h2>
    <p>
      The term 'personal information' in this privacy statement means any information about an identified individual or a person who is reasonably identifiable.
    </p>
    <p>
      We do not share personal information about you with other government agencies without your permission unless it:
      <ul>
        <li>is necessary to provide you with a service that you have requested</li>
        <li>is required or authorised by law or permitted under Australian Privacy Principle 6</li>
        <li>will prevent or lessen a serious and imminent threat to somebody's health.</li>
      </ul>  
    </p>

    <h2>Feedback form</h2>
    <p>
      If you fill out the feedback or 'contact us' form on any of our pages we will collect the email address you provide and any other identifying information you include, such as a name or phone number for the purposes of responding to your feedback or request.
    </p>

    <h2>Application logs</h2>
    <p>
      Information is recorded about your visit to the Digital Marketplace. This includes:
      <ul>
        <li>IP (Internet Protocol) address of the machine from which you accessed the Digital Marketplace</li>
        <li>date and time of your visit to the site</li>
        <li>pages you accessed and documents you downloaded</li>
        <li>previous website you visited</li>
        <li>type of browser and operating system you have used.</li> 
      </ul>
    </p>

    <p>
      And when you login to the site: 
      <ul>
        <li>A unique identifier for your account</li>
        <li>Which pages you visit and the date and time of access</li>
        <li>Any information you enter, e.g. name, email and other contact details;</li>
      </ul>
      This information is recorded for the purposes of performance improvement, aggregated (non personalised) reporting, auditability and security. This information is securely stored and available only to Digital Marketplace support personnel for the purposes of maintaining the service.
    </p>

    <h2>Collection of user information</h2>
    <p>
      The following personal information is collected for the purposes of provision of the service.
    </p>

    <p>
      For users from government buyer Agencies we collect:
      <ul>
        <li>Your email address</li>
        <li>Your name - first name and surname</li>
        <li>Whether you are employed under the Commonwealth Public Services Act 1999 or any equivalent legislation in the States or Territory</li>
        <li>Your manager’s name - first name and surname</li>
        <li>Your manager’s email address first name and surname</li>
        <li>Whether your manager is employed under the Commonwealth Public Services Act 1999 or any equivalent legislation in the States or Territory</li>
        <li>Details of the organisation where you and your manager are employed</li>
        <li>Password of the applicant buyer accessing the Digital Marketplace</li> 
        <li>ABN of your Agency</li> 
      </ul>
    </p>

    <p>
      As a buyer, you and your manager’s name and email addresses are not shared with sellers.  However, the Digital Marketplace will retain your contact details in case we need to get in touch with you about a requirements brief that you have published on the Digital Marketplace. 
    </p>

    <p>
      For users from seller organisation we collect:
      <ul>
        <li>Your name - first name and surname</li>
        <li>Your email address (Your name, email address will be shared with the relevant buyer when you respond to a requirements brief)</li>
        <li>Any additional contact details of another person in your organisation whose details are included in your response to the requirements brief.</li>
      </ul>
    </p>

    <h2>
      For seller organisations we collect:
    </h2>

    <p>
      We will collect and publish:
      <ul>
        <li>Your organisation’s ABN</li>
        <li>Your nominated contact’s name, email address and phone number</li>
        <li>Your organisation’s address details</li>
      </ul>
    </p>

    <h2>Survey questions</h2>

    <p>
      DTO may from time to time survey buyers and sellers about the Digital Marketplace. The purpose of use of this information will be communicated in that survey correspondence. Unless otherwise noted, all personal information collected during a survey will be stored securely and will not be disclosed publicly.
    </p>

    <p>
      Survey responses are voluntary and a failure to respond will not detriment that user and any future interactions with the Digital Marketplace.
    </p>

    <h2>How we deal with complaints and requests</h2>

    <p>
      At no cost you can:
      <ul>
        <li>request access to personal information about you that we hold</li>
        <li>ask us to correct your personal information if you find that it is not accurate, up-to-date or complete</li>
        <li>make a complaint about our handling of your personal information.</li>
      </ul>
      To protect your privacy and the privacy of others, we will need evidence of your identity before we can grant you access to information about you or change it.
    </p>

    <p>
      You can contact us by email to <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
    </p>

    <p>
      We undertake to respond within 30 days. If the request or complaint will take longer to resolve, we will provide you with a date by which we expect to respond.
    </p>

    <h2>How we protect your personal information</h2>
    <p>
      This site is hosted in Australia in secure, government accredited facilities. To help protect the privacy of data and personal information we collect and hold, we maintain physical, technical and administrative safeguards.
    </p>
    <p>
      Access to your personal information is restricted to personnel employed by the Digital Transformation Agency who need it to provide services to you. We will not disclose your personal information to overseas recipients.
    </p>

    <h2>Website analytics</h2>
    <p>
      To improve your experience on our site, we use 'cookies'. Cookies are an industry standard and most major websites use them. A cookie is a small text file that our site may place on your computer as a tool to remember your preferences. You may refuse the use of cookies by selecting the appropriate settings on your browser, however if you do this, you may not be able to use the full functionality of this website.
    </p>
    <p>
      Our website may contain links to other websites. We are not responsible for the privacy practices of any other site and they may have a different privacy policy.
    </p>
    <p>
      Our website uses a range of analytics services which send website traffic data to servers offshore. These services do not identify individual users or associate your IP address with any other data held by the company for other purposes. We use reports provided by analytics providers to help us understand website traffic and webpage usage.
    </p>
    <p>
      By using this website, you consent to the processing of data about you for the purposes set out above. You can opt out of analytics if you disable or refuse the cookie or disable JavaScript.
    </p>

    <h2>Security</h2>

    <p>
      <ol>
        <li>
          We strive to protect information you provide on the Digital Marketplace.   We will use all reasonable endeavours to ensure that the Digital Marketplace and your information are not compromised. We apply a range of security controls to protect our websites from unauthorised access. However, you should be aware that:</li>
          <ul>
            <li>the World Wide Web is an insecure public network</li>
            <li>there is a risk that your transactions may be seen, intercepted or modified by third parties</li>
            <li>downloadable files may contain computer viruses, disabling codes, worms or other devices or defects.</li>
          </ul>
        <li>We recommend that you use appropriate and up-to-date firewall and anti-virus software to protect your computer systems.</li>
        <li>Where connection to a system or website outside our control compromises the objectives of the Digital Marketplace, we may sever links to that website or system.</li>
        <li>The DTO accepts no liability for any interference with or damage to your computer system, software or data occurring in connection with, or relating to, this web site or its use.</li>
      </ol>
      You should take appropriate and adequate precautions to prevent damage to your computer system, software or data. You may find useful tips in <a href="https://www.ag.gov.au/RightsAndProtections/CyberSecurity/Documents/PDF%20-%20Protecting%20Yourself%20Online%20-%20Second%20Edition%20-%20Booklet.pdf" target="_blank" rel="external">Protecting Yourself Online (PDF 2.7MB)</a>
    </p>

    <p>Updated: 28 August 2016</p>
 
{% endblock %}
