{% extends "_base_page.html" %}

{% block page_title %}Privacy Policy{% endblock %}

{% block body_classes %}privacy-policy secondary-page{% endblock %}

{% block main_content %}

    <h1>Privacy Policy</h1>
    <p>
        This privacy policy tells you how we collect and use information.
    </p>
    <p>
        We respect and protect the privacy of our users.
    </p>
    <p>
        The term 'personal information' in this privacy policy means any information from which your identity is
        apparent or can be reasonably ascertained.
    </p>
    <p>
        We do not automatically collect personal information about you when you visit this online service. You can use
        this service without telling us who you are or revealing other personal information. If you fill out our
        feedback form, you do not need to identify yourself or use your real name.
    </p>
    <h2>Scope</h2>
    <p>
        This statement applies to The Marketplace website (gov.au/marketplace) managed by the Digital Transformation
        Office (DTO).
    </p>
    <h2>Personal information</h2>
    <p>
        If you fill out the feedback or contact us form on any of our pages we will collect the email address you
        provide and any other identifying information you include, such as a name or phone number.
    </p>
    <p>
        Other than circumstances such as unlawful activity or serious threats to health and safety, we do not share
        personal information. If you ask us about an issue that needs to be dealt with by another agency, we will
        provide you with the necessary details to make contact yourself. You may opt out of further contact from us at
        any time.
    </p>
    <h2>How we deal with complaints and requests</h2>
    <p>
        At no cost you can:
    </p>
    <ul>
        <li>request access to personal information about you that we hold</li>
        <li>ask us to correct your personal information if you find that it is not accurate, up-to-date or complete</li>
        <li>make a complaint about our handling of your personal information.</li>
    </ul>
    <p>
        To protect your privacy and the privacy of others, we will need evidence of your identity before we can grant
        you access to information about you or change it.
    </p>
    <p>
        You can <a href="mailto:marketplace@digital.gov.au">request information by email</a>, or send your request or
        complaint to GPO Box 457, Canberra, ACT 2601.
    </p>
    <p>
        We undertake to respond within 30 days. If the request or complaint will take longer to resolve, we will provide
        you with a date by which we expect to respond.
    </p>
    <h2>How we protect your personal information</h2>
    <p>
        This site is hosted in Australia in secure, government accredited facilities. To help protect the privacy of
        data and personal information we collect and hold, we maintain physical, technical and administrative
        safeguards.
    </p>
    <p>
        Access to your personal information is restricted to personnel employed by the Digital Transformation Office who
        need it to provide services to you.
    </p>
    <h2>Website analytics</h2>
    <p>
        To improve your experience on our site, we use 'cookies'. Cookies are an industry standard and most major
        websites use them. A cookie is a small text file that our site may place on your computer as a tool to remember
        your preferences. You may refuse the use of cookies by selecting the appropriate settings on your browser,
        however if you do this, you may not be able to use the full functionality of this website.
    </p>
    <p>
        Our website may contain links to other websites. We are not responsible for the privacy practices of any other
        site and they may have a different privacy policy.
    </p>
    <p>
        Our website uses a range of analytics services which send website traffic data to servers offshore. These
        services do not identify individual users or associate your IP address with any other data held by the company
        for other purposes. We use reports provided by analytics providers to help us understand website traffic and
        webpage usage.
    </p>
    <p>
        By using this website, you consent to the processing of data about you for the purposes set out above. You can
        opt out of analytics if you disable or refuse the cookie or disable JavaScript.
    </p>
    <h2>Our obligations</h2>
    <p>
        The Marketplace website is bound by the <a href="https://www.legislation.gov.au/Series/C2004A03712">Privacy Act
        1988</a> (Cth), including the <a href="https://www.legislation.gov.au/Series/C2004A03712">Australian Privacy
        Principles</a>.
    </p>
    <p>
        We also follow the <a href="https://www.oaic.gov.au/agencies-and-organisations/guides/">Guidelines for Federal
        and ACT government websites</a> issued by the Office of the Australian Information Commissioner.
    </p>
    <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
