{% extends "_base_page.html" %}

{% block page_title %}Privacy Statement - Digital Marketplace{% endblock %}

{% block body_classes %}privacy-policy secondary-page{% endblock %}

{% block main_content %}
<section class="tou-section">
  <h1 class="au-display-xl">Privacy Statement</h1>
  <p>The Digital Transformation Agency <strong>(DTA)</strong> is an Australian Government entity. The <strong>DTA</strong> is legally required to comply with:</p>
  <ul>
    <li>the obligations under the <em>Privacy Act 1988</em> (Cth) applicable to agencies</li>
    <li>Australian Government Agencies Privacy Code</li>
  </ul>
  <p>
    This statement applies to the <strong>personal information</strong> collected, used and disclosed by the <strong>DTA</strong> as part of administering the <a href="https://marketplace.service.gov.au"><strong>Digital Marketplace</strong></a>. It sets out each type of <strong>personal information</strong> that <strong>we</strong> collect and the primary purpose for which <strong>we</strong> collect that information. <strong>You</strong> should note that the <em>Privacy Act 1988</em> (Cth) also allows <strong>us</strong> to use or disclose <strong>your personal information</strong> for other purposes.
  </p>
  <p>
    <strong>DTA</strong> also has a general <a href="https://beta.dta.gov.au/our-privacy-policy">Privacy Statement</a> that applies to the <strong>DTA</strong> as a whole. It includes information about:
  </p>
  <ul>
    <li>the use of cookies by the <strong>DTA</strong></li>
    <li>surveys conducted by the <strong>DTA</strong></li>
    <li>how to contact <strong>DTA</strong> if <strong>you</strong> have a privacy question or issue that does not relate to the <strong>Digital Marketplace</strong></li>
  </ul>
  <p>
    <strong>Personal information</strong> and <strong>sensitive information</strong> have the meaning given in the <em>Privacy Act 1988</em> (Cth). Other bolded words are defined in the <a href="/terms-of-use">Terms of Use</a>.
  </p>
  <h2 class="au-display-lg">Contacting us</h2>
  <p>
    If <strong>you</strong> contact <strong>us</strong> via the <a href="/contact-us"><strong>Digital Marketplace</strong></a>, <strong>our</strong> phone number or another channel, <strong>we</strong> will collect any name or contact details that <strong>you</strong> provide. Calls to <strong>our</strong> support team will be directed to voicemail.
  </p>
  <p>
    This information is collected and disclosed for the purposes of responding to <strong>your</strong> feedback or request. For example, <strong>we</strong> may disclose it to another agency if it relates to a brief issued by that agency.
  </p>
  <h2 class="au-display-lg">Collection of information from buyers - registration</h2>
  <p>
    <strong>We</strong> collect the following <strong>personal information</strong> from <strong>users</strong> registering on behalf of <strong>government buyer</strong> entities:
  </p>
  <ul>
    <li><strong>your</strong> name (first name and surname) and email address</li>
    <li>if <strong>you</strong> are a contractor, the name (first name and surname) and email address of a manager who is a public servant</li>
  </ul>
  <p>
    <strong>We</strong> collect these details in case <strong>we</strong> need to: 
  </p>
  <ul>
    <li>get in touch with the <strong>buyer</strong> about a requirements brief that the <strong>buyer</strong> has published on the <strong>Digital Marketplace</strong></li>
    <li>confirm that the user is authorised to register on behalf of a <strong>government buyer</strong></li>
  </ul>
  <p>
    These details are not shared with <strong>sellers</strong>.
  </p>
  <p>
    <strong>You</strong> are responsible for ensuring that <strong>you</strong> obtain consent from <strong>your</strong> manager before providing their name and email address to the <strong>DTA</strong>.
  </p>
  <h2 class="au-display-lg">Collection of information from sellers - registration</h2>
  <p>
    <strong>We</strong> collect and publish on the <strong>Digital Marketplace</strong>:
  </p>
  <ul>
    <li>the business name and summary for each <strong>seller</strong> entity</li>
    <li>whether the <strong>seller</strong> is at least 50% indigenous owned</li>
    <li>the <strong>seller</strong>'s business address</li>
    <li>the name, email address and phone number of each <strong>seller</strong>'s authorised representative and additional business contacts</li>
  </ul>
  <p>
    The business name, business summary and information about indigenous ownership are visible to all <strong>users</strong>. The business address and contact details are only visible to the <strong>DTA</strong> and <strong>buyers</strong>.
  </p>
  <p>
    This information is collected and disclosed in order to:
  </p>
  <ul>
    <li>promote <strong>sellers</strong> to <strong>buyers</strong> and potential <strong>buyers</strong> to consider</li>
    <li>facilitate communications between <strong>DTA</strong> and <strong>buyers</strong> with <strong>sellers</strong></li>
  </ul>
  <p>
    <strong>We</strong> also collect information about <strong>your</strong> maximum daily rates as part of <strong>your</strong> application to join the <strong>Digital Marketplace</strong>. <strong>We</strong> use this information to assess <strong>your</strong> application and to calculate price thresholds. <strong>We</strong> may disclose <strong>your</strong> maximum daily rates to <strong>buyers</strong> to allow them to verify that <strong>you</strong> are complying with the terms of the <strong>Digital Marketplace</strong> Master Agreement.
  </p>
  <p>
    <strong>Sellers</strong> are responsible for ensuring that they obtain individuals' consent before providing <strong>personal information</strong> about them to the <strong>DTA</strong>.
  </p>
  <h2 class="au-display-lg">Collection of sensitive information from sellers - registration</h2>
  <p>
    For <strong>seller</strong> entities <strong>we</strong> may also collect the following <strong>personal information</strong> in order to assess <strong>your</strong> application:
  </p>
  <ul>
    <li>case studies</li>
    <li>legal disclosures</li>
    <li>references to verify case studies</li>
  </ul>
  <p>
    This may include <strong>sensitive information</strong>, such as:
  </p>
  <ul>
    <li>information about an individual's membership of a professional or trade association</li>
    <li>information about membership of political associations provided as part of legal disclosures</li>
    <li>health information provided as part of legal disclosures</li>
    <li>information about criminal convictions provided as part of legal disclosures</li>
  </ul>
  <p>
    Case studies are visible to all <strong>buyers</strong>. <strong>We</strong> may also disclose <strong>your</strong> legal disclosures to <strong>buyers</strong> on request, if they are considering awarding a contract.
  </p>
  <p>
    <strong>Sellers</strong> are responsible for ensuring that they obtain consent from referees, employees and any other named individuals before providing their contact or other <strong>personal information</strong> about them to the <strong>DTA</strong>. <strong>Sellers</strong> should not include <strong>sensitive information</strong> in case studies or other information that is expected to be published to <strong>buyers</strong>, unless it’s reasonably necessary to include it to assist <strong>buyers</strong> in deciding whether to invite <strong>you</strong> to respond to a brief.
  </p>
  <h2 class="au-display-lg">Collection of information from sellers – responding to a brief</h2>
  <p>
    <strong>Sellers</strong> who are appointed to the <strong>Digital Marketplace</strong> have the opportunity to respond to briefs issued by government <strong>buyers</strong>.
  </p>
  <p>
    <strong>We</strong> disclose information submitted by <strong>you</strong> to the <strong>government buyer</strong> to allow them to assess <strong>your</strong> response. This may include <strong>personal information</strong> about individual employees or contractors who are identified in <strong>your</strong> response. Some of this information may be <strong>sensitive information</strong>.
  </p>
  <p>
    <strong>Sellers</strong> are responsible for ensuring that they obtain consent from any named individuals before providing their contact or other <strong>personal information</strong> about them to the <strong>DTA</strong>. <strong>Sellers</strong> should not include <strong>sensitive information</strong> in their responses to briefs, unless it’s reasonably necessary to include it to assist <strong>buyers</strong> in deciding whether to select <strong>your</strong> proposal.
  </p>
  <h2 class="au-display-lg">How we deal with complaints and requests</h2>
  <p><strong>You</strong> can:</p>
  <ul>
    <li>request access to <strong>personal information</strong> about <strong>you</strong> that <strong>we</strong> hold</li>
    <li>request the removal of <strong>personal information</strong> about <strong>you</strong> that <strong>we</strong> hold. To the extent possible, with reference to the <em>Archives Act 1983</em> (Cth), the <strong>DTA</strong> will comply with this request where it does not impact the ongoing utility of the <strong>Digital Marketplace</strong> and its related activities.</li>
    <li>ask <strong>us</strong> to correct <strong>your personal information</strong> if <strong>you</strong> find that it is not accurate, up-to-date or complete</li>
    <li>make a complaint about <strong>our</strong> handling of <strong>your personal information</strong></li>
  </ul>
  <p>
    To protect <strong>your</strong> privacy and the privacy of others, <strong>we</strong> will need evidence of <strong>your</strong> identity before <strong>we</strong> can grant <strong>you</strong> access to information about <strong>you</strong> or change it.
  </p>
  <p>
    <strong>You</strong> can contact <strong>us</strong> by email, post or telephone:
  </p>
  <p>
    Position title: The Director Digital Marketplace<br />
    Telephone: 0447 024 113<br />
    Postal address: Marketplace<br />
    c/o Digital Transformation Agency<br />
    PO Box 457<br />
    Canberra City ACT 2601<br />
    Email: <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>
  </p>
  <p>
    <strong>We</strong> undertake to respond within 30 days. If the request or complaint will take longer to resolve, <strong>we</strong> will provide <strong>you</strong> with a date by which <strong>we</strong> expect to respond.
  </p>
  <p>
    If <strong>you</strong> are not satisfied with how <strong>we</strong> have dealt with <strong>your</strong> complaint <strong>you</strong> can also complain to the <a href="https://www.oaic.gov.au/individuals/how-do-i-make-a-privacy-complaint">Office of the Australian Information Commissioner</a> (OAIC). 
  </p>
  <h2 class="au-display-lg">How long we hold your information</h2>
  <p>
    Information collected through the <strong>Digital Marketplace</strong> is normally retained by the <strong>Digital Marketplace</strong> team for a period of at least six months, past the end of its required business use. This is to allow review of completed processes, internal auditing, complaint management, quality assurance and business improvement.
  </p>
  <p>
    As a government agency, the <strong>DTA</strong> is also required to comply with the <em>Archives Act 1983</em> (Cth). This means that the <strong>DTA</strong> can only delete or amend records where this is consistent with the <em>Archives Act 1983</em> (Cth). Information about the <strong>DTA</strong>'s activities, including the <strong>personal information</strong> referred to in this privacy statement, is generally retained with the <strong>DTA</strong>'s record management system for 7 years. Some records may be retained for a longer period.
  </p>
  <h2 class="au-display-lg">How we hold and protect your personal information</h2>
  <p>
    The <strong>Digital Marketplace</strong> domain, <a href="https://marketplace.service.gov.au">https://marketplace.service.gov.au</a> is hosted in Australia in secure, government accredited facilities. <strong>We</strong> apply a range of security controls to protect the <strong>Digital Marketplace</strong> from unauthorised access, as described in <strong>our</strong> <a href="/security">security statement</a>.
  </p>
  <p>
    Access to <strong>your personal information</strong> is restricted to service providers and personnel employed by or contracted to the <strong>DTA</strong> who need it to provide services to <strong>you</strong>.
  </p>
  <p>
    Updated: 28 September 2018
  </p>
</section>
{% endblock %}
