{% extends "toolkit/layouts/_base_page.html" %}

{% block page_title %}How we use your data (privacy notice) - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="help-page grid-row legal-content">
    <div class="column-two-thirds">

      
      <header class="page-heading">
        <h1>How we use your data (privacy notice)</h1>
      </header>
      <p>Last updated: 14 June 2018</p>
      <p>The Digital Marketplace is built and run by the Cabinet Office.</p>
      <p>Cabinet Office is the data controller. A data controller determines how and why personal data can be processed. Read the <a href="https://ico.org.uk/ESDWebPages/Entry/Z7414053" rel="external">Cabinet Office’s entry in the Data Protection Public Register for more information"></a>.</p>


      <div class="dmspeak">
        <h2 class="heading-xmedium">What data we collect from you</h2>
      </div>

      <div class="check-list">
        <p class="lead">We collect several pieces of personal data from our users. These are:</p>
        <ul class="list-bullet">
          <li>email addresses, phone number and address</li>
          <li>company name and contact information (suppliers only)</li>
        </ul>
        <p>We use this data when you create a user account to buy or sell digital services.</p> 
      </div>

      <h3>Your email address and contact details</h3>
      <div class="check-list">
        <p class="lead">When you give us your email we will only use it so that you can:</p>
        <ul class="list-bullet">
          <li>sign in securely</li>
          <li>be contacted about a particular contract, application or brief</li>
          <li>receive updates from a mailing list you’ve subscribed to (for example if you’ve asked to be notified when a new framework opens)</li>
        </ul>
      </div>

      <h3>Your company information</h3>
      <div class="check-list">
        <p class="lead">If you register as a supplier on the Digital Marketplace, you need to provide us with several pieces of data, including your company contact information. We use that data to:</p>
        <ul class="list-bullet">
          <li>inform buyers who they can get in touch with at your company</li>
          <li>register a company on a framework to sell services</li>
          <li>update you on the status of your applications to frameworks or briefs</li>
        </ul>
      </div>
      <p>You will always be told if the personal data you provide is going to be displayed on the Digital Marketplace.</p>
 
      <h3>Information about criminal convictions and company directors</h3>
      
      <p>We’ll ask you if you have any criminal convictions.</p>
      
         <p class="lead">If you’re a supplier applying to join a framework we’ll also ask if your company director has been:</p>
        <ul class="list-bullet">
          <li>convicted of bribery</li>
          <li>declared bankrupt within the last 5 years</li>
        </ul>
      </div>
    
    <p>We use this information to help make a decision about your application.</p>
    
    <p>The legal basis for processing this data is because it is ‘necessary for reasons of substantial public interest for the exercise of a function of a government department’ (<a href:"https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/" rel="external">Article 6 of The General Data Protection Regulation (GDPR)</a>. This means we’re legally allowed to process this data because it’s in the public interest that government checks this information about suppliers.</p> 
      
      <h3>Cookies and analytics</h3>
      <p>You can read our <a href="{{ url_for('.cookies') }}">full cookie policy</a> to find out how we use cookies to track user journeys using Google Analytics.</p>
      <div class="dmspeak">
        <h2 class="heading-xmedium">What we do with your data</h2>
      </div>
      <div class="check-list">
        <p class="lead">Digital Marketplace staff have access to the data they need to manage the live services or frameworks, and make sure spend data is collected correctly.</p> 
        <p>We will not:</p>
        <ul class="list-bullet">
          <li>sell or rent your data to third parties</li>
          <li>share your data with third parties for marketing purposes</li>
        </ul>
      </div>
      <p>We will share your data if we’re required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>
<p>We’ll also share your data with our IT suppliers who provide notification and mailing list management services.</p>
    <h3>Giving feedback about the Digital Marketplace</h3>
    
    <p>You may be asked to provide feedback or take part in research about the Digital Marketplace. We use this data to improve our systems.</p>
<p>The legal basis for processing this data is because you give your consent.</p>

      <div class="dmspeak">
        <h2 class="heading-xmedium">How long we keep your data</h2>
      </div>
      <p>We’ll store your data in our database for as long as you have an active account on the Digital Marketplace.</p>

      <h3>If your account becomes inactive</h3>
      <p>If your account becomes inactive, we’ll keep any data related to a framework agreement for 7 years.</p>
      <p>Any data not related to a framework agreement, for example your email address or password, will be deleted after 3 years. If you prefer, you can ask us to delete this information earlier.</p>


      <div class="dmspeak">
        <h2 class="heading-xmedium">Where your data is processed and stored</h2>
      </div>
      <p>Your personal data may be transferred outside the European Economic Area (EEA). If this happens, we’ll use the the <a href:"https://www.privacyshield.gov/welcome" rel="external">US Privacy Shield scheme</a> to make sure that you’re given the same level of legal protection as within the EEA.</p>

      <div class="dmspeak">
        <h2 class="heading-xmedium">How we protect your data and keep it secure</h2>
      </div>
      <p>We’re committed to doing all that we can to keep your data secure.</p>
      <p>We set up systems and processes to prevent unauthorised access to or disclosure of the data we collect about you – for example, we protect your data using varying levels of encryption.</p>
      <p>All third parties that process personal data for Cabinet Office are required to keep that data secure.</p>

      
      <div class="dmspeak">
        <h2 class="heading-xmedium">Children’s privacy protection</h2>
      </div>
      <p>The Digital Marketplace is not designed for, or intentionally targeted at, children 13 years of age or younger. It is not our policy to intentionally collect or maintain data about anyone under the age of 13.</p>


      <div class="dmspeak">
        <h2 class="heading-xmedium">Your rights</h2>
      </div>
      <div class="check-list">
        <p class="lead">You have the right to:</p>
        <ul class="list-bullet">
          <li>ask for information about how your personal data is processed</li>
          <li>ask for a copy of all the personal data you’ve given to us - this copy will be provided in a structured, commonly used and machine-readable format</li>
          <li>ask for any mistakes in your personal data to be corrected</li>
          <li>ask for your personal data to be erased if we no longer need to hold it</li>
          <li>raise an objection about how your personal data is processed</li>
          <li>ask that <a href="https://ico.org.uk/your-data-matters/your-right-to-limit-how-organisations-use-your-data/" rel="external">we only process your data in certain circumstances</a></li>

        </ul>
      </div>
      <p>If your personal data is processed on the basis of consent, you can withdraw your consent at any time.</p>


      <div class="dmspeak">
        <h2 class="heading-xmedium">Questions and complaints</h2>
      </div>
      <div class="check-list">
        <p class="lead">Contact the GDS Privacy Team if you:</p>
        <ul class="list-bullet">
          <li>have any questions about anything in this notice</li>
          <li>think that your personal data has been misused or mishandled</li>
          <li>want to make a <a href="https://ico.org.uk/your-data-matters/your-right-of-access/">subject access request</a></li>
        </ul>
      </div>

      <h3>Email</h3>
      <p><a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk">gds-privacy-office@digital.cabinet-office.gov.uk</a></p>
    
    <p>You can also contact The Data Protection Officer (DPO) if you have any concerns about how your personal data has been handled. The DPO gives advice and monitors Cabinet Office’s use of personal information.</p>
    
      <h3>Email</h3>
    <p><a href="mailto:dpo@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a></p>
        
     <h3>Post</h3>
      <ul>
        <li>Data Protection Officer</li>
        <li>Cabinet Office</li>
        <li>70 Whitehall</li>
        <li><p>London SW1A 2AS</p></li>
      </ul>


      <div class="dmspeak">
        <h2 class="heading-xmedium">Making a complaint to an independent body</h2>
      </div>

      <p>You can also complain to the Information Commissioner (an independent regulator) for example if your complaint is not resolved by GDS or the DPO.</p>

      <h3>Information Commissioner (ICO)</h3>
      <p><a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a></p>

      <h3>Telephone</h3>
      <p><a href="tel:0303 123 1113">0303 123 1113</a></p>

      <h3>Post</h3>
      <ul>
        <li>Information Commissioner's Office</li>
        <li>Wycliffe House</li>
        <li>Water Lane</li>
        <li>Wilmslow</li>
        <li>Cheshire SK9 5AF</li>
      </ul>

     <br>
     <div class="dmspeak">
        <h2 class="heading-xmedium">Changes to this notice</h2>
      </div>
      <p>We may modify or amend this privacy notice at any time. Any modification or amendment to this privacy notice will be applied to your data immediately. We encourage you to review this privacy notice regularly to stay informed about how we’re protecting your data.</p>

  </div>
</div>
{% endblock %}
