{% extends "_base_page.html" %}

{% block page_title %}About the Marketplace{% endblock %}

{% block body_classes %}about-us{% endblock %}

{% block main_content %}
  
  <h1>Roles and rates</h1>
  <p>
    These are the roles we’ve have identified as essential for today’s digital projects. This list will change over time. If there’s a type of expertise you need but don’t see listed, request an update by emailing us on <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
  </p>

  <nav class="index-links">
    <h2>Roles covered</h2>
    <ul>
      <li><a href="#agile-coach">Agile coach</a></li>
      <li><a href="#business-analyst">Business analyst</a></li>
      <li><a href="#delivery-manager">Delivery manager</a></li>
      <li><a href="#developer">Developer</a></li>
      <li><a href="#digital-transformation-advisor">Digital transformation advisor</a></li>
      <li><a href="#ethical-hacker">Ethical hacker</a></li>
      <li><a href="#inclusive-designer">Inclusive designer</a></li>
      <li><a href="#interaction-designer">Interaction designer</a></li>
      <li><a href="#performance-analyst">Performance analyst</a></li>
      <li><a href="#product-manager">Product manager</a></li>
      <li><a href="#service-designer">Service designer</a></li>
      <li><a href="#technical-lead-architect">Technical lead/architect</a></li>
      <li><a href="#user-researcher">User researcher</a></li>
      <li><a href="#web-devops-engineer">Web devops engineer</a></li>
      <li><a href="#"></a></li>
    </ul>
  </nav>

  <a id="agile-coach"></a><h2>Agile coach</h2>
  <p>
    Agile coaches work directly with government departments and agencies to help organisations, portfolios, programmes and teams be as effective as possible by embedding an Agile culture.
  </p>
  <h3>Day rates</h3>
  <table class="content-table">
    <thead>
      <tr>
        <th scope="col">
        </th>
        <th scope="col">
          Range (low-high)
        </th>
        <th scope="col">
          Median
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          Senior
        </th>
        <td>
          $1100 - $2000
        </td>
        <td>
          $1600
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
