{% extends "_base_page.html" %}

{% block page_title %}Seller guide{% endblock %}

{% block body_classes %}buyers-guide secondary-page{% endblock %}

{% block main_content %}

  <h1><strong>Seller Guide</strong></h1>
  <p><a href="/become-a-seller">Become a seller in the Digital Marketplace &mdash; apply now</a></p>

  <p><strong>Introduction</strong></p>

  <p>This Seller Guide tells you everything you need to know about getting started in the Digital Marketplace. It largely covers the same ground as the invitation to join the Digital Marketplace <a href="https://www.tenders.gov.au/?event=public.atm.show&ATMUUID=DFB1DEA6-9358-50DF-39F6B7FF9918A8F9">published on AusTender</a>.</p>

  <p><strong>What is the Digital Marketplace?</strong></p>

  <p>The Digital Marketplace is an online procurement platform that makes it easier for all levels of government and digital businesses to work together. </p>

  <p>The Digital Marketplace is funded as part of the National Innovation and Science Agenda and is being delivered by the Digital Transformation Agency (&ldquo;we&rdquo; and &ldquo;us&rdquo;).</p>
  <p>Activity on the Digital Marketplace is covered by the <a href="https://marketplace.service.gov.au/terms-of-use">Terms of Use</a> and, for active sellers, the <a href="/static/media/documents/digital-marketplace-master-agreement.pdf">Master Agreement</a>. </p>

  <p>There are 2 types of sellers in the Digital Marketplace: </p>
  <ol>
    <li><strong>Registered sellers</strong> have a seller profile, visible to buyers, on the Digital Marketplace. They can view opportunities but because they are not panel members cannot apply for them. </li>
    <li><strong>Active sellers </strong>are members of the Digital Marketplace Panel and have been fully assessed for 1 or more areas of expertise and can apply for opportunities in those areas. </li>
  </ol>

  <p>To join the Digital Marketplace as a seller, you first apply to become a registered seller. As a registered seller if you express interest in an opportunity, your expertise is assessed. If successful in the assessment, you become an active seller for that area of expertise. Once you are an active seller you can respond to opportunities in your assessed areas of expertise. </p>

  <p>We are not responsible for any costs or expenses incurred by any seller or potential seller for participation in the Digital Marketplace. </p>
  <p><strong>A note on government panels</strong></p>
  <p>Panels are a mechanism for government buyers to do business with pre-qualified sellers without the need for an open tender on each occasion. </p>
  <p><strong>What areas of expertise are we seeking?</strong></p>
  <p>We are currently seeking sellers who can meet our assessment criteria in these digital areas of expertise:</p>
  <ul>
    <li>Strategy and policy</li>
    <li>User research and design</li>
    <li>Agile delivery and governance</li>
    <li>Software engineering and development</li>
    <li>Support and operations</li>
    <li>Content and publishing</li>
    <li>Change, training and transformation</li>
    <li>Marketing, communications and engagement</li>
    <li>Cyber security</li>
    <li>Data science</li>
    <li>Emerging technologies</li>
  </ul>
  <p><strong><strong></strong></strong></p>
  <p>In addition, we are seeking: </p>
  <ul>
    <li>recruiters who wish to provide candidates with digital expertise </li>
    <li>sellers who wish to offer digital software products </li>
  </ul>
  <p>At this point the functionality for digital software products is limited to a catalogue listing. However, in coming months the functionality will evolve in response to the needs of buyers and sellers. </p>
  <p><strong>How to become a registered seller</strong></p>

  <p>To become a registered seller on the Digital Marketplace simply click on the &lsquo;join the Marketplace&rsquo; link at the top of any page on Digital Marketplace or <a href="https://marketplace.service.gov.au/signup">via this link</a>. </p>
  <p>You will be asked to provide information about your business, and case studies, references and supporting documentation to demonstrate expertise in your chosen areas of expertise. You will also be asked to agree to the Digital Marketplace <a href="https://marketplace.service.gov.au/static/media/documents/digital-marketplace-master-agreement.pdf">Master Agreement</a> which will form the basis of any contracts you may be awarded. </p>
  <p>We welcome new sellers on the Digital Marketplace and will complete your initial assessment promptly. Once we complete an initial assessment, your seller profile will be listed on the Digital Marketplace. </p>

  <p>As a registered seller, Digital Marketplace visitors will be able to see your summary information, including your name, business summary, the services you offer, and badges that identify your unique characteristics (for example, Indigenous business). Only registered buyers will be able to see and search for more detailed information about you. </p>

  <p><strong>How to become an active seller</strong></p>
  <p>To become an active seller you must already be a registered seller, and then express interest in a current opportunity published by a buyer in an area of expertise for which you are a registered seller. This will trigger an assessment against the relevant areas of expertise. The assessment includes:</p>
  <ul>
    <li>Reviewing your case studies against the assessment criteria for the area of expertise</li>
    <li>Confirming your references</li>
    <li>Checking your corporate documentation and disclosures</li>
  </ul>

  <p>Your assessment may also take into account:</p>
  <ul>
    <li>Tools, methodologies and technologies, where relevant for the area of expertise</li>
    <li>Risks not considered in other assessment criteria</li>
    <li>Pricing (where relevant)</li>
  </ul>

  <p>Please note, you cannot become an active seller until a minimum of 25 days have passed after our RFP is published. This is to meet the requirements of the Commonwealth Procurement Rules.</p>

  <p><strong>Assessment criteria </strong>Assessments will be conducted according to the <a href="https://marketplace.service.gov.au/assessment-criteria">assessment criteria</a> published on the Digital Marketplace.</p>
  <p><strong>Adding additional areas of expertise</strong></p>
  <p>You can offer additional areas of expertise at any time by applying to do so through your seller profile on the Digital Marketplace. </p>

  <p><strong>Remember to apply early</strong></p>

  <p>Your assessment against an area of expertise is triggered when you express an interest in an opportunity requiring that area of expertise. Express your interest early! We will use reasonable endeavours to complete the assessment in a timeframe so that you can apply for the opportunity. </p>

  <p>If you are still being assessed when the opportunity closes you won&rsquo;t be able to apply for it. However, the assessment will continue to completion so you can apply for future opportunities in that area of expertise, if you are successful in the assessment. </p>

  <p><strong>Unsuccessful assessments</strong></p>

  <p>If you are unsuccessful, you can request a verbal debrief from us. By updating your seller profile to address the feedback, when you express interest in another opportunity you will be reassessed. </p>

  <p><strong>Existing sellers</strong></p>

  <p>If you are a current member of the Digital Service Professionals Panel, your current roles have been mapped to the equivalent areas of expertise in the new panel and no further assessment is required. To finalise your membership of the new Digital Marketplace Panel, all you need to do is review and update your seller profile information and click to accept the Master Agreement.</p>

  <p>The existing Digital Service Professionals Panel will cease to operate soon after the Digital Marketplace Panel is established. During the transition from the Digital Service Professionals Panel to the Digital Marketplace Panel, work orders that have not been completed will continue to completion under the panel that they commenced.</p>

  <p>You can apply at any time to offer additional areas of expertise through the Digital Marketplace. The assessment process will be the same as that for new sellers.</p>

  <p><strong>Joining the Digital Marketplace</strong></p>

  <p>When you register on the Digital Marketplace you will be asked to provide information to become a registered seller. </p>

  <p>We may independently validate the information you provide, including contacting your references. We may use any information we obtain to inform the assessment process. We may also ask you additional questions or seek more information about your business from other sources, and perform any additional security, probity and financial checks we consider are necessary. Delays supplying any additional information we require from you may delay the overall assessment. </p>

  <p>If information you supply is found to be false, inaccurate or misleading, your Digital Marketplace account may be suspended or terminated, or you may be disqualified from the Digital Marketplace. </p>

  <p>As part of the process, you will receive notification emails that an assessment is underway, and another to confirm the assessment&rsquo;s outcome. If you pass the assessment, you are a member of the Digital Marketplace and the Master Agreement is in effect. </p>
  <p><strong><strong></strong></strong></p>
  <p><strong>The Master Agreement </strong></p>

  <p>The legal terms and conditions underpinning the Digital Marketplace Panel take the form of a <a href="/static/media/documents/digital-marketplace-master-agreement.pdf">Master Agreement</a>. You are required to accept these terms without alteration as part of your online application to become a seller on the Digital Marketplace. </p>

  <p>All work awarded to Digital Marketplace sellers will be on the basis of the <a href="/static/media/documents/digital-marketplace-master-agreement.pdf">Master Agreement</a>. Each award will form a separate contract between the government buyer and the successful seller. This is called a work order and it will contain specific details of the work to be provided including the cost. More complex awards, and &lsquo;as-a-service&rsquo; awards may require additional terms and conditions, and these will be documented in the work order. The <a href="/static/media/documents/digital-marketplace-master-agreement.pdf">Master Agreement</a> allows for these additions. </p>

  <p><strong>Rights we reserve</strong></p>

  <p>Our goal is to make the Digital Marketplace and its processes transparent and simple for the mutual benefit of government and digital businesses. We do however need to reserve basic rights in addition to those we set out elsewhere in this document. </p>

  <p>We reserve the right to: </p>

  <ul>
    <li>Add or remove sellers from the Digital Marketplace.</li>
    <li>Make changes to the way content is displayed on the Digital Marketplace.</li>
    <li>Determine the size and composition of the Digital Marketplace Panel. </li>
    <li>Add, remove or amend any areas of expertise.</li>
    <li>Publicise the Digital Marketplace, and this invitation, widely to sellers, their representative bodies and others.</li>
    <li>Publish outcomes of opportunities in line with the provisions of the <a href="http://standard.open-contracting.org/latest/en/">Open Contracting Data Standard</a>. </li>
    <li>Change the registration and panel application processes.</li>
  </ul>
  <ul>
    <li>Respond to and publish answers to questions from sellers.</li>
    <li>Require additional information from any seller.</li>
  </ul>
  <ul>
    <li>Publish summary or detailed information to different Digital Marketplace stakeholders and audiences.</li>
    <li>Publish data and commentary about activity in the Digital Marketplace.</li>
    <li>Amend, clarify or withdraw all or part of the documentation at any time.</li>
    <li>Send notifications to buyers and sellers on the Digital Marketplace via email or other means.</li>
    <li>Use any information obtained through the Digital Marketplace to design an enhanced or new Digital Marketplace.</li>
    <li>Use additional information in the assessment of offers, including references from third parties, whether nominated by the seller or not.</li>
    <li>Not consider a seller&rsquo;s offer if the seller becomes insolvent or subject to administration of its affairs or if the offer is incomplete, false or misleading.</li>
  </ul>
  <p><strong><strong></strong></strong></p>
  <p><strong>Your feedback shapes the Marketplace</strong><strong></strong></p>
  <p>The Digital Marketplace is an agile development in Beta. This means the site will evolve over time in response to the needs of buyers and sellers. If you have any questions, feedback or would like to be involved in user research, email us at marketplace@digital.gov.au.</p>
{% endblock %}
