{% extends "_base_page.html" %}

{% block page_title %}Seller guide{% endblock %}

{% block body_classes %}buyers-guide secondary-page{% endblock %}

{% block main_content %}

  <h1>Seller Guide</h1>
  <nav class="index-links">
    <h2>In this section</h2>
    <ul>
      <li><a href="#about-the-marketplace">About the Marketplace</a></li>
      <li><a href="#who-can-join">Who can join</a></li>
      <li><a href="#becoming-a-seller">Becoming a seller</a></li>
      <li><a href="#contributor">Invite people in your business</a></li>
      <li><a href="#case-studies">Advice on case studies</a></li>
      <li><a href="#assessments">Assessments</a></li>
      <li><a href="#applying">Applying for opportunities</a></li>
      <li><a href="#legal">Legal information</a></li>
      <li><a href="#feedback">Feedback</a></li>
    </ul>
  </nav>


  <h2 id="about-the-marketplace">About the Marketplace</h2>
  <p>The Digital Marketplace is a procurement platform that's making it easier for digital businesses of all sizes
    to compete for ICT contracts across local, state, territory and federal government.</p>
  <p>It's being delivered by the <a href="https://www.dta.gov.au/what-we-do/marketplace/">Digital Transformation
    Agency</a> as part of the <a href="https://www.innovation.gov.au/page/digital-marketplace">National Innovation and
    Science Agenda</a>.</p>


  <h2 id="who-can-join">Who can join</h2>
  <h3>Digital service providers</h3>
  <p>You can join the Digital Marketplace if you have experience in the following digital areas of expertise:</p>
  <ul>
    <li>Strategy and policy</li>
    <li>User research and design</li>
    <li>Agile delivery and governance</li>
    <li>Software engineering and development</li>
    <li>Support and operations</li>
    <li>Content and publishing</li>
    <li>Change, training and transformation</li>
    <li>Marketing, communications and engagement</li>
    <li>Cyber security</li>
    <li>Data science</li>
    <li>Emerging technologies</li>
  </ul>
  <h3>Digital product providers</h3>
  <p><a href="/signup">You can join the Digital Marketplace</a> to showcase digital products on your seller profile
    page. This is a first step
    toward being able to sell digital products through the Digital Marketplace.</p>
  <h3>Digital recruiters</h3>
  <p><a href="/signup">You can join the Digital Marketplace</a> as a recruiter if you can provide candidates with
    digital expertise.</p>

  <h2 id="becoming-a-seller">How to become a seller</h2>
  <p>There are 2 types of sellers in the Digital Marketplace:</p>
  <ol>
    <li><strong>Registered sellers</strong> have a seller profile visible to buyers on the Digital Marketplace. They can
      view opportunities but because they are not panel members cannot apply for them.
    </li>
    <li><strong>Active sellers</strong> are members of the Digital Marketplace Panel approved to offer 1 or more areas
      of
      expertise. Active sellers can apply for opportunities if they have been approved for the relevant area of
      expertise.
    </li>
  </ol>
  <h3>Becoming a registered seller</h3>
  <p>Click 'Join the Marketplace' at the top of any Digital Marketplace page.</p>
  <p>You'll be asked to provide information about your business, including case studies, references and supporting
    documentation. You will also be asked to accept the<a
        href="/static/media/documents/digital-marketplace-master-agreement.pdf">
      Master
      Agreement</a>, which forms the basis of any contracts you may be awarded.</p>
  <p>We welcome new sellers and will complete this initial assessment quickly. Once approved, your profile will appear
    in
    the seller catalogue within the Digital Marketplace.</p>
  <p>As a registered seller, Digital Marketplace visitors will be able to see your summary information, including your
    name, business summary, the services you offer, and badges that identify your unique characteristics. Only
    registered
    buyers will be able to see and search for more detailed information about you.</p>
  <h3>Becoming an active seller</h3>
  <p>To become an active seller you must first be a registered seller, then when you see an opportunity you are
    interested
    in, you can request an assessment. This assessment will be for the relevant area of expertise required for that
    opportunity.</p>
  <p>If you are successful in the evaluation you become an active seller and you can then apply for the opportunity.</p>

  <h2 id="contributor">Invite people in your business</h2>
  <p>
    You can add contributors once your profile is published to the Digital Marketplace. Once a contributor has registered they’ll appear in your team list on your dashboard and will be able to make profile edits, add case studies and respond to briefs.</p>
  <p>
    To add a contributor navigate to your <a href="/sellers">seller dashboard</a> and select ‘invite or remove’.
    It’s sitting next to a list of your current team members. then, select <a href="/sellers/invite-user">invite a contributor</a> and enter the email address of the person you would like to add.
    An email will be sent asking the recipient to register as a contributor.</p><p>
  </p>

  <h2 id="case-studies">Advice on case studies</h2>
  <p>Seller case studies are now an important part of the Digital Marketplace. Buyers will soon search and browse them
    when looking for suitable sellers. We also use them to assess sellers who want to offer a new area of expertise.</p>

  <h3>1. Check you meet the assessment criteria</h3>
  <p>Before you start writing a case study, closely read the <a
      href="/assessment-criteria">assessment criteria</a>. Your case study must
    demonstrate how your skills and experience meet all &mdash; or a selection &mdash; of the criteria for the area of
    expertise you want to offer.</p>
  <p>It's important that you look through the list and choose the criteria you will write to. Once you've
    written your response, go back and double check your case study satisfies the criteria.</p>

  <h3>2. Remember to answer the mandatory elements</h3>
  <p>All case studies must show you can:</p>
  <ul>
    <li>Communicate with a wide range of disciplines both internally and externally.</li>
    <li>Present findings, insights and recommendations to justify decisions.</li>
    <li>Establish relationships to support delivery of services.</li>
    <li>Work in a multidisciplinary team in an agile delivery environment.</li>
  </ul>

  <h3>3. Is there enough detail? </h3>
  <p>Your case study doesn't have to
    describe everything. You just need to describe the part you played, while communicating the points that will meet
    the assessment criteria.
  </p>
  <p>We've put word limits to help you keep it brief, but you can supply additional proof with the links. For example
    you
    can add presentations, video or link to the app, website or product that you made.</p>
  <p>Remember to be specific with data. For instance, if you say you've doubled daily web traffic we don't
    know if that's from 10 to 20 visits or 100,000 to 200,000 visits.</p>

  <h3>4. You can keep writing up until an assessment</h3>
  <p>Once your seller profile is live in the Digital Marketplace you can edit and update your case studies at any
    time.</p>
  <p>An evaluation for a new area of expertise is triggered when you see an opportunity you're interested in and
    request an assessment. So before you click the button you can always go back into your profile and check your case
    study, or add another one.</p>


  <h3>5. Work as a team</h3>
  <p>If you're collaborating on your case studies with colleagues, you can use our <a href="https://docs.google.com/spreadsheets/d/1sSesxeaHy5s5Kp7IIRPB4Q2WifXSdAPZOot_P5s8J6k/edit#gid=1424727210"> Google spreadsheet template </a>. It even includes an example case study to get you started.</p>

<h3>6. If at first you don't succeed try again</h3>
  <p>If you don't meet our assessment criteria you can request feedback. In most cases, you'll be able to
    update your seller profile and case studies and try again another time.</p>

  <h2 id="assessments">Assessments</h2>
  <p>Assessments start when you express interest in an opportunity that needs expertise you're not
    yet approved to offer.</p>
  <p>Express interest early! We will use reasonable endeavours to complete the assessment so that you can apply for the
    opportunity.</p>
  <h3>The assessment process</h3>
  <p>Assessments include:</p>
  <ul>
    <li>Confirming your case studies meet the <a href="/assessment-criteria">assessment
      criteria</a> for the area of expertise.
    </li>
    <li>Confirming your references.</li>
    <li>Checking your documentation and disclosures.</li>
  </ul>
  <p>An assessment may also take into account:</p>
  <ul>
    <li>Tools, methodologies and technologies, where relevant for the area of expertise</li>
    <li>Risks not considered in other assessment criteria</li>
    <li>Pricing (where relevant).</li>
  </ul>
  <h3>If you meet the criteria</h3>
  <p>Once you pass an assessment for an area of expertise you won't need to be assessed for it again.</p>
  <p>After your first successful evaluation you become an active seller and part of the Digital Marketplace Panel.</p>
  <h3>If you don't meet the criteria</h3>
  <p>If you are unsuccessful, you can request a verbal debrief from us.</p>
  <p>After addressing the feedback by updating your profile, you can request another assessment in relation to a new
    opportunity.</p>
  <h3>Verifying your information</h3>
  <p>When you register on the Digital Marketplace you will be asked to provide information to become a registered
    seller.</p>
  <p>We may use any information to inform the assessment process. As well as looking at the information you provide and
    contacting references, we may also:</p>
  <ul>
    <li>ask you more questions</li>
    <li>seek more information about your business from other sources</li>
    <li>perform any additional security, probity and financial checks necessary.</li>
  </ul>
  <p>Any delays supplying the information we request from you may delay your assessment.</p>
  <p>If information you supply is false or misleading, your account may be terminated.</p>
  <h3>Adding new areas of expertise </h3>
  <p>You can add new areas of expertise or digital products at any time by updating your seller profile.</p>

  <h2 id="applying">Applying for opportunities</h2>
  <p>Learn how to apply for opportunities published by government buyers.</p>
  <h3>How to apply</h3>
  <p>If any opportunities interest you, and you've been approved to offer the required area of expertise, click
    'start application' and follow the prompts.</p>
  <p>If you haven't been approved to offer the area of expertise the opportunity requires, you can request an
    assessment. If we can confirm your expertise before the opportunity closes you can apply.</p>
  <p>If your assessment is successful but the opportunity has closed, you can apply for opportunities that call for that
    area of expertise in future, without needing to be reassessed.</p>
  <h3>Essential and 'nice to have' skills and experience</h3>
  <p>Each opportunity sets out essential skills and experience as well as 'nice to have' skills and
    experience. You must have all essential skills and experience to apply for an opportunity.</p>
  <h3>Asking questions</h3>
  <p>If you have any questions about an opportunity, select 'sign in to ask a question' and add your
    question.
    We will then share your question with the buyer.</p>
  <p>Before the opportunity closes, your question and answer will published on the opportunity page.</p>
  <p>To give time for buyers to answer, you can only ask questions for the first half of the time an opportunity is
    live.
    So if the opportunity is for 1 week you can ask questions for the first 2 business days after the opportunity is
    published. If the opportunity is open for 2 weeks you have 1 week to ask questions.</p>
  <p>The deadline for asking questions is published on the opportunity.</p>
  <h3>Question and answer sessions</h3>
  <p>Buyers may also offer a question and answer session for potential sellers. You'll need to sign in to view the
    details of how to join a question and answer session.</p>
  <h3>After applying</h3>
  <p>A short time after an opportunity closes the buyer will let you know if you are on their shortlist.</p>
  <p>Shortlisted sellers are then invited into the evaluation stage. The buyer will let you know of any materials you
    will
    need to prepare. For example a proposal or presentation.</p>
  <p>If you're chosen to perform the work, you and the seller can develop and agree a work order, which is the
    contract for the work.</p>

  <h2 id="legal">Legal information</h2>
  <h3>Terms of use</h3>
  <p>Activity on the Digital Marketplace is covered by the<a href="/terms-of-use">
    Terms
    of Use</a>.</p>
  <h3>Moving to the Digital Marketplace Panel</h3>
  <p>Soon after the Digital Marketplace Panel is formed, the Digital Service Professionals Panel will close. Work orders
    will continue to completion under the panel that they commenced.</p>
  <h3>Master Agreement</h3>
  <p>Work awarded to Digital Marketplace sellers will be on the basis of the Master Agreement. Each award will form a
    separate contract between the government buyer and the successful seller. This is called a work order and it will
    contain specific details of the work to be provided including the cost. More complex awards, and 'as-a-service'
    awards, may need additional terms and conditions. The Master Agreement allows for these additions within a work
    order.</p>
  <h3>Rights we reserve</h3>
  <p>Our goal is to make the Digital Marketplace and its processes simple and transparent, for the mutual benefit of our
    buyers and sellers. But we do need to reserve some basic rights in addition to those we set out elsewhere.</p>
  <p>We reserve the right to:</p>
  <ul>
    <li>Add or remove sellers from the Digital Marketplace.</li>
    <li>Make changes to the way content is displayed on the Digital Marketplace.</li>
    <li>Determine the size and composition of the Digital Marketplace Panel.</li>
    <li>Add, remove or amend any areas of expertise.</li>
    <li>Publicise the Digital Marketplace.</li>
    <li>Publish outcomes of opportunities in line with the provisions of the<a
        href="http://standard.open-contracting.org/latest/en/"> Open Contracting Data Standard</a>.
    </li>
    <li>Change the registration and panel application processes.</li>
    <li>Respond to and publish answers to questions from sellers.</li>
    <li>Ask for more information from any seller.</li>
    <li>Publish summary or detailed information to different Digital Marketplace stakeholders and audiences.</li>
    <li>Publish data and commentary about activity in the Digital Marketplace.</li>
    <li>Amend, clarify or withdraw all or part of the documentation at any time.</li>
    <li>Send notifications to buyers and sellers on the Digital Marketplace via email or other means.</li>
    <li>Use any Digital Marketplace information to design an enhanced or new Digital Marketplace.</li>
    <li>Use additional information for assessment, including references from any third parties.</li>
  </ul>
  <h2 id="feedback">Your feedback shapes the Marketplace</h2>
  <p>The Digital Marketplace is an agile development in <a
      href="https://www.dta.gov.au/standard/service-design-and-delivery-process/">Beta</a>. This means the site is
    evolving over time in response to the needs of buyers and sellers.</p>
  <p><a href="https://www.dta.gov.au/blog/marketplace-shaped-by-user-needs/">We're listening to our buyers and
    sellers</a> and <a href="https://www.dta.gov.au/blog/marketplace-roundtable/">engaging with the wider procurement
    community</a> to create a marketplace based on real feedback, insights and needs.</p>
  <p>Make sure the Digital Marketplace works for you. If you have any questions, feedback or want to take part in user research, email us at <a href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.</p>

  <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
