{% extends "_base_page.html" %}

{% block page_title %}Services available{% endblock %}

{% block body_classes %}services secondary-page{% endblock %}

{% block main_content %}
<section class="tou-section">
  <h1>Services available</h1>
  <p></p>
  <p>The services sellers can provide through the Digital Marketplace have been divided into 11 distinct areas of
    expertise. Together they cover the digital spectrum, plus essential supporting services.</p>
   <p> Before a seller can provide a service through the Digital Marketplace they are evaluated to ensure they meet our <a
        href="/assessment-criteria">assessment criteria</a>.
  </p>
  <h2>Areas of expertise:</h2>
  <nav class="index-links">
    <ul>
      <li><a href="#strategy">Strategy and policy</a></li>
      <li><a href="#userresearch">User research and design</a></li>
      <li><a href="#deliverygov">Agile delivery and governance</a></li>
      <li><a href="#engineering">Software engineering and development</a></li>
      <li><a href="#ops">Support and operations</a></li>
      <li><a href="#contentpub">Content and publishing</a></li>
      <li><a href="#change">Change, training and transformation</a></li>
      <li><a href="#marketingcomms">Marketing, communications and engagement</a></li>
      <li><a href="#cyber">Cyber security</a></li>
      <li><a href="#datasci">Data science and management</a></li>
      <li><a href="#emergtech">Emerging technologies</a></li>
      <li><a href="#recruitment">Recruitment</a></li>
      <li><a href="#products">Products</a></li>
    </ul>
  </nav>

  <a id="strategy"></a><h2>Strategy and policy</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Strategy and policy relates to the higher level planning and policy considerations of a digital product or service.
    Examples include business case development, policy analysis and policy advice.</p>

  <a id="userresearch"></a><h2>User research and design</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>User research and design covers all activities relating to the research and design of a service. Examples include
    user research, interaction, inclusive and service design, participant recruitment and facilities for usability
    testing.</p>

  <a id="deliverygov"></a><h2>Agile delivery and governance</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>
    Agile delivery and governance covers all services relating to the delivery and management of a digital service or
    product. Examples include business analysis, delivery management, performance and web analysis, and product
    management.

  </p>


  <a id="engineering"></a><h2>Software engineering and development</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>

  <p>
    Engineering and development cover the technical aspects of the delivery, enhancement and maintenance of a digital
    service. Examples include web development, devops, technical leadership, architecture, continuous delivery, testing
    and quality assurance.
  </p>


  <a id="ops"></a><h2>Support and operations</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>
    Support and operations covers the day-to-day activities needed to run a digital service. Examples include
    administration, business operations, data entry, contact centres and tech support.
  </p>


  <a id="contentpub"></a><h2>Content and Publishing</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Content and publishing covers all services that provide or manage any type of online or offline content. Examples
    include content design, writing, translation, photography, video, interactive, illustration and animation.</p>

  <a id="change"></a><h2>Change, training and transformation</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Change, training and transformation is about introducing new approaches to work culture and practices in
    government. Examples include digital transformation advice, agile coaching, change management and training in new
    ways of working.</p>

  <a id="marketingcomms"></a><h2>Marketing, communications and engagement</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Marketing, communications and engagement create awareness, adoption and ongoing use of a digital service. Examples
    include advertising, PR, event marketing, content marketing, social, SEO and growth hacking.</p>

  <a id="cyber"></a><h2>Cyber security</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Cyber security protects the Australian government and its citizens’ interests online. Examples include information
    security, assessments, ethical hacking, monitoring, incident response, data privacy and digital forensics.</p>

  <a id="datasci"></a><h2>Data science</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Data science brings analytical rigour and statistical methods to measure quality, improve services and model
    behaviour. Data Management is the knowledge that makes an organisation’s enterprise asset (data) discoverable,
    accessible and useable to stakeholders, while encompassing a good governance framework.
    Examples include statistical and scenario modelling, machine learning and data visualisation.</p>

  <a id="emergtech"></a><h2>Emerging technologies</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Emerging technologies is about using recent digital advances for commercial or government purposes. Examples
    include artificial intelligence, robotics, wearables, Internet of Things and augmented or virtual reality.
  </p>

  <a id="recruitment"></a><h2>Recruitment</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Recruitment professionals can provide candidates to buyers in one or more of the listed areas of expertise. </p>

  <a id="products"></a><h2>Products</h2>
<a href="#" class="scroll-to-top">Back to top of page <b>&uarr;</b></a>
  <p>Sellers can showcase digital products in the <a href="{{ url_for('main.supplier_search') }}">seller catalogue</a>. This is a first step (or minimum viable product)
    towards being able to buy products through the Digital Marketplace.</p>
</section>
{% endblock %}
