{% extends "_base_page.html" %}

{% block page_title %}G-Cloud suppliers' guide - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      },
      {
          "link": url_for('.index_g_cloud'),
          "label": "Cloud technology and support"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

  <div id="publication" class="html-publications-show">


  <header class="publication-header" id="contents"><div class="inner-block floated-children">
  <div class="headings">
  <p class="document-type">Guidance</p>
  <h1>G-Cloud suppliers' guide</h1>
  <p>Updated <abbr class="published-at date" title="2015-12-24">24 December 2015</abbr></p>
  </div>
  <nav class="in-page-navigation"><h2>Contents</h2>
  <ol>
  <li><a href="#digital-marketplace-overview">Digital Marketplace overview</a></li>
  <li><a href="#about-g-cloud">Digital Marketplace and G-Cloud</a></li>
  <li><a href="#how-to-apply">How to bid</a></li>
  <li><a href="#when-to-apply">When to bid</a></li>
  <li><a href="#editing-existing-services">Editing existing services</a></li>
  </ol></nav>
  </div>
  </header>
  <div class="block publication-content">
    <div class="inner-block floated-children">
      <div class="govspeak">

  <h2 id="digital-marketplace-overview">
  <span class="number">1. </span>Digital Marketplace overview</h2>  
  <p>The Digital Marketplace helps you sell cloud technology and digital specialist services to government. You can sell services through 2 frameworks (agreements between government and suppliers).</p>

  <p>You can provide:</p>

  <ul>
  <li>cloud services (eg web hosting or IT health checks) through the G-Cloud framework</li>
  <li>digital outcomes, digital specialists and user research services through the Digital Outcomes and Specialists framework</li>
  </ul>

  <p>You can apply to sell services when a new version of a framework is published on the <a href="http://www.ojeu.eu/" rel="external">Official Journal of the European Union (OJEU)</a>. You don’t need to be based in the UK to apply, but you need to agree to the terms of the framework agreement and call-off contract, which are governed by English law. On average, an OJEU will be open for 6 weeks, every 6 to 9 months.</p>
  
  <h2 id="about-g-cloud">
  <span class="number">2. </span>Digital Marketplace and G-Cloud</h2>
  <p>
  Public sector organisations and arm’s length bodies can use the Digital Marketplace to buy cloud-based services, like web hosting, site analytics or document collaboration tools.
  </p><p>
  If you want to sell your cloud services on the Digital Marketplace, you need to submit your service details via the G-Cloud framework.
  </p><p>
  You can apply to submit your services to the G-Cloud framework when an OJEU is open. 
  </p><p>
  Once your submission has been processed, buyers will be able to find your service live on the Digital Marketplace.
  </p>

  <h2 id="how-to-apply">
  <span class="number">3. </span>How to bid</h2>

  <p>You must:</p>

  <ol>
  <li>create, or log into, a supplier account on the Digital Marketplace</li>
  <li>register your interest in becoming a G-Cloud 7 supplier</li>
  <li>make the supplier declaration on the Digital Marketplace</li>
  <li>submit service information on the Digital Marketplace</li>
  <li>wait for compliance checks to be made on your information</li>
  </li>
  </ol>
  <p>
  Each step in this process is mandatory.
  </p>

  <h3 id="register">
  <span class="number">3.1 </span>Create, or log into, a supplier account on the Digital Marketplace
  </h3>

  <p>
  <a href="/suppliers/create">Create an account</a> or <a href="/suppliers/login">log into your existing account</a> to start your application.
  </p>

  <p>You'll need a <a rel="external" href="http://salesmarketing.dnb.co.uk/find_my_company/">Data Universal Numbering System (<abbr title="Data Universal Numbering System">DUNS</abbr> number</a>) first.</p>

<h3 id="apply">
  <span class="number">3.2 </span>Register your interest in becoming a G-Cloud 7 supplier</h3>
  
  <p>
    Once you’re logged into the Digital Marketplace, click on ‘Register your interest in becoming a G-Cloud 7 supplier’. This starts the G-Cloud 7 application process and signs you up to receive G-Cloud 7 updates.
  </p>
  
  <p> You'll only be able to register your interest when G-Cloud 7 is open for applications.</p>
  
  <p>All communication between suppliers and CCS must take place through the Digital Marketplace.</p>
  
  <h3 id="answer">
  <span class="number">3.3 </span>Make the supplier declaration on the Digital Marketplace</h3>

  <p>
  Next, you must make the supplier declaration to be eligible to provide cloud services to the public sector. You have to:
  </p>
  
  <ul>
  <li>agree to the framework terms</li>
  <li>provide basic supplier information</li>
  <li>answer questions to establish grounds for mandatory exclusion</li>
  <li>answer questions to establish grounds for discretionary exclusion</li>
  </ul>
  

  <h3 id="submit">
  <span class="number">3.4 </span>Submit your service details and documents</h3>

  <p>
  Next, you need to submit your service information on the Digital Marketplace.  
  </p>  
  <p>
  You’ll be asked to include information like a short service description, key product features and benefits, and pricing details.
  </p>

  <p>
  Each service you want to include needs to fit into one of 4 categories, or 'lots':
  </p>

  <ul>
  <li>Lot 1 - Infrastructure as a Service (<abbr title="Infrastructure as a Service">IaaS</abbr>), eg content delivery networks or hosting</li>
  <li>Lot 2 - Platform as a Service (<abbr title="Platform as a Service">PaaS</abbr>) eg platforms that provide a basis for building other services and applications</li>
  <li>Lot 3 - Software as a Service (<abbr title="Software as a Service">SaaS</abbr>), eg accounting tools or customer service management software</li>
  <li>Lot 4 - Specialist Cloud Services, eg IT health checks or data migrations </li>
  </ul>


  <h4 id="adding-or-amending-a-service">Documents you need to include</h4>

  <p>
  Before you can submit a cloud service to the Digital Marketplace, you need to attach:
  </p>

  <ul>
  <li>a terms and conditions (specific to that service) document</li>
  <li>a service definition document</li>
  <li>a pricing document</li>
  </ul>

  <p>
  You can also attach a Skills for the Information Age (SFIA) rate card.
  </p>

  <p>
  All documents should be in an <a href="https://www.gov.uk/government/news/open-document-formats-selected-to-meet-user-needs" rel="external">open format</a>.

  <h4 id="service-definition-document">Service definition document</h4>

  <p>
  You must submit a separate service definition document for each service you supply. The contents of this will appear next to the relevant service in the Digital Marketplace but will not be indexed by search. You should include all information necessary for buyers to evaluate and shortlist the service.
  </p>
  <p>
  Don’t include hyperlinks marketing the service or pricing information. You can mention your website as a source of information on the company.
  </p>

  <h4 id="pricing-document">Pricing document</h4>

  <p>Your pricing document will determine what price appears next to your service on the Digital Marketplace. You can refer to the ITT documentation for more detail on what to include.</p>

  <h4 id="terms-and-conditions">Terms and conditions</h4>

  <p>
  These terms are fixed: they can’t be changed during the lifetime of the framework.
  </p><p>
  There can only be one set of terms and conditions on the Digital Marketplace for each cloud service.
  </p><p>
  Note that the terms and conditions document is not the signed framework agreement signature page between the Crown Commercial Service (CCS) and the supplier.
  </p>


  <h3 id="yourinfo">
  <span class="number">3.5 </span>Compliance checks will be made on your information</h3>

  <p>
  CCS checks the cloud services listed on the Digital Marketplace to make it easier for buyers to find and evaluate them.
  </p><p>
  The information you provide for each service is checked against the service definitions submitted for each service.
  </p><p>
  After you submit your application, it will be evaluated against a set of criteria published in the ITT pack. CCS will evaluate applications against a core set of criteria, as well as against a set of lot-specific criteria.
  </p><p>
  The features are assured so that:
  </p>

  <ul>
  <li>the service is suitable for the framework</li>
  <li>a consistent base level of information on the Digital Marketplace is given</li>
  <li>buyers are aware of core service features</li>
  </ul>


  <h3 id="live">
  <span class="number">3.6 </span>Your services will go live on the Digital Marketplace</h3>

  <p>If you’re successful in your application, you’ll enter into a framework agreement with CCS. Your services will be made available on the Digital Marketplace as soon as the framework goes live.
  </p><p>
  Customers who want to buy your services must enter into a call-off contract with you and accept the terms and conditions you submitted at the time of application. The maximum length of a call-off contract is 24 months.
  </p>
  <p>
  The G-Cloud framework is unlike most other frameworks because it incorporates the suppliers’ terms and conditions. In the case of any contradiction between the supplier’s service terms and conditions, and the framework and call-off terms and conditions, the framework and call-off terms will take precedence.
  </p>

  <h2 id="when-to-apply">
  <span class="number">4. </span>When to bid</h2>

  <p>A new version of the G-Cloud framework is released about every 6 months. Each version of the framework runs for 12 months so frameworks will overlap. </p>

  <p>Follow the steps in ‘<a href="#how-to-apply">How to bid</a>’ to submit a new application. </p>

  <h3 Existing suppliers</h3>

  <p>You can make updates to the services you offer and make bids for supplying new services whenever a new version of the G-Cloud framework is released. You’ll get a 'contract notice' (formal notification telling all potential suppliers about a public sector contract opportunity) from the <abbr title="Office Journal of the European Union">OJEU</abbr> ahead of each new release of the framework.</p>

  <p>You’ll need to resubmit your tender before your framework agreement expires so you can continue to offer services. </p>




  <h2 id="editing-existing-services">
  <span class="number">5. </span>Editing existing services</h2>
  <p>
  You can't edit any supplier or service details now, but this feature will be available soon.
  </p>

  </div>
  </div>
  </div>

  </div>

{% endblock %}
