{% extends "_base_page.html" %}

{% block pageTitle %}
  Terms and conditions - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row legal-content">
    <div class="column-two-thirds">
      <header class="page-heading">
        <h1>
          Terms and conditions
        </h1>
      </header>
      <h2>
        Using our website
      </h2>
      <p>
        The Civil Service website is maintained for your personal use and viewing. Access and use by you of this site constitutes your acceptance of these terms and conditions. This takes effect from the date on which you first use this website.
      </p>
      <h3>
        Hyperlinking policy
      </h3>
      <h4>
        Hyperlinking to the Digital Marketplace website
      </h4>
      <p>
        We do not object to you linking directly to pages on this site and you do not need to ask permission to do so. However, we do not permit our pages to be loaded into frames on your site. The Civil Service pages must be displayed in the user‘s entire browser window.
      </p>
      <h4>
        Hyperlinking from the Digital Marketplace website
      </h4>
      <p>
        We are not responsible for the content or reliability of the websites we link to and do not necessarily endorse the views expressed within them.
      </p>
      <p>
        We aim to replace broken links to other sites but cannot guarantee that these links will always work as we have no control over the availability of other sites.
      </p>
      <h3>
        Participation guidelines
      </h3>
      <p>
        When posting comments, please observe our site participation guidelines:
      </p>
      <ul>
        <li>
          be respectful of other users of this site
        </li>
        <li>
          do not use language that is offensive, inflammatory or provocative (this includes swearing and obscene or vulgar comments)
        </li>
        <li>
          do not break the law (this includes libel, condoning illegal activity and contempt of court)
        </li>
        <li>
          do not use this site for party political purposes, as the site is paid for with public money so it is not appropriate to engage in party-political activity here
        </li>
        <li>
          please do not post personal information – addresses, phone numbers, email addresses or other online contact details – relating either to you or other individuals in comments
        </li>
        <li>
          do not impersonate or falsely claim to represent a person or an organisation. Do not attempt to log in using another user’s account
        </li>
        <li>
          do not make any commercial endorsement or promotion of any product, service or publication not relevant to the discussion
        </li>
      </ul>
      <p>
        If you are aged 16 or under, please get the permission of your parent or guardian before participating. Users without this consent are not allowed to participate.
      </p>
      <h3>
        Virus protection
      </h3>
      <p>
        We make every effort to check and test material at all stages of production. It is always wise for you to run an antivirus program on all material downloaded from the Internet. We cannot accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur while using material derived from this website.
      </p>
      <h3>
        Disclaimer
      </h3>
      <p>
        The Digital Marketplace website and material relating to government information, products and services (or to third-party information, products and services), is provided ‘as is’, without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
      </p>
      <p>
        We do not warrant that the functions contained in the material contained in this site will be uninterrupted or error-free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or represent the full functionality, accuracy, reliability of the materials. In no event will we be liable for any loss or damage including, without limitation, indirect or consequential loss or damage, or any loss or damages whatsoever arising from use or loss of use of, data or profits arising out of or in connection with the use of the Digital Marketplace website.
      </p>
      <p>
        These terms and conditions shall be governed by and construed in accordance with the laws of England and Wales. Any dispute arising under these terms and conditions will be subject to the exclusive jurisdiction of the courts of England and Wales.
      </p>
    </div>
  </div>
{% endblock %}
