{% extends "_base_page.html" %}

{% block page_title %}Terms of Use{% endblock %}

{% block body_classes %}terms-of-use secondary-page{% endblock %}

{% block main_content %}

    <h1>Digital Marketplace Terms of Use</h1>

    <nav class="index-links">
        <h2>On this page</h2>
        <ul>
            <li><a href="#general">General</a></li>
            <li><a href="#your-use-of-the-digital-marketplace-must-be-for-lawful-purposes">Your use of the Digital
                Marketplace must be for lawful purposes</a></li>
            <li><a href="#security">Security</a></li>
            <li><a href="#buyer-user-registration">Buyer User Registration</a></li>
            <li><a href="#seller-user-registration">Seller User Registration</a></li>
            <li><a href="#user-responsibilities">User responsibilities</a></li>
            <li><a href="#licence-to-publish-seller-information-and-indemnity">Licence to publish Seller information and
                indemnity</a></li>
            <li><a href="#sellers-responding-to-a-requirements-brief">Sellers responding to a requirements brief</a>
            </li>
            <li><a href="#use-of-data">Use of Data</a></li>
            <li><a href="#personal-and-organisational-information">Personal and Organisational Information</a></li>
            <li><a href="#copyright-notice">Copyright Notice</a></li>
            <li><a href="#attribution-notice-requirement">Attribution Notice Requirement</a></li>
            <li><a href="#external-links">External Links</a></li>
            <li><a href="#definitions">Definitions</a></li>
        </ul>
    </nav>

    <a id="introduction"></a><h2>Introduction</h2>

    <ol>
        <li>
            You can only access the Digital Marketplace if You agree to be bound by these Terms of Use and any other
            instructions, processes, procedures and recommendations as advised on the Digital Marketplace.
        </li>
        <li>
            In accessing the Digital Marketplace, you will be acting on behalf of either a Buyer (Agency) or a Seller
            (Service provider organisation). You must ensure that the Buyer Agency or the Seller Service provider
            organisation has authorised You to act on their behalf before you continue. To act on behalf of a Buyer,
            either You or Your manager must be an ongoing or non-ongoing employee of the Buyer.
        </li>
        <li>
            Before continuing, please read these Terms of Use as they form a binding agreement between You, the Buyer or
            Seller you are acting on behalf of, and the Digital Transformation Office (DTO) regarding the use of the
            Digital Marketplace.
        </li>
        <li>
            Definitions of the words which are capitalised in these Terms of Use can be found at the end of the
            document.
        </li>
    </ol>

    <a id="general"></a><h2>General</h2>

    <ol start="5">
        <li>
            These Terms of Use are governed by the laws of the Australian Capital Territory (ACT), Australia. If there
            is a dispute that results in You and the DTO going to court, that dispute must be heard in the courts of the
            ACT. Lawyers refer to this as submitting to the exclusive jurisdiction of the ACT.
        </li>
        <li>
            If the ACT court find any of these Terms of Use are invalid, unenforceable or illegal for any reason, the
            remaining Terms of Use will continue to apply in full.
        </li>
        <li>
            These Terms of Use do not apply to Your use of any other government website.
        </li>
        <li>
            The DTO may change these Terms of Use from time to time and will let you know of any changes.
        </li>
        <li>
            Please contact us if You have any questions, problems or feedback regarding these Terms of Use. Please
            email: marketplace@digital.gov.au
        </li>
    </ol>

    <a id="your-use-of-the-digital-marketplace-must-be-for-lawful-purposes"></a><h2>Your use of the Digital Marketplace
    must be for lawful purposes</h2>

    <ol start="10">
        <li>
            You agree to use the Digital Marketplace only for lawful purposes, and in a way that does not negatively
            affect or infringe the rights of, or restrict or prevent the use of, the Digital Marketplace by any other
            user or person. Examples of acts which are unlawful include harassment or causing distress or inconvenience
            to any person and sending, posting or publishing obscene or offensive content to the Digital Marketplace or
            disrupting the Digital Marketplace.
        </li>
        <li>
            You must not use the Digital Marketplace to post or send to other Users within or anyone outside the Digital
            Marketplace any unlawful, defamatory, obscene, offensive or scandalous material, or any material that
            encourages conduct that would be against the law.
        </li>
    </ol>

    <a id="security"></a><h2>Security</h2>

    <ol start="12">
        <li>
            You acknowledge that although the DTO has put in place the security measures described on the Digital
            Marketplace, the DTO cannot guarantee (does not warrant) that unauthorised access to information and data
            transmitted via the Internet will not occur.
        </li>
        <li>
            You must inform Yourself about all security measures and other aspects of the Digital Marketplace. You must
            make Your own decision about the security and other features of the Digital Marketplace before using it.
        </li>
    </ol>

    <a id="buyer-user-registration"></a><h2>Buyer User Registration</h2>

    <ol start="14">
        <li>
            Users acting on behalf of Buyers must register on the Digital Marketplace at <a
                href="https://marketplace.service.gov.au/">https://marketplace.service.gov.au/</a> for their Agency to
            become a registered Buyer and to access the full functionality of the Digital Marketplace. Note, that Buyers
            and Sellers will have different levels of access to information on the Digital Marketplace. For example,
            Buyers and their authorised Personnel will be able to see all Seller’s pricing information and the Sellers’
            response to the requirements brief. Selllers will not be able to see each other prices or responses to a
            requirements brief.
        </li>
    </ol>

    <a id="seller-user-registration"></a><h2>Seller User Registration</h2>

    <ol start="15">
        <li>
            When a Seller is appointed to the Digital Services Professionals panel they must nominate an Authorised
            Representative, that is, a contact person authorised by the Seller organisation to act on its behalf. The
            contact person will be sent an email to activate their Digital Marketplace account. The Seller agrees that
            the details of the Authorised Representative (the Seller contact person) will be posted on the Digital
            Marketplace and can be viewed by all registered Buyers. The Seller has obtained the consent of the Seller’s
            Authorised Representative to have their details being viewed in this way.
        </li>
        <li>
            The DTO may terminate Your access to the Digital Marketplace at any time for any reason. If the DTO does
            this, the DTO will not be liable for any Losses of any kind as a consequence of terminating Your access.
        </li>
        <li>
            Changes in the Seller’s Authorised Representative (contact person) details should be notified to the DTO in
            the way agreed in the Digital Services Professional panel Deed of Standing Offer.
        </li>
    </ol>

    <a id="user-responsibilities"></a><h2>User responsibilities</h2>

    <ol start="18">
        <li>
            You must:
            <ol>
                <li>
                    Keep Your login details and password secure
                </li>
                <li>
                    Not share Your login details
                </li>
                <li>
                    Log out of the Digital Marketplace when You are not actively using it.
                </li>
            </ol>
        </li>
        <li>
            Any login to the Digital Marketplace that has not been use for 3 months may be suspended.
        </li>
    </ol>

    <a id="licence-to-publish-seller-information-and-indemnity"></a><h2>Licence to publish Seller information and
    indemnity</h2>

    <ol start="20">
        <li>
            In using the Digital Marketplace, the Seller agrees to
            <ol>
                <li>
                    provide a perpetual licence to the DTO to reproduce and use the Seller’s information and Seller’s
                    response to any requirements brief, including any third party material that is incorporated in the
                    Seller’s information and response, for the purposes of the Digital Marketplace (i.e. the Seller’s
                    information and response can be used forever by the DTO). This licence is subject to the terms
                    and conditions of the Digital Service Professionals Panel Deed of Standing Offer that the Seller has
                    executed with the DTO;
                </li>
                <li>
                    make sure that all information in the requirements brief is true, complete and accurate; and
                </li>
                <li>
                    make sure (i.e. warrants) that the information in the requirements brief does not breach a third
                    party’s intellectual property rights.
                </li>
            </ol>
        </li>
        <li>
            You and the Seller must at all times indemnify and keep indemnified the DTO and our officers, employees and
            agents (Those Indemnified) from and against any Loss (including reasonable legal costs and expenses) or
            liability incurred by any of Those Indemnified arising from any claim, demand, suit, action or proceeding by
            any person against any of Those Indemnified where that Loss or liability arose out of, in connection with or
            in respect of:
            <ol>
                <li>
                    any breach of these Terms of Use by You; and
                </li>
                <li>
                    publication of or distribution of the material and/or information supplied by You.
                </li>
            </ol>
        </li>
    </ol>

    <a id="sellers-responding-to-a-requirements-brief"></a><h2>Sellers responding to a requirements brief</h2>

    <ol start="22">
        <li>
            As the Authorised Person (contact person) for a Seller submitting an electronic response to a requirements
            brief, You agree that You and the Seller are responsible for:
            <ol>
                <li>
                    Ensuring that Your technology platform meets the minimum requirements identified, if any, on the
                    Digital Marketplace;
                </li>
                <li>
                    Ensuing Your internet connection is working correctly and in the case of wireless internet
                    connection that the signal is strong and stable;
                </li>
                <li>
                    Making sure you refer to the Digital Marketplace guidance on how to respond to a requirements brief;
                </li>
                <li>
                    Taking all steps to ensure that the response to the requirements brief is free from any Harmful Code
                    or anything else that might affect the operation of the Digital Marketplace or the Buyer’s ICT
                    environment;
                </li>
                <li>
                    Allowing sufficient time for lodging Your response to a requirements brief, including time that may
                    be required to resolve any problems before the closing time of a requirements brief;
                </li>
                <li>
                    Ensuring that the response to the requirements brief does not contain macros, script or executable
                    code of any kind unless that specific material has previously been approved or requested in writing
                    by the Buyer;
                </li>
                <li>
                    Ensuring that responses to the requirements brief comply with all file type, format, naming
                    conventions, size limitations or other requirements specified within the requirements brief or
                    otherwise advised by the Buyer or required by the Digital Marketplace; and
                </li>
                <li>
                    Lodging the Seller requirements brief on time and comply with these Terms of Use.
                </li>
            </ol>
        </li>
        <li>
            You and the Seller acknowledge that neither the Buyer nor the DTO will be liable for any Loss, damage, costs
            or expenses incurred by the User, the Seller or any other person if, for any reason, a response to a
            requirements brief or any other material or communication relevant to the requirements brief, is not
            received on time, is corrupted or altered or otherwise is not received as sent, cannot be read or decrypted,
            or has its security or integrity compromised.
        </li>
        <li>
            A Seller responding to any requirement brief agrees:
            <ol>
                <li>
                    To comply with any file size requirements (if any) detailed in the relevant requirements brief;
                </li>
                <li>
                    To upload the response to a requirements brief from a high level directory on the Seller’s User’s
                    desktop, so as not to impede the upload process;
                </li>
                <li>
                    To ensure that a response to a requirements brief is completely self- contained and that there are
                    no references to hyperlinks. All supporting material that is not directly related to the relevant
                    requirements brief should be provided in accordance with the Buyer’s requirements as detailed in the
                    relevant requirements brief documentation; and
                </li>
                <li>
                    That the response to the requirements brief is authorised by the Seller.
                </li>
            </ol>
        </li>
    </ol>

    <a id="use-of-data"></a><h2>Use of Data</h2>

    <ol start="25">
        <li>
            The Digital Marketplace will publish information, data, documents, pages and images (Data), some of which is
            uploaded by people other than the DTO. The DTO disclaims all and any guarantees, undertakings and
            warranties, express or implied, and will not be liable for any Loss or damage whatsoever, including without
            limitation any direct, incidental or Consequential Loss or damage, arising out of, or in connection with,
            any use of or reliance on the Data on the Digital Marketplace.
        </li>
        <li>
            The DTO does not guarantee that any Data on the Digital Marketplace is true and correct at the date of
            publication or afterwards. Changes in circumstances after the time of publication of Data may have an impact
            on the accuracy of the Data. The Data may change without notice and the DTO is not liable for the accuracy
            of any information printed or stored by a User. Changes may be made to the Data and the Digital Marketplace
            at any time.
        </li>
    </ol>

    <a id="personal-and-organisational-information"></a><h2>Personal and Organisational Information</h2>

    <ol start="27">
        <li>
            It is in the interest of Users to register their details correctly. Buyers publishing a requirements brief
            require this information to notify potential Sellers of any extension to the tendering period, changes to
            the tender process and when issuing any changes to the requirements brief (which is usually referred to as an
            addendum).
        </li>
        <li>
            The DTO will treat any personal information provided by a User or by a Buyer or Seller within the terms of
            its relevant privacy responsibilities (see Privacy Statement).
        </li>
        <li>
            The DTO maintains appropriate safeguards to ensure the security, integrity and privacy of personally
            identifiable information submitted to this site and periodically reviews and updates security measures in
            line with current technology.
        </li>
    </ol>

    <a id="copyright-notice"></a><h2>Copyright Notice</h2>

    <ol start="30">
        <li>
            In using the Digital Marketplace, the Buyer provides a perpetual licence to the DTO to reproduce and use the
            information in the requirements brief (including any third party materials incorporated in the requirements
            brief) for the purposes of the Digital Marketplace.
        </li>
    </ol>

    <p>
        Inquiries regarding the licence or any use of the Digital Marketplace materials should be directed to: <a
            href="mailto:marketplace@digital.gov.au">marketplace@digital.gov.au</a>.
    </p>

    <a id="attribution-notice-requirement"></a><h2>Attribution Notice Requirement</h2>

    <ol start="31">
        <li>
            Except where otherwise noted, any reference to, reuse or distribution of all or part of the Digital
            Marketplace materials must include the following attribution:
            <ol>
                <li>
                    The Digital Marketplace materials are subject to change and should be verified on the Digital
                    Marketplace website to ensure the information is up to date and correct: <a
                        href="https://marketplace.service.gov.au/">https://marketplace.service.gov.au/</a>
                </li>
            </ol>
        </li>
    </ol>

    <a id="external-links"></a><h2>External Links</h2>

    <ol start="32">
        <li>
            The Digital Marketplace may link to other external websites that are not related to the DTO or its
            activities. While the DTO will be careful in linking to these external websites, it does not have direct
            control over the content of the external websites, or the changes that may occur to the content on those
            websites. You will need to make Your own decisions as to whether the information on the external websites is
            accurate, current, reliable and correct.
        </li>
        <li>
            Links to external websites does not mean that the DTO is endorsing or recommending any material on those
            websites or any products or services offered by the external websites.
        </li>
        <li>
            Users of external websites are responsible for being aware which organisation is hosting the external
            website they visit.
        </li>
        <li>
            You may link to the Digital Marketplace at Your full expense and responsibility. You must not:
            <ol>
                <li>
                    alter any of the contents of the Digital Marketplace; or
                </li>
                <li>
                    frame or reformat the files, pages, images, information and materials from the Digital Marketplace
                    on any other website.
                </li>
            </ol>
        </li>
        <li>
            DTO may, by giving notice, require the removal of links on third party sites.
        </li>
    </ol>

    <a id="definitions"></a><h2>Definitions</h2>

    <p><strong>Agency</strong> means:</p>

    <ul>
        <li>
            all agencies subject to the Financial Management and Accountability Act 1997 (Cth) and on and from 1 July
            2014 entities that are subject to the Public Governance, Performance and Accountability Act 2013 (Cth);
        </li>
        <li>
            all bodies subject to the Commonwealth Authorities and Companies Act 1997 (Cth) and on and from 1 July 2014 entities that are subject to the Public Governance, Performance and Accountability Act 2013 (Cth);
        </li>
        <li>
            all other bodies governed by the Governor-General or a Minister of the Commonwealth or over which the
            Commonwealth exercises control; and
        </li>
        <li>
            all bodies governed by a State Governor or by a Minister of a State or Territory or over which a State
            or Territory exercises control (including departments in State or Territory Governments), and includes local
            government agencies.
        </li>
    </ul>

    <p><strong>Authorised Representative</strong> means a contact person authorised by the Seller organisation to act on
        its behalf.</p>

    <p><strong>Buyer</strong> means an Agency.</p>

    <p><strong>Commonwealth</strong> means the Commonwealth of Australia;</p>

    <p><strong>Consequential Loss</strong> means:</p>

    <p>any loss recoverable at law (other than arising in the usual course of things) which is consequential upon other
        loss, including:</p>

    <ol type="i">
        <li>loss of income or revenue;</li>
        <li>a loss of opportunity or goodwill;</li>
        <li>a loss of profits;</li>
        <li>a loss of anticipated savings or business; and</li>
        <li>loss of value of any equipment,</li>
    </ol>

    <p><strong>Data</strong> includes information, data, documents, pages and images.</p>

    <p><strong>Digital Marketplace</strong> is the website located at gov.au/marketplace managed by the Digital
        Transformation Office.</p>

    <p><strong>DTO</strong> means the Commonwealth represented by the Digital Transformation Office.</p>

    <p><strong>Harmful Code</strong> means any form of harmful surreptitious code or other contaminants, including
        viruses, bugs, trojan horses, spyware or adware.</p>

    <p><strong>Loss</strong> means loss, damage, cost or expense (to any person or property) including consequential or
        indirect loss or any loss of profits, data or revenue.</p>

    <p><strong>Our, us</strong> and <strong>we</strong> means the Commonwealth of Australia represented by the Digital
        Transformation Office.</p>

    <p><strong>Personnel</strong> means, in relation to a party, any natural person who is an employee, officer, agent,
        contractor, subcontractor or professional adviser of that party or, in the case of You, of a subcontractor.</p>

    <p><strong>Seller</strong> means a person who has been selected by the DTO to be on the Digital Service
        Professionals panel and has executed the panel Deed of Standing Offer following an open tender process conducted
        by the DTO.</p>

    <p><strong>User</strong> means any person (including an individual or a body corporate) that represents a Buyer or
        Seller on the Digital Marketplace.</p>

    <p><strong>You</strong> and <strong>Your</strong> means the User of the Digital Marketplace.</p>

    <p>Last updated: 2 September 2016</p>
    <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
