{% extends "_base_page.html" %}

{% block page_title %}Terms of Use{% endblock %}

{% block body_classes %}disclaimer secondary-page{% endblock %}

{% block main_content %}

  <h1>Terms of Use</h1>
    <h2>Definitions</h2>
    <p><b>Harmful Code</b> means any form of harmful surreptitious code or other contaminants, including viruses, bugs, trojan horses, spyware or adware.</p>
    <p><b>Loss</b> means loss, damage, cost or expense (to any person or property) including consequential or indirect loss or any loss of profits, data or revenue.</p>
    <p><b>Agency</b> means any agency (including departments) of the Australian Government.</p>
    <p><b>You</b> and <b>your</b> means the user of gov.au</p>
    <p><b>Our</b>, <b>us</b> and <b>we</b> means the Commonwealth of Australia represented by the Digital Transformation Office.</p>

    <h2>General</h2>
    <ol>
        <li>gov.au is managed by the Digital Transformation Office. Your use of gov.auis deemed to be your acceptance of these Terms of Use. Please read them carefully.</li>
        <li>These terms of use are governed by the laws of the Australian Capital Territory, Australia and you agree to submit to the exclusive jurisdiction of the courts of the Australian Capital Territory.</li>
        <li>If any of these terms of use are held to be invalid, unenforceable or illegal for any reason, the remaining terms of use will continue in full force.</li>
        <li>These terms of use do not negate any terms or conditions that apply to your use of any other government website.</li>
        <li>We may revise these terms and conditions from time to time. Please check our website.</li>
        <li>Please contact us if you have any questions, problems or feedback regarding the terms of use.</li>
    </ol>
    <h2>Lawful purposes</h2>
    <ol>
        <li>You agree to use gov.au only for lawful purposes, and in a manner that does not infringe the rights of or restrict or inhibit the use and enjoyment of gov.au by any third party. This includes conduct which is unlawful or which may harass or cause distress or inconvenience to any person, the transmission of obscene or offensive content or disruption to gov.au.</li>
        <li>You must not post or transmit via gov.au any unlawful, defamatory, obscene, offensive or scandalous material, or any material that constitutes or encourages conduct that would contravene any law.</li>
    </ol>
    <h2>Disclaimer</h2>
    <ol>
        <li>Your use of gov.au does not:
            <ul>
                <li>affect or reduce any obligation owed to you by any Agency; or</li>
                <li>reduce any obligation you owe to any Agency.</li>
            </ul>
        </li>
        <li>The gov.au website is not a substitute for independent professional advice and you should obtain any appropriate professional advice relevant to your particular circumstances. You must exercise your own judgement and carefully evaluate the material on gov.au Please read the full disclaimer statement.</li>
    </ol>
    <h2>Security</h2>
    <ol>
        <li>We strive to protect information you provide on gov.au We will use all reasonable endeavours to ensure that gov.au and your information are not compromised. However, we cannot guarantee that no Harmful Code will enter gov.au You should be aware of the risks associated with using websites. Please read our security statement.</li>
        <li>We recommend that you use appropriate and up-to-date firewall and anti-virus software to protect your computer systems.</li>
        <li>Where connection to a system or website outside our control compromises the objectives of gov.au, we may sever links to that website or system.</li>
    </ol>
    <h2>Privacy</h2>
    <ol>
        <li>For more information about how we protect your privacy and personal information, please see our privacy policy.</li>
        <li>We do not share information about you with other government agencies without your permission unless it:
            <ul>
                <li>is necessary to provide you with a service that you have requested</li>
                <li>is required or authorised by law</li>
                <li>will prevent or lessen a serious and imminent threat to somebody's health.</li>
            </ul>
        </li>
    </ol>
    <h2>Linking policy</h2>
    <h3>Linked websites</h3>
    <ol>
        <li>We take reasonable care in linking gov.au to other websites but we have no direct control over the content presented in those websites or the availability of those websites. Any information on a linked website is provided 'As Is'.</li>
        <li>We make no representation that the material on any linked websites does not infringe the intellectual property rights or any other rights of any person. We do not authorise the reproduction of such material.</li>
        <li>We do not endorse or recommend any links to external websites, or third party content, including products and services offered by, from or through those websites or their content.</li>
        <li>We use the following criteria to select the links that are included on this site:
            <ul>
                <li>The content must be authentic. gov.au will primarily link to government content or websites known to be sponsored by the Australian Government. Every effort is made to ensure the links are as current and as complete as possible, however due to the consistent process of change on government websites there will inevitably be a small amount of out-of-date or missing content at any point of time.</li>
                <li>The content should be up-to-date and accurate. Links will be made in good faith with the expectation that the content is appropriately maintained by the author and is timely and accurate. However, we can offer no guarantees of this.</li>
                <li>Please note that there are exceptions. Due to the nature of Australian Stories, their content may include links to a variety of Australian, state, territory and local government cultural agencies as well as to commercial websites and organisations.</li>
                <li>Australian Government agencies can inform gov.au of new sites or pages for inclusion in the gov.au using the contact us form.</li>
            </ul>
        </li>
    </ol>
    <h3>Linking to this site</h3>
    <ol>
        <li>All Australian, state, territory and local government websites may link to this site.</li>
        <li>You may link to this website as long as you do not:
            <ul>
                <li>imply that the Australian Government endorses your website or product</li>
                <li>use gov.au solely for commercial practices</li>
                <li>change the content of the material technically (eg the material is presented in a frame so that users are unable to determine the location of the original material).</li>
            </ul>
        </li>
        <li>We may ask you to remove the link from your website if these conditions are not met.</li>
    </ol>
Last updated: 9 November 2015
  <a href="#" class="scroll-to-top">Top</a>
{% endblock %}
