{% extends "govuk-frontend/template.njk" %}

// Insert line for each component module import

{% from "components/button/macro.njk" import govukButton %}
{% from "components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk-frontend/components/phase-banner/macro.njk" import govukPhaseBanner %}

{# Import DM Components #}
{% from "digitalmarketplace/components/cookie-banner/macro.njk" import dmCookieBanner %}
{% from "digitalmarketplace/components/header/macro.njk" import dmHeader%}
{% from "digitalmarketplace/components/footer/macro.njk" import dmFooter%}
{% from "digitalmarketplace/components/banner/macro.njk" import dmBanner %}

{% set assetPath = '/static' %}

{% block head %}
  {% include "digitalmarketplace/templates/layouts/_custom_dimensions.html" %}
  {% include "digitalmarketplace/templates/layouts/_site_verification.html" %}
  <link type="text/css" rel="stylesheet" href="{{ asset_fingerprinter.get_url('stylesheets/application.css') }}" />
  {% block pageStyles %}{% endblock%}
{% endblock %}

{% block header %}
  {% include "_cookie_banner.html" %}
  {{ dmHeader({
    "role": current_user.role | default(None)
  }) }}
{% endblock %}

{% block beforeContent %}
  {% block phaseBanner %}
    {{ govukPhaseBanner({
      "tag": {
        "text": "beta"
      },
      "html": 'Help us improve the Digital Marketplace - <a class="govuk-link" href="'  + url_for('external.help') + '">send your feedback</a>'
    }) }}
  {% endblock %}
  {% block breadcrumb %}{% endblock%}
{% endblock %}

{% block content %}
  {% include "toolkit/flash_messages.html" %}
  {% block errorSummary %}
    {% if errors %}
      {{ govukErrorSummary({
      "titleText": "There is a problem",
      "errorList": errors.values(),
    }) }}
    {% endif %}
  {% endblock %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ dmFooter({}) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ asset_fingerprinter.get_url('javascripts/application.js') }}"></script>
  {% block pageScripts %}{% endblock%}
{% endblock %}
