{% import "toolkit/summary-table.html" as summary %}
{% if brief.status != 'draft' %}
{% call(item) summary.list_table(
  [
    {"label": "Published", "value": brief.publishedAt|dateformat},
    {"label": "Deadline for asking questions", "value": brief.clarificationQuestionsClosedAt|datetimeformat if brief.clarificationQuestionsClosedAt is defined},
    {"label": "Closing date for applications", "value": brief.applicationsClosedAt|datetimeformat if brief.applicationsClosedAt is defined}
  ],
  caption="Important dates",
  field_headings=[
    "Opportunity attribute name",
    "Opportunity attribute value"
  ],
  field_headings_visible=False
) %}

  {% call summary.row() %}
    {{ summary.field_name(item.label) }}
    {{ summary.text(item.value) }}
  {% endcall %}
{% endcall %}
{% endif %}
{% for section in content.summary(brief) %}
    {{ summary.heading(section.name, id="opportunity-attributes-{}".format(loop.index)) }}
     {% if section.summary_page_description %}
          {{ summary.description(section.summary_page_description) }}
        {% endif %}
    {% call(item) summary.list_table(
      section.questions,
      caption=section.name,
      field_headings=[
        "Opportunity attribute name",
        "Opportunity attribute value"
      ],
      field_headings_visible=False
    ) %}
      {% call summary.row() %}
        {{ summary.field_name(item.label) }}
        {{ summary[item.type](item.value) | format_links}}
      {% endcall %}
    {% endcall %}
{% endfor %}
