{% import "toolkit/statistics.html" as statistics %}

{{ statistics.big_stat(
     brief_responses_stats.incomplete_responses_total,
     pluralize(brief_responses_stats.incomplete_responses_total, "Incomplete application", "Incomplete applications"),
     "%d SME, %d large" | format(
        brief_responses_stats.incomplete_sme_responses,
        brief_responses_stats.incomplete_large_responses
     ) if brief_responses_stats.incomplete_responses_total else None,
     id="incomplete-applications"
   )
}}
{{ statistics.big_stat(
     brief_responses_stats.completed_responses_total,
     pluralize(brief_responses_stats.completed_responses_total, "Completed application", "Completed applications"),
     "%d SME, %d large" | format(
     brief_responses_stats.completed_sme_responses,
     brief_responses_stats.completed_large_responses
     ) if brief_responses_stats.completed_responses_total else None,
     id="completed-applications"
   )
}}
