{% import "toolkit/summary-table.html" as summary %}

{% if brief.status == 'live' and not brief.clarificationQuestionsAreClosed and brief.questionAndAnswerSessionDetails %}
  {{ summary.heading("Question and answer session", id="question-and-answer-session") }}
  <a class="govuk-link" href="/suppliers/opportunities/{{ brief.id }}/question-and-answer-session">
    {% if current_user.is_authenticated and current_user.role == 'supplier' %}
      View question and answer session details
    {% else %}
      Log in to view question and answer session details
    {% endif %}
  </a>
{% endif %}

{{ summary.heading("Questions asked by suppliers", id="clarification-questions") }}
{% call(question) summary.list_table(
  brief.clarificationQuestions,
  caption="Questions asked by suppliers",
  field_headings=[
    "Supplier question",
    "Buyer answer"
    ],
    field_headings_visible=False,
    empty_message="No questions have been answered yet"
) %}
  {% call summary.row() %}
    {% call summary.field(first=True, wide=False) -%}
      <span aria-label="question">{{ question.number }}.</span>
      {{ question.question | format_links | preserve_line_breaks }}
    {%- endcall %}
    {{ summary.text(question.answer | format_links | preserve_line_breaks) }}
  {% endcall %}
{% endcall %}

{% if brief.status == 'live' and not brief.clarificationQuestionsAreClosed %}
  <a class="govuk-link" href="/suppliers/opportunities/{{ brief.id }}/ask-a-question">
    {% if current_user.is_authenticated and current_user.role == 'supplier' %}
      Ask a question
    {% else %}
      Log in to ask a question
    {% endif %}
  </a>
{% elif brief.status == 'live' %}
  The deadline for asking questions about this opportunity was {{ brief.clarificationQuestionsClosedAt|dateformat }}.
{% endif %}
