<div class="footer-categories">
  <div class="footer-about">
    <h2>
      Contact
    </h2>
    <ul>
      <li>
        <a href="mailto:enquiries@digitalmarketplace.gov.au">Digital Marketplace support</a>
      </li>
    </ul>
  </div>
  <div class="footer-buyers">
    <h2>
      About the Digital Marketplace
    </h2>
    <ul>
      <li>
        <a href="#">Digital Marketplace information</a>
      </li>
      <li>
        <a href="#">Digital Marketplace blog</a>
      </li>
      <li>
        <a href="#">G-Cloud framework</a>
      </li>
      <li>
          <a href="{{ url_for('main.suppliers_list_by_prefix') }}">G-Cloud supplier A–Z</a>
      </li>
      <li>
        <a href="#">Crown Hosting framework</a>
      </li>
      <li>
        <a href="#">Crown Commercial Service</a>
      </li>
    </ul>
    </div>
    <div class="footer-suppliers">
        <h2>
            Guidance
        </h2>
        <ul>
            <li>
                <a href="#">Digital Marketplace buyers’ guide</a>
            </li>
            <li>
                <a href="#">Digital Marketplace suppliers’ guide</a>
            </li>
            <li>
                <a href="#">G-Cloud buyers’ guide</a>
            </li>
            <li>
                <a href="#">G-Cloud suppliers’ guide</a>
            </li>
            <li>
                <a href="#">Digital Outcomes and Specialists buyers’ guide</a>
            </li>
            <li>
                <a href="#">Digital Outcomes and Specialists user research labs buyers' guide</a>
            </li>
            <li>
                <a href="#">Digital Outcomes and Specialists suppliers’ guide</a>
            </li>
        </ul>
    </div>
    <hr/>
</div>
