<section class="footer-logo">
    <ul>
        <li><img alt="Australian Government Coat of Arms" src="{{ asset_path }}images/logo_govcrest.svg"></li>
        <li><img alt="National Innovation &amp; Science Agenda logo" src="{{ asset_path }}images/logo_nisa.svg" class="nisalogo"></li>
        <li class="nisa"><div>This program forms part of the National Innovation and Science Agenda.<br>Visit <a href="https://innovation.gov.au/">Innovation.gov.au</a> to find out more.</div></li>
    </ul>
</section>
