<section class="footer-top">
  <nav>
    <ul>
      <li><h2>About</h2></li>
      <li><a href="/about-us">About us</a></li>
      <li><a href="/contact-us">Contact us</a></li>
      <li><a href="{{ url_for('main.terms_of_use') }}">Terms of Use</a></li>
      <li><a href="/privacy-policy">Privacy</a></li>
      <li><a href="/security">Security</a></li>
      <li><a href="/disclaimer">Disclaimer</a></li>
      <li><a href="/copyright">Copyright</a></li>
    </ul>
    <ul>
      <li><h2>Using the Marketplace</h2></li>
      <li><a href="/">Home</a></li>
      <li><a href="{{ url_for('main.supplier_search') }}">Seller catalogue</a></li>
      <li><a href="/capabilities-and-rates">Services and rates</a></li>
      <li><a href="/buyers-guide">Buyer's guide</a></li>
      <li><a href="/sellers-guide">Seller's guide</a></li>
    </ul>
    <ul>
      <li><h2>Marketplace brought to you by the <a href="//dta.gov.au" rel="external">DTA</a></h2></li>
      <li><a href="//dta.gov.au/blog/" target="_blank" rel="external">DTA blog</a></li>
      <li><a href="//twitter.com/DTA" target="_blank" rel="external">DTA twitter</a></li>
      <li><a href="//github.com/AusDTO" target="_blank" rel="external">DTA github</a></li>
    </ul>
    <ul>
      <li><h2>DTA resources</h2></li>
      <li><a href="//dta.gov.au/our-work/" target="_blank" rel="external">Our work</a></li>
      <li><a href="//dta.gov.au/standard/" target="_blank" rel="external">Digital Service Standard</a></li>
      <li><a href="//dta.gov.au/design-guides/" target="_blank" rel="external">Design guides</a></li>
    </ul>
  </nav>
</section>
