{% extends "_base_page.html" %}

{% if page_title %}
    {% block page_title -%}
        {{ page_title }} - Digital Marketplace
    {%- endblock %}
{% endif %}

{% if main_class %}
  {% block main_class -%}
    {{ main_class }}
  {%- endblock %}
{% endif %}

{% block breadcrumb %}
  {% if breadcrumb_items|count > 0 %}
    {% with items = breadcrumb_items %}
      {% include "toolkit/breadcrumb.html" %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block body_end %}
  <script type="text/javascript" src="{{ component.get_bundle() }}" defer></script>
  {# May not be the best place to load this, time will tell. #}
  {% if component.get_file('stylesheet') %}
    <link type="text/css" rel="stylesheet" media="screen" href="{{ component.get_file('stylesheet') }}">
  {% endif %}
{% endblock %}

{% block content %}
  <a id="content"></a>
    <div id="react-bundle-{{component.get_slug()}}-state" class="hidden">{{component.get_props()|tojson|forceescape}}</div>
    <div id="react-bundle-{{component.get_slug()}}">{{component|safe}}</div>
    <noscript><img src="{{ asset_path }}images/nojs.png" alt=""/></noscript>
{% endblock %}

{# We want to remove UI Kit JS from react pages, override with empty block #}
{% block uikit %}{% endblock %}
