<div class="govuk-option-select">
  <div class="container-head">
    <label class="option-select-label" for="keywords">
      Keywords
    </label>
  </div>
  <input class="filter-field-text" type="text" name="q" id="keywords" value="{{ search_keywords }}">
</div>
{% for filter_group in filter_groups %}
<div class="govuk-option-select">
  <div class="container-head js-container-head">
    <div class="option-select-label">{{ filter_group.name }}</div>
  </div>
  <div class="options-container">
    <div class='js-auto-height-inner'>
      {% for filter in filter_group.questions %}
        {% if filter['type'] == 'boolean' %}
          <label for='{{ filter.id }}'>
            <input type="checkbox" name="{{ filter.id }}" id="{{ filter.id }}" value="True" aria-controls="js-search-results-info" {% if filter.isSet %}checked="checked"{% endif %} />
            {{ filter.filterLabel }}
          </label>
        {% endif %}
        {% if filter['type'] == 'checkboxes' or filter['type'] == 'checkboxes' %}
          {% for option in filter.options %}
            {% if option.filterLabel %}
              <label for='{{ filter.id }}-{{ loop.index }}'>
                <input type="checkbox" name="{{ filter.id }}" id="{{ filter.id }}-{{ loop.index }}" value="True" aria-controls="js-search-results-info" {% if filter.isSet %}checked="checked"{% endif %} />
                {{ option.filterLabel }}
              </label>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if filter['type'] == 'radio' or filter['type'] == 'radios' %}
          {% for option in filter.options %}
            {% if option.filterLabel %}
              <label for='{{ filter.id }}-{{ loop.index }}'>
                <input type="checkbox" name="{{ filter.id }}" id="{{ filter.id }}-{{ loop.index }}" value="True" aria-controls="js-search-results-info" {% if filter.isSet %}checked="checked"{% endif %} />
                {{ option.filterLabel }}
              </label>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
<button class="button-save" type="submit">Filter</button>
