{% from 'macros/_filters.html' import checkbox %}
<div class="govuk-option-select">
  <div class="container-head">
    <label class="option-select-label" for="keywords">
      Keywords
    </label>
  </div>
  <input class="filter-field-text" type="text" name="q" id="keywords" value="{{ search_keywords }}">
</div>
{% for filter_group in filter_groups %}
<div class="govuk-option-select">
  <div class="container-head js-container-head">
    <div class="option-select-label">{{ filter_group.label }}</div>
  </div>
  <div class="options-container">
    <div class='js-auto-height-inner'>
      {% for filter in filter_group.filters %}
        {{ checkbox(filter.label, filter.name, filter.id, filter.isSet, 'js-search-results.info') }}
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
<button class="button-save" type="submit">Filter</button>
