<div id="meta">
  <h2 class="govuk-visually-hidden">Pricing</h2>
  <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ service.meta.price }}</p>
  <ul class="govuk-list govuk-body-s">
  {% for caveat in service.meta.priceCaveats %}
    <li>
      {% if caveat['link'] %}
        <a href="{{ caveat['link'] }}"
           class="govuk-link"
           rel="external noopener noreferrer"
           target="_blank"
        >{{ caveat['text'] }}</a>
      {% else %}
        {{ caveat['text'] }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">Service documents</h2>
  {% include "_service_documents.html" %}
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">Framework</h2>
  <p class="govuk-body-s">{{ service.frameworkName }}</p>
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">Service ID</h2>
  <p class="govuk-visually-hidden">{{ (service.meta.serviceId|join(''))|join(' ') }}</p>
  <p aria-hidden="true" class="govuk-body-s">
    {% for chunk in service.meta.serviceId -%}
    <span class="{% if not loop.first %} govuk-!-padding-left-1 {% endif %}">{{chunk}}</span>
    {%- endfor %}
  </p>
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-top-1">Contact</h2>
  <p class="govuk-body-s">
    <span class="govuk-visually-hidden">{{ service.supplierName }}</span>
    {% if service.meta.contact.name %}
    {{ service.meta.contact.name }}<br />
    {% endif %}
    {% if service.meta.contact.phone %}
    <span class="govuk-visually-hidden">Telephone: </span>{{ service.meta.contact.phone }}<br />
    {% endif %}
    {% if service.meta.contact.email %}
    <a 
      href="mailto:{{ service.meta.contact.email }}"
      data-event-category="Email a supplier"
      data-event-label="{{ service.supplierName }}"
    ><span class="govuk-visually-hidden">Email: </span>{{ service.meta.contact.email }}</a><br />
    {% endif %}
  </p>
</div>
