<ul class="govuk-list govuk-body-s">
{% for document in service.meta.documents %}
    <li class="gouk-!-margin-bottom-2">
        {{dmAttachment({
        "link": {
            "classes": "govuk-!-font-size-16",
            "href": document.url,
            "text": document.name
        },
        "contentType": document.extension | upper,
        "headingTag": 'p',
        "thumbnailSize": "small"
        })}}
    </li>
{% endfor %}
</ul>
{{ govukDetails({
"classes": "govuk-!-font-size-16",
"summaryText": "Request an accessible format",
"html": 'If you use assistive technology (such as a screen reader) and need a version of these documents in a more accessible format, please email <a href="mailto:info@crowncommercial.gov.uk" target="_blank" class="govuk-link">info@crowncommercial.gov.uk</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.'
})}}