{% import "toolkit/summary-table.html" as summary %}
{% for attributeGrouping in service.attributes %}
  {{ summary.heading(attributeGrouping.name) }}
  {% call(item) summary.list_table(
    attributeGrouping.rows,
    caption=attributeGrouping.name,
    field_headings=[
      "Name", "Content",
    ],
    field_headings_visible = False
  ) %}
    {% call summary.row() %}
      {{ summary.field_name(item.label) }}
      {{ summary[item.type](item.value, item.assurance) }}
    {% endcall %}
  {% endcall %}
{% endfor %}
