<div id="meta">
  <h2 class="visuallyhidden">Pricing</h2>
  <p class="price">{{ service.meta.price }}</p>
  <ul class="price-caveats">
  {% for caveat in service.meta.priceCaveats %}
    <li>
      {% if caveat['link'] %}
        {% with text = caveat['text'],
                link = caveat['link'],
                target = "_blank"
        %}
          {% include "toolkit/external-link.html" %}
        {% endwith %}
      {% else %}
        {{ caveat['text'] }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  <h2 class="visuallyhidden">Service documents</h2>
  <ul class="document-list">
  {% for document in service.meta.documents %}
    <li class="document-list-item">
      <a href="{{ document.url }}" class="govuk-link document-link-with-icon">
        <span class='document-icon'>{{ document.extension }}<span> document:</span></span>
        {{ document.name }}
      </a>
    </li>
  {% endfor %}
  </ul>
  <h2 class="sidebar-heading">Framework</h2>
  {% if service.meta.externalFrameworkUrl is not none %}
    {%
      with
      text=service.frameworkName,
      link=service.meta.externalFrameworkUrl %}
      {% include "toolkit/external-link.html" %}
    {% endwith %}
  {% else %}
    <p class="framework-name">{{ service.frameworkName }}</p>
  {% endif %}
  <h2 class="sidebar-heading">Service ID</h2>
  {% with id=service.meta.serviceId %}
    {% include "toolkit/service-id.html" %}
  {% endwith %}
  <h2 class="sidebar-heading">Contact</h2>
  {%
    with
    organisation_type="supplier",
    organisation=service.supplierName,
    telephone=service.meta.contact.phone or None,
    contact_name=service.meta.contact.name,
    email_address=service.meta.contact.email
  %}
    {% include "toolkit/contact-details.html" %}
  {% endwith %}
</div>
