{% import "toolkit/summary-table.html" as summary %}

{% for section in service.summary_manifest %}
  {% if not section.is_empty %}
    {{ summary.heading(section.name, id=section.slug) }}

    {% call(question) summary.list_table(
      section.questions,
      caption=section.name,
      field_headings_visible=False
    ) %}
      {% if not question.is_empty %}
        {% call summary.row() %}
          {{ summary.field_name(question.label) }}
          {{ summary[question.type](question.value, question.assurance) }}

        {% endcall %}
      {% endif %}
    {% endcall %}
  {% endif %}
{% endfor %}
