<p class="service-summary-lede">{{ service.serviceSummary }}</p>
{% if service.features %}
<h2 class="service-summary-heading">Features</h2>
<ul class="service-summary-features-and-benefits">
{% for feature in service.features %}
  <li>{{ feature }}</li>
{% endfor %}
</ul>
{% endif %}
{% if service.benefits %}
<h2 class="service-summary-heading">Benefits</h2>
<ul class="service-summary-features-and-benefits">
{% for benefit in service.benefits %}
  <li>{{ benefit }}</li>
{% endfor %}
</ul>
{% endif %}
