<nav role="navigation">
  <ul class="previous-next-navigation">
    {% if prev_link %}
      <li class="previous">
          <a class="govuk-link" href="{{ url_for('.suppliers_list_by_prefix', **prev_link) }}">
              Previous <span class="visuallyhidden">page</span>
          </a>
      </li>
    {% endif %}

    {% if next_link %}
      <li class="next">
          <a class="govuk-link" href="{{ url_for('.suppliers_list_by_prefix', **next_link) }}">
              Next <span class="visuallyhidden">page</span>
          </a>
      </li>
    {% endif %}
  </ul>
</nav>
