{% extends "_base_landingpage_with_hero.html" %}

{% block page_title %}Digital Marketplace{% endblock %}

{% block body_classes %}home{% endblock %}

{% block landingpage_title %}Getting started{% endblock %}
{% block landingpage_tagline %}Lorem ipsum dolor sit amet.{% endblock %}

{% block main_content %}

  <h2>Supplier Capabilities</h2>
  <p>
    Lorem ipsum dolor sit amet, veniam labores appareat ne eum. Duo doming delicata adipiscing ex, vivendo posidonium est te, an veritus necessitatibus cum. Ferri legere nominavi vim an, vel cu hinc viris tincidunt. Verear audire voluptatum ei mel. Soleat eligendi quo ei. Fugit ceteros inimicus te ius, duo ut laoreet deleniti.
  </p>
  <ul class="list-vertical--thirds">
    <li>
      <article>
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, veniam labores appareat ne eum. Duo doming delicata adipiscing ex, vivendo posidonium est te, an veritus necessitatibus cum. Ferri legere nominavi vim an, vel cu hinc viris tincidunt. Verear audire voluptatum ei mel. Soleat eligendi quo ei. Fugit ceteros inimicus te ius, duo ut laoreet deleniti.
        </p>
        <p>
          <a class="see-more" href="#">Find out more</a>
        </p>
      </article>
    </li>
    <li>
      <article>
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, veniam labores appareat ne eum. Duo doming delicata adipiscing ex, vivendo posidonium est te, an veritus necessitatibus cum. Ferri legere nominavi vim an, vel cu hinc viris tincidunt. Verear audire voluptatum ei mel. Soleat eligendi quo ei. Fugit ceteros inimicus te ius, duo ut laoreet deleniti.
        </p>
        <p>
          <a class="see-more" href="#">Find out more</a>
        </p>
      </article>
    </li>
    <li>
      <article>
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, veniam labores appareat ne eum. Duo doming delicata adipiscing ex, vivendo posidonium est te, an veritus necessitatibus cum. Ferri legere nominavi vim an, vel cu hinc viris tincidunt. Verear audire voluptatum ei mel. Soleat eligendi quo ei. Fugit ceteros inimicus te ius, duo ut laoreet deleniti.
        </p>
        <p>
          <a class="see-more" href="#">Find out more</a>
        </p>
      </article>
    </li>
    <li>
      <article>
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, veniam labores appareat ne eum. Duo doming delicata adipiscing ex, vivendo posidonium est te, an veritus necessitatibus cum. Ferri legere nominavi vim an, vel cu hinc viris tincidunt. Verear audire voluptatum ei mel. Soleat eligendi quo ei. Fugit ceteros inimicus te ius, duo ut laoreet deleniti.
        </p>
        <p>
          <a class="see-more" href="#">Find out more</a>
        </p>
      </article>
    </li>
    <li>
      <article>
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, veniam labores appareat ne eum. Duo doming delicata adipiscing ex, vivendo posidonium est te, an veritus necessitatibus cum. Ferri legere nominavi vim an, vel cu hinc viris tincidunt. Verear audire voluptatum ei mel. Soleat eligendi quo ei. Fugit ceteros inimicus te ius, duo ut laoreet deleniti.
        </p>
        <p>
          <a class="see-more" href="#">Find out more</a>
        </p>
      </article>
    </li>
  </ul>
  <article>
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Lorem ipsum dolor sit amet, veniam labores appareat ne eum. Duo doming delicata adipiscing ex, vivendo posidonium est te, an veritus necessitatibus cum. Ferri legere nominavi vim an, vel cu hinc viris tincidunt. Verear audire voluptatum ei mel. Soleat eligendi quo ei. Fugit ceteros inimicus te ius, duo ut laoreet deleniti.
    </p>
    <p>
      <a class="see-more" href="#">Find out more</a>
    </p>
  </article>
{% endblock %}
