
{% extends "_base_page.html" %}

{% block page_title %}{{ brief.title }} - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      },
      {
          "link": url_for('.list_opportunities', framework_slug=brief.frameworkSlug),
          "label": "Supplier opportunities"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

{% if brief.status == 'closed' %}
<div class="grid-row">
  <div class="column-one-whole">
    {%
      with
      type = "temporary-message",
      heading = "This opportunity is closed for applications.",
      message = "The deadline was {}.".format(brief.applicationsClosedAt|dateformat)
    %}
      {% include "toolkit/notification-banner.html" %}
    {% endwith %}
  </div>
</div>
{% endif %}

<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-heading-smaller">
      <p class="context">{{ brief.organisation }}</p>
      <h1>{{ brief.title }}</h1>
    </header>
  </div>
</div>
<div class="grid-row">
  <div class="column-one-whole">
    {% include '_brief_attributes.html' %}
  </div>
</div>
<div class="grid-row">
  <div class="column-one-whole">
    {% include '_brief_q_and_a.html' %}
  </div>
</div>

{% if brief.status == 'live' %}
<div class="grid-row">
  <div class="column-one-third">
    {% if brief_responses %}
      {% with
         url = "/suppliers/opportunities/{}/responses/result".format(brief.id),
         text = "View your application",
         bigger = True
      %}
        {% include "toolkit/secondary-action-link.html" %}
      {% endwith %}
    {% else %}
      {% with
         url = "/suppliers/opportunities/{}/responses/create".format(brief.id),
         label = "Start application"
      %}
        {% include "toolkit/link-button.html" %}
      {% endwith %}
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
