{% extends "_base_page.html" %} {% block page_title %}{{ brief.title }} - Digital Marketplace{% endblock %}
{% block body_classes
  %}brief-builder brief-content{% endblock %} {% block breadcrumb %}
  {% with items = [ { "link": url_for('.index'), "label":
    "Home" }, { "link": url_for('.list_opportunities', framework_slug=brief.frameworkSlug), "label": "Opportunities" },
    { "label":
    "Opportunity details" } ] %} {% include "toolkit/breadcrumb.html" %} {% endwith %} {% endblock %}
{% block main_content %}
    {% if is_restricted_brief and not selected_for_brief %}
        <div class="uikit-page-alerts uikit-page-alerts--warning">
            <h3 id="is_restricted_brief">Only invited sellers can apply for an 'Open to one' or 'Open to selected'
                opportunity.</h3>
            <p>Learn more about <a href="https://marketplace1.zendesk.com/hc/en-gb/articles/115012291387">Open to
                selected</a> opportunities.</p>
            {% if not current_user.is_authenticated %}
                <span>
                {% with
                  url = "/login?next=/{}/opportunities/{}".format(brief.frameworkSlug, brief.id),
                  role = "button",
                  label = "Sign in to continue" %}
                    {% include "toolkit/link-button.html" %}
                {% endwith %}
            </span>
            {% endif %}
        </div>
    {% endif %}
  {% if brief.status == 'closed' %}

    <div class="callout--info" role="alert">
      <p>
      <h2>This opportunity is closed for applications.</h2></p>
      {% if brief.applicationsClosedAt %}
        <p>The deadline was {{ brief.applicationsClosedAt|datetimeformat }}</p>
      {% endif %}
      {{ action }}
    </div>

  {% endif %} {% if brief.status == 'draft' %}
  <div class="grid-row">
    <div class="column-one-whole">
      <div class="banner-warning-without-action">

        <h2>
          Preview only
        </h2>
        <p class="banner-message">{% if brief_of_current_user %}
          <p>This brief is not yet published.</p> {% if unanswered_required > 0 %}
          <p>Edit the brief to complete all mandatory questions.</p>
          <a href={{ url_for('buyers.view_brief_overview', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }} class="button">Edit Brief</a>
          {% else %}
          <form action="{{ url_for('buyers.publish_brief', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}"
                method="POST">
            {{ form.csrf_token }} {% with type = "save", role = "button", label = "Publish brief" %}
            {% include "toolkit/button.html"
            %} {% endwith %}
          </form>{% endif %}
        {% endif %}
        </p>
      </div>
    </div>
  </div>
{% endif %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-heading-smaller">
        <p class="context">{{ brief.organisation }}</p>
        <h1>{{ brief.title }}</h1>
      </header>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-whole">
      {% include '_brief_attributes.html' %}
    </div>
  </div>

  {% if brief.status != 'draft' %}
    <div class="grid-row">
      <div class="q-and-a-section">
        {% include '_brief_q_and_a.html' %}
      </div>
    </div>
  {% endif %}

 {% include '_brief_actions.html' %}
{% endblock %}
    