{% extends "_base_page.html" %}

{% block page_title %}{{ brief.title }} - Digital Marketplace{% endblock %}

{% block body_classes %}brief-builder brief-content{% endblock %}


{% block breadcrumb %}
{%
with
items = [
{
"link": url_for('.index'),
"label": "Home"
},
{
"link": url_for('.list_opportunities', framework_slug=brief.frameworkSlug),
"label": "Opportunities"
},
{
"label": "Opportunity details"
}
]
%}
{% include "toolkit/breadcrumb.html" %}
{% endwith %}
{% endblock %}

{% block main_content %}

{% if brief.status == 'closed' %}

  <div class="callout--info" role="alert">
    <p><strong>This opportunity is closed for applications.</strong></p>
    <p>The deadline was {{ brief.applicationsClosedAt|datetimeformat }}</p>
    {{ action }}
  </div>

{% endif %}

{% if brief.status == 'draft' %}
<div class="grid-row">
  <div class="column-one-whole">
    <div class="banner-warning-without-action">

      <h2>
        Preview only
      </h2>
      <p class="banner-message">
        This brief is not published yet.
        {% if brief_of_current_user %}
          <form action="

              {{ url_for('buyers.publish_brief', framework_slug=brief.frameworkSlug, lot_slug=brief.lotSlug, brief_id=brief.id) }}"
                method="POST">
            {{ form.csrf_token }}
            {%
            with
            type = "save",
            role = "button",
            label = "Publish brief"
            %}
            {% include "toolkit/button.html" %}
            {% endwith %}
          </form>
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endif %}

<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-heading-smaller">
      <p class="context">{{ brief.organisation }}</p>
      <h1>{{ brief.title }}</h1>
    </header>
  </div>
</div>

{% if show_pdf_link %}
  <div class="m-t-1">
    <a href="{{ url_for('.get_brief_pdf', framework_slug=brief.frameworkSlug, brief_id=brief.id) }}" target="_blank">
      Download this brief as a PDF
    </a>
  </div>
{% endif %}

<div class="grid-row">
  <div class="column-one-whole">
    {% include '_brief_attributes.html' %}
  </div>
</div>
{% if brief.status != 'draft' %}
  <div class="grid-row">
    <div class="q-and-a-section">
      {% include '_brief_q_and_a.html' %}
    </div>
  </div>
{% endif %}

{% if brief.status == 'live' %}
  {% if brief_responses %}
    {% with
    url = "{}/sellers/opportunities/{}/responses/result".format(config['URL_PREFIX'], brief.id),
    text = "View your application",
    bigger = True
    %}
    {% include "toolkit/secondary-action-link.html" %}
    {% endwith %}
  {% elif add_case_study_url %}
    <p>
      <strong>Before you can apply you need to add a case study and be assessed to offer {{ brief.areaOfExpertise }}</strong><br/>
      {% with
      url = add_case_study_url,
      role = "button",
      label = "Start assessment"
      %}
      {% include "toolkit/link-button.html" %}
      {% endwith %}
    </p><p>
    {% else %}
    {% if is_restricted_brief %}<p>Only invited sellers can apply for 'Open to one' or 'Open to selected' briefs.</p>
    {% endif %}


     {% if profile_application_status == 'approved' %}
      <h3>Interested in this opportunity?</h3>
      <div class="brief-button-group">
        <span>
        {% with
      url = application_url,
      role = "button",
      label = "Apply Now" %}
          {% include "toolkit/link-button.html" %}
        {% endwith %}
      </span>
      </div>
    {% endif %}


    {% if profile_application_status == 'submitted' %}
      <h3>Interested in this opportunity?</h3>
      <div>
        As you're not active on the Marketplace you will need to pass assessment before you can respond to this
        opportunity.
      </div>
      <div class="brief-button-group">
        <span>
        {% with
      url = application_url,
      role = "button",
      label = "Request an assessment" %}
          {% include "toolkit/link-button.html" %}
        {% endwith %}
      </span>
      </div>
    {% endif %}


    {% if not current_user.is_authenticated %}
      <strong>Interested in this opportunity?</strong>
      <div class="brief-button-group">
        <span>
        {% with
      url = application_url,
      role = "button",
      label = "Sign in to continue" %}
          {% include "toolkit/link-button.html" %}
        {% endwith %}
      </span>
        <span>
        {% with
      url = application_url,
      role = "button",
      label = "Create an account" %}
          {% include "toolkit/link-button.html" %}
        {% endwith %}
      </span>
      </div>
    {% endif %}


  {% endif %}
{% endif %}

{% endblock %}
