{% extends "_base_page.html" %}

{% block page_title %}Seller applications dashboard{% endblock %}

{% block body_classes %}chart-page secondary-page{% endblock %}
{% block main_class %}chart-page{% endblock %}

{% block main_content %}
  <script type="text/javascript" src="{{ asset_fingerprinter.get_url('javascripts/charts.js') }}"></script>
  <h1>Seller applications dashboard</h1>
  <div class="chart-wrapper">
    <h2>Applications</h2>
    <p>Total number of applications being started and completed by new sellers over time. </p>
    <div id="linechart-legend" class="chart-legend"></div>
    <svg id="linechart" class="chart"></svg>
  </div>

  <div class="chart-wrapper">
    <h2>Expertise</h2>
    <p>Sellers are applying to offer these areas of expertise to government buyers.</p>
    <div id="domain_chart-legend" class="chart-legend"></div>
    <svg id="domain_chart" class="chart"></svg>
  </div>

  <div class="chart-wrapper">
    <h2>Classification</h2>
    <p>Sellers have identified themselves as businesses of this size, type or as part of these diversity groups. </p>
    <div id="seller_type_chart-legend" class="chart-legend"></div>
    <svg id="seller_type_chart" class="chart"></svg>
  </div>

  <div class="chart-wrapper">
    <h2>Steps completed</h2>
    <p>Some application steps are easy. Some take more time. This data helps us offer assistance and iterate.</p>
    <div id="steps_chart-legend" class="chart-legend"></div>
    <svg id="steps_chart" class="chart"></svg>
  </div>

  <script>
      var monthShortNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
      ];
      var titles = {
          "reject_application_count": "Rejected",
          "revert_application_count": "Reverted",
          "create_application_count": "Started",
          "approve_application_count": "Approved",
          "submit_application_count": "Completed",
          "unassessed": "Unassessed",
          "submitted": "Completed",
          "unsubmitted": "Started",
          "assessed": "Assessed",
          "count": "Count",
          indigenous: 'Indigenous business',
          nfp_social_enterprise: 'Not-for-profit',
          recruiter: 'Recruiter',
          sme: 'SME',
          start_up: 'Start-up',
          disability: 'Australian disability enterprise',
          product: 'Product based business',
          female_owned: "Female owned",
          regional: "Regional",
          lgbtqi_owned: "LGBTQI owned"
      };
      var short_titles = {
          indigenous: 'Indigenous',
          nfp_social_enterprise: 'Not for profit',
          recruiter: 'Recruiter',
          sme: 'SME',
          start_up: 'Start-up',
          disability: 'Disability',
          product: 'Products',
          female_owned: "Female",
          regional: "Regional",
          lgbtqi_owned: "LGBTQI"
      }
      var steps_columns = {{ steps_columns | safe }};
      var steps = {
          'start': 'Introduction',
          'profile': 'Business basics',
          'business': 'Business details',
          'info': 'Contact Details',
          'disclosures': 'Disclosures',
          'documents': 'Documents',
          'tools': 'Methods',
          'awards': 'Recognition',
          'recruiter': 'Recruiter',
          'digital': 'Services',
          'casestudy': 'Case studies',
          'candidates': 'Candidates',
          'products': 'Products',
          'review': 'Preview profile'
      };
      var domains =
      {{ domain_columns | safe }}
      var seller_types =
          {{ seller_type_columns | safe }}
          function makeLegend(id, d, chart) {

              var text = '<div class="c3-tooltip-container">';
              var x;
              var data;
              if (d !== null) {
                  x = d.index;
                  data = chart.data();
              } else {
                  var lastValue = chart.data.targets[0].values.length - 1;
                  x = lastValue;
                  data = chart.data.targets;
              }
              if (id == "#domain_chart-legend") {

                  text += "<h3>" + domains[x] + "</h3>";
                  var sum = 0;
                  for (i = 0; i < data.length; i++) {
                      sum += data[i].values[x].value;
                  }
                  text += sum;
              } else if (id == "#seller_type_chart-legend") {

                  text += "<h3>" + titles[seller_types[x]] + "</h3>";
              } else if (id == "#steps_chart-legend") {

                  text += "<h3>" + steps[steps_columns[x]] + "</h3>";
              } else {
                  t = data[0].values[x].x;
                  text += "<h3>" + t.getDate() + ' ' + monthShortNames[t.getMonth()] + ' ' + t.getFullYear() + "</h3>";
              }

              if (data[0].id == 'count') {
                  text += data[0].values[x].value;
              } else {
                  text += '<table class="c3-tooltip" width=100%>';
                  for (i = 0; i < data.length; i++) {
                      var value = data[i].values[x].value;
                      if (value === null) value = 0;
                      text += "<td class='name'><span style='border-radius: 5px;background-color:" + chart.color(data[i].id) + "'></span>" + titles[data[i].id] + "</td>";
                      text += "<td class='value'>" + value + "</td>";
                      text += "</tr>";
                  }
                  text += "</table></div>";
              }
              $(id).html(text);
          }
      window.onload = function () {
          var linechart = c3.generate({
              bindto: d3.select('#linechart'),
              oninit: function () {
                  makeLegend('#linechart-legend', null, this)
              },
              data: {
                  x: 'x',
                  columns: {{ applications | safe }},
                  order: null,
                  groups: [
                      {{ applications_groups | safe }}
                  ],
                  onmouseover: function (d) {
                      makeLegend('#linechart-legend', d, this);
                  }
              },
              tooltip: {
                  show: true
              },
              point: {
                  r: 0
              },
              legend: {
                  hide: true
              },
              axis: {
                  y: {
                      min: 0,
                      padding: {top: 10, bottom: 0}
                  },
                  x: {
                      type: 'timeseries',
                      fit: true,
                      min: new Date("February 22, 2017 11:13:00"),
                      tick: {

                          format: function (t) {

                              return monthShortNames[t.getMonth()] + ' ' + t.getFullYear();
                          }
                      }
                  }
              }
          });

          var domain_chart = c3.generate({
              bindto: d3.select('#domain_chart'),
              size: {
                  height: 470
              },
              data: {
                  columns: {{ domains | safe }},
                  type: 'bar',
                  groups: [{{ domain_groups | safe }}],
                  colors: {
                      unassessed: '#3e8b9c',
                      unsubmitted: '#224a61',
                      assessed: '#cae3e8'
                  },
                  onmouseover: function (d) {
                      makeLegend('#domain_chart-legend', d, this);
                  }
              },
              legend: {
                  hide: true
              },
              tooltip: {
                  show: false
              },
              axis: {
                  rotated: true,
                  x: {
                      tick: {
                          width: 170,
                          fit: true,
                          culling: false,
                          format: function (x) {
                              if (domains[x].length > (window.innerWidth < 768 ? 10:15)) {
                                  return (" "+domains[x]).substr(0, (window.innerWidth < 768 ? 10:15)) + '…';
                              } else {
                                  return domains[x];
                              }
                          }
                      }
                  }
              }
          });

          var seller_type_chart = c3.generate({
              bindto: d3.select('#seller_type_chart'),
              data: {
                  columns:
                  {{ seller_types | safe }},
                  type: 'bar',
                  groups: [
                      {{ seller_type_groups | safe }}],
                  onmouseover: function (d) {
                      makeLegend('#seller_type_chart-legend', d, this)
                  },
                  color: "#17788d"

              },
              legend: {
                  position: 'right'
              },
              tooltip: {
                  show: false
              },
              legend: {
                  hide: true
              },
              axis: {
                  rotated: true,
                  x: {
                      tick: {
                          width: 100,
                          fit: true,
                          culling: false,
                          format: function (x) {
                              return short_titles[seller_types[x]];
                          }
                      }
                  }
              }
          });
          var steps_chart = c3.generate({
              bindto: d3.select('#steps_chart'),
              data: {
                  columns:
                  {{ steps | safe }},
                  type: 'bar',
                  groups: [
                      {{ steps_groups | safe }}],
                  onmouseover: function (d) {
                      makeLegend('#steps_chart-legend', d, this)
                  },
                  color: "#17788d"
              },

              legend: {
                  position: 'right'
              },
              tooltip: {
                  show: false
              },
              legend: {
                  hide: true
              },
              axis: {
                  rotated: true,
                  x: {
                      tick: {
                          fit: true,
                          culling: false,
                          format: function (x) {
                              return steps[steps_columns[x]];
                          }
                      }
                  }
              }
          });

      };

  </script>

{% endblock %}