{% extends "_base_page.html" %}

{% set page_name = title|capitalize %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('direct_award_public.pre_project_task_list', framework_family=framework_family),
      "text": "Find cloud hosting, software and support"
    },
    {
      "text": title|capitalize
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}

{% set question = title|capitalize %}
{% set errorMessage = errors.get("lot", {}).get("message", None) %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{ url_for('direct_award_public.choose_lot', framework_family=framework_family)}}" method="post" novalidate>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      {{ govukRadios({
        "idPrefix": "input-lot",
        "name": "lot",
        "fieldset": {
          "legend": {
            "classes": "govuk-fieldset__legend--xl",
            "text": question,
            "isPageHeading": true
          }
        },
        "errorMessage": {"text": errorMessage} if errorMessage,
        "items": lots
      })}}

      {{ govukButton({
        "text": "Search for services",
      }) }}

    </form>
  </div>
</div>
{% endblock %}
