{% extends "_base_page.html" %}

{% block pageTitle %}
  G-Cloud - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('direct_award_public.pre_project_task_list', framework_family=framework_family),
      "text": "Find cloud hosting, software and support"
    },
    {
      "text": title|capitalize
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}

<div>

  <h1 class="govuk-heading-xl">
    {{ title|capitalize }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ url_for('direct_award_public.choose_lot', framework_family=framework_family)}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {%
           with
           error = errors.get("lot", {}).get("message", None),
           hint = "or",
           hint_underneath = true,
           name = "lot",
           type = "radio",
           options = lots
        %}
          {% include "toolkit/forms/selection-buttons.html" %}
        {% endwith %}

        <div class="question first-question">
          {%
            with
            name = "lot",
            id = "input-lot-100",
            input_type = "radio",
            input_value = "",
            option = {
              "label": "All categories"
            }
          %}
            {% include "toolkit/forms/_selection-button.html" %}
          {% endwith %}
        </div>

        {{ govukButton({
          "text": "Search for services",
        }) }}

      </form>
    </div>
  </div>
</div>
{% endblock %}
