{% extends "_base_page.html" %}

{% block page_title %}Digital Marketplace{% endblock %}

{% block top_header %}
<header class="marketplace-homepage-heading">
  {% include "_phase_banner.html" %}
  <h1>
    Welcome to the Digital Marketplace
  </h1>
</header>
{% endblock %}

{% block phase_banner %}{% endblock %}

{% block main_content %}

<div class="index-page grid-row">
  <div class="column-one-whole">
    <p>
      The Digital Marketplace will make it easier for government departments to view and connect with suppliers of ICT products and services. You can use the Marketplace to research and shortlist potential suppliers or post opportunities for products and services you need.
    </p>
    <p>
      <a href="#">Learn more about the Digital Marketplace <span class="fa fa-chevron-right"></span></a>
    </p>
    <p>
    {%
      with
        type = "view",
        label = "View the catalogue"
    %}
    {% include "toolkit/button.html" %}
    {% endwith %}
    </p>
  </div>
</div>

{% endblock %}
