{% extends "_base_page.html" %}

{% block page_title %}G-Cloud - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      },
      {
          "label": title|capitalize
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class="index-page">
  <header class="page-heading">
    <h1>
      {{ title|capitalize }}
    </h1>
  </header>
  <div class="grid-row">
    <form action="{{ url_for('.search_services') }}" method="get" class="search-box column-two-thirds">
      <input type="text" class="text-box" name="q" maxlength="200">
      <button type="submit" class="button-save">
        Show services
      </button>
    </form>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds framework-lots">
      {% with items = lots %}
        {% include "toolkit/browse-list.html" %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
