{% extends "_base_page.html" %}

{% block page_title %}Digital Marketplace{% endblock %}

{% block main_content %}

<div class="index-page">
  <header class="page-heading">
    <h1>
      Digital Marketplace
    </h1>
    <p class="lead">
      Find technology or people to deliver digital projects in the public sector
    </p>
  </header>

  <ul class="browse-list">
    <li class="browse-list-item">
      <a href="/g-cloud/" class="browse-list-item-link">
          Find cloud technology and support
      </a>
      <p class="browse-list-item-body">
          eg web hosting or IT health checks
      </p>
      <p class="browse-list-item-subtext">
        Procurement framework: <a href="/g-cloud/framework/">G-Cloud</a>
      </p>
    </li>
    <li class="browse-list-item">
      <a href="/crown-hosting/" class="browse-list-item-link">
        Buy physical datacentre space for legacy systems
      </a>
      <p class="browse-list-item-subtext">
        Procurement framework: <a href="/crown-hosting/framework/">Crown Hosting Data Centres</a>
      </p>
    </li>
    <li class="browse-list-item">
      <a href="https://digitalservicesstore.service.gov.uk/" class="browse-list-item-link">
          Find specialists to work on digital projects
      </a>
      <p class="browse-list-item-body">
          eg technical architects and user researchers
      </p>
      <p class="browse-list-item-subtext">
        Procurement framework: <a href="/digital-services/framework/">Digital Services</a>
      </p>
    </li>
  </ul>
</div>

{% endblock %}
