{% extends "_base_page.html" %}

{% block page_title %}G-Cloud - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      },
      {
          "label": "Cloud technology and support"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class="index-page">
  <header class="page-heading">
    <h1>
      Cloud technology and support
    </h1>
  </header>
  <div class="grid-row">
    <form action="{{ url_for('.search') }}" method="get" class="search-box column-two-thirds">
        <input type="text" class="text-box" name="q" maxlength="200">
        <button type="submit" class="button-save">
          Show services
        </button>
    </form>
  </div>
  {% with
    items = [
      {
        "link": url_for('.search', lot='saas'),
        "title": "Software as a Service",
        "body": "Find applications or services that are run over the internet or in the cloud",
        "subtext": "eg accounting tools or email"
      },
      {
        "link": url_for('.search', lot='paas'),
        "title": "Platform as a Service",
        "body": "Find platforms that provide a basis for building other services and applications"
      },
      {
        "link": url_for('.search', lot='iaas'),
        "title": "Infrastructure as a Service",
        "body": "Find networks, hosting facilities and servers on which platforms and software depend",
        "subtext": "eg hosting or content delivery network"
      },
      {
        "link": url_for('.search', lot='scs'),
        "title": "Specialist Cloud Services",
        "body": "Find help with cloud management and deployment",
        "subtext": "eg IT health checks or data migrations"
      }
    ]
  %}
    {% include "toolkit/browse-list.html" %}
  {% endwith %}
{% endblock %}
