{% block top_of_page %}{% endblock %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>{% block page_title %}Marketplace - The place to do ICT business with government{% endblock %}</title>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Open+Sans:400italic,700,400:latin,latin-ext']
      }
    });
  </script>

  <link rel="shortcut icon" href="{{ asset_path }}images/favicon.png" type="image/x-icon" />

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon.png">

  {% block head %}{% endblock %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="https://gov-au-ui-kit.apps.staging.digital.gov.au/latest/ui-kit.min.js"></script>

</head>

<body class="{% block body_classes %}{% endblock %}">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  {% block body_start %}{% endblock %}

  <div class="skip-to">
    <a href="#content">Skip to main content</a>
    <!-- <a href="#nav">Skip to section navigation</a> -->
  </div>

  <header role="banner" class="{% block header_class %}{% endblock %}">

    <section class="govau--header">
      <div class="wrapper">
        <div class="govau--logo">
          <a href="{{ homepage_url|default('/') }}" title="{{ logo_link_title|default('Go to the GOV.AU homepage') }}" class="logo">GOV.AU</a>
        </div>
      </div>
    </section>
    <section class="marketplace--header">
      <div class="wrapper">
        {% if url_for('main.index') != request.path %}
        <div class="marketplace--logo">
          <a href="{{ url_for('main.index') }}" title="{{ logo_link_title|default('Go to the Marketplace homepage') }}" class="logo">Marketplace</a> <span class="badge--beta">beta</span>
        </div>
        {% endif %}
        <div class="feedback" tabindex="1">
          <ul class="inline-links--inverted">
            {% if not current_user.is_authenticated() %}
            <li><a href="url_for('main.create_buyer_account') }}">Register</a></li>
            <li><a href="url_for('main.render_login') }}">Log in</a></li>
            {% else %}
            <li><a href="url_for('main.logout') }}>Log out</a></li>
            {% endif %}
          </ul>
        </div>
        <nav class="global-nav" aria-label="global navigation" tabindex="2">
          <ul>
            <li><a href="url_for('main.supplier_search') }}">Catalogue</a></li>
            <li><a href="url_for('main.ideation') }}">Ideation</a></li>
            <li><a href="url_for('main.new_seller') }}">New seller</a></li>
            <li><a href="url_for('main.pitch') }}">Pitch</a></li>
            <li><a href="url_for('main.about_us') }}">About</a></li>
            <li><a href="url_for('main.roles_and_services') }}">Roles and services</a></li>
          </ul>
        </nav>
      </div>
    </section>
    {% block hero %}{% endblock %}

  </header>

  {% block breadcrumb %}{% endblock %}

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer role="contentinfo">
    <div class="wrapper">
      <section class="footer-top">
        <nav>
          <ul>
            <li><h3>About</h3></li>
            <li><a href="url_for('main.about_us') }}">About us</a></li>
            <li><a href="url_for('main.contact_us') }}">Contact us</a></li>
            <li><a href="url_for('main.terms_of_use') }}">Terms of Use</a></li>
            <li><a href="url_for('main.privacy_policy') }}">Privacy Policy</a></li>
          </ul>
          <ul>
            <li><h3>Using the Marketplace</h3></li>
            <li><a href="url_for('main.index') }}">Home</a></li>
            <li><a href="url_for('main.supplier_search') }}">Marketplace catalogue</a></li>
            <li><a href="url_for('main.roles_and_services') }}">Roles and services</a></li>
            <li><a href="url_for('main.buyers_guide') }}">Buyers' guide</a></li>
          </ul>
          <ul>
            <li><h3>Marketplace brought to you by the <a href="//dto.gov.au">DTO</a></h3></li>
            <li><a href="//dto.gov.au/blog/">DTO blog</a></li>
            <li><a href="//twitter.com/DTO">DTO twitter</a></li>
            <li><a href="//github.com/AusDTO">DTO github</a></li>
          </ul>
          <ul>
            <li><h3>DTO resources</h3></li>
            <li><a href="//dto.gov.au/our-work/">Our work</a></li>
            <li><a href="//dto.gov.au/standard/">Digital Service Standard</a></li>
            <li><a href="//dto.gov.au/design-guides/">Design guides</a></li>
          </ul>
        </nav>
      </section>
      <section>
        <div class="footer-logo">
          <img alt="Australian Government Coat of Arms" src="{{ asset_path }}images/gov-au-coat-of-arms-white01.svg">
        </div>
        <p>&copy; Commonwealth of Australia <br>
        <a href="https://github.com/AusDTO/gov-au-ui-kit/blob/master/LICENSE.md">Licensed under the MIT License.</a></p>
      </section>
    </div>
  </footer>

  </body>
  </html>
