{% block top_of_page %}{% endblock %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block page_title %}Digital Marketplace — where government buys digital and ICT{% endblock %}</title>
  <meta name="description" content="Making it easier for buyers in Australian local, state, territory and federal government to work with digital businesses of all sizes.">

  <link rel="shortcut icon" href="{{ asset_path }}images/favicon.png" type="image/x-icon" />

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon.png">

  {% block head %}{% endblock %}

<!-- Start of marketplace1 Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="marketplace1.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();zE(function() {zE.hide();});
/*]]>*/</script>
<!-- End of marketplace1 Zendesk Widget script -->
</head>

<body class="{% block body_classes %}{% endblock %}">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  {% block body_start %}{% endblock %}

  <div class="skip-to">
    <a href="#content">Skip to content</a>
    <a href="#main-navigation">Skip to navigation</a>
  </div>

  <header role="banner" class="{% block header_class %}{% endblock %}">

    <section class="phase-banner">
      <div class="wrapper">
        <p>
          This is a beta. For support please <a href="mailto:marketplace@digital.gov.au" onclick="zE.activate({hideOnClose: true});return false;">contact us</a>.
        </p>
      </div>
    </section>
    <section class="marketplace--header">
      <div class="wrapper">
        {% if url_for('main.index') != request.path %}
        <div class="marketplace--logo">
          <a href="{{ url_for('main.index') }}" title="{{ logo_link_title|default('Go to the Marketplace homepage') }}" class="logo">Digital Marketplace</a> <span class="badge--beta">BETA</span>
        </div>
        {% endif %}
        <div class="user-nav">
          {% set dashboardText = 'Dashboard' %}
          {% if current_user.role == 'buyer' %}
            {% set dashboardUrl = url_for('buyers.buyer_dashboard') %}
          {% elif current_user.role == 'applicant'  %}
            {% set dashboardText = 'Continue application' %}
            {% set dashboardUrl = '/sellers/application' %}
          {% else %}
            {% set dashboardUrl = '/sellers' %}
          {% endif %}
          {% if 'SELLER_REGISTRATION' is active_feature %}
            {% set registerUrl = '/signup' %}
            {% set registerText = 'Join the Marketplace' %}
          {% else %}
            {% set registerUrl = url_for('main.buyer_signup') %}
            {% set registerText = 'Register' %}
          {% endif %}
          {% set props = {
          'registerUrl': registerUrl,
          'registerText': registerText,
          'loginUrl': url_for('main.render_login'),
          'dashboardUrl': dashboardUrl,
          'dashboardText': dashboardText,
          'logoutUrl': url_for('main.logout'),
          'isAuthenticated': current_user.is_authenticated
          } %}
          {% set auth_component = render_component('bundles/Header/AuthWidget.js', props, True) %}
          {{ auth_component|as('react_bundle') }}
        </div>
      </div>
    </section>
    {% block hero %}{% endblock %}

  </header>

  {% block breadcrumb %}{% endblock %}

  {% block content_super %}{% endblock %}

  <main class="{% block main_class %}{% endblock %}">
    {% block content_summary %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
  </main>

  {% block content_sub %}{% endblock %}

  <footer role="contentinfo">
    <div class="wrapper">
      {% block footer_top %}{% endblock %}
      {% block footer %}{% endblock %}
    </div>
  </footer>

  {{ auth_component|as('react_assets') }}
  {% block body_end %}{% endblock %}

  {% block uikit %}
    <script type="text/javascript" src="https://gov-au-ui-kit.apps.staging.digital.gov.au/latest/ui-kit.min.js"></script>
  {% endblock %}

</body>
</html>
