{% extends "_base_page.html" %}

{% block page_title %}Suppliers Search – Marketplace{% endblock %}

{% block body_classes %}catalogue{% endblock %}
{% block main_class %}sidebar-has-controls{% endblock %}

{% block hero %}
{% with
  site_title="Supplier catalogue",
  tagline="Scroll down to view all ICT suppliers or filter by selecting the expertise you need from the menu below.",
  extra=('<a href="' + url_for('main.roles_and_services') + '">Learn what each role means</a>')
  %}
  {% include "_hero.html" %}
  {% endwith %}
  {% endblock %}

  {% block sidebar %}
  {% with
  local_nav_toggle='Menu'
  %}
  <aside class="sidebar" id="nav">
    {% include "sidebar/_search.html" %}
    {% include "sidebar/_filter_capabilities.html" %}
  </aside>
  {% endwith %}
  {% endblock %}

  {% block main_content %}
  {% if results %}
      <p class="number-results"><span>{{ num_results }}</span> supplier{% if num_results > 1 %}s{% endif %}</p>

        <div class="sort-order-{{ sort_order }}">
            <span>Sort By:</span>
            {% with page_number=page, sort_alternate=True, link_label=sort_term_name_label, sort_terms=['name']  %}
                {% include '_supplier_pagination_link.html' %}
            {% endwith %}
        </div>
  {% endif %}

    {% if results %}
      <p>Showing {{ results_from }}{% if num_results > 1 %}-{{ results_to }}{% endif %}
          supplier{% if num_results > 1 %}s{% endif %} of {{ num_results }}
      {% else %}No results found.</p>
    {% endif %}

    <ul class="list-horizontal">
      {% for result in results %}
      <li>
        <article>
          <h1><a href="{{ result.url }}">{{ result.title }}</a></h1>

          {% if result.description %}
          <p>{{ result.description }}</p>
          {% endif %}

          {% if result.roles %}
          <footer class="tags">
           <dl>
             <dt>Service capabilities:</dt>
             {% for role in result.roles|sort() %}
             <dd class="{% if role.label in role_list_from_request %}selected{% endif %}">
                 <a href="?role={{ role.label|replace(' ', '+') }}">{{ role.label }}</a>
             </dd>
             {% endfor %}
           </dl>
         </footer>
         {% endif %}
       </article>
     </li>
     {% endfor %}
   </ul>
   {% if results %}
    <hr>
    <div class="pagination">
      <div>
        Page <strong>{{ page }}</strong> of <strong>{{ num_pages }}</strong>
      </div>
      <div>
        <ul class="pagination-controls">
          {% if page - 1 > 0 %}
            {% with page_number=page-1, sort_alternate=False, link_label="< Back", sort_terms=sort_terms %}
              {% include '_supplier_pagination_link.html' %}
            {% endwith %}
          {% endif %}
          {% for pg in pages %}
          <li class="{% if pg == page %}current{% endif %}">
            {% if pg != '...' %}
            {% with page_number=pg, sort_alternate=False, link_label=pg, sort_terms=sort_terms  %}
              {% include '_supplier_pagination_link.html' %}
            {% endwith %}
            {% else %}
            <span>{{ pg }}</span>
            {% endif %}
          </li>
          {% endfor %}
          {% if page + 1 <= num_pages %}
            {% with page_number=page+1, sort_alternate=False, link_label="Next >", sort_terms=sort_terms  %}
              {% include '_supplier_pagination_link.html' %}
            {% endwith %}
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
  {% endblock %}
