{% from 'macros/_breadcrumb.html' import breadcrumb %}

{% extends "_base_page.html" %}

{% block page_title %}Search - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {{ breadcrumb(crumbs) }}
{% endblock %}

{% block main_content %}
<header class="page-heading">
        <h1>Search results</h1>
</header>
    <div class="grid-row">
        <section class="column-one-third search-page-filters" aria-label="Search filters">
            <form action="{{ url_for('.search') }}" method="get">
                {% include '_search_filters.html' %}
            </form>
        </section>
        <section class="column-two-thirds" aria-label="Services found">
            {% include '_search_summary.html' %}
            {% include '_search_results.html' %}
            {% include '_search_pagination.html' %}
        </section>
    </div>
{% endblock %}
