<html>
<head>
    <title>
        Supplier Catalogue
    </title>
</head>
<body>
<div>
    <form action="{{ search_url }}">

        {#              ------------------------------- Disable search for now ----------#}
        {#				<div>#}
        {#					<h2>Search by</h2>#}
        {#					<fieldset>#}
        {#						<label for=q>Keyword</label>#}
        {#						<input id=q type=search value="{{ search_keywords }}">#}
        {#					</fieldset>#}
        {#				</div>#}
        {#            ------------------------------------------------------------------ #}

        <div>
            <div>
                <h2>Filter by</h2>
                <a href='/search/suppliers' class=clear-all>Clear all</a>
            </div>
            {% for filter in filters %}
                <label>{{ filter.name }}</label>
                <fieldset>
                    {% for option in filter.options %}
                        <label><input type=checkbox name="{{ option.name }}" value="{{ option.value }}"
                                      {% if option.checked %}checked{% endif %}>{{ option.label }}</label>
                    {% endfor %}
                </fieldset>
            {% endfor %}
        </div>
        <input type=submit value="Apply filter results">
    </form>
    <a href="" style="">I don't see what I need</a>
</div>
<div>
    <div>{{ num_results }} Suppliers</div>

    <div>
        
        {# keep it for later stage. Also, do we really need it? #}
{#        <span>Sort By:</span> <span>A to Z</span> #}

        <span>Showing {{ results_from }}-{{ results_to }} suppliers of {{ num_results }}</span>
    </div>

    {% for result in results %}
        <div>
            <h2><a href="{{ result.url }}">{{ result.title }}</a></h2>

            <div>{{ result.description }}</div>
            <div>
                {% for badge in result.badges %}
                    <div class="{{ badge.css_class }}">{{ badge.label }}</div>
                {% endfor %}
            </div>
            <div>
                <h3>Service capabilities</h3>
                <ul>
                    {% for category in result.categories %}
                        <li class="{% if category.label in category_list %}selected{% endif %}">{{ category.label }}</li>
                    {% endfor %}
                </ul>
            </div>

            {# ----------------------------- This is for later stage ----------------- #}
            {#				<div>#}
            {#					<dl>#}
            {#						{% for detail in result.extra_details %}#}
            {#						<dt>{{ detail.key }}</dt>#}
            {#						<dd>{{ detail.value }}</dt>#}
            {#						{% endfor %}#}
            {#					</dl>#}
            {#					<a href="{{ result.url }}">See supplier's profile</a>#}
            {#				</div>#}
            {#            -------------------------------------------------------------------------#}

        </div>
    {% endfor %}
</div>
<div>
    <div>
        page {{ page }} of {{ last_page }}
    </div>

    <div>
        <ul>
            {% for pg in pages %}
                <li class="{% if pg == page %}current{% endif %}">
                    <a href="?page={{ pg }}{% for cat in category_list %}&category={{ cat }}{% endfor %}">{{ pg }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
</body>
</html>
