{% extends "_base_page.html" %}

{% block page_title %}Search - Digital Marketplace{% endblock %}

{% block main_content %}
<header class="page-heading">
        <h1>Search results</h1>
</header>
<form action="{{ url_for('.search') }}" method="get">
    <div class="grid-row">
        <div class="column-one-third search-page-filters">
            {% include '_search_filters.html' %}
        </div>
        <div class="column-two-thirds">
            {% include '_search_summary.html' %}
            {% include '_search_results.html' %}
            {% include '_search_pagination.html' %}
        </div>
    </div>
</form>
{% endblock %}
