{% extends "_base_page.html" %}

{% block page_title %}Suppliers Search – Marketplace{% endblock %}

{% block body_classes %}catalog{% endblock %}
{% block main_class %}sidebar-has-controls{% endblock %}

{% block hero %}
{% with
  site_title="Welcome to the Marketplace"|safe, 
  tagline="This is the complete catalogue of approved ICT partners. You can scroll through them all or filter by selecting the capabilities you need from the menu below."|safe,
  extra_text="Learn more about what each role means"|safe,
  extra_link="#"|safe
  %}
  {% include "_hero.html" %}
  {% endwith %}
  {% endblock %}

  {% block sidebar %}
  {% with
  local_nav_toggle='Menu'
  %}
  <aside class="sidebar" id="nav">
    {% include "sidebar/_filter_capabilities.html" %}
  </aside>
  {% endwith %}
  {% endblock %}

  {% block main_content %}
  <div>{% if num_results %}{{ num_results }} Suppliers{% endif %}</div>

  <div>

    <div>
        <span>Sort By:</span>
        <a href="?page={{ page }}&sort_by_name={% if sort_by_name == 'asc' %}desc{% else %}asc{% endif %}{% for role in role_list_from_request %}&role={{ role|replace(' ', '+') }}{% endfor %}"
                class="sort-btn-{{ sort_by_name }}">{% if sort_by_name == 'asc' %}A to Z{% else %}Z to A{% endif %}</a>
    </div>

    <div>
      <span>{% if num_results %}Showing {{ results_from }}-{{ results_to }} suppliers of {{ num_results }}{% endif %}</span>
    </div>
    </div>
    <ul class="list-horizontal">

        {% if not num_results %}
            <li>
                <article>
                    <p>No results found!</p>
                </article>
            </li>
        {% endif %}

      {% for result in results %}
      <li>
        <article>
          <h2><a href="{{ result.url }}">{{ result.title }}</a></h2>

          {% if result.description %}
          <p>{{ result.description }}</p>
          {% endif %}

{#          {% if result.badges %}#} {# ----------- for later stage----------- #}
{#          <p>#}
{#            {% for badge in result.badges %}#}
{#            <span class="{{ badge.css_class }}">{{ badge.label }}</span>#}
{#            {% endfor %}#}
{#          </p>#}
{#          {% endif %}#}

          {% if result.roles %}
          <footer class="tags">
           <dl>
             <dt>Service capabilities:</dt>
             {% for role in result.roles %}
             <dd class="{% if role.label in role_list_from_request %}selected{% endif %}">
                 <a href="?role={{ role.label|replace(' ', '+') }}">{{ role.label }}</a>
             </dd>
             {% endfor %}
           </dl>
         </footer>
         {% endif %}

         {# ----------------------------- This is for later stage ----------------- #}
         {#				<div>#}
         {#					<dl>#}
         {#						{% for detail in result.extra_details %}#}
         {#						<dt>{{ detail.key }}</dt>#}
         {#						<dd>{{ detail.value }}</dt>#}
         {#						{% endfor %}#}
         {#					</dl>#}
         {#					<a href="{{ result.url }}">See supplier's profile</a>#}
         {#				</div>#}
         {#            -------------------------------------------------------------------------#}

       </article>
     </li>
     {% endfor %}
   </ul>
   {% if num_results %}
   <div>
    <div>
      page {{ page }} of {{ num_pages }}
    </div>

    <div>
      <ul>
        {% for pg in pages %}
        <li class="{% if pg == page %}current{% endif %}">
          {% if pg != '...' %}
          <a href="?page={{ pg }}&sort_by_name={{ sort_by_name }}{% for role in role_list_from_request %}&role={{ role|replace(' ', '+') }}{% endfor %}">{{ pg }}</a>
          {% else %}
          <span>{{ pg }}</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% endblock %}