{% from 'macros/_breadcrumb.html' import breadcrumb %}

{% extends "_base_page.html" %}

{% block breadcrumb %}
  {{ breadcrumb(crumbs) }}
{% endblock %}

{% block main_content %}
<header class="page-heading page-heading-with-context">
  <p class="context">{{ service.supplierName }}
  <h1>{{ title }}</h1>
</header>
<div class="grid-row">
  <div class="column-two-thirds">
    {% include '_service_summary_features_and_benefits.html' %}
    {% include '_service_attributes.html' %}
  </div>
  <div class="column-one-third">
  </div>
</div>
{% endblock %}
