
{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ service.title }} - Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('.index_g_cloud'),
      "text": gcloud_framework_description|capitalize
    },
    {
      "href": url_for('.search_services', lot=lot.slug),
      "text": lot.name
    },
    {
    "text": service.title
    }
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}
{% if service_unavailability_information %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if service_unavailability_information.type == 'framework_update' %}
      {{ dmBanner({
        "title": "This {} service is no longer available to buy.".format(service.frameworkName),
        "text": "The {} framework expired on {}. Any existing contracts with {} are still valid.".format(
            service.frameworkName,
            framework_expires_at_date,
            service.supplierName)
      }) }}
    {% else %}
      {{ dmBanner({
        "title": "{} stopped offering this service on {}.".format(service.supplierName, service_unavailability_information.date),
        "text": "Any existing contracts for this service are still valid."
      }) }}
    {% endif %}
  </div>
</div>
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if service.supplierName %}
    <span class="govuk-caption-l">{{ service.supplierName }}</span>
    {% endif %}
    <h1 class="govuk-heading-l">{{ service.title }}</h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    {% include '_service_summary_features_and_benefits.html' %}
  </div>
  <div class="govuk-grid-column-one-third">
    {% include '_service_meta.html' %}
  </div>
</div>
<div class="govuk-grid-row service-attributes">
  <div class="govuk-grid-column-full">
    {% include '_service_attributes.html' %}
    <h2 class="govuk-heading-m app-summary-list-heading" id="service-documents">Service documents</h2>
    <ul class="govuk-list">
    {% for document in service.meta.documents %}
      <li class="govuk-!-margin-bottom-2">
        <a href="{{ document.url }}" class="govuk-link">
          {{ document.name }} ({{ document.extension }})
        </a>
      </li>
    {% endfor %}
    </ul>
    <a class="govuk-link" href="#main-content" class="return-to-top">Return to top ↑</a>
  </div>
</div>

{% endblock %}
