
{% extends "_base_page.html" %}

{% block page_title %}{{ service.title }} - Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      },
      {
          "link": url_for('.index_g_cloud'),
          "label": "Cloud technology and support"
      },
      {
          "link": url_for('.search', lot=lot),
          "label": lot_label
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-heading-smaller">
      {% if service.supplierName %}
      <p class="context">{{ service.supplierName }}</p>
      {% endif %}
      <h1>{{ service.title }}</h1>
    </header>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    {% include '_service_summary_features_and_benefits.html' %}
  </div>
  <div class="column-one-third">
    {% include '_service_meta.html' %}
  </div>
</div>
<div class="grid-row service-attributes">
  <div class="column-one-whole">
    {% include '_service_attributes.html' %}
    <a href="#content" class="return-to-top">Return to top ↑</a>
  </div>
</div>
{% endblock %}
