{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ supplier.name }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {%
    with
    items = [
      {
          "link": url_for('.index'),
          "label": "Digital Marketplace"
      },
      {
          "link": url_for('.index_g_cloud'),
          "label": gcloud_framework_description|capitalize
      },
      {
          "link": url_for('.suppliers_list_by_prefix'),
          "label": "Suppliers"
      },
      {
          "link": url_for('.suppliers_list_by_prefix', prefix=prefix),
          "label": prefix
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<span class="govuk-caption-l">Digital Marketplace supplier</span>
<h1 class="govuk-heading-l">{{ supplier.name }}</h1>

<div class="grid-row supplier-profile">
    {% if supplier.description or supplier.clients %}
      <div class="column-two-thirds">
          <p class="govuk-body">
              {{ supplier.description }}
          </p>
      </div>
    {% endif %}

    <aside id="meta" role="complementary" class="column-one-third" aria-label="Supplier contact">
      <h2 class="sidebar-heading">Contact</h2>
      {%
        with
        organisation_type = "supplier",
        organisation = supplier.name,
        telephone = supplier.contactInformation[0].phoneNumber,
        contact_name = supplier.contactInformation[0].contactName,
        email_address = supplier.contactInformation[0].email
      %}
        {% include "toolkit/contact-details.html" %}
      {% endwith %}
    </aside>
</div>

{% endblock %}
