{% extends "_base_page.html" %}

{% block pageTitle %}
  Suppliers starting with {{ prefix }} – {{ gcloud_framework_description|capitalize }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('.index_g_cloud'),
      "text": gcloud_framework_description|capitalize
    },
  ] + (
    [
      {
        "href": url_for('.suppliers_list_by_prefix'),
        "text": "Suppliers"
      },
      {
        "text": request.args['prefix']
      },
    ] if request.args['prefix'] else [
      {
        "text": "Suppliers"
      },
    ]
  )
}) }}
{% endblock breadcrumb %}

{% block main_content %}

{% if prefix == "other"%}
  <h1 class="govuk-heading-xl">Suppliers starting with 1–9</h1>
{% else %}
  <h1 class="govuk-heading-xl">Suppliers starting with {{ prefix }}</h1>
{% endif %}

<div id="global-atoz-navigation">
  <nav role="navigation" aria-label="Suppliers">
    <ol>
      {% for item in nav %}
        {% if prefix == item %}
          <li class="selected">
            <span class="visuallyhidden">Suppliers starting with </span>
            <strong>{{ item }}</strong>
          </li>
        {% else %}
          <li>
            <span class="visuallyhidden">Suppliers starting with </span>
            <a class="govuk-link" href="{{ url_for('main.suppliers_list_by_prefix', prefix=item)}}">{{ item }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if prefix == "other" %}
        <li class="selected">
          <span class="visuallyhidden">Suppliers starting with </span>
          <strong>1–9</strong>
        </li>
      {% else %}
        <li>
          <span class="visuallyhidden">Suppliers starting with </span>
          <a class="govuk-link" href="{{ url_for('main.suppliers_list_by_prefix', prefix='other') }}">1–9</a>
        </li>
      {% endif %}
    </ol>
  </nav>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="supplier-list">
      {% for supplier in suppliers %}
        <div class="search-result">
          <h2 class="search-result-title">
            <a class="govuk-link" href="{{ url_for('main.suppliers_details', supplier_id=supplier.id)}}">{{ supplier.name}}</a>
          </h2>
          <p class="search-result-excerpt">
            {{ supplier.description }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include '_supplier_pagination.html' %}

{% endblock %}
