{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ supplier.name }} – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
{{ govukBreadcrumbs({
  "items": [
    {
      "href": url_for('main.index'),
      "text": "Digital Marketplace"
    },
    {
      "href": url_for('.index_g_cloud'),
      "text": gcloud_framework_description|capitalize
    },
    {
      "href": url_for('.suppliers_list_by_prefix'),
      "text": "Suppliers"
    },
    {
      "href": url_for('.suppliers_list_by_prefix', prefix=prefix),
      "text": prefix
    },
  ]
}) }}
{% endblock breadcrumb %}

{% block mainContent %}

<span class="govuk-caption-l">Digital Marketplace supplier</span>
<h1 class="govuk-heading-l">{{ supplier.name }}</h1>

<div class="govuk-grid-row">
  {% if supplier.description or supplier.clients %}
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        {{ supplier.description }}
      </p>
    </div>
  {% endif %}

  <aside id="meta" role="complementary" class="govuk-grid-column-one-third" aria-label="Supplier contact">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Contact</h2>
    <p class="govuk-body">
      <span class="govuk-visually-hidden">{{ supplier.name }}</span>
      {% if supplier.contactInformation[0].contactName %}
      {{ supplier.contactInformation[0].contactName }}<br />
      {% endif %}
      {% if supplier.contactInformation[0].phoneNumber %}
      <span class="govuk-visually-hidden">Telephone: </span>
      {{ supplier.contactInformation[0].phoneNumber }}<br />
      {% endif %}
      {% if supplier.contactInformation[0].email %}
      <a 
        href="mailto:{{ supplier.contactInformation[0].email }}"
        data-event-category="Email a supplier"
        data-event-label="{{ supplier.name }}"
      ><span class="govuk-visually-hidden">Email: </span>{{ supplier.contactInformation[0].email }}</a><br />
      {% endif %}
    </p>
  </aside>
</div>

{% endblock %}
